{% extends "home/html.html" %}
{% load coogger_tags %}
{% block body %}
<div style="margin: auto;margin-top: 12px;" general="width:100" mobile-l="txt-s">
  <div general="flex position:center flex:fd-c" >
    <div class="utopic" general="flex position:center width:60 flex:fd-c" mobile-m="width:99" mobile-l="width:94" tablet="width:90" laptop="width:80" mobile-s="width:98">
    {% include "users/topic/detail/top.html" %}
    {% include 'common/there-is-no-data.html' %}
    <div general="position:center width:100 flex flex:fd-c" class="commits">
        {% for user in object_list %}
            <div general="flex width:100 border:1 br:2 brc:muted" style="margin: 2px 0px;">
                <a href="{% url 'commits' utopic.user utopic.permlink %}?username={{user}}" general="flex flex:ai-c">
                    <img style="width:  20px;margin: 6px 4px;" src="{{ user.githubauthuser.avatar_url }}" alt="{{ current_user }}" title="{{ current_user }}"/>
                    <span general="text:s">{{ user }}</span>
                </a>
            </div>
        {% endfor %}
    </div></div></div></div>
{% endblock %}
