{% extends "users/topic/detail/top-info.html" %}
{% block alt_topic %}
  <div style="margin-top: 6px;" general="brc:muted border:1 br:2 width:100">
      <div style="padding:12px;">
          {% include 'common/there-is-no-data.html' %}
          <div general="position:center bg:muted " style="padding:12px;" >
              <a href="{% url 'issues' current_user utopic.permlink %}">
                  <div general="flex flex:ai-c">
                    <i general="color:green" class="fas fa-exclamation-circle"></i>
                    <span id="" general="text:s">
                      <strong>{{ utopic.open_issue }}</strong> Issues
                    </span>
                  </div>
                </a>
              <a href="{% url 'close-issues' current_user utopic.permlink %}">
                  <div general="flex flex:ai-c">
                    <i general="color:red" class="fas fa-check"></i>
                    <span id="" general="text:s">
                        <strong>{{ utopic.closed_issue }} </strong> Closed
                    </span>
                  </div>
                </a>
          </div>
        <ul class="issues">
          <!-- issue list open or closed -->
          {% for issue in queryset %}
            <li general="flex width:100" class="issue-query" >
              <a general="color:primary width:90" href="{% url 'detail-issue' current_user utopic.permlink issue.permlink %}">
                <div>
                    {% if issue.status == "open" %}
                      <i general="color:green" class="fas fa-exclamation-circle"></i>
                    {% elif issue.status == "closed" %}
                      <i general="color:red" class="fas fa-exclamation-circle"></i>
                    {% endif %}
                    <span mobile-l="text:s" mobile-m="text:s" mobile-s="text:s">
                      {{ issue.title|title }}
                    </span>
                </div>
              </a>
              <div general="text:s color:secondary"  mobile-l="text:xs" mobile-m="text:xs" mobile-s="text:xs">
                  <span>#{{ issue.issue_id }}</span>
                  <span>
                    opened {{ issue.created|timesince }} by 
                    <a href="/@{{ issue.user }}">@{{ issue.user }}</a>
                  </span>
                  <div>
                    last updated {{ issue.last_update|timesince }}
                  </div>
              </div>
            </li>
          {% endfor %}
          <!--  -->
        </ul>
      </div>
  </div>
{% endblock %}


