.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    background: #ececec;
}

header {
    background-color: #0f391d;
}

.header-ul {
    width: max-content;
    height: 60px;
    list-style-type: none;
    margin: auto;
    padding: 6px;
}

.header-ul-li {
    float: left;
}

.solol {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

.solol a {
    color: #fff;
}

.logo {
    background-color: #ffffff;
    border-radius: 2px;
    padding: 8px 10px;
    float: left;
    margin: 10px 0px 10px 4px;
}

.logo-a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 6px 0px 6px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
}

nav {
    position: relative;
    width: 100%;
    overflow: auto;
    z-index: 1;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

.c-nav-ul {
    width: max-content;
    height: 60px;
    list-style-type: none;
    margin: auto;
    padding: 0px;
}

.c-nav-li {
    padding: 20px 4px;
    float: left;
}

.c-nav-li-a {
    color: #fff;
    padding: 12px 12px;
    text-decoration: none;
    border-radius: 4px;
}

.c-username {}

.c-username-h1 {}

.c-header {
    margin: 0px;
    padding: 0px;
}

.c-header-li {
    float: left;
    list-style: none;
}

.c-main {
    margin: auto;
    display: flex;
}

.c-contents {
    margin: auto;
    width: 100%;
}

.c-contents-ul {
    padding: 0px;
    margin: 0px;
}

.c-contents-li {
    list-style: none;
    float: left;
    border-bottom: 1px solid #676767;
    padding: 8px 0px;
}

.open-header {
    display: none;
    right: 0px;
    float: right;
    padding: 2px 12px;
}

.open-header-border {
    border-bottom: 10px solid #248644;
    margin-bottom: 2px;
    width: 6px;
}

li.c-contents-li {}

.c-contents-li-a {
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 7px 26px;
}

.c-contents-div {
    width: 100%;
    text-align: center;
}

.c-contents-div-a {
    font-size: 20px;
}

.delete {
    background-color: #cd0e0e;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.c-change {
    width: 96%;
    margin: auto;
    display: table;
}

.c-change-form {
    font-size: 16px;
}

.c-change-form p {}

.django-ckeditor-widget {}

.c-create-input {
    padding: 12px 24px;
    background-color: #248644;
    color: #fff;
    float: right;
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
}

.c-change-form p input {
    padding: 6px 12px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 4px;
}

.c-change-form p label {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: rgb(92, 92, 92);
    color: #fff;
    margin-right: 4px;
}

.c-change-form p select {
    padding: 6px 12px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 4px;
}

.main-messages {
    position: relative;
    height: 52px;
    width: 40%;
    text-align: center;
    color: #fff;
    border: 1px solid #f1f1f1;
    left: 30%;
    background-color: rgb(241, 57, 57);
    border-radius: 4px;
}

.close-ms {
    float: right;
    margin: 4px;
    list-style-type: none;
    background: #000;
    padding: 12px;
    width: 20px;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
}

.messages {
    padding: 8px;
    margin: 8px;
    list-style-type: none;
}

.error {
    font-size: 16px;
}

.display-none {
    display: none;
}

.maindiv {
    filter: blur(2px);
}

.preload {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin: auto;
    height: 100%;
    cursor: wait;
}

.coogger-load {
    margin: auto;
    width: max-content;
    font-size: 555%;
    display: flex;
    margin-top: 14%;
}

.author {
    color: #fff;
    border-radius: 4px;
    padding: 12px;
    text-decoration: none;
}

.pagination {
    position: relative;
    width: max-content;
    padding: 30px 10px 30px 10px;
    margin: auto;
}

.current {
    padding: 6px 12px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

.step-links-a {
    padding: 6px 12px;
    color: #fff;
    background: #248644;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 606px) {
    .c-contents-li {
        float: none;
    }
    .open-header {
        display: block;
    }
    header {
        height: 0px;
        padding-top: 10px;
        height: 230px;
        display: none;
    }
    .header-ul {
        width: 300px;
        margin-top: 50px;
    }
}