html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    background: #ececec;
}

.main-blog-cards {
    padding: 4px;
    display: block;
    width: fit-content;
    margin: auto;
}

.blogs {
    position: relative;
    padding-bottom: 4px;
    height: -webkit-fill-available;
    background-color: #ececec;
    width: 0px;
    margin: auto;
    display: table;
    margin-bottom: 80px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px #c5c5c5;
}

.datail {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin: auto;
    padding: 24px 12px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px #000000;
    margin-bottom: 100px;
}

.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

.pagination {
    position: relative;
    width: max-content;
    padding: 30px 10px 30px 10px;
    margin: auto;
    margin-bottom: 60px;
}

.step-links {}

.current {
    padding: 6px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

.step-links-a {
    padding: 6px 12px;
    color: #fff;
    background: #248644;
    border-radius: 4px;
}

.blog-cards {
    width: 280px;
    height: 420px;
    border-radius: 4px;
    padding: 6px;
    background-color: #fff;
    margin: 6px;
    box-shadow: 0px 1px 2px 1px #c5c5c5;
}

.blog-user {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.blog-user-li {
    max-width: 280px;
    float: right;
}

.blog-user-profil {}

.blog-username {
    font-size: 12px;
    text-align: center;
    width: 216px;
    padding: 4px 6px;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    margin: 10px 0px 0px 12px;
    white-space: nowrap;
}

.blog-content-list-name {
    font-size: 12px;
    padding: 4px 6px;
    text-align: center;
    width: max-content;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-user-description {}

.blog-category {
    width: max-content;
    font-size: 14px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    padding: 6px 0px;
}

.blog-category-li {}

.blog-cont {
    position: relative;
    margin: auto;
    width: 90%;
    z-index: 2;
    cursor: pointer;
}

.blog-title {
    margin: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.blog-title-a {
    font-weight: 900;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.blog-content {
    height: 240px;
    overflow: hidden;
}

.blog-username-a {
    color: #fff;
}

.blog-username-a:hover {
    color: #fff;
    text-decoration: none;
}

.blog-time {
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    padding: 2px 6px;
    border: 1px solid #0f391d;
}

header {
    background-color: #0f391d;
}

.main-messages {
    position: relative;
    height: 52px;
    width: 40%;
    text-align: center;
    color: #fff;
    border: 1px solid #f1f1f1;
    left: 30%;
    background-color: #cd0e0e;
    border-radius: 4px;
}

.bt-header {
    position: relative;
    z-index: 2;
    width: max-content;
}

.logo {
    background-color: #ffffff;
    border-radius: 2px;
    padding: 10px 12px;
    float: left;
    margin: 10px 0px 10px 4px;
}

.logo-a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 6px 0px 6px;
}

.search {
    padding: 13px;
}

.search-form {}

.search-input {
    padding: 9px;
    width: 210px;
    border: 0px solid #fafafa;
    border-radius: 4px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: transparent;
    padding: 7px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    border: 0px solid;
    font-size: 16px;
}

.solol {
    position: relative;
    background-color: transparent;
    width: 100px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

.solol a {
    color: #fff;
}

.header-ul {
    width: max-content;
    height: 60px;
    list-style-type: none;
    margin: auto;
    padding: 0px;
}

.header-ul-li {
    float: left;
}

.open-header {
    display: none;
    right: 0px;
    float: right;
    padding: 2px 12px;
}

.open-header-border {
    border-bottom: 10px solid #248644;
    margin-bottom: 2px;
    width: 6px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

.messages {
    padding: 8px;
    margin: 8px;
    list-style-type: none;
}

.error {
    font-size: 16px;
}

.info {}

.warning {}

.successful {}

.close-ms {
    float: right;
    margin: 4px;
    list-style-type: none;
    background: #000;
    padding: 12px;
    width: 20px;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
}

nav {
    position: relative;
    width: 100%;
    overflow: auto;
    z-index: 1;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

.main-nav {
    width: max-content;
    list-style-type: none;
    padding: 0px;
    margin: auto;
    overflow: hidden;
}

.nav-ul-li {
    padding: 10px 0px;
    float: left;
}

.nav-ul-li-a {
    color: #000;
    padding: 12px 12px;
}

.nav-ul-li-a:hover {
    background-color: #0f391d;
    color: #fff;
}

.nav-topic {
    color: #fff;
    padding: 10px 16px;
    margin: 0px;
    cursor: pointer;
    background-color: #0f391d;
}

.preload {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin: auto;
    height: 100%;
    cursor: wait;
}

.coogger-load {
    margin: auto;
    width: max-content;
    font-size: 555%;
    display: flex;
    margin-top: 14%;
}

.maindiv {
    filter: blur(2px);
}

.b-content {}

.b-content-info {
    margin-top: 30px;
}

.b-user-info {
    margin-top: 6px;
}

.b-user-img {
    width: 40px;
    height: 40px;
}

.b-user-img-src {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.b-user-ul-li {
    float: left;
}

.b-user-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    height: 42px;
}

.duread-main {
    position: relative;
    bottom: 210px;
    z-index: 1;
    width: 280px;
    height: 200px;
}

.duread-ul {
    padding: 0px;
    list-style: none;
}

.duread-li {
    text-align: center;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.50);
    color: #fff;
    padding: 4px 0px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    white-space: nowrap;
}

.b-edit {
    width: 292px;
    margin: auto;
    height: 20px;
}

.b-edit-ul {
    list-style: none;
    padding: 0px;
    height: 20px;
    margin: 0px;
    display: none;
}

.b-edit-li {
    float: left;
    /* padding: 2px 0px; */
    margin: 0px 15px;
}

.b-edit-li-a {
    padding: 2px 38px;
    margin: 0px;
    background-color: #25644d;
    border-radius: 40px;
    color: #fff;
}

.b-blog {
    float: left;
}

.b-edit-point {
    float: right;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    padding-top: 4px;
}

.border {
    border-bottom: 1px solid #484545;
    margin-bottom: 4px;
    height: 0px;
    width: 12px;
}

footer {
    position: absolute;
    margin: auto;
    background-color: rgb(236, 236, 236);
    border-radius: 4px;
    margin-bottom: 24px;
    border: 1px solid #0f391d;
    box-shadow: 0px 0px 1px 0px #0f391d;
}

.b-footer-ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    max-height: 460px;
    overflow: auto;
    border-right: 1px solid #0f391d;
}

.b-footer-main {
    position: relative;
    float: left;
    z-index: 5;
    width: 33%;
}

.b-footer-li {
    margin: 24px 12px;
}

.b-footer-info {
    text-align: center;
    margin: auto;
    border-bottom: 1px solid #fff;
    width: 50%;
    padding-bottom: 4px;
    padding-top: 6px;
}

@media only screen and (max-width: 606px) {
    .datail {
        width: 90%;
    }
    .open-header {
        display: block;
    }
    header {
        height: 0px;
        padding-top: 10px;
        height: 230px;
        display: none;
    }
    .main-messages {
        width: 100%;
        left: 0px;
        height: 54px;
        border: 0px solid #f1f1f1;
    }
    .header-ul {
        width: 300px;
    }
    .search-input {
        width: 170px;
    }
    .error {
        font-size: 14px;
    }
    .b-footer-main {
        width: 100%;
    }
}