html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    background: #ececec;
    overflow: auto;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 63px;
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 21px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0f391d;
}

.main-blog-cards {}

.blogs {
    position: relative;
    background-color: #ececec;
    display: table;
    margin: 56px auto;
    z-index: 0;
    box-shadow: 0px 0px 2px 0px #c5c5c5;
}

.datail {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 24px 12px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px #000000;
    z-index: 0;
    margin: 100px auto;
}

.d-main-start {
    margin: auto;
    width: 288px;
    height: 15px;
    margin-bottom: 20px;
}

.d-starts-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.d-starts-ul li {
    float: left;
    margin-right: 7px;
    cursor: pointer;
}

.d-starts-li:hover {
    border-bottom: 1px solid #0f391d;
}

.d-starts-a {}

.d-starts-a:hover {
    background-image: url("/static/media/icons/star.svg")
}

.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

.pagination {
    position: relative;
    width: max-content;
    margin: 24px auto;
}

.step-links {}

.current {
    padding: 6px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

.step-links-a {
    padding: 6px 12px;
    color: #fff;
    background: #248644;
    border-radius: 4px;
}

.blog-cards {
    position: relative;
    z-index: 0;
    width: 280px;
    height: 420px;
    border-radius: 4px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #c5c5c5;
}

.blog-user {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.blog-user-li {
    max-width: 280px;
    float: right;
}

.blog-user-profil {}

.blog-username {
    font-size: 12px;
    text-align: center;
    width: 216px;
    padding: 4px 6px;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    margin: 10px 0px 0px 12px;
    white-space: nowrap;
}

.blog-content-list-name {
    font-size: 12px;
    padding: 4px 6px;
    text-align: center;
    width: max-content;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-user-description {}

.blog-category {
    width: max-content;
    font-size: 14px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    padding: 6px 0px;
}

.blog-category-li {}

.blog-cont {
    position: relative;
    margin: auto;
    width: 90%;
    z-index: 2;
    cursor: pointer;
}

.blog-title {
    margin: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.blog-title-a {
    font-weight: 900;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.blog-content {
    height: 240px;
    overflow: hidden;
}

.blog-username-a {
    color: #fff;
}

.blog-username-a:hover {
    color: #fff;
    text-decoration: none;
}

.blog-time {
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    padding: 2px 6px;
    border: 1px solid #0f391d;
}

header {
    background-color: #0f391d;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 5;
    top: 0px;
}

.main-messages,
.b-messages {
    position: relative;
    height: 52px;
    z-index: 1;
    width: 40%;
    text-align: center;
    color: #fff;
    border: 1px solid #f1f1f1;
    left: 30%;
    background-color: #cd0e0e;
    border-radius: 4px;
}

.bt-header {
    position: relative;
    z-index: 2;
    width: max-content;
}

.logo {
    position: fixed;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 7px 12px;
    float: left;
    z-index: 6;
    top: 0px;
    margin: 1px 1px;
}

.logo-a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 6px 0px 6px;
}

.search {
    padding: 3px 12px;
}

.search-form {}

.search-input {
    padding: 9px;
    width: 210px;
    border: 0px solid #fafafa;
    border-radius: 4px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: transparent;
    padding: 7px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    border: 0px solid;
    font-size: 16px;
}

.solol {
    padding: 10px 12px;
    text-align: center;
}

.solol a {
    color: #fff;
}

.header-ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    width: max-content;
}

.header-ul-li {
    float: left;
    margin-right: 16px;
}

.open-header {
    display: none;
    right: 0px;
    position: fixed;
    float: right;
    z-index: 6;
    padding: 2px 12px;
    top: 0px;
}

.open-header-border {
    border-bottom: 10px solid #248644;
    margin-bottom: 2px;
    width: 6px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

.messages {
    padding: 8px;
    margin: 8px;
    list-style-type: none;
}

.error {
    font-size: 16px;
}

.info {}

.warning {}

.successful {}

.close-ms {
    float: right;
    margin: 4px;
    list-style-type: none;
    background: #000;
    padding: 12px;
    width: 20px;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
}

nav {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    top: 0px;
    right: 0px;
    z-index: 5;
}

nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 42px;
    background-color: #fff;
}

nav::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
}

nav::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0f391d;
}

.main-nav {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 40px;
}

.main-nav-detail {
    padding: 12px 0px;
    margin: 0px;
    border-top: 1px solid #fff;
}

.main-nav-detail-li {
    padding: 2px 0px;
    background-color: #fff;
}

.main-nav-detail-li:hover {
    background-color: #248644;
}

.main-nav-detail-li-a {
    padding: 2px 20px;
}

.main-nav-detail-li-a:hover {
    color: #fff;
}

.main-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 63px;
    background-color: #fff;
}

.main-nav::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.main-nav::-webkit-scrollbar-thumb {
    border-radius: 21px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #248644;
}

.nav-ul-li {
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
    padding: 10px;
    margin: 0px;
    border: none;
    background: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.nav-ul-li:hover {
    background-color: #248644;
}

.nav-ul-li-a:hover {
    color: #fff;
}

.nav-ul-li-a {
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
}

.nav-topic {
    color: #fff;
    padding: 10px 16px;
    margin: 0px;
    cursor: pointer;
    background-color: #248644;
}

.preload {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin: auto;
    height: 100%;
    cursor: wait;
}

.coogger-load {
    margin: auto;
    width: max-content;
    font-size: 555%;
    display: flex;
    margin-top: 14%;
}

.maindiv {
    filter: blur(2px);
}

.b-content {}

.b-content-info {
    margin-top: 30px;
}

.b-user-info {
    margin-top: 6px;
}

.b-user-img {
    width: 40px;
    height: 40px;
}

.b-user-img-src {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.b-user-ul-li {
    float: left;
}

.b-user-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    height: 42px;
}

.duread-main {
    position: relative;
    bottom: 210px;
    z-index: 1;
    width: 280px;
    height: 200px;
}

.duread-ul {
    padding: 0px;
    list-style: none;
    border-radius: 4px;
    background-color: #248644;
}

.duread-li {
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    white-space: nowrap;
}

.b-edit {
    position: absolute;
    z-index: 3;
}

.b-edit-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    width: 160px;
    height: 340px;
    margin-top: 46px;
    background-color: #248644;
    border-radius: 4px;
}

.b-edit-li {
    border-radius: 4px;
    padding: 6px 0px;
    height: 30px;
}

.b-edit-li-a:hover {
    background-color: #0f391d;
    color: #fff;
}

.b-edit-li-a {
    padding: 10px 62px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 37px;
}

.b-blog {
    float: left;
    margin: 6px 6px;
}

.b-home-ads {
    float: left;
    margin: 6px 6px;
    position: relative;
    z-index: 0;
    width: 280px;
    height: 420px;
    border-radius: 4px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #c5c5c5;
}

.b-edit-point {
    cursor: pointer;
    position: relative;
    padding: 2px;
    border-radius: 20px;
    background-color: #333;
}

.border {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 6px;
    margin-top: 6px;
    height: 0px;
    width: 2px;
}

footer {
    margin: auto;
    border-radius: 4px;
    font-size: 12px;
    border-top: 1px solid #cdcdcd;
    background-color: #fff;
    right: 0px;
    display: table;
}

.b-footer-ul {
    list-style: none;
    max-height: 163px;
    overflow: auto;
}

.b-footer-main {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 24px;
}

.b-footer-li {
    margin: auto;
    width: 250px;
}

.b-footer-info {
    text-align: center;
    margin: auto;
    width: 50%;
}

.b-edit-panel {
    position: absolute;
    list-style: none;
    border-radius: 4px;
    height: 444px;
    width: 304px;
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: #248644;
}

@media only screen and (max-width:1160px) {
    .datail {
        width: 90%;
        margin-top: 140px;
    }
    .open-header {
        display: block;
    }
    header {
        height: 0px;
        padding-top: 10px;
        height: 100%;
        display: none;
    }
    .main-messages {
        width: 100%;
        left: 0px;
        height: 54px;
        border: 0px solid #f1f1f1;
    }
    .header-ul {}
    .header-ul-li {
        float: none;
    }
    .search-input {
        width: 170px;
    }
    .error {
        font-size: 14px;
    }
    .b-footer-main {
        width: 100%;
    }
    nav {
        width: 100%;
        overflow: auto;
        z-index: 1;
        height: 46px;
        background-color: #ececec;
        top: 64px;
    }
    .nav-ul-li {
        float: left;
    }
    .logo {
        width: 100%;
        margin: 0px;
        height: 50px;
        background-color: #ececec;
    }
    .main-nav {
        width: max-content;
        overflow: hidden;
    }
    .blogs {
        margin: 130px auto;
    }
}