html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    background: #ececec;
    overflow: auto;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 63px;
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 21px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0f391d;
}

.main-blog-cards {}

.b-blogs,
.c-blogs {
    z-index: 0;
    box-shadow: 0px 0px 2px 0px #c5c5c5;
    margin-top: 24px;
}

.c-blogs {
    width: 306px;
}

.d-detail {
    background-color: rgb(255, 255, 255);
    padding: 26px 12px;
    border-radius: 4px;
    box-shadow: 0px 0px 0.1px 0px #fafafa;
    z-index: 0;
    margin-bottom: 40px;
    margin-top: 46px;
}

.d-main-start {
}

.d-starts-ul {
}

.d-starts-ul li {
    margin-right: 7px;
    cursor: pointer;
}
.d-starts-a {}

.d-starts-a:hover {
    background-image: url("/static/media/icons/star.svg")
}

.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

.pagination {
    padding: 12px 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.step-links {}

.current {
    padding: 6px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

.step-links-a {
    padding: 6px 12px;
    color: #fff;
    background: #248644;
    border-radius: 4px;
}

.b-cards {
    position: relative;
    z-index: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #c5c5c5;
}

.b-user {
}

.b-user-li {
}

.b-user-profil {}

.b-username {
    font-size: 12px;
    text-align: center;
    padding: 4px 6px;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.b-content-list-name {
    font-size: 12px;
    padding: 4px 8px;
    text-align: center;
    width: max-content;
    border-radius: 6px;
    background: #0f391d;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px 8px;
    overflow: hidden;
}
.b-content-list-name a{

    color: #fff;
}
.b-user-description {}

.b-category {
}

.b-category-li {}

.b-cont,.d-cont {
  z-index: 1;
  overflow: hidden;
  padding: 10px;
}
.b-cont{
  position: absolute;
}
.d-comments{
    position: relative;
    background-color: #f1f1f1;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    padding: 6px;
    border-radius: 4px;
}
.d-wcomment{margin: auto;width: 50%;border-radius: 10px;margin-top: 12px;}
.d-comment-input{height: 26px;width: 60%;border: 0px solid;border-radius: 4px;padding: 4px;}
.d-comment-sub{background-color: #248644;color: #fff;padding: 6px;border-radius: 6px;border: 0px solid;width: 80px;height: 34px;}
.d-comments-ul{list-style: none;margin: auto;width: 96%;margin-top: 15px;border: 1px solid #fff;padding: 6px;border-radius: 6px;}
.d-comments-li{
    border-bottom: 1px solid #fff;
    margin-bottom: 16px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 0px;
}
.d-comments-user{
    overflow: hidden;
    word-break: break-word;
}
.d-comment{
    color: #248644;
    width: 70%;
    font-size: 14px;
}
.d-comment-date{
    padding: 2px 12px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin: 0px 0px 12px 0px;
    width: fit-content;
}
.b-title {
    margin: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.b-title-a {
    font-weight: 900;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.d-hashtag-img {
    border-radius: 20px;
    padding: 2px;
}

.d-hashtag-text {
    color: #248644;
    background-color: #cdcdcd;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.d-hashtag {
    margin: auto;
    list-style: none;
    padding: 0px;
    border-top: 1px solid #0f391d;
}

.d-hashtag-li {
    float: left;
    margin: 6px 4px;
}

.d-hashtag-a {}

.b-user-hashtag {
    padding: 0px 12px;
}

.b-hashtag-img {}

.b-username-a {
    color: #fff;
}

.b-username-a:hover {
    color: #fff;
    text-decoration: none;
}

.b-time {
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 4px;
    padding: 4px 6px;
    border: 1px solid #f0f0f0;
}

.b-time-img {
}
.open{
    z-index: 5;
    overflow: hidden;
    height: 40px;
}
.open:hover{
    overflow: auto;
    height:auto;
}
.h-header {
    background-color: #0f391d;
    z-index: 5;
}

.h-header>div>div>a{
    color: #fff;
    cursor: pointer;
    padding: 10px 0px;
}
.h-header>div>div a:hover{
    background-color: #248644;
    color: #fff;
}
.main-logo{
    background-color: #fff;
}
.h-nav-d-li-a{
     cursor: pointer;
}
.main-logo:hover{
 -webkit-animation: logo-ani 3s linear 1s infinite alternate;
   animation:logo-ani 3s linear 1s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes logo-ani {
    from {background-color: #fff;}
    to {background-color: #0f391d;}
}

/* Standard syntax */
@keyframes logo-ani {
     from {background-color: #fff;}
    to {background-color: #0f391d;}
}

.main-messages,
.h-messages {
    z-index: 1;
    color: #fff;
    border: 1px solid #f1f1f1;
    background-color: #cd0e0e;
    border-radius: 4px;
}

.bt-header {
    position: relative;
    z-index: 2;
    width: max-content;
}



.logo-a {
    font-size: 16px;
    padding: 12px;
    background-color: #fff;
    border-radius: 4px;

}

.search {
}

.search-form {}

.search-input {
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: transparent;
    padding: 7px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.solol-a {
    color: #fff;
    padding: 10px 30px;
    bottom: -10px;
    position: relative;
}

.solol-img {
    height: 30px;
    float: left;
    border: 2px solid #248644;
    padding: 2px;
}

.h-header-ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    width: max-content;
}
.h-header-ul-li {
    float: left;
    height: 40px;
}
.h-header-ul-li:hover{
        background-color: #248644;
}
.d-comments-user img{ width: 40px; height: 40px; float: left; border-radius: 60px; padding: 4px; border: 2px solid #248644; }.d-comment{color: #248644;font-size: 14px;margin: 6px 0px 6px 60px;border-top: 1px solid;width;width: fit-content;}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

.messages {
    padding: 8px;
    margin: 8px;
}

.error {
    font-size: 16px;
}

.info {}

.warning {}

.successful {}

.close-ms {
    margin: 4px;
    background: #000;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

.h-nav {}
.s-main-div{
    margin: auto;
    width: 70%;
    display: table;
    background-color: #fff;
    padding: 12px 6px;
    border-radius: 4px;
    margin-top: 26px;
}
.main_settings{
    width: max-content;
    float: left;
    margin: auto;
}
.m-s-text{
    color: #fff;
    float: right;
    margin-top: 3px;
}
.m-s-ul{list-style: none;}
.m-s-li{display: grid;border-bottom: 1px solid #333;}
.m-s-li a{padding: 6px 44px;background-color: cadetblue;}
.m-s-li img{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 2px;
}
.s-forms{width: max-content;margin: auto;text-align: -webkit-right;}
.h-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 42px;
    background-color: #fff;
}
.s-forms p{margin: 12px 0px;width: fit-content;}
.s-forms p label{
    margin: 0px 12px;
}
.helptext{
    display: none;
}
.s-forms p input{padding: 4px 12px;border-radius: 4px;border: 1px solid #cdcdcd;}
.h-nav::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
}

.h-nav::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0f391d;
}
.h-noti-li{
    background-color: #fff;
}
.h-noti-topic{
    padding: 12px 30px;
    color: #fff;
}
.h-notifications-ul{
     z-index: 7;
     font-size: 14px;
}
.main-nav-detail {
    padding: 12px 0px;
    margin: 0px;
    border-top: 1px solid #fff;
}

.main-nav-detail-li {
    padding: 2px 0px;
    background-color: #fff;
}

.main-nav-detail-li:hover {
    background-color: #248644;
}


.h-nav-li-img {
    background-color: #fff;
    height: 20px;
}


.main-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 63px;
    background-color: #fff;
}

.main-nav::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.main-nav::-webkit-scrollbar-thumb {
    border-radius: 21px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #248644;
}

.h-nav-li {
}

.h-nav-li:hover {
    background-color: #248644;
}

.nav-ul-li-a:hover {
    color: #fff;
}

.nav-ul-li-a {
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
}

.h-nav-topic {
    padding: 11px 16px;
    cursor: pointer;
}

.preload {
    position: fixed;
    z-index: 3;
    cursor: wait;
    width: 100%;
    height: 100%;
}

.coogger-load {
    /*! margin: auto; */
    width: max-content;
    font-size: 555%;
    display: flex;
    /*! margin-top: 14%; */
}

.maindiv {
    filter: blur(2px);
}

.home-top-ads {
    margin: auto;
    margin-top: 60px;
    overflow: auto;
    display: none;
}

.b-content {
    cursor: pointer;
    margin: 24px 0px;
}

.b-content-info {
}

.b-user-info {
    margin-top: 6px;
}

.b-user-img {
}

.b-user-img-src {
    border: 2px solid #248644;
    padding: 2px;
}

.b-user-ul-li {
}

.b-user-ul {
}

.duread-main {
    position: relative;
    z-index: 1;
    padding: 10% 0%;
}

.duread-ul {
    padding: 6px;
    margin: 0px;
    width: -webkit-fill-available;
    border-radius: 4px;
    background-color: #248644;
}
.duread-img{
    margin-right: 0px;
    margin-left: 6px;
    background-color: #fff;
    border-radius: 26px;
    padding: 4px;
}
.duread-text{
    float: right;
}
.duread-li {
    font-size: 12px;
    color: #fff;
    padding: 4px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.b-edit {margin: auto;overflow: auto;width: 90%;}

.b-edit-ul {
    /*! list-style: none; */
    /*! margin: auto; */
    /*! padding: 0px; */
    /*! width: 160px; */
    /*! margin-top: 46px; */
    margin: auto;
    padding: 0px;
    list-style: none;
    width: max-content;
    background-color: #248644;
    height: 42px;
    border-radius: 4px;
}

.b-edit-li {


    /*! height: 30px; */
    float: left;
    margin: 12px 4px;
}

.b-edit-li-a:hover {
    background-color: #0f391d;
    color: #fff;
}

.b-edit-li-a {
    color: #fff;
    padding: 10px 24px;
    font-size: 14px;
}

.b-blog {
}

.b-home-ads {
    float: left;
    margin: 6px 6px;
    position: relative;
    z-index: 0;
    width: 280px;
    height: 420px;
    border-radius: 4px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #c5c5c5;
}

.b-edit-point {
    cursor: pointer;
    position: relative;
    padding: 2px;
    border-radius: 20px;
    background-color: #333;
    height: 26px;
    z-index: 2;
}

.border {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 6px;
    margin-top: 6px;
    height: 0px;
    width: 2px;
}

.h-footer {
    border-bottom: 6px solid #0f391d;
}

.b-edit-panel {
    /*! position: absolute; */
    /*! border-radius: 4px; */
    /*! width: 300px; */
    /*! margin: 0px; */
    /*! background-color: #248644; */
    /*! top: 8px; */
    /*! left: 8px; */
    /*! display: block; */
}
/* user */

.u-header {
    background-color: #0f391d;
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 5;
    top: 0px;
}

.u-username {
    text-overflow: ellipsis;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    color: #cd0e0e;
}

.u-i {
  margin-top: 4px;
margin-bottom: 24px;
}
.h-not-time{
}
.u-pp {
    text-align: center;
}

.u-pp-img {
    width: 300px;
    border-radius: 24px;
    border: 2px solid #248644;
    padding: 2px;
}

.u-input-pp {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.u-pp-submit {
    padding: 9px 30px;
    background-color: #248644;
    color: #fff;
    border: 0px solid #000;
    cursor: pointer;
    float: right;
    font-size: 12px;
    border-radius: 6px;
}

.u-upload-label {
    max-width: 130px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 12px;
    color: #f1e5e6;
    border-radius: 7px;
    background-color: #cd0e0e;
}

.u-uploadpp {
  margin: auto;
  position: relative;
  width: 130px;
  bottom: 260px;
}

.u-uploadform {
    float: right;
    margin: auto;
    display: none;
}

.u-nav {
    overflow: auto;
    /* height: max-content; */
    background-color: rgb(255, 255, 255);
    padding: 4px 0px;
}

.u-main-nav {
    overflow: hidden;
    border: 1px solid #f1f1f1;
}

.u-nav-li {
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
    padding: 10px;
    margin: 0px;
    min-width: max-content;
    border: none;
    background: #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.u-nav-li:hover {
    background-color: #248644;
}

.u-nav-li-a:hover {
    color: #fff;
}

.u-nav-li-a {
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
}

.u-topic {
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.u-footer {
    margin: auto;
    background-color: #fff;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    display: flow-root;
}
.h-noti-info{border-bottom: 1px solid #cdcdcd;margin-bottom: 10px;color: #666;}
.u-footer-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    width: max-content;
}

.u-footer-li {
    float: left;
    padding: 0px 12px;
    border-bottom: 1px solid #fff;
}

.u-footer-li:hover {
    border-bottom: 1px solid #000;
}

.u-footer-info {
    margin: auto;
    width: max-content;
    padding: 8px 0px;
    color: #000;
}

.u-footer-main {
    margin: auto;
    width: 100%;
}

.u-top-ads {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    display: none;
}


/* user */


/* control */

.c-create {
    margin: 46px 8px;
}

.c-create p label {
    font-size: 14px;
    padding: 0px 6px;
}

.c-create p input,
.c-create p select {
    border: 1px solid #e4e4e4;
    padding: 6px 0px;
    width: 50%;
    float: right;
}

.c-create p select {}

.c-create-form {
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
    display: flow-root;
}

.c-create-input {
    padding: 8px 26px;
    color: #ffffff;
    border: 0px solid #333;
    border-radius: 6px;
    font-size: 14px;
    background-color: #0f391d;
}


/* control */

.d-edit {
}

.d-edit-point {}

.d-edit-panel {position: absolute;width: 100%;height: 100%;background-color: #248644;z-index: 2;border-radius: 1%;top: 0px;left: 0px;}

.d-edit-ul {
    /*! margin: auto; */
    /*! padding: 0px; */
    /*! list-style: none; */
    /*! width: max-content; */
    background-color: #248644;
    /*! height: 42px; */
    border-radius: 4px;
}

.d-edit-li {
    /*! float: left; */
    /*! margin: 12px 4px; */
    border-right: 1px solid #fff;
}

.d-edit-li-a {
    color: #fff;
    padding: 10px 0px;
    font-size: 14px;
}

.h-explain {
    margin: auto;
    margin-top: 12px;
    width: 80%;
    border-bottom: 1px solid #0f391d;
}

.h-ex-img {
    width: 120px;
    height: 120px;
}

.h-ex-text {
    font-size: 26px;
    font-weight: bold;
    color: #ececec;
    margin: auto;
    width: max-content;
    padding: 2px 16px;
    background-color: #0f391d;
    border-radius: 4px;
    margin-bottom: 4px;
    overflow: auto;
}

.h-ex-h2 {
    color: #000000;
    font-size: 16px;
}
.submit-input{padding: 8px 82px;border: 0px solid #fafafa;border-radius: 4px;background: #343e34;color: #ffffff;cursor: pointer;}
input,select{
    padding: 6px 8px;
    /* margin: 2px 6px; */
    border: 1px solid rgb(241, 241, 241);
    border-radius: 4px;
    width: -webkit-fill-available;
}

.author-info{
  border: 1px solid #fafafa;
background-color: rgb(241, 241, 241);
padding: 2% 5%;
}

  .h-nav-ul {
        position: relative;
        overflow: hidden;
        z-index: 4;
        background-color: #fff;
        border: 1px solid #f1f1f1;
    }
    .h-nav-li {
        color: #ffffff;
        min-width: 200px;
        padding: 11px 16px;
    }
