html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    background: #fff;
}

.main-blog-cards {
    padding: 4px;
    display: block;
    width: fit-content;
    margin: auto;
}

.blogs {
    position: relative;
    padding-bottom: 4px;
    height: -webkit-fill-available;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    width: 0px;
    margin: auto;
    display: table;
    margin-bottom: 40px;
    border-radius: 4px;
}

.datail {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 70%;
    top: 130px;
    margin: auto;
    padding: 30px 0px 30px 0px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #f1f1f1;
}

.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

.pagination {
    position: relative;
    width: max-content;
    padding: 30px 10px 30px 10px;
    margin: auto;
}

.step-links {}

.current {
    padding: 6px;
    border: 1px solid #f1f1f1;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 6px;
    margin-right: 14px;
}

.step-links-a {
    padding: 6px;
    color: #fff;
    background: blue;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
}

.blog-cards {
    float: left;
    width: 280px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 6px;
    background-color: #fff;
    margin: 6px;
    box-shadow: 0px 0px 2px 0px #000000;
}

.blog-user {
    padding-bottom: 6px;
}

.blog-user-profil {}

.blog-username {
    font-size: 12px;
    color: #ffffff;
    border: 1px solid;
    width: fit-content;
    padding: 4px 6px 4px 6px;
    border-radius: 6px;
    float: left;
    margin-left: 6px;
    background: rgb(158, 97, 255);
}

.blog-user-description {}

.blog-category {
    width: 240px;
    height: 60px;
    font-size: 16px;
    padding-top: 18px;
    text-align: center;
    margin: auto;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.blog-subcategory {
    border-top: 1px solid #f1f1f1;
    font-size: 12px;
}

.blog-category2 {
    border-top: 1px solid #f1f1f1;
    font-size: 8px;
}

.blog-cont {
    width: 90%;
    margin: auto;
}

.blog-title {
    text-align: center;
    width: 90%;
    height: 16px;
    padding: 4px;
    overflow: hidden;
    margin: auto;
    border: 1px solid #9e61ff;
    border-radius: 4px;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.blog-content {
    margin: auto;
    height: 280px;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
}

.blog-username-a {
    color: #fff;
}

.blog-username-a:hover {
    color: #fff;
    text-decoration: none;
}

.blog-time {
    float: right;
    font-size: 12px;
}

header {
    position: relative;
    padding-top: 50px;
    height: 60px;
    background-color: rgb(48, 181, 92);
    border: #fafafa;
    box-shadow: 1px 1px 3px 0px #f1f1f1;
    margin: auto;
}

.main-messages {
    position: relative;
    height: 52px;
    width: 40%;
    text-align: center;
    color: #fff;
    border: 1px solid #f1f1f1;
    left: 30%;
    background-color: rgb(241, 57, 57);
    border-radius: 4px;
}

.bt-header {
    position: relative;
    left: 0px;
    z-index: 2;
    background: #ffffff;
    width: 100%;
    float: left;
    height: 54px;
}

.logo {
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}

.logo-a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 6px 0px 6px;
}

.search {
    padding: 13px;
}

.search-form {}

.search-input {
    padding: 9px;
    width: 210px;
    border: 0px solid #fafafa;
    border-radius: 4px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: rgb(112, 126, 255);
    padding: 6px 15px 7px 15px;
    border: 0px solid blue;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.solol {
    position: relative;
    background-color: #30b55c;
    width: 100px;
    padding: 10px;
    border-right: 1px solid #999;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

.header-ul {
    width: max-content;
    height: 60px;
    list-style-type: none;
    margin: auto;
    padding: 0px;
}

.header-ul-li {
    float: left;
}

.open-header {
    width: 60px;
    padding: 4px;
    float: right;
    margin: 8px;
    display: none;
}

.open-header-border {
    border-bottom: 1px solid #000;
    margin-bottom: 13px;
    width: 30px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

.messages {
    padding: 8px;
    margin: 8px;
    list-style-type: none;
}

.error {
    font-size: 16px;
}

.info {}

.warning {}

.successful {}

.close-ms {
    float: right;
    margin: 4px;
    list-style-type: none;
    background: #000;
    padding: 12px;
    width: 20px;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
}

nav {
    position: relative;
    width: 100%;
    overflow: auto;
    z-index: 1;
    height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.main-nav {
    position: relative;
    width: max-content;
    height: 40px;
    list-style-type: none;
    padding: 0px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}

.nav-ul-li {
    margin: 1px;
    padding: 10px;
    background: #ffffff;
    float: left;
    border-radius: 2px;
}

.nav-ul-li-a {
    color: #000;
    padding: 12px 0px;
}

.nav-ul-li:hover {
    background-color: #30b55c;
}

.nav-topic {
    text-align: center;
    color: #fff;
    background-color: rgb(48, 181, 92);
    padding-bottom: 24px;
    padding: 10px;
    margin: 0px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 606px) {
    .datail {
        width: 99%;
        top: 110px;
    }
    .open-header {
        display: block;
    }
    header {
        width: 99%;
        height: 0px;
        padding-top: 10px;
    }
    .main-messages {
        width: 100%;
        left: 0px;
        height: 54px;
        border: 0px solid #f1f1f1;
    }
    .header-ul {
        width: 300px;
    }
    .search-input {
        width: 170px;
    }
    .error {
        font-size: 14px;
    }
}