html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0;
    background: #ececec;
    overflow: auto;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 63px;
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 21px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0f391d;
}

.main-blog-cards {}

.b-blogs,
.c-blogs {
    position: relative;
    background-color: #ececec;
    display: flow-root;
    margin: 57px auto;
    padding: 6px;
    z-index: 0;
    box-shadow: 0px 0px 2px 0px #c5c5c5;
}

.c-blogs {
    width: 306px;
}

.d-detail {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 26px 12px;
    border-radius: 4px;
    box-shadow: 0px 0px 0.1px 0px #fafafa;
    z-index: 0;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 100px;
}

.d-main-start {
    margin: auto;
    width: 288px;
    height: 15px;
    margin-bottom: 20px;
}

.d-starts-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.d-starts-ul li {
    float: left;
    margin-right: 7px;
    cursor: pointer;
}

.d-starts-li:hover {
    border-bottom: 1px solid #0f391d;
}

.d-starts-a {}

.d-starts-a:hover {
    background-image: url("/static/media/icons/star.svg")
}

.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

.pagination {
    margin: auto;
    background-color: #fff;
    color: #fff;
    border-radius: 4px;
    padding: 12px 12px;
    display: flow-root;
    width: max-content;
    margin-bottom: 12px;
    margin-top: 12px;
}

.step-links {}

.current {
    padding: 6px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

.step-links-a {
    padding: 6px 12px;
    color: #fff;
    background: #248644;
    border-radius: 4px;
}

.b-cards {
    position: relative;
    z-index: 0;
    width: 280px;
    height: 420px;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #c5c5c5;
}

.b-user {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.b-user-li {
    max-width: 280px;
    float: right;
}

.b-user-profil {}

.b-username {
    font-size: 12px;
    text-align: center;
    width: 216px;
    padding: 4px 6px;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    margin: 10px 0px 0px 12px;
    white-space: nowrap;
}

.b-content-list-name {
    font-size: 12px;
    padding: 4px 6px;
    text-align: center;
    width: max-content;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.b-user-description {}

.b-category {
    width: max-content;
    font-size: 14px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    padding: 6px 0px;
}

.b-category-li {}

.b-cont {
    position: relative;
    margin: auto;
    width: 90%;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    display: flow-root;
}

.b-title {
    margin: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.b-title-a {
    font-weight: 900;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.d-hashtag-img {
    border-radius: 20px;
    padding: 2px;
}

.d-hashtag-text {
    color: #248644;
    background-color: #cdcdcd;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 12px;
}

.d-hashtag {
    margin: auto;
    list-style: none;
    padding: 0px;
    border-top: 1px solid #0f391d;
}

.d-hashtag-li {
    float: left;
    margin: 12px;
}

.d-hashtag-a {}

.b-user-hashtag {
    padding: 0px 12px;
}

.b-hashtag-img {}

.b-username-a {
    color: #fff;
}

.b-username-a:hover {
    color: #fff;
    text-decoration: none;
}

.b-time {
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    margin-bottom: 4px;
    width: 268px;
    padding: 2px 6px;
    border: 1px solid #f0f0f0;
    height: 20px;
}

.b-time-img {
    float: left;
}

.h-header {
    background-color: #0f391d;
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 5;
    top: 0px;
}

.main-messages,
.h-messages {
    position: relative;
    height: 52px;
    z-index: 1;
    width: 40%;
    text-align: center;
    color: #fff;
    border: 1px solid #f1f1f1;
    left: 30%;
    background-color: #cd0e0e;
    border-radius: 4px;
}

.bt-header {
    position: relative;
    z-index: 2;
    width: max-content;
}

.logo {
    position: relative;
    border-radius: 2px;
    padding: 7px 12px;
    float: left;
    z-index: 6;
    top: 0px;
    background-color: #fff;
    margin: 1px 1px;
}

.logo-a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 6px 0px 6px;
}

.search {
    padding: 3px 12px;
}

.search-form {}

.search-input {
    padding: 9px;
    width: 210px;
    border: 0px solid #fafafa;
    border-radius: 4px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: transparent;
    padding: 7px 12px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    border: 0px solid;
    font-size: 16px;
}

.solol {
    padding: 10px 12px;
    text-align: center;
}

.solol a {
    color: #fff;
}

.h-header-ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    width: max-content;
}

.h-header-ul-li {
    float: left;
    margin-right: 16px;
}

.open-header {
    display: none;
    right: 0px;
    position: relative;
    float: right;
    z-index: 6;
    padding: 2px 12px;
    top: 0px;
}

.open-header-border {
    border-bottom: 10px solid #248644;
    margin-bottom: 2px;
    width: 6px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

.messages {
    padding: 8px;
    margin: 8px;
    list-style-type: none;
}

.error {
    font-size: 16px;
}

.info {}

.warning {}

.successful {}

.close-ms {
    float: right;
    margin: 4px;
    list-style-type: none;
    background: #000;
    padding: 12px;
    width: 20px;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
}

.h-nav {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    top: 0px;
    right: 0px;
    z-index: 5;
    width: 16%;
    border-radius: 6px;
}

.h-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 42px;
    background-color: #fff;
}

.h-nav::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
}

.h-nav::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #0f391d;
}

.h-nav-ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 40px;
}

.main-nav-detail {
    padding: 12px 0px;
    margin: 0px;
    border-top: 1px solid #fff;
}

.main-nav-detail-li {
    padding: 2px 0px;
    background-color: #fff;
}

.main-nav-detail-li:hover {
    background-color: #248644;
}

.h-nav-d-li-a {
    padding: 12px 20px;
    color: #000000;
    text-decoration: none;
}

.h-nav-d-li-a:hover {
    color: #fff;
}

.h-nav-li-img {
    width: 20px;
    height: 20px;
}

.h-nav-li-text {
    float: right;
}

.main-nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 63px;
    background-color: #fff;
}

.main-nav::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

.main-nav::-webkit-scrollbar-thumb {
    border-radius: 21px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #248644;
}

.h-nav-li {
    display: grid;
}

.h-nav-li:hover {
    background-color: #248644;
}

.nav-ul-li-a:hover {
    color: #fff;
}

.nav-ul-li-a {
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
}

.h-nav-topic {
    color: #fff;
    padding: 10px 16px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
    background-color: #248644;
}

.preload {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin: auto;
    height: 100%;
    cursor: wait;
}

.coogger-load {
    margin: auto;
    width: max-content;
    font-size: 555%;
    display: flex;
    margin-top: 14%;
}

.maindiv {
    filter: blur(2px);
    margin-bottom: 120px;
}

.home-top-ads {
    margin: auto;
    margin-top: 60px;
    overflow: auto;
    display: none;
}

.b-content {}

.b-content-info {
    margin-top: 30px;
}

.b-user-info {
    margin-top: 6px;
}

.b-user-img {
    width: 40px;
    height: 40px;
}

.b-user-img-src {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.b-user-ul-li {
    float: left;
}

.b-user-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    height: 42px;
}

.duread-main {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 280px;
    height: 198px;
}

.duread-ul {
    padding: 0px;
    list-style: none;
    border-radius: 4px;
    background-color: #248644;
}

.duread-li {
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    white-space: nowrap;
}

.b-edit {
    position: absolute;
    z-index: 3;
}

.b-edit-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    width: 160px;
    height: 340px;
    margin-top: 46px;
    background-color: #248644;
    border-radius: 4px;
}

.b-edit-li {
    border-radius: 4px;
    padding: 6px 0px;
    height: 30px;
}

.b-edit-li-a:hover {
    background-color: #0f391d;
    color: #fff;
}

.b-edit-li-a {
    padding: 10px 62px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 37px;
}

.b-blog {
    float: left;
    margin: 6px 3px;
}

.b-home-ads {
    float: left;
    margin: 6px 6px;
    position: relative;
    z-index: 0;
    width: 280px;
    height: 420px;
    border-radius: 4px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #c5c5c5;
}

.b-edit-point {
    cursor: pointer;
    position: relative;
    padding: 2px;
    border-radius: 20px;
    background-color: #333;
}

.border {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 6px;
    margin-top: 6px;
    height: 0px;
    width: 2px;
}

.h-footer {
    margin: auto;
    border-radius: 4px;
    font-size: 12px;
    border-top: 1px solid #cdcdcd;
    background-color: #fff;
    right: 0px;
    display: table;
}

.h-footer-ul {
    list-style: none;
    max-height: 163px;
    overflow: auto;
}

.h-footer-main {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 24px;
}

.h-footer-li {
    margin: auto;
    width: 250px;
}

.h-footer-info {
    text-align: center;
    margin: auto;
    width: 50%;
}

.b-edit-panel {
    position: absolute;
    list-style: none;
    border-radius: 4px;
    height: 444px;
    width: 304px;
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: #248644;
}


/* user */

.u-header {
    background-color: #0f391d;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 5;
    top: 0px;
}

.u-username {
    text-overflow: ellipsis;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    color: #cd0e0e;
}

.u-i {
    margin-top: 60px;
}

.u-pp {
    text-align: center;
}

.u-pp-img {
    width: 120px;
    max-height: 190px;
    border-radius: 0px 20px;
}

.u-input-pp {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.u-pp-submit {
    padding: 9px 30px;
    background-color: #248644;
    color: #fff;
    border: 0px solid #000;
    cursor: pointer;
    float: right;
    font-size: 12px;
    border-radius: 6px;
}

.u-upload-label {
    max-width: 130px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 12px;
    color: #f1e5e6;
    border-radius: 7px;
    background-color: #cd0e0e;
}

.u-uploadpp {
    position: absolute;
    right: 6px;
    top: 53px;
}

.u-uploadform {
    float: right;
    margin: auto;
    display: none;
}

.u-nav {
    overflow: auto;
    height: max-content;
    background-color: rgb(255, 255, 255);
    padding: 4px 0px;
}

.u-main-nav {
    width: max-content;
    height: 40px;
    list-style-type: none;
    padding: 0px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}

.u-nav-li {
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
    padding: 10px;
    margin: 0px;
    border: none;
    background: #ffffff;
    float: left;
    border-radius: 2px;
    cursor: pointer;
}

.u-nav-li:hover {
    background-color: #248644;
}

.u-nav-li-a:hover {
    color: #fff;
}

.u-nav-li-a {
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
}

.u-topic {
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.u-footer {
    margin: auto;
    background-color: #fff;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    display: flow-root;
}

.u-footer-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    width: max-content;
}

.u-footer-li {
    float: left;
    padding: 0px 12px;
    border-bottom: 1px solid #fff;
}

.u-footer-li:hover {
    border-bottom: 1px solid #000;
}

.u-footer-info {
    margin: auto;
    width: max-content;
    padding: 8px 0px;
    color: #000;
}

.u-footer-main {
    margin: auto;
    width: 100%;
}

.u-top-ads {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    display: none;
}


/* user */


/* control */

.c-create {
    margin: 46px 8px;
}

.c-create p label {
    font-size: 14px;
    padding: 0px 6px;
}

.c-create p input,
.c-create p select {
    border: 1px solid #e4e4e4;
    padding: 6px 0px;
    width: 50%;
    float: right;
}

.c-create p select {}

.c-create-form {
    margin: auto;
    width: 60%;
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
    display: flow-root;
}

.c-create-input {
    padding: 8px 26px;
    color: #ffffff;
    border: 0px solid #333;
    border-radius: 6px;
    font-size: 14px;
    background-color: #0f391d;
}


/* control */

.d-edit {
    margin: auto;
    overflow: auto;
    width: 90%;
}

.d-edit-point {}

.d-edit-panel {}

.d-edit-ul {
    margin: auto;
    padding: 0px;
    list-style: none;
    width: max-content;
    background-color: #248644;
    height: 42px;
    border-radius: 4px;
}

.d-edit-li {
    float: left;
    margin: 12px 4px;
}

.d-edit-li-a {
    color: #fff;
    padding: 10px 24px;
    font-size: 14px;
}

.h-explain {
    margin: auto;
    margin-top: 12px;
    width: 80%;
    border-bottom: 1px solid #0f391d;
}

.h-ex-img {
    width: 120px;
    height: 120px;
}

.h-ex-text {
    font-size: 36px;
    font-weight: bold;
    color: #ececec;
    margin: auto;
    width: max-content;
    padding: 4px 32px;
    background-color: #0f391d;
    border-radius: 4px;
    margin-bottom: 4px;
    overflow: auto;
}

@media only screen and (max-width:1160px) {
    .h-header {
        height: 0px;
        padding-top: 10px;
        display: none;
        position: fixed;
        height: 100%;
    }
    .open-header {
        display: block;
    }
    .h-header-ul-li {
        float: none;
    }
    .h-nav {
        position: relative;
        width: -webkit-fill-available;
        overflow: auto;
        background-color: rgb(255, 255, 255);
        padding: 4px 0px;
        top: 26px;
        z-index: auto;
        border-radius: 0;
    }
    .h-nav-ul {
        width: max-content;
        height: 40px;
        list-style-type: none;
        padding: 0px;
        margin: auto;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #f1f1f1;
    }
    .h-nav-li {
        color: #248644;
        background: #ffffff;
        float: left;
    }
    .c-create-form {
        width: 96%;
    }
    .h-nav-li-text {
        margin-left: 12px;
    }
    .h-explain {
        margin-top: 46px;
    }
    .h-ex-img {
        width: 60px;
        height: 60px;
    }
    .h-ex-text {
        font-size: 16px;
    }
}

@media only screen and (max-width:768px) {
    .b-user-mobil {
        float: right;
    }
}