header {
    position: relative;
    padding-top: 50px;
    height: 60px;
    background-color: rgb(48, 181, 92);
    border: #fafafa;
    box-shadow: 1px 1px 3px 0px #f1f1f1;
    margin: auto;
}

.main-messages {
    position: fixed;
    height: 52px;
    z-index: 3;
    width: 20%;
    border: 1px solid #f1f1f1;
    left: 40%;
    background-color: white;
}

.bt-header {
    position: relative;
    left: 0px;
    z-index: 2;
    background: #ffffff;
    width: 100%;
    float: left;
    height: 54px;
}

.logo {
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    float: left;
    margin-top: 2px;
}

.logo-a {
    text-decoration: none;
    font-size: 24px;
    padding: 0px 6px 0px 6px;
}

.search {
    padding: 13px;
}

.search-form {}

.search-input {
    padding: 9px;
    width: 210px;
    border: 0px solid #fafafa;
    border-radius: 4px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: rgb(112, 126, 255);
    padding: 6px 15px 7px 15px;
    border: 0px solid blue;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.solol {
    position: relative;
    background-color: #30b55c;
    width: 100px;
    padding: 10px;
    border-right: 1px solid #999;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

.header-ul {
    width: max-content;
    height: 60px;
    list-style-type: none;
    margin: auto;
    padding: 0px;
}

.header-ul-li {
    float: left;
}

.open-header {
    width: 60px;
    padding: 4px;
    float: right;
    margin: 8px;
    display: none;
}

.open-header-border {
    border-bottom: 1px solid #000;
    margin-bottom: 13px;
    width: 30px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 40px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

.messages {
    padding: 8px;
    margin: 9px;
    list-style-type: none;
}

.error {}

.info {}

.warning {}

.successful {}

@media only screen and (max-width: 606px) {
    .open-header {
        display: block;
    }
    header {
        width: 99%;
        height: 20%;
        padding-top: 10px;
    }
    .main-messages {
        width: 100%;
        left: 0px;
        top: 54px;
        font-size: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 56px;
        border: 1px solid #f1f1f1;
        overflow: hidden;
    }
    .header-ul {
        width: 300px;
    }
    .search-input {
        width: 170px;
    }
}