header {
    position: fixed;
    left: 0%;
    z-index: 1;
    width: 100%;
    top: 50px;
    height: 60px;
    background-color: rgb(255, 209, 80);
    border-radius: 6px;
    border: #fafafa;
    box-shadow: 1px 1px 3px 0px #f1f1f1;
}

.main-messages {
    position: fixed;
    z-index: 3;
    width: 20%;
    left: 40%;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}

.bt-header {
    position: fixed;
    left: 0px;
    z-index: 2;
    background: #ffffff;
    width: 100%;
    float: left;
    height: 54px;
}

.logo {
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 4px;
    float: left;
    margin-top: 3px;
}

.logo-a {
    text-decoration: none;
    font-size: 24px;
    padding: 0px 6px 0px 6px;
}

.search {
    position: relative;
    width: 300px;
    margin: auto;
    padding: 13px;
}

.search-form {
    margin: auto;
}

.search-input {
    padding: 9px;
    width: 210px;
    border: 0px solid #fafafa;
    border-radius: 4px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    background-color: rgb(112, 126, 255);
    padding: 6px 15px 7px 15px;
    border: 0px solid blue;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.solol {
    position: relative;
    background-color: #30b55c;
    width: 100px;
    padding: 10px;
    border-right: 1px solid #999;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}

ul li {
    list-style-type: none;
}

.header-ul {
    width: fit-content;
    height: 60px;
    padding: 0px;
    margin: auto;
}

.header-ul-li {
    position: relative;
    float: left;
    margin: auto;
}

.open-header {
    width: 60px;
    padding: 4px;
    float: right;
    margin: 8px;
    display: none;
}

.open-header-border {
    border-bottom: 1px solid #000;
    margin-bottom: 13px;
    width: 30px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: 40px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

@media only screen and (max-width: 606px) {
    .open-header {
        display: block;
    }
    header {
        height: 200px;
    }
}