.my p{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.my p input,.my p select,.my p textarea{
  display: flex;
  align-content: flex-end;
  margin: 0px 12px;
  border: 1px solid #f1f1f1;
  padding: 6px 12px;
  border-radius: 4px;
  color: #0f391d;
  background-color: #fff;
}
.my label{
  margin-right: auto;
}
.duread-main {
    position: absolute;
    bottom: 24px;
    z-index: 0;
    left: 6px;
    right: 6px;
    opacity: 0;
    height: 170px;
}
.duread-main:hover{
  opacity: 1;
}
.hljs{
  overflow-x: auto;
}
