.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0px;
}

header {
    position: relative;
    height: 50px;
    margin: auto;
    background-color: #0f391d;
}

.u-username {
    text-overflow: ellipsis;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    color: #cd0e0e;
}

.u-i {
    margin-top: 6px;
}

.u-pp {
    text-align: center;
}

.u-pp-img {
    width: 120px;
    max-height: 190px;
    border-radius: 0px 20px;
}

.user-one-line {}

.u-input-pp {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.u-pp-submit {
    padding: 0.400rem 1.25rem;
    background-color: #248644;
    color: #fff;
    border: 0px solid #000;
    cursor: pointer;
    float: right;
}

.u-upload-label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #f1e5e6;
    background-color: #cd0e0e;
}

.u-uploadpp {
    position: absolute;
    right: 6px;
    top: 53px;
}

.uploadform {
    float: right;
    margin: auto;
    display: none;
}

nav {
    overflow: auto;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.u-main-nav {
    width: max-content;
    height: 40px;
    list-style-type: none;
    padding: 0px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}

.u-nav-li {
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
    padding: 10px;
    margin: 0px;
    border: none;
    background: #ffffff;
    float: left;
    border-radius: 2px;
    cursor: pointer;
}

.u-nav-li:hover {
    background-color: #248644;
}

.u-nav-li-a:hover {
    color: #fff;
}

.u-nav-li-a {
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
}

.u-topic {
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.logo {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

.main-logo {}

.logo-a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 6px 0px 6px;
}

. {
    position: relative;
    height: 52px;
    width: 40%;
    text-align: center;
    color: #fff;
    border: 1px solid #f1f1f1;
    left: 30%;
    background-color: rgb(241, 57, 57);
    border-radius: 4px;
}

.close-ms {
    float: right;
    margin: 4px;
    list-style-type: none;
    background: #000;
    padding: 12px;
    width: 20px;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
}

.messages {
    padding: 8px;
    margin: 8px;
    list-style-type: none;
}

.maindiv {
    filter: blur(2px);
}

.preload {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin: auto;
    height: 100%;
    cursor: wait;
}

.coogger-load {
    margin: auto;
    width: max-content;
    font-size: 555%;
    display: flex;
    margin-top: 14%;
}