.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0px;
    background-color: #ececec;
}

header {
    background-color: #0f391d;
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 5;
    top: 0px;
}

.u-username {
    text-overflow: ellipsis;
    font-size: 26px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    color: #cd0e0e;
}

.u-i {
    margin-top: 60px;
}

.u-pp {
    text-align: center;
}

.u-pp-img {
    width: 120px;
    max-height: 190px;
    border-radius: 0px 20px;
}

.user-one-line {}

.u-input-pp {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.u-pp-submit {
    padding: 9px 30px;
    background-color: #248644;
    color: #fff;
    border: 0px solid #000;
    cursor: pointer;
    float: right;
    font-size: 12px;
    border-radius: 6px;
}

.u-upload-label {
    max-width: 130px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 12px;
    color: #f1e5e6;
    border-radius: 7px;
    background-color: #cd0e0e;
}

.u-uploadpp {
    position: absolute;
    right: 6px;
    top: 53px;
}

.uploadform {
    float: right;
    margin: auto;
    display: none;
}

nav {
    overflow: auto;
    height: max-content;
    background-color: rgb(255, 255, 255);
    padding: 4px 0px;
}

.u-main-nav {
    width: max-content;
    height: 40px;
    list-style-type: none;
    padding: 0px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}

.u-nav-li {
    text-align: center;
    color: #fff;
    padding-bottom: 24px;
    padding: 10px;
    margin: 0px;
    border: none;
    background: #ffffff;
    float: left;
    border-radius: 2px;
    cursor: pointer;
}

.u-nav-li:hover {
    background-color: #248644;
}

.u-nav-li-a:hover {
    color: #fff;
}

.u-nav-li-a {
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
}

.u-topic {
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

.logo {
    position: fixed;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 6px 12px;
    float: left;
    z-index: 6;
    top: 0px;
    margin: 1px 1px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

footer {
    margin: auto;
    background-color: #fff;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    display: flow-root;
}

.u-footer-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    width: max-content;
}

.u-footer-li {
    float: left;
    padding: 0px 12px;
}

.u-footer-li:hover {
    border-bottom: 1px solid #000;
}

.u-footer-info {
    margin: auto;
    width: max-content;
    padding: 8px 0px;
    color: #000;
}

.main-logo {}

.logo-a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 6px 0px 6px;
}

.u-footer-main {
    margin: auto;
    width: 100%;
}

.close-ms {
    float: right;
    margin: 4px;
    list-style-type: none;
    background: #000;
    padding: 12px;
    width: 20px;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
}

.messages {
    padding: 8px;
    margin: 8px;
    list-style-type: none;
}

.maindiv {
    filter: blur(2px);
}

.preload {
    position: fixed;
    z-index: 3;
    width: 100%;
    margin: auto;
    height: 100%;
    cursor: wait;
}

.user-top-ads {
    margin: auto;
    margin-top: 60px;
}

.coogger-load {
    margin: auto;
    width: max-content;
    font-size: 555%;
    display: flex;
    margin-top: 14%;
}

.blogs {
    position: relative;
    background-color: #ececec;
    display: flow-root;
    margin: 56px auto;
    z-index: 0;
    box-shadow: 0px 0px 2px 0px #c5c5c5;
}

.b-blog {
    float: left;
    margin: 6px 3px;
}

.b-edit {
    position: absolute;
    z-index: 3;
}

.b-edit-panel {
    position: absolute;
    list-style: none;
    border-radius: 4px;
    height: 444px;
    width: 304px;
    display: none;
    margin: 0px;
    padding: 0px;
    background-color: #248644;
}

.b-edit-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    width: 160px;
    height: 340px;
    margin-top: 46px;
    background-color: #248644;
    border-radius: 4px;
}

.b-edit-li {
    border-radius: 4px;
    padding: 6px 0px;
    height: 30px;
}

.b-edit-li-a {
    padding: 10px 62px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 37px;
}

.b-edit-point {
    cursor: pointer;
    position: relative;
    padding: 2px;
    border-radius: 20px;
    background-color: #333;
}

.border {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 6px;
    margin-top: 6px;
    height: 0px;
    width: 2px;
}

.blog-cards {
    position: relative;
    z-index: 0;
    width: 280px;
    height: 420px;
    border-radius: 4px;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 1px #c5c5c5;
}

.blog-user {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.b-user-ul {
    list-style: none;
    margin: auto;
    padding: 0px;
    height: 42px;
}

.b-user-ul-li {
    float: left;
}

.b-user-img {
    width: 40px;
    height: 40px;
}

.b-user-img-src {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

.blog-user-li {
    max-width: 280px;
    float: right;
}

.blog-content-list-name {
    font-size: 12px;
    padding: 4px 6px;
    text-align: center;
    width: max-content;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.blog-username-a {
    color: #fff;
}

.blog-username {
    font-size: 12px;
    text-align: center;
    width: 216px;
    padding: 4px 6px;
    border-radius: 6px;
    overflow: hidden;
    background: #0f391d;
    text-overflow: ellipsis;
    margin: 10px 0px 0px 12px;
    white-space: nowrap;
}

.b-content-info {
    margin-top: 30px;
}

.blog-time {
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    margin: auto;
    padding: 2px 6px;
    border: 1px solid #0f391d;
}

.blog-category {
    width: max-content;
    font-size: 14px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    padding: 6px 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.blog-title {
    margin: auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.blog-cont {
    position: relative;
    margin: auto;
    width: 90%;
    z-index: 2;
    cursor: pointer;
}

.blog-content {
    height: 240px;
    overflow: hidden;
}

.pagination {
    position: relative;
    width: max-content;
    margin: 24px auto;
}

.current {
    padding: 6px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}

.step-links-a {
    padding: 6px 12px;
    color: #fff;
    background: #248644;
    border-radius: 4px;
}

.duread-main {
    position: relative;
    bottom: 210px;
    z-index: 1;
    width: 280px;
    height: 200px;
}

.duread-ul {
    padding: 0px;
    list-style: none;
    border-radius: 4px;
    background-color: #248644;
}

.duread-li {
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    white-space: nowrap;
}