.ft-cl {
    /*kanal*/
    font-family: 'Lobster Two', cursive;
}

.ft-sd {
    /*sound*/
    font-family: 'Raleway', sans-serif;
}

.ft-ct {
    /*comment*/
    font-family: 'Dosis', sans-serif;
}

.ft-dn {
    /*duration*/
    font-family: 'Quicksand', sans-serif;
}

.ft-ns {
    /*notes*/
    font-family: 'Roboto', sans-serif;
}

.ft-io {
    font-family: 'Roboto', sans-serif;
}

.ft-it {
    /*input*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-os {
    /*options*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-ar {
    /*another*/
    font-family: 'Roboto Condensed', sans-serif;
}

.ft-pe {
    /*profile*/
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    position: relative;
    width: 98%;
    height: 330px;
    margin: auto;
    background-color: rgb(127, 255, 212);
}

.u-username {
    text-overflow: ellipsis;
    font-size: 46px;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
}

.u-i {
    width: 80%;
    margin: auto;
}

.u-pp {
    padding-top: 12px;
    width: 70%;
    margin: auto;
    text-align: center;
}

.u-pp-img {
    width: 150px;
    max-height: 220px;
    border-radius: 120px 16px;
    border: 1px solid #7fffd4;
}

.user-one-line {}

.u-input-pp {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.u-pp-submit {
    padding: 0.400rem 1.25rem;
    background-color: #c4d339;
    color: #fff;
    border: 0px solid #000;
    cursor: pointer;
}

.u-upload-label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    color: #f1e5e6;
    background-color: #d3394c;
}

.uploadform {
    float: right;
    margin: auto;
    display: none;
}

nav {
    position: relative;
    width: 100%;
    overflow: auto;
    z-index: 1;
    height: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
}

.u-main-nav {
    position: relative;
    width: max-content;
    height: 40px;
    list-style-type: none;
    padding: 0px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}

.u-nav-li {
    text-align: center;
    color: #fff;
    background-color: rgb(48, 181, 92);
    padding-bottom: 24px;
    padding: 10px;
    margin: 0px;
    border: none;
    background: #ffffff;
    float: left;
    border-radius: 2px;
    cursor: pointer;
}

.u-nav-li:hover {
    background-color: rgb(48, 181, 92);
}

.u-nav-li-a:hover {
    color: #fff;
}

.u-nav-li-a {
    padding: 12px 24px;
    color: #000;
    text-decoration: none;
}

.u-topic {
    font-size: 20px;
    text-align: center;
    width: 32%;
    margin: auto;
    padding-bottom: 10px;
}

.logo {
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}

.logo-img {
    background-image: url(/static/media/favicon.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    border-radius: 70px;
    margin-left: 20px;
    background-color: #fff;
    margin-top: 4px;
}

.main-logo {}

.logo-a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 6px 0px 6px;
}

.main-messages {
    position: relative;
    height: 52px;
    width: 40%;
    text-align: center;
    color: #fff;
    border: 1px solid #f1f1f1;
    left: 30%;
    background-color: rgb(241, 57, 57);
    border-radius: 4px;
}

.close-ms {
    float: right;
    margin: 4px;
    list-style-type: none;
    background: #000;
    padding: 12px;
    width: 20px;
    border-radius: 4px;
    height: 20px;
    cursor: pointer;
}

.messages {
    padding: 8px;
    margin: 8px;
    list-style-type: none;
}