{% extends "home/html.html" %}
{% block body %}
  <div class="create" flex="jc-c ai-c fd-c" general="center w-100" style="margin-top: 30px;">
    <a style="margin-bottom: 12px;display:none;" general="c-success" target="blank" id="category_help_page" href="">
      Need help? check this address for <span general="c-dark" id="category_help_name"></span> category
    </a>
    <form general="b-1 br-2 brc-muted" flex="fd-c" default="form"
    mobile-s="w-100" mobile-l="w-98" tablet="w-60" laptop="w-40" laptop-l="w-70" max="w-50"
     method="post" class="c-create-form" action="" style="padding: 12px 6px">
        {% csrf_token %} {{ form.media }} {{ form }}
        <input flex="as-c" type="submit" value="Share" style="padding: 12px 42px;color:#333" animation-hover="i bg-white">
    </form>
  </div>
  {% include 'post/script.html' %}
{% endblock %}
