{% extends "home/html.html" %}
{% block body %}
  <div class="update" flex="jc-c ai-c fd-c" general="center w-100" style="margin-top:30px;">
      <form flex="fd-c" class="c-update-form" action="" style="padding: 12px 6px"
      default="form" method="post" mobile-s="w-100" mobile-l="w-98" tablet="w-60"
      laptop="w-40" laptop-l="w-70" max="w-50">
          {% csrf_token %} {{ form }} {{ form.media }}
          <input flex="as-c" type="submit" value="Save edit" style="padding: 12px 42px;color:#333" animation-hover="i bg-white">
      </form>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      steem.api.getContent(author = "{{ username }}", permlink = "{{ permlink }}", function(err, content) {
        let editor_body = get_realy_content(content);
        {% load static %}
        $(function() {
          let Editor = editormd("id_body_editormd", {
            atLink : false,
            emailLink : false,
            path : "{% static  '/mdeditor/lib/' %}",
            htmlDecode: "html, iframe",
            markdown : editor_body,
            flowChart : true,
          });
        });
      });
    });
  </script>
{% endblock %}
