{% extends "home/html.html" %}
{% block body %}
  <div class="update" flex="jc-c ai-c fd-c" general="center w-100" style="margin-top:30px;">
    {% if form.subject.errors %}
      <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
    {% else %}
    <form flex="fd-c" class="c-update-form" action="{% url 'create-utopic' %}" style="padding: 12px 6px"
    default="form" method="post" mobile-s="w-100" mobile-l="w-98" tablet="w-60"
    laptop="w-40" laptop-l="w-70" max="w-50">
        {% csrf_token %} {{ form }}
        <input flex="as-c" type="submit" value="Create your topic" style="padding: 12px 42px;color:#333" animation-hover="i bg-white">
    </form>
    {% endif %}
  </div>
{% endblock %}
