<footer general="bg-dark c-white" flex="ai-ba" style="display:none;">
  <div flex="fd-c" style="margin-top: 2%;">
    <div class="closed_footer" general="center txt-xxl right bg-red br-2">x</div>
    <div style="margin-top: 10px;">
      <ul class="f-address">
        <li style="margin-bottom: 12px;">Quick pages</li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://discord.gg/avmdZJa">DISCORD - coogger</a>
        </li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.coogger.com/about/@hakancelik/">ABOUT - @hakancelik</a>
        </li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.coogger.com/about/@coogger/">ABOUT - @coogger</a>
        </li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.coogger.com/review/">REVIEW</a>
        </li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.coogger.com/supporters/">SUPPORTERS</a>
        </li>
      </ul>
      <ul class="f-address">
        <li style="margin-bottom: 12px;">You can follow the addresses below.</li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.coogger.com/@hakancelik">COOGGER - @hakancelik</a>
        </li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.github.com/hakancelik96">GITHUB - hakancelik96</a>
        </li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.github.com/coogger">GITHUB - coogger</a>
        </li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.steemit.com/@hakancelik">STEEMIT - @hakancelik</a>
        </li>
        <li>
          <a general="c-white txt-s" hover="c-dark bg-white br-2" href="https://www.instagtam.com/hakancelik.py">INSTAGRAM - @hakancelik.py</a>
        </li>
      </ul>
    </div>
    <div general="center" flex="fd-c">
      <strong general="center">Made by Hakan ÇELİK</strong>
      <span general="center">© 13 Sep 2017</span>
      <a general="c-blue8 center" href="https://www.coogger.com">
        <strong>COOGGER</strong>
      </a>
    </div>
  </div>
</footer>
