{% load coogger_tags %}
{% load coogger_count %}
{% if request|url_resolve:"" == "home" or request|url_resolve:"" == "search" or request|url_resolve:"" == "explorer_posts"%}
<div class="just-pc" flex="fw-nw" general="w-16">
  <ul general="bg-white brc-white" style="position: sticky;top: 16px;">
    <div general="center">Topics</div>
    {% for topic in request.sort_topics %}
      <li general="txt-s c-yellow">
        <a hover="c-white bg-red" flex="ai-c" general="txt-s c-dark br-4" href="/topic/{{ topic.name }}" style="padding: 3px 6px;">
          {% if topic.image_address %}
            <img general="w-8" src="{{ topic.image_address }}" style="margin: 0px;">
          {% endif %}
          <span style="margin-left: 2px;">{{ topic.name |title }}</span>
          <span general="txt-xs right">{{ topic|topic_count:"" }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
