{% extends "home/html.html" %}
{% block body %}
<div class="c-definition" general="ewcenter bg-dark-purple c-white w-100">
  <div flex="fd-c">
    <span general="center" style="margin-bottom:6px;">Coogger is an ecosystem where is knowledge sharing network</span>
    <span general="center c-white" style="margin-bottom:6px;">Share your experiences and knowledge and start earning money</span>
    <span general="center" style="margin-bottom:6px;">With Steem blockchain technology</span>
    <span general="center" style="margin: 0px 0px 6% 0px;">
      Steem is a blockchain-based rewards platform for publishers to monetize content and grow community.
    </span>
    <span hover="bg-success" general="center bg-dark br-2" flex="ai-c" style="margin:0px 0px;">
      <img general="w-10" style="margin: 0px;"
      src="https://discordapp.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg">
      <a general="c-white" href="https://discord.gg/avmdZJa">Click and Contact us on  Discord</a>
    </span>
    <span style="margin:5% 0px;">
      <a hover="bg-success" general="bg-dark c-white br-2 w-60 center" href="/explorer/posts/" style="padding:6px 0px;">
        Explorer posts
      </a>
    </span>
  </div>
  <div general="center ewcenter txt-m" flex="">
    <div general="br-2" flex="fd-c">
      <span general="center txt-xl" tablet="txt-m"><strong>About COOGGER</strong></span>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white" tablet="txt-s"></i>
        <div flex="fd-c">
          <strong tablet="txt-s">SEO friendly</strong>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white" tablet="txt-s"></i>
        <div flex="fd-c">
          <strong tablet="txt-s">Steem Blockchain</strong>
          <span></span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white" tablet="txt-s"></i>
        <div flex="fd-c">
          <strong tablet="txt-s">Fully responsive</strong>
          <span></span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white" tablet="txt-s"></i>
        <div flex="fd-c">
          <strong tablet="txt-s">No deposit </strong>
          <span tablet="txt-s">Don't pay for anything! We will took few percents from your articles rewards</span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white" tablet="txt-s"></i>
        <div flex="fd-c">
          <strong tablet="txt-s">Cross-browser compatibility</strong>
          <span tablet="txt-s">
            Chrome, Firefox, IE, Safari, Opera, Edge - COOGGER works the same in all browsers.
          </span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white" tablet="txt-s"></i>
        <div flex="fd-c">
          <strong tablet="txt-s">Frequent updates</strong>
          <div flex="fd-c"></div>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white" tablet="txt-s"></i>
        <div flex="fd-c">
          <strong tablet="txt-s">Customizable</strong>
          <span tablet="txt-s">You can configure your website easily by using admin dashboard.</span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white" tablet="txt-s"></i>
        <div flex="fd-c">
          <strong tablet="txt-s">We are open-source</strong>
          <span tablet="txt-s">Fork me on
            <a general="c-blue" hover="c-success" href="https://www.github.com/coogger">
              Github - coogger</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div general="w-100 bg-blue center" flex="fd-c" style="padding: 24px 0px;margin: 2px 0px;">
  <strong general="txt-xxl center c-white">What is STEEM</strong>
  <div flex="">
    <div general="left w-30">
      <img general="c-blue bg-blue br-2 w-50" style="padding:6px 12px;"
      src="https://steem.com/wp-content/themes/steemit/dist/images/Steem_Logo_White.png">
      <span general="center">
        <a general="c-blue txt-l center bg-white br-2" hover="" href="https://steem.com/?ref=www.coogger.com" style="padding:4px;">
          please check steem.com
        </a>
      </span>
    </div>
    <div flex="ai-c" general="w-70">
      <span general="c-white">
        Steem is a social blockchain that grows communities and makes immediate revenue
        streams possible for users by rewarding them for sharing content.
        It’s currently the only blockchain that can power real applications via social apps like Steemit.
      </span>
    </div>
  </div>
</div>
<strong general="txt-xxl center c-dark-purple w-100" flex="ai-c" style="margin:24px 0px;">
  Our Users and Their Posts
</strong>
<div general="center">
  <cards flex="ai-b" general="w-100 center" style="margin:0px">
   {% for ct in content %}
     <card data-postid="{{ct.id}}" id="{{ ct.user }}-{{ ct.permlink }}" general="br-2 bg-white w-30" mobile-s="w-100" mobile-m="w-98" mobilel="w-98"
      tablet="w-80" laptop="w-40" laptop-l="w-30" max="w-30" style="margin:6px;">
         {% include "card/edit.html" %} {% include "card/userinfo.html" %} {% include "card/contentinfo.html" %}
         <a href="" id="absolute_url_href" general="c-dark">
             <div general="txt-m" class="upshow"><div flex="ai-c">{{ ct.definition|safe }}</div></div>
         </a>
         {% include 'card/bottom.html' %}
     </card>
   {% endfor %}
  </cards>
  {% include "card/general_script.html" %}
</div>
{% endblock %}
