<div flx style="margin: 12px 0px;display:none" gnrl="c-white br-2 right" class="root_content">
  <div>
    <li flx="ai-c">
      <a id="root_content" gnrl="c-secondary txt-s">
      <span style="margin: 0px 6px" gnrl="c-secondary">This is just comment, view the full context</span>
      </a>
    </li>
  </div>
</div>
{% if detail.language and detail.category %}
  <div flx style="margin: 12px 0px;">
      <div flx="ai-c" gnrl="br-2 b bg-secondary c-white txt-s left" hvr-a="bg-primary" class="content_list">
          <a href="" style="color: white;" id="language"></a>
      </div>
      <div flx="ai-c" class="content_list" gnrl="br-2 b bg-secondary c-white txt-s right"
        hvr-a="bg-primary" class="content_list">
          <a href="" style="color: white;" id="category"></a>
      </div>
  </div>
{% endif %}
<div gnrl="br-2 c-secondary br-2 b-1 brc-muted" style="padding: 2px 0px;" flx="ai-c">
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">Last update ; <span id="lastmod"></span></div>
    </div>
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;" id="dor"> </div>
    </div>
    {% if detail.views %}
      <div gnrl="txt-s" flx="ai-c" class="duread-li">
          <div style="margin-left: 12px;"> | views ; {{ detail.views }}</div>
      </div>
    {% endif %}
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;"> | reply ; <span id="reply"></span></div>
    </div>
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
      <div style="margin-left: 12px;"> | votes ; <span id="count"></div>
    </div>
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
      <div style="margin-left: 12px;"> | <span id="post_reward_total"></div>
    </div>
</div>
