{% include 'detail/embed/script.html' %}
<div animation="fadeIn" style="padding: 12px;">
{% include 'detail/embed/status.html' %}
<div class="data-post-id-{{detail.id}}" flx="jc-c fw-nw">
  {% include 'detail/embed/share_social_site.html' %}
  <div default="paragraph media">
    {% if detail.topic %}
      <div flx="">
          <a flx="jc-fs" gnrl="wmax" hvr="bg-white" href="{% url 'utopic' detail.topic detail.user %}">
              {% url 'utopic' detail.topic detail.user %}
          </a>
          <a flx="jc-fe" gnrl="wmax right" hvr="bg-white" href="{% url 'list' detail.topic  %}">
              {% url 'list' detail.topic  %}
          </a>
      </div>
    {% endif %}
    {% include 'detail/embed/contentinfo.html' %}
    {% include 'detail/embed/userinfo.html' %}
    <div>
      <h1 gnrl="center txt-xl" id="title" style="margin: 12px auto;"></h1>
      <div style="padding: inherit;">
        <div style="width: auto;height:  auto;border: none;" class="editormd" id="id_arg_editormd">
            <textarea style="display:none;" id='editormd_content'></textarea>
        </div>
      </div>
      {% include 'detail/embed/edit.html' %}
      <!-- vote button  -->
      <div gnrl="center">
        <div class="vote circle">
          <div class="increment up" color="bg-success"></div>
          <div class="increment down" color="bg-danger"></div>
          <div class="count" id="post_reward_total2" gnrl="txt-l" color="bg-white"></div>
        </div>
      </div>
      <!-- vote button  -->
    </div>
    {% include 'detail/embed/donation.html' %}
    <div style="margin: 10% 0px;"></div>
    {% include 'detail/embed/comments.html' %}
  </div>
{% include 'detail/embed/other_contents.html' %}
</div>
</div>
</body>
</html>
