<script type="text/javascript">
    $(document).ready(function() {
        $(".follow").click(function(event){
          $("#is_follow").attr({'animation':"blink i"});
          api.follow("{{ request.user.username }}", "{{ content_user  }}", function (err, res) {
            if (err == null){
              $("#is_follow").html("Unfollow");
              $("#follow").css({'display':"none"});
              $("#unfollow").css({'display':"flex"});
              $("#is_follow").attr({'animation':""});
            }
            else{
              alert(err);
            }
          });
        });
        $(".unfollow").click(function(event){
            $("#is_unfollow").attr({'animation':"blink i"});
            api.unfollow("{{ request.user.username }}", "{{ content_user  }}", function (err, res) {
              if (err == null){
                $("#is_follow").html("Follow");
                $("#follow").css({'display':"flex"});
                $("#unfollow").css({'display':"none"});
                $("#is_follow").attr({'animation':""});
              }
              else{
                alert(err);
              }
            });
        });
        // vote.js
        $(function(){
          $(".increment").click(function(){
            let count = parseInt($("#count").text());
            if($(this).hasClass("up")) {
              {% if request.user.is_authenticated %}
                  const weight = {{ request.user.otherinformationofusers.vote_percent }}*100
                  api.vote("{{ request.user }}", "{{ detail.user }}", "{{ detail.permlink }}", weight, function (err, res) {
                      console.log(err,res,"voted"); // is it necessary to below codes
                      steem.api.getContent(author, permlink, function(err, content) {
                        let pending_payout_value = parseFloat(content.pending_payout_value.replace(" SBD", ""));
                        let post_reward_total = 0;
                        if (pending_payout_value == 0){
                          let total_payout_value = parseFloat(content.total_payout_value.replace(" SBD", ""))
                          let curator_payout_value = parseFloat(content.curator_payout_value.replace(" SBD", ""));
                          post_reward_total = total_payout_value+curator_payout_value;
                        }
                        else{
                          post_reward_total = pending_payout_value;
                        }
                        $("#post_reward_total").text(post_reward_total.toFixed(2));
                        $(".up").css({"opacity":1});
                        $("#count").text(count + 1);
                      });
                  });
              {% endif %}
            } else {
              {% if request.user.is_authenticated %}
                  const weight = {{ request.user.otherinformationofusers.vote_percent }}*100
                  api.vote("{{ request.user }}", "{{ detail.user }}", "{{ detail.permlink }}", -weight, function (err, res) {
                      steem.api.getContent(author, permlink, function(err, content) {
                        let post_reward_total = 0;
                        if (pending_payout_value == 0){
                          let total_payout_value = parseFloat(content.total_payout_value.replace(" SBD", ""))
                          let curator_payout_value = parseFloat(content.curator_payout_value.replace(" SBD", ""));
                          post_reward_total = total_payout_value+curator_payout_value;
                        }
                        else{
                          post_reward_total = pending_payout_value;
                        }
                        $("#post_reward_total").text(post_reward_total.toFixed(2));
                        $(".down").css({"opacity":1});
                        $("#count").text(count + 1);
                      });
                  });
              {% endif %}
            }
            $(this).parent().addClass("bump");
            setTimeout(function(){
              $(this).parent().removeClass("bump");
            }, 400);
          });
        });
        steem.api.getContent(author = "{{ detail.user }}", permlink = "{{ detail.permlink }}", function(err, content) {
          $("#detail_profile_image").attr("src", "https://steemitimages.com/u/{{ content_user }}/avatar");
          // upvoted ?
          let upvoted = false;
          let active_votes = content.active_votes;
          $("#count").html(active_votes.length);
          {% if request.user.is_authenticated %}
            for (let vot = 0; vot < active_votes.length; vot++) {
              if ("{{request.user}}" == active_votes[vot].voter){
                $(".up").css({"opacity":1});
                upvoted = true;
                break;
              }
            }
          {% endif %}
          $("#dor").html(dor(content.body));
          let reputation = steem.formatter.reputation(content.author_reputation);
          let title = content.root_title;
          let pending_payout_value = parseFloat(content.pending_payout_value.replace(" SBD", ""));
          let post_reward_total = 0;
          if (pending_payout_value == 0){
            let total_payout_value = parseFloat(content.total_payout_value.replace(" SBD", ""))
            let curator_payout_value = parseFloat(content.curator_payout_value.replace(" SBD", ""));
            post_reward_total = total_payout_value+curator_payout_value;
          }
          else{
            post_reward_total = pending_payout_value;
          }
          $("#reputation").html(reputation);
          $("#username").html(content.author);
          $("#lastmod").html(timeSince(content.last_update));
          $("#reply").html(content.children);
          $("#time").html(timeSince(content.created));
          let root_url = "/@"+content.root_author+"/"+content.root_permlink;
          let post_url = "/@"+content.author+"/"+content.permlink;
          if (root_url != post_url){ // if post is a comment
            $("#root_content").attr("href", root_url);
            $(".root_content").css({"display":"flex"});
            $(".donation").css({"display":"none"});
          }
          $("#post_reward_total").html("$ "+post_reward_total.toFixed(2));
          $("#post_reward_total2").html("$ "+post_reward_total.toFixed(2));
          $("#title").html(title);
          $(function() { // editor md
            editormd.urls.atLinkBase ="https://www.coogger.com/@"
            let Editor = editormd.markdownToHTML("id_arg_editormd", {
              height: 670,
              path : "/static/lib/",
              htmlDecode: "html, iframe",
              markdown : content.body,
            });
          });
        });
        // section content info
        {% if request.user.is_authenticated and request.user != content_user %}
          steem.api.getFollowCount("{{ content_user }}", function(err, followcount) {
            // if user is not authenticated, it should not check follow or following
            let start = 0;
            let do_while_stop = true;
            let follower_count = followcount.follower_count;
            if (follower_count > 1000){
              let limit = 1000;
            }
            else{
              let limit = follower_count;
              do_while_stop = false;
            }
            do {
              steem.api.getFollowers("{{ content_user }}", start, "blog", 1000, function(err, followers) {
                if (err!=null){
                  console.log(err);
                }
                for (let i = 0; i < followers.length; i++) {
                  if ("{{ request.user }}" == followers[i].follower){
                    $("#is_follow").html("Unfollow");
                    $("#follow").css({'display':"none"});
                    $("#unfollow").css({'display':"flex"});
                    do_while_stop = false;
                    break;
                  }
                }
              });
              if (start>follower_count){
                do_while_stop = false;
              }
              start += 1000;
            } while (do_while_stop);
          });
        {% endif %}
      });
</script>
