<div default="media" gnrl="center">
    {% if detail.status == "shared" or detail.status == "changed" %}
    <div class="review-mod" gnrl="b-2 br-2 center" color="brc-warning bg-warning c-white" flx="ai-c">
        A moderator will review this content within 1 and 2 days, status : {{ detail.status }}
    </div>
    {% endif %} {% if detail.status == "rejected" %}
    <div gnrl="b-2 br-2 center" color="brc-warning bg-warning c-white" flx="jc-c ai-c" style="height: 20vh;margin-bottom: 2px;">
        Rejected by @{{ detail.mod }}
    </div>
    {% endif %}
</div>
