{% if not request.user.is_superuser %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ads-2 -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-9215854020523450"
    data-ad-slot="7038921380"
    data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}
<footer gnrl="bg-dark" style="height: 120px;" flx="jc-c ai-c">
  <div>
    <div flx="fd-c" gnrl="c-white">Gelişmeleri takip edin</div>
    <div>
      <a flx="ai-c" target="_blank" href="https://www.instagram.com/coogger.v1" style="padding: 6px 0px;">
        <i class="fa fa-instagram" aria-hidden="true">
          <span>Instagram</span>
        </i>
      </a>
    </div>
    <div>
      <a flx="ai-c" target="_blank" href="https://www.facebook.com/coogger" style="padding: 6px 0px;">
        <i class="fa fa-facebook" aria-hidden="true">
          <span>Facebook</span>
        </i>
      </a>
    </div>
  </div>
</footer>
