<header gnrl="bg-private" flx="jc-c">
  <div flx="fw-nw ai-c">
    {% if not request.user.is_authenticated %}
    <div>
      <a flx="" flx hvr="c-primary" href="{% url 'signup' %}" gnrl="wmax">Kayıt olun</a>
    </div>
    <div>
      <a flx="" hvr="c-primary" href="{% url 'login' %}" gnrl="wmax">Giriş yapın</a>
    </div>
    {% else%}
    <div>
      <a flx="" hvr="c-primary" href="/{{ request.user }}" gnrl="wmax">
        <span flx="ai-c">{{ request.user }}</span>
        {% if request.user.otherinformationofusers.pp %}
        <img src="/media/users/pp/pp-{{ request.user }}.jpg" class="headeruserimg" alt="{{ request.user }} | coogger" width="30px" height="30px" gnrl="br-circle b-1 brc-white">
        {% else %}
        <img src="/static/media/profil.png" class="headeruserimg" alt="{{ request.user }} | coogger" width="30px" height="30px" gnrl="br-circle b-1 brc-white">
        {% endif %}
      </a>
    </div>
    <div  >
      <a flx="" hvr="c-primary" href="{% url 'followingcontent' %}" gnrl="wmax">
        <span>Takipler</span><i flx="as-c" class="fa fa-users" aria-hidden="true"></i>
      </a>
    </div>
    {% if request.user.otherinformationofusers.is_author %}
    <div >
      <a flx="" hvr="c-primary" href="{% url 'create' %}" gnrl="wmax">
        <span>İçerik oluştur</span><i flx="as-c" class="fa fa-plus-circle" aria-hidden="true"></i>
      </a>
    </div>
    {% endif %}
    {% if not request.user.otherinformationofusers.author %}
    <div >
      <a flx="" hvr="c-primary" href="{% url 'signup_author' %}" gnrl="wmax">
        <span>Yazarlık başvurusu</span>
      </a>
    </div>
    {% endif %}
    <div >
      <a flx="" hvr="c-primary" href="{% url 'settings' %}" gnrl="wmax">
        <span>Ayarlar</span><i flx="as-c" class="fa fa-cog" aria-hidden="true"></i>
      </a>
    </div>
    <div  >
      <a flx="" hvr="c-primary" href="{% url 'notification' %}" gnrl="wmax">
        <span>{{ hmanynotifications }}</span><i flx="as-c" class="fa fa-bell-o" aria-hidden="true"></i>
      </a>
    </div>
    <div hvr-animation="i tada">
      <a flx="" hvr="c-danger" href="{% url 'logout' %}" gnrl="wmax">
        <span>Çıkış</span><i flx="as-c" class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
    </div>
    {% endif %}
    {% if request.user.is_superuser %}
    <div  >
      <a flx="" hvr="c-primary" href="/web/admin/" gnrl="wmax">
        <span>admin</span>
      </a>
    </div>
    {% endif %}
  </div>
</header>
<form default="form media" flx="jc-c" action="{% url 'search' %}">
  <input type="text" placeholder='Ara ..' name="query" maxlength="250" value="{{ request.GET.query }}" gnrl="br-2"/>
  <input type="submit" value="Ara"/>
</form>
