version: "3.6"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - coogger/.env
    volumes:
      - ./core:/code/core
      - ./coogger:/code/coogger
