Django==2.0
django-js-asset==0.1.1
djangorestframework==3.7.3
beautifulsoup4==4.6.0
steem
python-binance
social-auth-steemconnect
social-auth-app-django
whitenoise
django_jinja
mistune
(sc2py)[https://github.com/hakancelik96/sc2py]
