<div flex style="margin: 12px 0px;display:none" general="br-2 right c-white" class="root_content">
  <div>
    <li flex="ai-c">
      <a id="root_content" general="txt-s c-secondary">
      <span style="margin: 0px 6px" general="c-secondary">This is just comment, view the full context</span>
      </a>
    </li>
  </div>
</div>
<div flex style="margin: 12px 0px;">
  {% if detail.utopic.address %}
    <div mobile-l="w-100" tablet="w-80" general="w-50">
      <a class="content_list" style="height: 15px;margin-bottom: 2px;overflow: hidden;"
      animation-hover="bg-primary" href="{{ detail.utopic.address }}/?ref=www.coogger.com" target="blank"
      general="c-white br-2 txt-s left bg-primary c-white">{{ detail.utopic.address }}</a>
    </div>
  {% endif %}
    <div general="right">
    {% if detail.language %}
      <div flex="ai-c" class="content_list" general="txt-s right b-1 brc-muted" hover="bg-primary">
        <a href="{% url 'filter' %}?username={{ current_user }}&language={{detail.language}}" general="c-dark" hover="c-white">
          <i class="fas fa-flag"></i>
          <span id="language">{{detail.language|title}}</span>
        </a>
      </div>
    {% endif %}
    {% if detail.category %}
      <div flex="ai-c" class="content_list" general="txt-s right b-1 brc-muted" hover="bg-primary">
        <a href="{% url 'filter' %}?username={{ current_user }}&category={{ detail.category }}" general="c-dark" hover="c-white">
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          <span id="category">{{detail.category|title}}</span>
        </a>
      </div>
      {% endif %}
      {% if detail.utopic %}
      <div flex="ai-c" class="content_list" general="txt-s right b-1 brc-muted" hover="bg-primary">
        <a  general="c-dark" hover="c-white" flex="ai-c" href="{% url 'utopic' detail.utopic current_user %}">
          <i class="fa fa-hashtag" aria-hidden="true"></i>
          <span id="topic">{{detail.utopic|title}}</span>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
<div general="c-secondary brc-muted bg-white" style="padding: 2px 0px;position: sticky;top: 0px;z-index: 1;" flex="ai-c">
    <div general="txt-s" flex="ai-c" class="duread-li">
      <div style="margin-left: 12px;">
          <i class="fab fa-readme" style="margin: 0px 6px 0px 0px;"></i>
          <span id="dor">{{ detail.get_dor }}</span>
      </div>
    </div>
    <div general="txt-s" flex="ai-c" class="duread-li">
      <div style="margin-left: 12px;">
        <i class="fas fa-eye"></i>
        views {{ detail.views}}
      </div>
    </div>
    <div general="txt-s" flex="ai-c" class="duread-li">
        <div style="margin-left: 12px;">
          <i class="fas fa-reply"></i>
          reply <span id="reply">{{ detail.reply_count }}</span></div>
    </div>
    <div general="txt-s" flex="ai-c" class="duread-li">
      <div style="margin-left: 12px;">
        {% include 'content-detail/vote.html' %}
      </div>
    </div>
    <div general="txt-s right" flex="ai-c" class="duread-li">
        <div style="margin-left: 12px;">
          <i class="fas fa-clock"></i>
          Last update | <span id="lastmod">{{ detail.last_update|timesince }}</span>
        </div>
    </div>
</div>
