{% include 'home/head.html' %}
<div animation="fadeIn" font="quicksand" style="padding: 12px;">
{% include 'content-detail/status.html' %}
<div class="data-post-id-{{queryset.id}}" flex="jc-c fw-nw">
  <div style="width: 100%;">
    {% include 'content-detail/contentinfo.html' %}
    {% include 'content-detail/userinfo.html' %}
    <div>
      <h1 general="center txt-xl" id="title" style="margin: 12px auto;"></h1>
      <div style="padding: inherit;">
        <div style="width: auto;height:  auto;border: none;" class="editormd" id="id_arg_editormd">
            <textarea style="display:none;" id='editormd_content'></textarea>
        </div>
      </div>
      {% include 'content-detail/edit.html' %}
    </div>
    <div style="margin: 10% 0px;"></div>
    <!-- replies -->
    <script type="text/javascript">
      $(document).ready(function() {
        let load_comments = true;
          if (load_comments && scrolledbottom()){
              load_comments = false;
              load_replies("{{ queryset.id }}", "content")
          }
          else{
            $(window).scroll(function() {
                if (load_comments && scrolledbottom()){
                  load_comments = false;
                  load_replies("{{ queryset.id }}", "content")
                }
              });
          }
    });
  </script>
    {% include 'form/reply.html' %}
    <!--  -->
  </div>
</div>
</div>
</body>
</html>
