{% load django_md_editor %}
<div animation="fadeIn" font="quicksand" style="padding: 12px;">
    <div class="data-post-id-{{detail.id}}" general="center w-100">
      <div mobile-s="w-100" mobile-m="w-99" mobile-l="w-98" tablet="w-98" max="w-50">
        {% include 'content-detail/status.html' %}
        {% include 'content-detail/contentinfo.html' %}
        {% include 'content-detail/userinfo.html' %}
        <h1 general="center txt-xl" id="title" style="margin: 12px auto;"></h1>
        <div style="padding: inherit;">
          {{ detail.body|markdown_to_html:"detail-body"|safe }}
        </div>
        <div class="tags" id="tags" flex="jc-sa" general="right bg-dark-purple txt-s"></div>
        {% include 'content-detail/edit.html' %}
        {% include 'content-detail/share_social_site.html' %}
        <!-- vote button  -->
        <div general="center">
          <div class="vote circle">
            <div class="increment up" general="bg-success"></div>
            <div class="increment down" general="bg-danger"></div>
            <div class="count" id="post_reward_total2" general="txt-l bg-white"></div>
          </div>
        </div>
        <!-- vote button  -->
        <div style="margin: 10% 0px;"></div>
        {% include 'content-detail/comments.html' %}
      </div>
      {% include 'content-detail/other_contents.html' %}
    </div>
  </div>
</body>
</html>
