<div general="width:20" class="just-pc" style="border-right: 1px solid #ececec">
  <div general="position:center flex flex:fd-c" style="padding: 6px;margin-bottom: 24px;position: sticky;top: 70px;">
      <strong>Other contents of the {{ queryset.utopic.name }} topic</strong>
      <ol general="flex flex:fd-c flex:fw-nw bg:white brc:white" class="oc-l">
        {% for list in queryset.other_content_of_this_topic %}
          {% if list.permlink == urloftopic %}
          <li general="color:success text:s">
              <a general="flex text:s color:success" class="p36" href="{{ list.get_absolute_url }}">
              {{ list.title|title }}
              </a>
          </li>
          {% else%}
          <li general="text:xs text:s:hover color:success:hover" >
            <a general="flex text:s color:dark br:1 color:success:hover" class="p36" href="{{list.get_absolute_url}}">
              {{ list.title|title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
    </ol>
  </div>
  
</div>