<!-- other contents of topic  -->
{% if nav_category %}
  <div class="just-pc" flex="fw-nw" laptop="w-50" laptop-l="w-40" max="w-30" style="position:  relative;top: 0px;">
    <div general="center" style="padding: 6px;position: sticky;margin-bottom: 24px;top: 14px;">
      Other contents of the {{queryset.topic}} topic of the @{{current_user}} user.
    </div>
    <ol flex="fd-c" general="bg-white brc-white" style="position: sticky;top: 90px;margin-left: 20px;">
        {% for list in nav_category %}
        {% if list.permlink == urloftopic %}
        <li general="bg-success br-1 txt-s">
            <a flex general="txt-s c-white" href="{{ list.get_absolute_url }}" style="padding: 3px 6px;">
             {{ list.title|title }}</a>
      </li>
        {% else%}
        <li hover="txt-s bg-success" general="br-1 txt-xs" style="border-bottom: 1px solid #efefef;">
            <a flex general="txt-s c-dark br-1" hover="c-white" href="{{list.get_absolute_url}}" style="padding: 3px 6px;">
          {{ list.title|title }}</a>
        </li>
        {% endif %} {% endfor %}
    </ol>
  </div>
{% endif %}
