{% if detail.status != "approved" %}
  {% if detail.status == "not-finised" %}
    <div class="review-mod" general="flex center bg-warning c-white" flex="ai-c">
        status of {{ detail.user }}'s content : {{ detail.status }}
    </div>
  {% elif detail.status == "rejected" %}
      <div class="review-mod" general="flex center bg-red c-white" flex="jc-c ai-c">
          status of {{ detail.user }}'s content : {{ detail.status }} by <a general="c-white" href="/@{{ detail.mod }}">@{{ detail.mod }}</a>
      </div>
    {% endif %}
{% endif %}
