{% load django_follow_system_tags %}
<div general="bg:white" style="border-bottom: 1px solid #eaecee;z-index: 1;position: sticky;top: 26px;padding: 8px 0px;">
  <div general="flex flex:ai-fs bg:white" style="padding: 12px 0px;">
    <img general="br:circle position:left" id="detail_profile_image" src="{{ current_user.githubauthuser.avatar_url }}" class="useruserimg" style="height:  40px;width:  40px;margin:  initial;"></a>
    <div general="flex text:s flex:fd-c"  class="duread-li">
        <a general="flex" title="{{ current_user  }}" href="/@{{ current_user }}"
          style="padding: 0px 6px;word-wrap: break-word;word-break: break-all;">
      @<span id="username">{{ current_user  }}</span>
    </a>
        <div general="color:secondary">
          <i class="fas fa-clock"></i>
          <span id="time">{{ queryset.created|timesince }}</span>
        </div>
    </div>
    {% with queryset.user as user %}
        {% include 'github-redirect.html' %}
      {% endwith %}
      {% include 'content-detail/edit.html' %}
  </div>
  <div general="fd-s">
      {% if request.user != current_user and request.user.is_authenticated %}
      {% if request.user|is_follow:current_user %}
          <div class="follow-op" id="follow-op" general="flex flex:jc-c flex:as-c br:2 border:1 brc:muted bg:secondary bg:red:hover width:2"   
            style="cursor:pointer;padding: 2px 30px;">
              <div general="text:s color:white" id="follow">Unfollow</div>
          </div>
      {% else %}
          <div class="follow-op" id="follow-op" general="flex flex:jc-c flex:as-c br:2 border:1 brc:muted bg:secondary bg:primary:hover"   
            style="cursor:pointer;padding: 3px 30px;">
              <div general="text:s color:white" id="follow">Follow</div>
          </div>
      {% endif %}
  {% endif %}
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
        $(".follow-op").click(function(event){
          $("#follow-op").attr({'animation':"blink i"});
          $.get("{% url 'follow' current_user %}", function(data, status){
            if (data.status == "follow"){
              $("#follow-op #follow").html("Unfollow");
              $("#follow-op").attr({"hover":"bg:red"});
            }
            else if (data.status == "unfollow"){
              $("#follow-op #follow").html("Follow");
              $("#follow-op").attr({"hover":"bg:primary"});
            }
          });
          $("#follow-op").attr({'animation':""});
        });
      });
  </script>
  
</div>
