{% load vote %}
<div general="center b-1 br-2 brc-secondary" id="vote-section" data-vote-status="{% is_vote request.user detail queryset.id %}">
    <i id="upvote" onclick="vote(this, '{{ queryset.id }}')" general="c-secondary" hover="c-success" class="fas fa-heart">
        {{ queryset.upvote_count|default:"0" }}
    </i>
    <i id="downvote" onclick="vote(this, '{{ queryset.id }}')" general="c-secondary" hover="c-danger" class="fas fa-thumbs-down">
        {{ queryset.downvote_count|default:"0" }}
    </i>
</div>
<script>
    let status = $("#vote-section").data("vote-status");
    if (status == "False"){
        $("#vote-section").find("#downvote").attr("general", "c-danger");
    }
    else if (status == "True"){
        $("#vote-section").find("#upvote").attr("general", "c-success");
    }
    function vote(this_, id){
        let status;
        if (this_.id == "upvote"){
            status = true;
        }
        else if (this_.id == "downvote"){
            status = false;
        }
        $.ajax({
            type: "POST",
            url: `/vote/cooggerapp/content/${id}/`,
            data: {
                "status": status,
                "csrfmiddlewaretoken": "{{ csrf_token }}",
            },
        }).done(function(r) {
            r = JSON.parse(r);
            if (r.error){
                alert(r.error);
            }
            else{
                if (r.status == true){
                    $(`#vote-section #upvote`).attr("general", "c-success");
                    $(`#vote-section #downvote`).attr("general", "c-secondary");
                }
                else if (r.status == false){
                    $(`#vote-section #upvote`).attr("general", "c-secondary");
                    $(`#vote-section #downvote`).attr("general", "c-danger");
                }
                $(`#vote-section #upvote`).text(r.upvote_count);
                $(`#vote-section #downvote`).text(r.downvote_count);
            } 
        });
    } 
</script>