{% if topic.name %}
  <div general="center w-50" tablet="w-80" mobile-l="w-98" flex="fd-c" style="margin-top:12px;">
    <div flex="ai-c" style="margin:12px;">
      <div general="txt-m c-dark" flex="ai-c">
        {% if topic.image_address %}
          <img general="br-circle w-10 b-1 brc-muted" style="margin:0px" src="{{ topic.image_address }}">
        {% endif %}
        <strong general="txt-l" class="capitalize" style="margin-left:6px">{{ topic.name }}</strong>
      </div>
      {% if topic.definition %}
        <span general="txt-s" style="margin-left: 12px;margin-top: 12px;">{{ topic.definition }}</span>
      {% endif %}
      {% if topic.address %}
        <a href="{{ topic.address }}/?ref=www.coogger.com"
        general="c-primary right txt-s bg-muted br-2" style="padding:4px;">{{ topic.address }}</a>
      {% endif %}
    </div>
  </div>
{% endif %}
