{% extends "home/html.html" %}
{% block body %}
<div style="padding: 12px; margin-top: 24px;" general="flex border:1 br:2 brc:muted font:quicksand position:center width:50" mobile-s="width:100" mobile-m="width:99" mobile-l="width:98" tablet="width:98">
    <div style="padding: inherit;" id="content" general="width:100"></div>
    <textarea id="justToGetContent" style="display: none;">{{ queryset.body }}</textarea>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function() {
    markdownToHtml('justToGetContent', 'content');
  });
</script>
{% endblock script %}
