{% include 'apps/cooggerapp/settings/home.html' %}
<div flx="jc-c" default="media" gnrl="bg-white br-2">
  {% include 'apps/cooggerapp/settings/set-choices.html' %}
  <form flx="fd-c" default="form media" method="post"
   action="{% url 'cooggerapp-saddaddress' %}" style="padding: 3px 6px;">
    {% csrf_token %}
    {{ UserForm.as_p }}
    <input flx="as-c" type="submit" value="Kaydet">
  </form>
  {% if instance_ %}
  <div default="media pm" flx="jc-c as-c" gnrl="bg-dark c-white b-1 br-2">write web address</div>
  <div flx="fd-c" default="media pm">
    {% for i in instance_ %}
    <div flx="ai-c jc-fe" gnrl="b-1 br-2 brc-muted txt-l" style="padding: 6px 6px;">
      {{ i.choices }}
      {% if i.choices == "web-site" %}
      <a gnrl="bg-2 c-secondary txt-l" hvr="c-primary" target="_blank" href="{{ i.adress }}" style="padding: 6px 16px;">
        {{ i.adress}}
      </a>
        {% else %}
        <a  gnrl="bg-2 c-secondary txt-l" hvr="c-primary"
         target="_blank" href="https://www.{{i.choices}}.com/{{i.adress}}" style="padding: 6px 16px;">
          {{ i.adress}}
        </a>
        {% endif %}
      <div flx="ai-c jc-fs" class="deladdress" data-deladdress="{{ i.id }}"
      flx="ai-c as-c" hvr-a="bg-danger" hvr="c-white" gnrl="b-1 br-2 brc-muted txt-l"
      style="cursor:pointer;padding: 6px;">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </div>
    </div>
      {% endfor %}
  </div>
<script>
$(document).ready(function() {
  // comments
  $(".deladdress").click(function(event){
    var address_id = this.getAttribute("data-deladdress");
    $.ajax({
      url: "{% url 'cooggerapp-address_del' %}",
      method: 'POST',
      dataType: 'json',
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        address_id:address_id,
      }
    }).done(function (response) {
      if (response.status == "ok"){
        alert(response.ms);
      }
      else {
        alert("Beklenmedik hata");
      }

    });
  });
});
</script>
{% endif %}
</div>
