{% include 'home/head.html' %}
{% include 'controls/header.html' %}
{% include 'controls/nav.html' %}
<div class="c-create" data-gnl="23 24p ortada-ol ortada oluk-çevre uzat" data-ort="1 1p" data-byk="6 8p">
    <form method="post" class="c-create-form" action="/change/{{ content_id }}" enctype="multipart/form-data">
        <input class="c-create-input" type="submit" value="Düzenlemeyi kaydet">{% csrf_token %} {{ change_form.as_p }} {{ change_form.media }}
    </form>
    {% include 'controls/preview.html' %}
</div>
{% include 'home/footer.html' %}
</body>

</html>
