{% include 'home/head.html' %} {% include 'controls/header.html' %} {% include 'controls/nav.html' %}
<div class="c-main">
    <div class="c-contents">
        {% for content in contents %}
        <ul class="c-contents-ul id-{{ content.id }}">
            <li class="c-contents-li c-contents-div">
                <a class="c-contents-li-a c-contents-div-a" href="/change/{{ content.id }}">{{ content.title }}</a>
            </li>
            {% if requsts.user.is_superuser == 1%}
            <li class="c-contents-li c-contents-div">
                <a class="c-contents-li-a c-contents-div-a" href="/@{{ content.username }}">@{{ content.username }}</a>
            </li>
            {% endif %}
            <li class="c-contents-li">
                <a class="c-contents-li-a" href="/change/{{ content.id }}">{{ content.time }}</a>
            </li>
            <li class="c-contents-li">
                <a class="c-contents-li-a " href="/change/{{ content.id }}">| {{ content.category }}</a>
            </li>
            <li class="c-contents-li">
                <a class="c-contents-li-a" href="/change/{{ content.id }}">| {{ content.subcategory }}</a>
            </li>
            <li class="c-contents-li">
                <a class="c-contents-li-a " href="/change/{{ content.id }}">| {{ content.category2 }}</a>
            </li>
            <li class="c-contents-li">
                <a class="c-contents-li-a " href="/change/{{ content.id }}">| {{ content.content_list }}</a>
            </li>
            <li class="c-contents-li">
                <a class="c-contents-li-a delete" data-delete-id="{{ content.id }}">Sil</a>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% include "home/paginator.html" %}
</body>

</html>