<header>
    <ul class="c-header">
        <li class="c-header-li">
            <!-- <a href="/">
                <div class="logo-img"></div>
            </a>
        -->
        </li>
        <li class="c-header-li">
            <div class="logo ft-cl">
                <a href="/" class="logo-a" data-background="#DCE1E3">
                    <span style="color:#8B1BE6">c</span>
                    <span class="animated infinite flash" style="color:#1BA5E6">o</span>
                    <span class="animated infinite flash" style="color:#D3C71D">o</span>
                    <span class="animated infinite flash" style="color:#1BA5E6">g</span>
                    <span class="animated infinite flash" style="color:#D3C71D">g</span>
                    <span style="color:#8B1BE6">e</span>
                    <span style="color:#8B1BE6">r</span>
                </a>
            </div>
        </li>
    </ul>
</header>