{% include 'home/logo.html' %}
<div class="open-header">
    <div class="open-header-border"></div>
    <div class="open-header-border"> </div>
    <div class="open-header-border"></div>
</div>

<header>
    <ul class="header-ul ft-it">
        <li class="header-ul-li">
            <div class="solol">
                <a href="/@{{ request.user.username }}">@{{ request.user.username }}</a>
            </div>
        </li>
        <li class="header-ul-li">
            <div class="solol">
                <a href="/create">İçerik oluştur</a>
            </div>
        </li>
        <li class="header-ul-li">
            <div class="solol">
                <a href="/control">Kontrol paneli</a>
            </div>
        </li>
    </ul>
</header>