<nav>
    <ul class="c-nav-ul">
        <li class="c-nav-li">
            <a class="c-nav-li-a" href="/@{{ username }}">@{{ username }}</a>
        </li>
        <li class="c-nav-li">
            <a class="c-nav-li-a create" href="/create">İçerik oluştur</a>
        </li>
        <li class="c-nav-li">
            <a class="c-nav-li-a" href="/control">Kontrol panel</a>
        </li>
        <li class="c-nav-li">
            <a class="c-nav-li-a author" href="/signup-author">Yazarlık başvurusu</a>
        </li>
    </ul>
</nav>