{% extends "home/body.html" %}
{% block body %}
  {% include 'users/pp.html' %}
  {% include 'users/user-info.html' %}
  {% include 'users/footer.html' %}
  {% include 'users/tabs.html' %}
  {% include 'users/nav.html' %}
  {% include 'users/script.html'%}
  <script>
      function vote(json, type){
        return (`
        <div class='history-op' flx='fd-c' gnrl='b-1 br-2' color='brc-muted'>
          <div class='his-json'>
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>${type}<i class='fas fa-chevron-circle-up'></i></div>
            <div class='his-user' flx='ai-c'>
              <a gnrl='c-primary' href='/@${json.voter}'>
                <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/${json.voter}/avatar)';></div>
                <div class='permlink'>@${json.voter}</div>
              </a>
              <a gnrl='c-primary' style='margin-left: auto;' href='/@${json.author}'>
                <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/${json.author}/avatar)';></div>
                <div>@${json.author}</div>
              </a>
            </div>
            <div class='his-data' gnrl='center' flx='ai-c'>
              <a default='media' gnrl='center' color='c-success' href='/@${json.author}/${json.permlink}'>${json.permlink}</a>
              <div class='history-vote-weight'>${json.weight/100} %</div>
            </div>
          </div>
        </div>`);
      }
      function account_update(json, type){
        return (`
        <div class='history-op' flx='fd-c' gnrl='b-1 br-2' color='brc-muted'>
          <div class='his-json' flx='fd-c'>
            <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>${type}<i class='fas fa-user-edit'></i></div>
            <div flx='fd-c'>
              <div class='account'> account : <a color='c-primary' href='/@${json.account}'>@${json.account}</a></div>
              <div class='json_metadata'> json_metadata : ${json.json_metadata}</div>
            </div>
          </div>
        </div>`);
      }
      function account_witness_vote(json, type){
        return (`
        <div class='history-op' flx='fd-c' gnrl='b-1 br-2' color='brc-muted'>
          <div class='his-json' flx='fd-c'>
            <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>${type}<i class='fas fa-chevron-circle-up'></i></div>
            <div class='his-user' flx='ai-c'>
              <a color='c-primary' href='/@${json.account}'>
                <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/${json.account}/avatar)';></div>
                <div>@${json.account}</div>
              </a>
              <a color='c-primary' style='margin-left: auto;' href='/@${json.witness}'>
                <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/${json.witness}/avatar)';></div>
                <div>@${json.witness}</div>
              </a>
            </div>
            <div class='his-data' gnrl='center' flx='fd-c'>
              <div class='witness_vote'> approve : ${json.approve}</div>
            </div>
          </div>
        </div>`);
      }
      function custom_json(json, type){
        return (`
        <div class='history-op' flx='fd-c' gnrl='b-1 br-2' color='brc-muted'
          <div class='his-json' flx='fd-c'>
            <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>${type}<i class='fas fa-certificate'></i></div>
            <div flx='fd-c'>
              <div class='custom_json_id'> id : ${json.id}</div>
              <div class='json'> json : ${json.json}</div>
            </div>
          </div>
        </div>`);
      }
      function account_witness_proxy(json, type){
        console.log(type, json);
        return json
      }
      function delete_comment(json, type){
        console.log(type, json);
        return json
      }
      function feed_publish(json, type){
        console.log(type, json);
        return json
      }
      function comment_options(json, type){
        console.log(type, json);
        return json
      }

      steem.api.getAccountHistory("{{content_user}}", -1, 200, (err, result) => {
        let template = "";
        let history = result.filter(
          tx => (
            tx[1].op[0] == "vote" ||
            tx[1].op[0] == "account_update" ||
            tx[1].op[0] == "custom_json" ||
            tx[1].op[0] == "account_witness_proxy" ||
            tx[1].op[0] == "delete_comment" ||
            tx[1].op[0] == "feed_publish" ||
            tx[1].op[0] == "comment_options" ||
            tx[1].op[0] == "account_witness_vote")
        )
        for (i in history){
          const data = history[i][1].op;
          const type = history[i][1].op[0];
          const json = history[i][1].op[1];
          try {
            template += eval(type+"(json, type)");
          }
          catch(error) {
            console.error(json,error);
          }
        }
      $("#activity-history").html(template);
      });
  </script>
  <div gnrl="center" color="bg-white">
      <div id="activity-history" class="activity-history" flx="fd-cr" default="media"></div>
  </div>
{% endblock %}
