{% extends "home/html.html" %}
{% block body %}
  {% include 'users/general.html' %}
  <script>
      $(document).ready(function() {
        steem.api.getAccounts(["{{ content_user }}"], function(err, result) {  // account
          let user = result[0];
          if ("{{ request.user }}" == "{{ content_user }}"){
            let reward_vesting_steem = user.reward_vesting_steem.replace(" STEEM","");
            let reward_steem_balance = user.reward_steem_balance.replace(" STEEM","");
            let reward_sbd_balance = user.reward_sbd_balance.replace(" SBD","");
            if (reward_vesting_steem != 0 || reward_steem_balance != 0 || reward_sbd_balance != 0){
              $(".redeem-rewards").css("display", "flex");
              $("#reward_sp").html(`${reward_vesting_steem}  SP`);
              $("#reward_steem").html(`${reward_steem_balance}  STEEM`);
              $("#reward_sbd").html(`${reward_sbd_balance}  SBD`);
            }
            $(".redeem-rewards").click(function(){
              api.claimRewardBalance(
                account="{{ request.user }}",
                rewardSteem=user.reward_steem_balance,
                rewardSbd=user.reward_sbd_balance,
                rewardVests=user.reward_vesting_balance, function (err, res) {
                  if (err == null){
                    console.log(res)
                    location.reload();
                  }
                  else{
                    alert(err);
                  }
              });
            });
          }
          let profile = JSON.parse(user.json_metadata).profile;
          document.getElementById("sbd_balance").innerHTML = user.sbd_balance.replace(" SBD","");
          document.getElementById("steem_balance").innerHTML = user.balance.replace(" STEEM","");
          steem.api.getDynamicGlobalProperties(function(err, result) {
            let effective_vesting_shares = parseFloat(user.vesting_shares.replace(" VESTS", ""))
            + parseFloat(user.received_vesting_shares.replace(" VESTS", ""))
            - parseFloat(user.delegated_vesting_shares.replace(" VESTS", ""));
            let total_vesting_shares = parseFloat(result.total_vesting_shares.replace(" VESTS", ""));
            let total_vesting_fund_steem = parseFloat(result.total_vesting_fund_steem.replace(" VESTS", ""));
            let sp = steem.formatter.vestToSteem(effective_vesting_shares, total_vesting_shares, total_vesting_fund_steem);
            document.getElementById("sp_balance").innerHTML = Math.round(sp);
          });
      });
    });
  </script>
  <div class="redeem-rewards" title="Redeem Rewards (Transfer To Balance)" flex="jc-c fd-c" general="center b-1 br-2 brc-muted bg-red c-white" hover="bg-primary" style="display:none;padding: 26px 0px;margin: 13px auto;cursor: pointer;" device-mobiles="w-100" device-mobilel="w-98" device-tablet="w-60" device-laptop="w-40" device-laptopl="w-70" device-4k="w-50">
    <div class="reward" flex="ai-c" general="brc-muted" style="padding: 4px 12px;margin: 4px 24px;">
        <div general="txt-m brc-muted" flex="jc-c" style="padding: 3px 6px;">Your current rewards: </div>
        <div flex="as-c" id="reward_sp" general="right" style="padding: 0px 8px;"></div>
        <div flex="as-c" id="reward_steem" general="right" style="padding: 0px 8px;"></div>
        <div flex="as-c" id="reward_sbd" general="right" style="padding: 0px 8px;"></div>
    </div>
  </div>
  <div flex="jc-c fd-c" general="center b-1 br-2 brc-muted" style="padding: 26px 0px;margin: 13px auto;" device-mobiles="w-100" device-mobilel="w-98" device-tablet="w-60" device-laptop="w-40" device-laptopl="w-70" device-4k="w-50">
      <div flex="ai-c" general="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:1px solid #eaecee">
          <div general="b-1 br-2 txt-m brc-muted" flex="jc-c" style="padding: 3px 6px;">STEEM</div>
          <div flex="as-c" id="steem_balance" general="right" style="padding: 0px 8px;"></div>STEEM
      </div>
      <div flex="ai-c" general="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:  1px solid #eaecee">
          <div general="b-1 br-2 txt-m brc-muted" flex="jc-c" style="padding: 3px 6px;">SBD</div>
          <div class="follownum" flex="as-c" id="sbd_balance" general="right" style="padding: 0px 8px;"></div>SBD
      </div>
      <div flex="ai-c" general="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:  1px solid #eaecee">
          <div general="b-1 br-2 txt-m brc-muted" flex="jc-c" style="padding: 3px 6px;">SP</div>
          <div flex="as-c" id="sp_balance" general="right" style="padding: 0px 8px;"></div>SP
      </div>
  </div>

  <div general="center b-1 br-2 brc-muted" style="margin: 13px auto;" device-mobiles="w-100" device-mobilel="w-98" device-tablet="w-60" device-laptop="w-40" device-laptopl="w-70" device-4k="w-50">
  </div>

  <!--  -->
  <script>
      function veststosp(vesting_shares, id){
        steem.api.getDynamicGlobalProperties(function(err, result) {
          var effective_vesting_shares = parseFloat(vesting_shares.replace(" VESTS", ""));
          var total_vesting_shares = parseFloat(result.total_vesting_shares.replace(" VESTS", ""));
          var total_vesting_fund_steem = parseFloat(result.total_vesting_fund_steem.replace(" VESTS", ""));
          var sp = steem.formatter.vestToSteem(effective_vesting_shares, total_vesting_shares, total_vesting_fund_steem);
          document.getElementById(id).innerHTML = `${sp.toFixed(4)} SP`;
        });
      }
      function curation_reward(json, type){
        var id = Math.random();

        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-award'></i></div>
            <div class='his-data' flex='ai-c'>
              <a general='c-primary' href='/@${json.comment_author}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${json.comment_author}/avatar)';></div>
                <div>@${json.comment_author}</div>
              </a>
              <div general='center' flex='fd-c'>
                <div class='reward'> reward : <span id="${id}">${veststosp(json.reward, id)}</span></div>
                <div class='permlink'> permlink : <a general='c-primary' href='/@${json.comment_author}/${json.comment_permlink}'>${json.comment_permlink}</a></div>
              </div>
            </div>
          </div>
        </div>`);
      }
      function claim_reward_balance(json, type){
        var id = Math.random();
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-award'></i></div>
            <div class='his-data' flex='ai-c'>
              <a general='c-primary' href='/@${json.account}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${json.account}/avatar)';></div>
                <div>@${json.account}</div>
              </a>
              <div general='center' flex='fd-c'>
                <div class='reward_sbd'> sbd : ${json.reward_sbd}</div>
                <div class='reward_steem'> steem : ${json.reward_steem}</div>
                <div class='reward_vests'> sp : <span id="${id}">${veststosp(json.reward_vests, id)}</span></div>
              </div>
            </div>
          </div>
        </div>`);
      }
      function comment_benefactor_reward(json, type){
        var author = json.author;
        var benefactor = json.benefactor;
        var permlink = json.permlink;
        var reward = json.reward;
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
          <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-trophy'></i></div>
            <div class='his-user' flex='fd-c'>
              <div class='author'> author : <a general='c-primary' href='/@${author}'>@${author}</a></div>
            </div>
            <div class='his-data'>
              <div class='benefactor'> benefactor : ${benefactor}</div>
              <div class='reward'> reward : ${reward}</div>
              <div class='permlink'> permlink : <a general='c-primary' href='/@${author}/${permlink}'>${permlink}</a></div>
            </div>
          </div>
        </div>`);
      }
      function transfer(json, type){
        var amount = json.amount;
        var from = json.from;
        var memo = json.memo;
        var to = json.to;
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-award'></i></div>
            <div class='his-user' flex='ai-c'>
              <a general='c-primary' href='/@${from}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${from}/avatar)';></div>
                <div>@${from}</div>
              </a>
              <a general='c-primary' style='margin-left: auto;' href='/@${to}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${to}/avatar)';></div>
                <div>@${to}</div>
              </a>
            </div>
            <div class='his-data' general='center' flex='fd-c'>
              <div class='trans-amount'> amount : ${amount}</div>
              <div class='trans-memo' general='b-1 br-2 bg-warning c-white brc-muted' color=''>${memo}</div>
            </div>
          </div>
        </div>`);
      }
      function author_reward(json, type){
        var author = json.author;
        var permlink = json.permlink;
        var sbd_payout = json.sbd_payout;
        var steem_payout = json.steem_payout;
        var id = Math.random();
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-user-plus'></i></div>
            <div class='his-data' flex='ai-c'>
              <a general='c-primary' href='/@${author}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${author}/avatar)';></div>
                <div>@${author}</div>
              </a>
              <div general='center' flex='fd-c'>
                <div class='sbd_payout'> sbd_payout : ${sbd_payout}</div>
                <div class='steem_payout'> steem_payout : ${steem_payout}</div>
                <div class='vesting_payout'> sp_payout : <span id="${id}">${veststosp(json.vesting_payout, id)}</span></div>
                <div class='permlink'> permlink : <a general='c-primary' href='/@${author}/${permlink}'>${permlink}</a></div>
              </div>
            </div>
          </div>
        </div>`);
      }
      function delegate_vesting_shares(json, type){
        var delegatee = json.delegatee;
        var delegator = json.delegator;
        var id = Math.random();
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-share'></i></div>
            <div class='his-data' flex='ai-c'>
              <a general='c-primary' href='/@${delegatee}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${delegatee}/avatar)';></div>
                <div>@${delegatee}</div>
              </a>
              <div general='center' flex='fd-c'>
                <div class='delegator'> delegator : ${delegator}</div>
                <div class='vesting_shares'> vesting_shares : <span id="${id}">${veststosp(json.vesting_shares, id)}</span></div>
              </div>
            </div>
          </div>
        </div>`);
      }
      function transfer_to_vesting(json, type){
        var amount = json.amount;
        var from = json.from;
        var to = json.to;
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-share'></i></div>
            <div class='his-data' flex='ai-c'>
              <a general='c-primary' href='/@${from}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${from}/avatar)';></div>
                <div>@${from}</div>
              </a>
              <div general='center' flex='fd-c'>
                <div class='amount'> amount : ${amount}</div>
              </div>
              <a general='c-primary' href='/@${to}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${to}/avatar)';></div>
                <div>@${to}</div>
              </a>
            </div>
          </div>
        </div>`);
      }
      function producer_reward(json, type){
        var id = Math.random();
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json'>
          <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-award'></i></div>
            <div class='his-user' flex='ai-c'>
              <a general='c-primary' href='/@${json.producer}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${json.producer}/avatar)';></div>
                <div class='permlink'>@${json.producer}</div>
              </a>
            </div>
            <div class='his-data' general='center' flex='ai-c'>
              <div class='history-producer'><span id="${id}">${veststosp(json.vesting_shares, id)}</span></div>
            </div>
          </div>
        </div>`);
      }
      function account_create_with_delegation(json, type){
        return json
      }
      function transfer_to_savings(json, type){
        return json
      }
      function transfer_from_savings(json, type){
        return json
      }
      function fill_transfer_from_savings(json, type){
        return json
      }
      function fill_vesting_withdraw(json, type){ // not necessary
        return json
      }
      function limit_order_create(json, type){ // not necessary
        return json
      }
      function fill_order(json, type){ // not necessary
        return json
      }

      steem.api.getAccountHistory("{{content_user}}", -1, 200, (err, result) => {
        let template = "";
        let history = result.filter(
          tx => (tx[1].op[0] == "curation_reward" ||
            tx[1].op[0] == "author_reward" ||
            tx[1].op[0] == "claim_reward_balance" ||
            tx[1].op[0] == "transfer" ||
            tx[1].op[0] == "comment_benefactor_reward" ||
            tx[1].op[0] == "fill_vesting_withdraw" ||
            tx[1].op[0] == "limit_order_create" ||
            tx[1].op[0] == "fill_order" ||
            tx[1].op[0] == "delegate_vesting_shares" ||
            tx[1].op[0] == "transfer_to_vesting" ||
            tx[1].op[0] == "account_create_with_delegation" ||
            tx[1].op[0] == "transfer_to_savings" ||
            tx[1].op[0] == "transfer_from_savings" ||
            tx[1].op[0] == "producer_reward" ||
            tx[1].op[0] == "fill_transfer_from_savings")
        )
        for (i in history){
          const data = history[i][1].op;
          const type = history[i][1].op[0];
          const json = history[i][1].op[1];
          try {
            template += eval(type+"(json, type)");
          }
          catch(error) {
            console.error(json,error);
          }
        }
      $("#wallet-history").html(template);
      });
  </script>

  <div general="center bg-white">
      <div id="wallet-history" class="wallet-history" flex="fd-cr" device-mobiles="w-100" device-mobilel="w-98" device-tablet="w-60" device-laptop="w-40" device-laptopl="w-70" device-4k="w-50"></div>
  </div>
{% endblock %}
