<cards default="media2" flx="jc-c fd-c">
  {% for ct in content %}
  <card class="data-post-id-{{ct.id}}" gnrl="bg-white br-2">
    {% include "apps/cooggerapp/card/edit.html" %}
    {% include "apps/cooggerapp/card/userinfo.html" %}
    {% include "apps/cooggerapp/card/contentinfo.html" %}
    <a href="/{{ ct.get_absolute_url }}" gnrl="c-dark">
      <div gnrl="unselectable txt-m" flx="jc-fs ai-c" class="upshow">
        <div flx="ai-c" style="margin: 12px 12px;">
          {{ ct.misdef|safe }}
        </div>
      </div>
    </a>
    {% include 'apps/cooggerapp/card/vote.html' %}
  </card>
  {% endfor %}
</cards>
{% include "apps/cooggerapp/card/paginator.html" %}
{% include "apps/cooggerapp/card/script.html" %}
