{% if request.user.is_authenticated %}
<div gnrl="bg-dark br-1" class="b-edit-point" data-edit-id="{{ ct.id }}">
  <div class="bebordert"></div>
  <div class="beborder"></div>
  <div class="beborderb"></div>
</div>
<div flx="jc-c ai-c" gnrl="bg-success br-2" class="b-edit-panel data-edit-id-{{ ct.id }}" style="display: none;">
  {% if ct.user == request.user or request.user.is_superuser %}
  <a flx="jc-c ai-c" gnrl="br-2" hvr-a="bg-primary" href="{% url 'cooggerapp-change' ct.id  %}"
  flx="ai-c" style="height: 50%;">
    <i gnrl="c-white" class="fa fa-edit fa-2x" aria-hidden="true"></i>
    <div gnrl="txt-m" style="margin-left:6px;">Düzenle</div>
  </a>
  <div flx="jc-c ai-c" gnrl="br-2" hvr-a="bg-danger"
  class="delete" data-post-id="{{ct.id}}" flx="ai-c" style="height: 50%;cursor:pointer;">
    <i gnrl="c-white" class="fa fa-trash fa-2x" aria-hidden="true"></i>
    <div gnrl="txt-m c-white" style="margin-left:6px;">Sil</div>
  </div>
  {% endif %}
  {% if ct.user != request.user and not request.user.is_superuser %}
  <div flx="jc-c ai-c" gnrl="br-2" class="report" data-content-id="{{ ct.id }}"
   hvr-a="bg-private" flx="ai-c" style="height: 100%;cursor:pointer;">
    <i gnrl="c-white" class="fa fa-flag fa-2x" aria-hidden="true"></i>
    <div gnrl="txt-m c-white" style="margin-left:6px;">Bildir</div>
  </div>
  {% endif %}
</div>
{% endif %}
