{% extends "home/html.html" %}
{% block body %}
{% load django_md_editor %}
<div general="position:center" class="commits">
  <div class="commit" general="flex flex:fd-c width:60 border:1 br:2 brc:muted" mobile-l="width:100" tablet="width:80" mobile-m="width:100" mobile-s="width:100">  
      <div general="text:s bg:white brc:muted border:1 br:2 width:100 flex flex:jc-sa" style="padding: 12px 0px;">
          {% include "common/interaction_and_counter.html" %}
          {% if request.user == commit.user %}
            <a general="color:secondary color:dark-purple:hover" 
            href="{% url 'commit-update' commit.hash %}">
              <i class="fa fa-edit fa" aria-hidden="true"></i>Edit
            </a>
          {% endif %}
      </div>
      {% if commit.status == "waiting" and commit.utopic.user == request.user %}
        <div general="position:center bg:warning border:2 br:2" style="padding:6px;margin-top: 12px;">
          <a href="{% url 'approved-contribute' commit.user commit.utopic.permlink commit.hash %}" general="color:success" style="margin-right: 12px;">
            <strong>Approved</strong>
          </a>
          <a href="{% url 'rejected-contribute' commit.user commit.utopic.permlink commit.hash %}" general="color:danger">
            <strong>Rejected</strong>
          </a>
        </div>
      {% endif %}
      <h1 general="width:100 flex flex:ai-c">
          {{ commit.msg|title }}<span general="position:right text:m color:warning">Status; {{ commit.status|title }}</span>
      </h1>
      <div general="flex flex:ai-c width:100" >
        <img class="commit-user" general="br:4 color:muted" src="{{ commit.user.githubauthuser.avatar_url }}">
        <span general="text:s" style="margin-left: 6px;"><strong>@{{ commit.user }}</strong> committed {{ commit.created|timesince }}</span>
        <a general="flex flex:ai-c position:right" href="{% url 'tree-detail' commit.user commit.utopic.permlink commit.hash %}">
          <i general="flex flex:ai-c text:s" class="fas fa-history"></i>
      </a>
      </div>
      <div general="flex width:100" style="margin-top: 12px">
        <a general="color:primary" href="{{ commit.content.get_absolute_url }}">
            {% if commit.content.status != "ready" %}
              <span class="fa fa-file-alt" general="color:muted" title="{{commit.content.status}}"></span>
            {% else %}
              <span class="fa fa-file-alt" general="color:success" title="{{commit.content.status}}"></span>
            {% endif %}
          {{ commit.content|truncatechars:50 }}
        </a>
      </div>
      <div class="commit-detail" general="br:2 width:100">{{ commit.body_change|safe }}</div>
    <!-- sadece js leri yüklemek için -->
      {{ ""|markdown_to_html:"load"|safe }} 
    <!-- replies -->
    {% with object_id=queryset.id content_type=queryset.content_type_obj.id %}
      {% include 'load_replies.html' %}
    {% endwith %}
  </div>
</div>
{% endblock %}
