{% extends "users/detail-topic/home.html" %}
{% block alt_topic %}
  <div general="center w-100" class="commits">
    {% for commit in queryset %}
      <div general="w-100 b-1 br-2 brc-muted" style="margin: 2px 0px;">
        <div class="commit">
          <div flex="fd-c" general="w-100">
            <a class="text3" general="w-100" href="{% url 'commit' commit.content.user commit.utopic.permlink commit.hash %}">
              <title general="txt-l c-primary">
                  {{ commit.msg|title }}
              </title>
            </a>
            <div flex="fd-c" general="w-100">
              <div flex>
                  <div flex="fd-c">
                    <div flex="ai-c">
                        <img class="commit-user" general="br-4 c-muted" src="{{ commit.user.githubauthuser.avatar_url }}">
                        <div flex="fd-c">
                            <span general="txt-s" style="margin-left: 6px;">
                                @{{ commit.content.user }}
                            </span>
                            <span general="txt-s" class="fas fa-clock">{{ commit.created|timesince }}</span>
                        </div>
                    </div>
                  </div>
                  <div general="right">
                      <a flex="ai-c" href="{% url 'tree-detail' commit.hash %}">
                          <i flex="ai-c" general="txt-s" class="fas fa-history">
                            <span class="just-pc">Browse the content at this point in the history</span>
                          </i>
                      </a>
                  </div>
              </div>
            </div>
            <div flex style="margin-top: 6px;" general="w-100">
              <a class="text3" general="w-70 txt-s" href="{{ commit.content.get_absolute_url }}">{{ commit.content }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
