{% extends "users/detail-topic/home.html" %}
{% block alt_topic %}
  <div general="position:center width:100 flex flex:fd-c" class="commits">
    {% for commit in queryset %}
      <div general="width:100 border:1 br:2 brc:muted" style="margin: 2px 0px;">
        <div class="commit">
          <div general="flex flex:fd-c width:100">
            <a class="text3" general="width:100 text:l"
            mobile-l="text:m"
            mobile-m="text:m"
            mobile-s="text:m"
            href="{% url 'commit' commit.content.user commit.utopic.permlink commit.hash %}" style="margin-bottom: 6px;">
              {% if commit.content.status != "ready" %}
                <span general="bg:danger color:white br:2" class="cards" style="padding-bottom: 6px;">{{ commit.msg|title }}</span>
              {% else %}
                {{ commit.msg|title }}
              {% endif %}
            </a>
            <div general="flex flex:fd-c width:100" >
              <div flex>
                  <div general="flex flex:fd-c">
                    <div general="flex flex:ai-c">
                        <img class="commit-user" general="br:4 color:muted" src="{{ commit.user.githubauthuser.avatar_url }}">
                        <div general="flex flex:fd-c">
                            <span general="text:s" style="margin-left: 6px;">
                                @{{ commit.content.user }}
                            </span>
                            <span general="text:s" class="fas fa-clock">{{ commit.created|timesince }}</span>
                        </div>
                    </div>
                  </div>
                  <div general="position:right">
                      <a general="flex flex:ai-c" href="{% url 'tree-detail' commit.user commit.utopic.permlink commit.hash %}">
                          <i general="flex flex:ai-c text:s"  class="fas fa-history">
                            <span class="just-pc">Browse the content at this point in the history</span>
                          </i>
                      </a>
                  </div>
              </div>
            </div>
            <div general="flex width:100" style="margin-top: 6px;" >
              <a class="text3" general="width:90 text:s" href="{{ commit.content.get_absolute_url }}">
                <span class="fa fa-file-alt"></span>
                {{ commit.content }}
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}
