{% extends "users/detail-topic/home.html" %}
{% block alt_topic %}
  <div style="margin-top: 6px;" general="brc-muted b-1 br-2 w-100">
    <ol>
      {% if not queryset %}
        {% if request.user == current_user %}
          <div general="bg-dark-purple c-white br-2" class="utopic-nocontent">
            <a general="c-white txt-l center" href="{% url 'create' utopic %}">Add content your {{ utopic.permlink }} topic</a>
          </div>
        {% else %}
          <div general="bg-red c-white br-2" class="utopic-nocontent">
            <span general="c-white txt-l center">
              No content has been added in {{ utopic.permlink }} topic yet by {{ current_user }}
            </span>
          </div>
        {% endif %}
      {% endif %}
      {% for issue in queryset %}
        <li class="utopic-query" flex="ai-c" general="w-100">
          <i class="fa fa-file-alt"></i>
          <a class="text3" general="c-primary w-90" href="{{ issue.get_absolute_url }}">
            <span>{{ issue.title|title }}</span>
          </a>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}
