{% extends "home/html.html" %}
{% block body %}
  <div class="update" general="flex flex:jc-c flex:ai-c flex:fd-c position:center width:100"  
  style="margin-top:30px;">
    {% if form.subject.errors %}
      <ol>
        {% for error in form.subject.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
      </ol>
    {% else %}
    <form general="flex flex:fd-c width:40" 
    mobile-l="width:96"
    mobile-m="width:96"
    mobile-s="width:96"
    tablet="width:60"
    laptop="width:40"
    laptop-l="width:70"
    class="c-update-form" 
    action="" style="padding: 12px 6px"
    default="form" method="post">
        {% csrf_token %} {{ form }} {{ form.media }} 
        <input general="flex flex:as-c" type="submit" value="Update Commit" style="padding: 12px 42px;color:#333">
    </form>
    {% endif %}
  </div>
{% endblock %}
