<footer class="u-footer">
    <div class="u-footer-main">
        {% if user_follow %}
        <div class="u-footer-info ft-os">{{ username }} adlı kullanıcımızın diğer web adresler</div>
        {% else %}
        <div class="u-footer-info ft-os">{{ username }} adlı kullanıcımızın herhangi bir web adres kaydı bulunmamakta</div>
        {% endif %}
        <ul class="u-footer-ul">
            {% for follow in user_follow %}
            <li class="u-footer-li">
                <a class="ft-os" target="_blank" href="//{{follow.adress}}">
                    <img src="/static/media/icons/{{follow.choices}}.svg" />
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</footer>