<nav>
    <ul class="u-main-nav ft-ar">
        {% for list in content_list %}
        <li class="u-nav-li">
            <a class="u-nav-li-a" href="@{{ username }}/{{ list.content_list }}">{{ list.content_list }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
<div class="user-top-ads">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- user top ads -->
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9215854020523450" data-ad-slot="9890192579" data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>