<div flx="jc-c" default="pm" gnrl="bg-white">
    <div>
      {% if username.otherinformationofusers.pp %}
      <img gnrl="br-circle" alt='{{ username  }}' src="/media/users/pp/pp-{{ username  }}.jpg" style="max-width: 320px;max-height: 320px;">
      {% else %}
        <img gnrl="br-circle" src="/static/media/profil.png" style="max-width: 320px;max-height: 320px;">
        {% endif %}
        <h1 flx="jc-c" gnrl="bg-white br-2 brc-white b-1" hvr-a="brc-private" hvr="c-private" default="pm">
          <a href="/@{{ username  }}">@{{ username  }}</a>
        </h1>
        {% include 'users/uploadpp.html' %}
    </div>
</div>
