{% if request.user == username %}
<div>
    <form action="{% url 'user_upload_pp' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="u-upload-pp" id="u-upload-pp" style="display: none;">
        <label for="u-upload-pp" flx="jc-c" gnrl="bg-danger c-white br-2 b-1" default="pm" hvr-a="bg-white" hvr="c-danger">profil resmini güncelle</label>
        <input type="submit" value="profili değiş" style="display: none;"/>
    </form>
</div>
{% endif %}
