<script type="text/javascript">
  $(document).ready(function() {
    let load_comments = true;
    $(window).scroll(function(){
      if (load_comments && scrolledbottom()){
        load_comments = false;
        steem.api.getContentReplies(parent="{{ content_user }}", parentPermlink="{{ detail.permlink }}", function (err, comments) {
          let comment_index;
          for (comment_index = 0; comment_index < comments.length; comment_index++) {
            let comment_template = "";
            let comment = comments[comment_index];
            comment_template += `<div class='comment' id='${comment.author}-${comment.permlink}'>`
            comment_template += "<div class='comment_highlighted'>"
            comment_template += comment_info(comment);
            comment_template += userinfo(comment);
            comment_template += comment_body(comment);
            comment_template += "</div></div>"
            $("#comment_template").append(comment_template);
          }
          replies(comments);
        });
      }
    });
  });
</script>
<script>
// to write a comments
  $(document).ready(function() {
    $("#send-comment").click(function(){
      $(this).attr("animation-hover", "i blink");
      let get_comment = $("#comment-text").val();
      let parentAuthor = this.dataset.parent_author;
      let parentPermlink = this.dataset.parent_permlink;
      let current_time = new Date();
      let link_to_time = current_time.toISOString().replace(/[A-Z]+/g, '').replace(/[^a-z0-9]+/g, '');;
      let permlink = `re-${parentAuthor}-${parentPermlink}-${link_to_time}`;
      let author = "{{ request.user }}";
      let title = "";
      let body = `${get_comment}\n\nPosted using [www.coogger.com](https://www.coogger.com)`;
      let jsonMetadata = {
          "format": "markdown",
          "tags": "coogger",
          "app": "coogger/1.4.1"
      };
      api.comment(parentAuthor, parentPermlink, author, permlink, title, body, jsonMetadata, function (err, comment_res) {
        if (err == null){
          document.getElementById("comment-text").value = ""
          $(this).attr("animation-hover", "null");
          steem.api.getContent(author, permlink, function(err, new_comment) {
            let new_comment_template = comment_info(new_comment)+userinfo(new_comment)+comment_body(new_comment);
            $("#comment_template").append(new_comment_template);
          });
        }
        else{
          alert(err);
        }
      });
    })
  });
</script>
<div general="b-1 br-2 brc-muted">
  <div default="paragraph" general="bg-white" style="padding: 6px 4px;">
      <textarea id="comment-text" placeholder="Reply ..."></textarea>
      <button id="send-comment" general="b-1 br-2 brc-muted bg-success c-white" data-parent_author="{{ content_user }}" data-parent_permlink="{{ detail.permlink }}">
        Post
      </button>
      <div id="comment_template" class="comment_template"></div>
  </div>
</div>
