{% load coogger_tags %}
<div general="right">
  <div class="share-on-facebook" style="margin: 0px 4px;">
    <a target="blank" href="https://www.facebook.com/sharer/sharer.php?u=https://{{ request.dapp_model.host_name }}/@{{ detail.user }}/{{ detail.permlink }}">
      <i class="fab fa-facebook fa-x" style="color:#3b5998;"></i>
    </a>
  </div>
  <div class="share-on-twitter" style="margin: 0px 4px;">
    <a target="blank" href="https://twitter.com/home?status='{{ detail.title|twitter:'' }}'%20by%20@{{ detail.user }}%20https://{{ request.dapp_model.host_name }}/@{{ detail.user }}/{{ detail.permlink }}">
      <i class="fab fa-twitter fa-x" style="color:#1da1f2;"></i>
    </a>
  </div>
  <div class="share-using-embed" flex="fd-c"
  onclick="copyTextFromId('embed-text')" general="b-1 br-2 txt-s brc-white c-blue bg-white"
  hover="c-white bg-primary" style="cursor:pointer;">
    <i class="fas fa-code" general="center"></i>
    <textarea id="embed-text" style="width: 0px;height: 0px;opacity: 0;position: absolute;">
      <iframe scrolling="yes" frameborder="0" height="96%" width="100%" src="https://www.coogger.com/embed/@{{ detail.user }}/{{ detail.permlink }}"></iframe>
    </textarea>
  </div>
</div>
