{% if content %}
  <cards flex general="w-30" mobile-s="w-100" mobile-m="w-98" mobile-l="w-98"
   tablet="w-80" laptop="w-50" laptop-l="w-40" max="w-30" style="margin:0px">
      {% for ct in content %}
        <card data-postid="{{ct.id}}" id="{{ ct.user }}-{{ ct.permlink }}" general="br-2 bg-white">
            {% include "card/edit.html" %} {% include "card/userinfo.html" %} {% include "card/contentinfo.html" %}
            <a href="{{ ct.get_absolute_url }}" general="c-dark">
                <div general="txt-m" class="upshow">
                    <div flex="ai-c">{{ ct.definition|safe }}</div>
                </div>
            </a>
            {% include 'card/bottom.html' %}
        </card>
      {% endfor %}
  </cards>
  {% include "card/script.html" %}
{% elif not content %}
  {% include 'home/we_are_sory.html' %}
{% endif %}
