<div flex="jc-fs" general="txt-l" style="margin: 12px 12px;">
    <a href="{{ ct.get_absolute_url }}">
    <strong id="title" general="c-dark"></strong>
  </a>
</div>
<div general="br-2 c-secondary c-dark" flex="ai-fs" style="margin: 12px 0px;">
    <div general="txt-s" flex="ai-c" class="duread-li">
        <div class="capitalize" style="margin-left: 12px;" flex="ai-fe">
          <i class="fab fa-readme" style="margin: 0px 6px 0px 0px;"></i>
          <span id="dor"></span>
        </div>
    </div>
    <div general="txt-s" flex="ai-c" class="duread-li">
        <div class="capitalize" style="margin-left: 12px;">
          <i class="fas fa-eye"></i>
          views <span>{{ ct.views }}</span>
        </div>
    </div>
    <div general="txt-s" flex="ai-c" class="duread-li">
        <div class="capitalize" style="margin-left: 12px;">
          <i class="fas fa-reply"></i>
          reply <span id="reply"></span>
        </div>
    </div>
    <div general="txt-s" flex="ai-c" class="duread-li">
        <div class="capitalize" style="margin-left: 12px;">
          <i class="fas fa-chevron-circle-up"></i>
          votes <span id="votes"></span>
        </div>
    </div>
</div>
<div class="capitalize" flex style="margin: 12px 12px;">
    <div flex="ai-c" general="txt-s left c-white" class="content_list">
        <a hover="c-white bg-primary" general="b-1 br-2 c-primary" id="topic"
          href="{% url 'topic' ct.topic %}" style="padding: 2px 6px;">
          <i class="fa fa-hashtag" aria-hidden="true"></i>{{ct.topic}}</a>
    </div>
    <div flex="ai-c" general="txt-s right c-white" class="content_list">
        <a hover="c-white bg-primary" general="b-1 br-2 c-primary"
         href="{% url 'category' ct.category %}" id="category" style="padding: 2px 6px;">
         <i class="fa fa-list-alt" aria-hidden="true"></i>{{ct.category}}</a>
    </div>
</div>
