<script>
  $(document).ready(function() {
      update_images(".definition-img");
      let cards = document.querySelectorAll('card')
      cards.forEach(forCards);
      function forCards(card){
        const id = card.id;
        const author = id.split("-")[0];
        const permlink = id.replace(`${author}-`,"");
        $(`#${id} .carduserimg`).attr("src",`https://steemitimages.com/u/${author}/avatar`);
        steem.api.getContent(author, permlink, function(err, content) {
          let active_votes = content.active_votes;
          let reputation = steem.formatter.reputation(content.author_reputation);
          let pending_payout_value = parseFloat(content.pending_payout_value.replace(" SBD", ""));
          let post_reward_total = 0;
          if (pending_payout_value == 0){
            let total_payout_value = parseFloat(content.total_payout_value.replace(" SBD", ""))
            let curator_payout_value = parseFloat(content.curator_payout_value.replace(" SBD", ""));
            post_reward_total = total_payout_value+curator_payout_value;
          }
          else{
            post_reward_total = pending_payout_value;
          }
          $(`#${id} #dor`).html(dor(get_realy_content(content)));
          $(`#${id} #created`).html(timeSince(content.created));
          $(`#${id} #reply`).html(content.children);
          $(`#${id} #votes`).html(content.active_votes.length);
          $(`#${id} #title`).html(content.title);
          $(`#${id} #author_href`).attr("href",`/@${author}`);
          $(`#${id} #reputation`).text(reputation);
          $(`#${id} #post_reward_total`).text(post_reward_total.toFixed(2));
        });
      }});
  </script>
