{% load django_bookmark %}
<div class="bookmarkop" style="cursor: pointer" general="flex flex:ai-c" onclick="remove_or_add_bookmark(this)" 
     data-app_label="cooggerapp" 
     data-model="{{ queryset.model_name }}" 
     data-object_id="{{ queryset.id }}"
     data-csrf="{{ csrf_token }}"
     data-url="{% url 'django_bookmark:add_or_remove' %}"
     data-bookmark-status="{% is_mark request.user queryset queryset.id %}">
    <i general="color:secondary" class="bookmarkicon fas fa-bookmark"></i>
    <span general="position:left color:secondary" style="margin-right: 6px;"
     id="how_many_mark">
        {{ queryset|how_many_mark:queryset.id }}
    </span>
 </div>
 <script>
    let bookmark_status = $(".bookmarkop").data("bookmark-status");
    if (bookmark_status == "False"){
        $(".bookmarkop").find(".bookmarkicon").attr("general","color:secondary");
    }
    else if (bookmark_status == "True"){
        $(".bookmarkop").find(".bookmarkicon").attr("general", "color:success");
    }
</script>