{% include 'common/bookmark.html' %}
{% include 'common/vote.html' %}
<div general='text:s color:secondary flex flex:ai-c'>
    <i class="fas fa-reply-all"></i>
    <div style='margin-left: 6px;'>{{ queryset.reply_count }}</div>
</div>
<div general='text:s color:secondary flex flex:ai-c'>
    <i class="fas fa-eye"></i>
    <div style='margin-left: 6px;'>{{ queryset.views }}</div>
</div>
{% if queryset.get_dor %}
    <div general='text:s color:secondary flex flex:ai-c'>
        <i class="fab fa-readme"></i>
        <div style='margin-left: 6px;'>{{ queryset.get_dor|default:"0 second" }}</div>
    </div>
{% endif %}