<div class="just-pc" flex="" general="w-20" laptop="w-30" style="position:  relative;top: 0px;margin-left: 6%;">
  <div general="center" style="padding: 6px;position: sticky;margin-bottom: 24px;top: 90px;">
      <ul general="bg-white brc-white" style="position: sticky;top: 16px;">
        <li general="center">@{{content_user}}'s Topics</li>
        {% for topic in topics %}
        <li general="txt-s c-yellow">
          <a hover="c-white bg-red" flex="ai-c" general="txt-s c-dark br-4" href="/{{ topic.permlink }}/@{{content_user}}" style="padding: 3px 6px;">
            {% if topic.image_address %}
              <img general="w-8" src="{{ topic.image_address }}" style="margin: 0px;height: 0%;">
            {% endif %}
            <span style="margin-left: 2px;">{{ topic.name |title }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
  </div>
</div>
