<div general="center" flex="fd-c" mobile-s="w-100" mobile-l="w-98" tablet="w-60" laptop="w-40" laptop-l="w-70" max="w-50"
style="border-bottom: 1px solid #fafafa;padding-bottom: 12px;margin-top: 12px;">
  <span general="b-1 br-2 bg-warning c-white" style="padding:4px"> @{{ request.user }} cooggerup curation trail data</span>
  <div flex>Total votes : {{ request.user.otherinformationofusers.total_votes }}</div>
  <div flex >Total vote value : ${{ request.user.otherinformationofusers.total_vote_value }}</div>
</div>
