<cards flx="ai-b fd-c">
  <card flx="jc-c" gnrl="c-white bg-primary" style="padding:3px;">
      Everything you need to know about follower/following
  </card>

<card flx="jc-c" style="padding:3px;">
  Follower count : {{ follower_count }}
</card>
<card flx="jc-c" style="padding:3px;">
Following count : {{ following_count }}
</card>

<card flx="jc-c" gnrl="c-white bg-danger" style="padding:3px;">Those who do not follow you :</card>

{% for i in d_follow %}
<card flx="jc-c" style="padding:3px;">
{{ i }}
</card>
{% endfor %}

<card flx="jc-c" gnrl="c-white bg-danger"  style="padding:3px;">You did not follow :</card>

{% for i in d_following %}
<card flx="jc-c" style="padding:3px;">
{{ i }}
</card>
{% endfor %}
</cards>
