{% include 'apps/cooggerapp/home/head.html' %}
{% include 'apps/steemitapp/home/logo.html' %}
{% include 'apps/steemitapp/home/footer.html' %}
<form default="form media" flx="jc-c" action="{% url 'steemitapp-search' %}">
  <input type="text" placeholder='Type steemit username ..' name="username" maxlength="250" value="{{ request.GET.username }}" gnrl="br-2"/>
  <input type="submit" value="Search"/>
</form>

<!-- other tools -->
<div default="media" gnrl="bg-white txt-xl br-2" flx="jc-c" style="margin:6px auto;">
Other tools
</div>
{% include 'apps/steemitapp/convert/convert.html' %}
{% if search %}{% include 'apps/steemitapp/home/search.html' %}{% endif %}
</body>
</html>
