cards {
  position: relative;
  margin: 12px auto;
  z-index: 0;
}
.utopic-nocontent{
margin-top: 5%;
padding: 24px 0px;
}
.commit-detail .index{
cursor:pointer;
}
.cd-s{
word-break: break-word;
}
.commit-detail td {
border-bottom: 1px solid #eaecee;
}
.utopic-user{
margin: 6px 0px;
}
.commits{
margin-top: 6px;
}
.commit-detail{
    padding: 12px 12px;
}
.commit{
padding: 6px;
margin-bottom: 6px;
}
.commit a:hover, .utopic a:hover{
    text-decoration: underline;
}
.commit-user{
width: 32px;
height: 32px;
background-size: cover;
margin: 0px;
}
.utopic-img{
height: 0%
;margin: 0px;
margin-right: 6px;
}
.trans-memo{
padding: 6px;
}
.permlink{
margin-top: 12px;
}
.his-type{
margin: 6px 0px;
border-bottom: 1px solid #eaecee;
padding-bottom: 9px;
border-radius: 12px;
}
.utopic-m-count{
margin-left: 6px;
}
.next_post{
position: fixed;top: 20%;right: 0%;height: 60%;background: #80808042;z-index: 2;writing-mode: tb-rl;text-orientation: upright;
}
.previous_post{
position: fixed;top: 20%;left: 0%;height: 60%;background: #80808042;z-index: 2;writing-mode: tb-rl;text-orientation: upright;
}
body{
margin-bottom: 60px;
height: auto;
width: auto;
}
.helptext{
background-color: #eaecee;
font-size: 12px;
padding: 2px 10px;
color: black;
}
.tag{
margin-right: 6px;
}
.tag a{
padding: 4px;
}
.languages, .categories{
overflow: auto;
z-index: 1;
position: absolute;
width: 140px;
display: none;
box-shadow: 0 3px 12px rgba(27,31,35,.15);
}
.lg button, .ctg button{
background-color: #eff3f6;
background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
color: #24292e;
-webkit-appearance: none;
background-position: -1px -1px;
background-repeat: repeat-x;
background-size: 110% 110%;
border: 1px solid rgba(27,31,35,.2);
border-radius: .25em;
cursor: pointer;
display: inline-block;
font-size: 7px;
font-weight: 600;
line-height: 16px;
padding: 2px 12px;
position: relative;
user-select: none;
vertical-align: middle;
white-space: nowrap;
text-transform: none;
font: inherit;
margin: 0;
}
#content-toc{
  border-left: 1px solid #ececec;
}
.lg button:focus, .ctg button:focus{
outline: none;
background-image: none;
}
card {
  border-top:solid 1px #eaecee;
  border-bottom:solid 1px #eaecee;
  margin: 3px 0;
  position: relative;
  padding: 6px 0px;
}
.capitalize{
text-transform: capitalize;
}
.comment_replies{margin-left: 40px;border-left: 1px solid #eaecee;}
.c-definition{width: 100%;}
.f-address>li>a{padding: 6px;}
footer{
position: fixed;
top: 0px;
right: 0px;
padding: 0px 0px 0px 12px;
height: 100%;
}
.open_footer{
cursor: pointer;
width: 30px;
height: 16px;
margin: 0px 12px;
}
.open_header_menu{
cursor: pointer;
}
.closed_footer{
padding: 0px 14px;
  cursor: pointer;
}
.header_menu{
position: absolute;
z-index: 2;
top: 60px;
display: none;
min-width: 158px;
padding: 6px 8px;
}
.header_menu>.title{
border-bottom: 1px solid #fafafa;
padding: 12px 0px;
}
#comment-text, textarea{
max-width: 99%;
max-height: 220px;
height: 70px;
width: 99%;
}
#send-comment, #send-reply{
  cursor:pointer;
  padding: 8px 20px;
}
.dapps-ms{
margin: 16px auto;
padding: 4px 12px;
}
.header-bottom{
margin-top:90px;
}
.section-right{
padding: 10px;
position:  fixed;
left:  10%;
max-height: 80%;
}
.section-left{
padding: 10px;
position:  fixed;
right:  10%;
max-height: 80%;
}
#steem_power_bar{
height: 4px;
width: 100%;
position: relative;
z-index: -1;
top: -2px;
}
.header_menu>li>a{
padding: 6px 0px;
}
.fab{
padding: 0px 6px;
}
.history-op{
padding: 6px 12px;
margin: 4px 0px;
max-width: 100%;
word-break: break-word;
}
.his-avatar{
background-repeat: no-repeat;
background-position: left;
width: 46px;
height: 46px;
background-size: contain;
border-radius: 100%;
}
.history{
padding-bottom: 120px;
padding-top: 60px;
word-wrap: break-word;
word-break: break-word;
}
.his-data{
padding: 12px;
}
.reward_sbd,.reward_steem,.reward_vests{
  padding-top: 6px;
  border-top: 1px solid #cecece;
  padding-bottom: 6px;
}
.fa, .fas {
  padding: 0px 6px;
}
.his-json{
padding: 6px;
width: 100%;
}
.review-mod{
padding: 6px 12px;
margin-bottom: 2px;
margin: auto;
position: sticky;
top: 0px;
z-index: 1;
text-transform: uppercase;
}
.definition-img{max-width: 100%;max-height: 300px;margin: 4px auto;border-radius: 4px;}
.categories_a{
padding: 6px 6px;
width:  150px;
overflow: hidden;
 white-space: nowrap;
text-overflow: ellipsis;
}
section{
position: relative;
top: 16px;
}
.upshow{cursor: pointer;}
.upshow p{
word-break: break-word;
}
.lasmod{
position: absolute;
bottom: 6px;
width: 96%;
}
.b-edit-point{
width: 18px;
position: absolute;
z-index: 4;
padding: 6px;
cursor: pointer;
right: 0px;
}
.bebordert{
border-top: 1px solid #fff;
height: 4px;
}
.beborder{
border: 1px solid #fff;
height: 4px;
}
.beborderb{
border-bottom: 1px solid #fff;
height: 4px;
}
.b-edit{
position: relative;
top: -2px;
}
.b-edit-panel{
display: none;
height: 30px;
}
.carduserimg{
width: 40px;
height: 40px;
}
.carduser{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.useruserimg{max-width: 240px;max-height: 240px;}
.headeruserimg{
height: 30px;
width: 30px;
}
.logoimg{
width:80px;
border-radius: 50%;
height: 80px;
}
.just-mobile{
display: None;
}
.just-pc{
display: block;
}
.utopic-query, .issue-query{
  padding: 6px 0px;
  margin: 3px 0px;
  display: list-item;
}
.issue-query{
  list-style: none;
}
.utopic a, .his-json a ,.history-op a{
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.trans-memo, .json_metadata{
word-break: break-word;
}
.text3{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .sectionclosedmobile {
      display: none;
  }
  .just-mobile{
    display: block;
  }
  .just-pc {
      display: none;
  }
}
/* vote */
#upvote, #downvote{
  cursor: pointer;
}
