{% extends "issue/top.html" %}
{% load django_md_editor %}
{% block alt_topic %}
  <div style="margin-top: 6px;" general="brc:muted border:1 br:2 width:100">
    <div style="padding: 6px;">
      <div general="position:right">
        <a href="/@{{ queryset.user }}" general="flex flex:ai-c">
          <img title="{{ queryset.user }}" alt="{{ queryset.user }}" general="br:2" src="{{ queryset.user.githubauthuser.avatar_url }}" width="20" height="20">
        </a>
        <div general='text:s flex flex:ai-c' class='duread-li'>
            <i class="fas fa-clock"></i>
            {{ queryset.created|timesince }}
        </div>
        <div general="position:right text:s bg:white brc:muted border:1 br:2" style="padding: 2px 6px;">
            {% include 'issue/bookmark.html' %}
            {% include 'vote.html' %}
            <div general='text:s color:secondary flex flex:ai-c' class='duread-li'>
              <i class="fas fa-reply-all"></i>
              <div style='margin-left: 6px;'>{{ queryset.reply_count }}</div>
          </div>
          <div general='text:s color:secondary flex flex:ai-c' class='duread-li'>
              <i class="fas fa-eye"></i>
              <div style='margin-left: 6px;'>{{ queryset.views }}</div>
          </div>
        </div>
        
      </div>
      <h1 general="position:center">{{ queryset.title|title }}</h1>
      <div general="brc:muted border:1 br:2" style="padding: 6px;">
        <p>{{ queryset.body|markdown_to_html:"issue" }}</p>
      </div>
    </div>
    <!-- replies -->
    <script type="text/javascript">
      $(document).ready(function() {
        let load_comments = true;
          if (load_comments && scrolledbottom()){
              load_comments = false;
              load_replies("{{ queryset.id }}", "issue")
          }
          else{
            $(window).scroll(function() {
                if (load_comments && scrolledbottom()){
                  load_comments = false;
                  load_replies("{{ queryset.id }}", "issue")
                }
              });
          }
        });
      </script>
    {% include 'form/reply.html' %}
    <!--  -->
  </div>
{% endblock %}
{% block closed_issue %}
  {% if request.user == current_user or queryset.user == request.user %}
    {% if queryset.status == "open" %}
      <a general="br:1 color:white bg:red text:s position:right" href="{% url 'closed-issue' current_user utopic.permlink queryset.permlink %}" style="padding: 6px;">
        Closed this issue
      </a> 
    {% elif queryset.status == "closed" %}
      <a general="br:1 color:white bg:blue text:s position:right" href="{% url 'open-issue' current_user utopic.permlink queryset.permlink %}" style="padding: 6px;">
        Open this issue
      </a> 
    {% endif %}
  {% endif %}
{% endblock %}