{% extends "issue/top.html" %}
{% load django_md_editor %}
{% block alt_topic %}
  <div style="margin-top: 6px;" general="brc-muted b-1 br-2 w-100">
    <div style="padding: 6px;">
      <h1 general="center">{{ queryset.title|title }}</h1>
      <div general="brc-muted b-1 br-2" style="padding: 6px;">
        <p>{{ queryset.body|markdown_to_html:"issue" }}</p>
      </div>
      <div general="right">
        <span general="txt-s c-secondary right" style="padding: 6px;">
          reply: {{ queryset.reply_count }}
        </span>
      </div>
    </div>
    <div general="b-1 br-2 brc-muted">
      <div default="paragraph" general="bg-white" style="padding: 6px 4px;">
          <textarea id="issue-reply-text" placeholder="Reply ..."></textarea>
          <button id="send-reply-in-issue" general="right b-1 br-2 brc-muted bg-success c-white" 
          data-parent_author="{{ current_user }}" data-parent_permlink="{{ queryset.permlink }}">
            Reply
          </button>
          <div id="comment_template" class="comment_template"></div>
      </div>
    </div>
  </div>
  {% include "issue/replies.html" %}
{% endblock %}
{% block closed_issue %}
  {% if request.user == current_user or queryset.user == request.user %}
    {% if queryset.status == "open" %}
      <a general="br-1 c-white bg-red txt-s right" href="{% url 'closed-issue' current_user utopic.permlink queryset.permlink %}" style="padding: 6px;">
        Closed this issue
      </a> 
    {% elif queryset.status == "closed" %}
      <a general="br-1 c-white bg-blue txt-s right" href="{% url 'open-issue' current_user utopic.permlink queryset.permlink %}" style="padding: 6px;">
        Open this issue
      </a> 
    {% endif %}
  {% endif %}
{% endblock %}