{% extends "issue/top.html" %}
{% block alt_topic %}
  <div style="margin-top: 6px;" general="brc-muted b-1 br-2 w-100">
    <ol>
      {% if not queryset %}
      <div general="bg-dark-purple c-white br-2" class="utopic-nocontent">
        <div general="c-white txt-l center">
          There is no issue in opened | closed.
        </div>
      </div>
      {% endif %}
      <!-- issue list open or closed -->
      {% for issue in queryset %}
        <li class="issue-query" general="w-100">
          <a general="c-primary w-90" href="{{ issue.get_absolute_url }}">
            <div>
                <i class="fas fa-exclamation-circle"></i>
                <span>{{ issue.title|title }}</span>
            </div>
          </a>
          <div general="txt-s c-secondary">
              <span>#{{ issue.id }}</span>
              <span>
                opened {{ issue.created|timesince }} by 
                <a href="/@{{ issue.user }}">@{{ issue.user }}</a>
              </span>
              <div>
                last updated {{ issue.last_update|timesince }}
              </div>
          </div>
        </li>
      {% endfor %}
      <!--  -->
    </ol>
    {% include 'paginator.html' %}
  </div>
{% endblock %}
