<script type="text/javascript">
    $(document).ready(function() {
      function issue_replies(reply){
        if (reply.reply_count != 0 && reply.reply_count != undefined){
          get_result_from_cooggerapi(`http://127.0.0.1:8000/api/issue/?reply=${reply.id}`).then(function(children_replies){
            for (ii in children_replies) {
              let children_comment_template = "";
              let children_reply = children_replies[ii];
              children_comment_template += `
                <div class='comment_replies'
                  id='${children_reply.username}-${children_reply.id}'>`
              children_comment_template += issue_reply_info(children_reply);
              children_comment_template += issue_reply_userinfo(children_reply);
              children_comment_template += issue_reply_body(children_reply);
              children_comment_template += "</div>";
              $(`#${children_reply.username}-${children_reply.reply}`).append(children_comment_template);
            }
            issue_replies(children_replies);
          });
        }
      }
      let load_comments = true;
      if (load_comments && scrolledbottom()){
          load_comments = false;
          let issue_replies_api = "http://127.0.0.1:8000/api/issue/?reply={{ queryset.id }}";
          get_result_from_cooggerapi(issue_replies_api).then(function(replies){
            for (i in replies){
              let reply = replies[i];
              let comment_template = "";
              comment_template += `<div class='comment' id='${reply.username}-${reply.id}'>`
              comment_template += "<div class='comment_highlighted'>"
              comment_template += issue_reply_info(reply);
              comment_template += issue_reply_userinfo(reply);
              comment_template += issue_reply_body(reply);
              comment_template += "</div></div>"
              $("#comment_template").append(comment_template);
              issue_replies(reply);
            }
          });
        }
    });
</script>
