<div general="border:1 br:2 brc:white" style="padding: 6px 0x;">
  <div general="flex flex:ai-c">
    <a general="flex text:m color:dark flex:ai-c" href="/@{{ ct.user }}" id="author_href">
      <img src="{{ ct.user.githubauthuser.avatar_url }}" class="carduserimg" general="br:circle" width="40px"
        height="40px"></img>
      <div general="flex flex:fd-c">
        {% with ct.user as user %}
        {% include 'common/user-title.html' %}
        {% endwith %}
        <span general="flex flex:ai-c" class="carduser" style="margin-left:6px;">
          {% with ct.user as user %}
          {% include 'common/username.html' %}
          {% endwith %}
        </span>
        <span general="text:xs color:dark" style="margin-left:6px;">
          <i class="fas fa-clock"></i>
          <span class="capitalize" id="created">{{ ct.created|timesince }}</span>
        </span>
      </div>
    </a>
    {% with ct.user as user %}
    {% include 'common/github-redirect.html' %}
    {% endwith %}
    {% with ct as queryset %}
    <div general="text:s color:secondary flex position:right">
      {% include 'content/detail/edit.html' %}
    </div>
    {% endwith %}
  </div>
</div>