<!--giriş yapma sayfası-->
{% load static from staticfiles %}
{% include 'home/head.html' %}
<div gnrl="bg-white br-2" default="pm" flx="jc-c ai-c fd-c" style="height:100vh;">
  {% include "home/logo.html" %}
  <div flx="jc-c" default="pm" gnrl="bg-info br-2 c-white">Kullanıcı adınızı ve şifrenizi girin</div>
  <ul>
    <form flx="fd-c" default="form"  action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <li>
        <label >Kullanıcı ismi</label>
        <input  type="text" name="Username" value="">
      </li>
      <li>
        <label >Şifre</label>
        <input  type="password" name="Password" value="">
      </li>
      <input flx="as-c" type="submit" value="Giriş yap">
    </form>
  </ul>
</div>
{% include 'home/footer.html' %}
</body>
</html>
