<!--giriş yapma sayfası-->
{% load static from staticfiles %}
{% include 'home/head.html' %}
<div gnrl="bg-white br-2" default="pm" flx="jc-c ai-c fd-c">
  {% include "home/logo.html" %}
  <div flx="jc-c" default="pm" gnrl="bg-danger br-2 c-white">Telefon numarası zorunlu değildir, fakat bir + puandır.</div>
  <ul>
    <form flx="fd-c" default="form" action="{% url 'signup_author' %}" method="post" class="signup-author">
        {% csrf_token %} {{ otherinfo_form.as_p }}
        <input flx="as-c" type="submit" value="Başvuruyu tamamla">
    </form>
  </ul>
</div>
{% include 'home/footer.html' %}
</body>
</html>
