<!doctype html>
<html>
  <head>
    <title>Log in with SteemConnect | coogger</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" type="text/css">
    <link href="{{ STATIC_URL }}css/styles/coogger.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/f/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body style="height:100vh;" flx="ai-c" font="quicksand">
    <div flx="jc-c fd-c" default="media" gnrl="bg-white" class="wrapper">
        <div flx="jc-c fd-c" class="container">
          <a flx="jc-c ai-c" gnrl="c-private" hvr-animation="blink-i" href="/" font="quicksand">
            <span flx="ai-c" style="font-size: 60px;">
              C
              <span gnrl="txt-m">
                oogger<span gnrl="c-danger txt-m"> | V1.3.0</span>
              </span>
            </span>
          </a>
            {% if user.is_authenticated %}
                <div class="user-details">
                    You are logged in as <code>{{ user.username }}</code>!
                    <a href="/logout/" id="logout">Logout</a>
                </div>
            {% endif %}
            {% for name, backend in available_backends|social_backends|order_backends %}
              {% set association = associated.get(name) %}
              {% if association %}
                  <form default="form" id="{{ name }}-disconnect" class="disconnect-form col-md-2" action="{{ url("social:disconnect_individual", backend=association.provider, association_id=association.id) }}" method="post">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <button type="submit" class="login-button button_standard button-{{ name|icon_name }}" title="Disconnect {{ backend|backend_name }}" name="{{ backend|backend_class }}" href="#">
                      <span class="icon icon-{{ name|icon_name }}"></span>
                      Disconnect {{ backend|backend_name }}
                  </button>
                </form>
              {% else %}
                  <a style="padding:10px 50px;"
                  flx="jc-c ai-c as-c"
                  gnrl="txt-xl br-1 b-2 c-white bg-primary brc-primary"
                  hvr-a="bg-white" hvr="c-primary brc-primary"
                  href="{{ url("social:begin", backend=name) }}" class="login-button button_standard button-{{ name|icon_name }}" title="Log in with {{ backend|backend_name }}">
                        <span class="icon icon-{{ name|icon_name }}"></span>
                      Log in with {{ backend|backend_name }}
                  </a>
              {% endif %}
            {% endfor %}
        </div>
    </div>
  </body>
</html>
