<header>
    <div class="main-messages">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="bt-header">
        <div class="logo">
            <a href="/" class="logo-a" data-background="#DCE1E3">
                <span style="color:#943322">h</span>akan<span style="color:#943322">clk</span>.com
            </a>
        </div>
    </div>

    <div class="search">
        <form class="search-form" action="/search">
            <input type="text" class="search-input" placeholder='Ara ..' name="query" maxlength="250" value="{{ request.GET.query }}" />
            <input type="submit" class="search-button" />
        </form>
    </div>
</header>