<div general="border:1 br:2 brc:muted">
  <div class="reply" default="paragraph" general="bg:white" style="padding: 6px 4px">
    {{ form }} {{ form.media }}
      {% if not request.user.is_authenticated %}
        <div general="position:right color:dark bg:yellow" style="padding: 6px;">
          <strong>Please login to make a comment</strong>
        </div>
      {% endif %}
      <button id="send-reply" data-request-url="{% url 'reply-api' %}" data-content-type="{{ content_type }}" data-object-id="{{ object_id }}" {% if queryset.is_reply %} data-reply="{{ queryset.id }}" {% else %} data-reply="null" {% endif %} general="position:right border:1 br:2 brc:muted bg:success color:white" data-parent_author="{{ current_user }}" data-parent_permlink="{{ queryset.permlink }}">
        Reply
      </button>
      <div id="comment_template" class="comment_template"></div>
  </div>
</div>
