{% extends "home/html.html" %}
{% block body %}
  <div general="width:100 position:center font:quicksand">
        <div general="width:50" tablet="width:80" mobile-l="width:90" mobile-m="width:96" mobile-s="width:98" style="padding: 4px 6px">
          {% include 'content/detail/userinfo.html' %}
          {% include "reply_warning.html" %}
          {% include 'content/detail/contentinfo.html' %}
          <h1 general="position:center text:xxl" class="font-comfortaa cdtitle" id="title">
            <strong>{{ queryset.title|title }}</strong>
          </h1>
          <div style="padding: inherit;" class="font-comfortaa" id="content"></div>
          <textarea id="justToGetContent" style="display: none;">{{ queryset.body }}</textarea>
          <div style="margin: 10% 0px;"></div>
          <!-- replies -->
          {% with object_id=queryset.id content_type=queryset.content_type_obj.id %}
            {% include 'load_replies.html' %}
          {% endwith %}
        </div>
  </div>
{% endblock %}



