{% extends "home/html.html" %}
{% block body %}
  <div class="header-bottom update" flx="jc-c ai-c fd-c">
    <div>
      <a color="c-success" target="blank" id="category_help_page" href="?category=development">
        Need help? check this address for <span color="c-dark" id="category_help_name">
          development</span> category on {{ request.dapp_model.name }} Dapp
      </a>
    </div>
      <form flx="fd-c" class="c-update-form" action="{% url 'change' username permlink %}"  style="padding: 12px 6px;z-index:2"  default="form media" method="post" >
          {% csrf_token %} {{ form }}
          <input flx="as-c" type="submit" value="Save edit" style="padding: 12px 42px;color:#333" hvr-a="i bg-white">
      </form>
  </div>
  {% include 'post/script.html' %}
{% endblock %}
