{% extends "home/html.html" %}
{% block body %}
  <div class="header-bottom create" flex="jc-c ai-c fd-c" general="center w-100">
    <div>
      <a general="c-success" target="blank" id="category_help_page" href="?category=development">
        Need help? check this address for <span general="c-dark" id="category_help_name">
          development</span> category on {{ request.dapp_model.name }} Dapp
      </a>
    </div>
      <form flex="fd-c" default="form"
      mobile-s="w-100" mobile-l="w-98" tablet="w-60" laptop="w-40" laptop-l="w-70" max="w-50"
       method="post" class="c-create-form" action="" style="padding: 12px 6px">
          {% csrf_token %} {{ form }} {{ form.media }}
          <input flex="as-c" type="submit" value="Share" style="padding: 12px 42px;color:#333" animation-hover="i bg-white">
      </form>
  </div>
  {% include 'post/script.html' %}
{% endblock %}
