<script type="text/javascript">
    $(document).ready(function(){
      var get_dapp_name = $( ".create #id_dapp" ).val();
      var get_category_name = $( "#id_category" ).val();
      var category_help_address = "?dapp="+get_dapp_name+"&category="+get_category_name;
      $("#category_help_name").html(get_category_name);
      $("#category_help_page").attr("href",category_help_address);
      $( "#id_category" ).change(function() {
        var get_dapp_name = $( ".create #id_dapp" ).val();
        var get_category_name = $( "#id_category" ).val();
        var category_help_address = "?dapp="+get_dapp_name+"&category="+get_category_name;
        $("#category_help_name").html(get_category_name);
        $("#category_help_page").attr("href",category_help_address);
      });

      var get_dapp_name = $( ".create #id_dapp" ).val();
      $(".create .c-create-form").attr("action", "{% url 'create' %}" + "?dapp="+get_dapp_name);
      $( ".create #id_dapp" ).change(function() {
        var get_dapp_name = $( ".create #id_dapp" ).val();
        if (get_dapp_name != ""){
          window.location.href = "?dapp="+get_dapp_name;
        }
      });

    });
</script>
