<center>{{ definition_for_steem.image }}</center>
{{ definition_for_steem.definition }}

-------------

Read this content on [{{ self.dapp.host_name }}](https://{{ self.dapp.host_name }}/@{{ self.user.username }}/{{ self.permlink }})

- Dapp; [{{ self.dapp.host_name }}]({{ self.dapp.host_name }})
- Category; [{{ self.category }}](https://{{ self.dapp.host_name }}/category/{{ self.category }}/)
- Language; [{{ self.language }}](https://{{ self.dapp.host_name }}/language/{{ self.language }}/)
- Topic; [{{ self.topic }}](https://{{ self.dapp.host_name }}/topic/{{ self.topic }}/)
- User; [@{{ self.user.username }}]({{ self.dapp.host_name }}/@{{ self.user.username }})<br>

--------

{{ self.dapp.ms }}
