{{ ![definition_for_steem.image.alt](definition_for_steem.image.src) }}
{{ definition_for_steem.definition }}

-------------

Read this content on [www.coogger.com](https://www.coogger.com/@{{ self.user.username }}/{{ self.permlink }})

- Category; [{{ self.category }}](https://www.coogger.com/category/{{ self.category }}/)
- Language; [{{ self.language }}](https://www.coogger.com/language/{{ self.language }}/)
- Topic; [{{ self.topic }}](https://www.coogger.com/topic/{{ self.topic }}/)
- User; [@{{ self.user.username }}](https://www.coogger.com/@{{ self.user.username }})<br>

--------

Posted using [www.coogger.com](https://www.coogger.com)
Coogger is an ecosystem where is **knowledge sharing network**
If your inters please [contact us on discord](https://discord.gg/avmdZJa)
