{% load static %}
<div style="width: auto;height: auto; z-index: 0;" class="editormd"  id="{{id}}_editormd">
  <textarea {{ attrs }} style="display:none;">{{ markdown }}</textarea>
</div>
<script type="text/javascript">
    $(function () {
        editormd.urls.atLinkBase = "{{ config.at_link_base }}";
        let Editor = editormd("{{id}}_editormd", {
            onfullscreen : function() {
                this.editor.css("z-index", 9999);
            },
            onfullscreenExit : function() {
                this.editor.css({
                    zIndex : 0,
                    width: "{{ config.width }}",
                    height: "{{ config.heigth }}",
                })
            },
            toolbarIcons: function () {return {{ config.toolbar|safe }}},
            onload: function () {},
            width: "{{ config.width }}",
            height: "{{ config.heigth }}",
            htmlDecode: "{{ config.html_decode }}",
            syncScrolling: "single",
            path: "{% static  '/mdeditor/lib/' %}",
            theme : "{{ config.theme|safe }}",
            previewTheme : "{{ config.preview_theme|safe }}",
            editorTheme : "{{ config.editor_theme }}",
            saveHTMLToTextarea: true,
            imageFormats: "{{ config.upload_image_formats|safe }}",
            imageUploadURL: "{{ config.image_upload_url }}",
            toolbarAutoFixed: {{ config.toolbar_autofixed|lower }},
            searchReplace: {{ config.search_replace|lower }},
            emoji: {{ config.emoji|lower }},
            tex: {{ config.tex|lower }},
            flowChart: {{ config.flow_chart|lower }},
            sequenceDiagram: {{ config.sequence|lower }},
            imageUpload: {{ config.image_upload|lower }},
            emailLink: {{ config.email_link|lower }},
            atLink: {{ config.at_link|lower }},
        });
        let lang = "en";
        let path  = "{% static  '/mdeditor/languages/en' %}";
        editormd.loadScript(path, function() {
         Editor.lang = editormd.defaults.lang;
      });
    });
</script>
