{% include 'apps/cooggerapp/home/head.html' %}
{% include 'apps/cooggerapp/home/logo.html' %}
<cards flx="ai-c jc-c fd-c" default="media" style="height:  80vh;">
  <card hvr-animation="fadeIn">
    <a flx="jc-c" href="/" gnrl="c-dark" hvr="bg-private c-white br-2" style="padding:  12px;">cooggerapp</a>
  </card>
  <card hvr-animation="fadeIn">
    <a flx="jc-c" href="/apps/steemitapp" gnrl="c-dark" hvr="bg-primary c-white br-2" style="padding:  12px;">steemitapp</a>
  </card>
</cards>




</body>
</html>
