{% include 'apps/cooggerapp/home/head.html' %}
{% include 'apps/cooggerapp/home/logo.html' %}
<div flx="jc-c ai-c fd-c" default="media" gnrl="bg-white br-2" style="margin-top:12px;">
  <div flx="ai-c" gnrl="txt-xxl" style="margin-top:12px;">Apps</div>
  <cards flx="ai-c jc-c" default="media" style="height:80vh;">
    <card hvr-animation="fadeIn" gnrl="bg-white br-2" style="margin-left:3px;">
      <a flx="jc-c" href="/" gnrl="c-dark" hvr="bg-private c-white br-2" style="padding:  12px;">cooggerapp</a>
    </card>
    <card hvr-animation="fadeIn" gnrl="bg-white br-2" style="margin-left:3px;">
        <a flx="jc-c" href="/apps/steemitapp" gnrl="c-dark" hvr="bg-primary c-white br-2" style="padding:  12px;">steemitapp</a>
      </card>
    </cards>
  </div>
</body>
</html>
