<div flx="jc-c fd-c" gnrl="bg-white" default="pm">
  {% if request.user.is_authenticated %}
  <div default="pm" flx="jc-c">
    <form  flx method="post" action="#">
      {% csrf_token %}
      <input default="input" class="wcomment" default="pm" type="text" placeholder="Soru sor,veya teşekkür et bir yorum yap" name="comment" maxlength="310">
      <input default="input" type="submit" class="d-comment-sub" value="yorum yap">
    </form>
  </div>
  {% else %}
  <div flx="jc-c" gnrl="bg-dark br-2 c-white" default="pm">
    Yazarımıza paylaştığı bilgiler için teşekkür edin, soru sorun veya herhangi bir yorum yapın,
    bunlar için üye olun zaten bir hesabınız varsa giriş yapın
  </div>
  {% endif %}
  <div flx>
  <ul class="d-comments-ul" default="pm">
    {% for com in comment_form %}
    <li flx="">
      <div flx>
        <a href="/{{ com.user}}" gnrl="c-dark" flx="ai-c">
           {% if com.user.otherinformationofusers.pp %}
            <img src="/media/users/pp/pp-{{ com.user }}.jpg" style="height: 60px;width: 60px;" gnrl="br-circle" default="pm">
           {% else %}
            <img src="/static/media/profil.png" style="height: 60px;width: 60px;" gnrl="br-circle" default="pm">
            {% endif %}
           <spam gnrl="c-private">{{ com.user }}</spam>
       </a>
      </div>
      <div flx="as-fe" gnrl="brc-muted br-2 b-1" default="pm"> {{ com.comment }}</div>
      <div gnrl="txt-s" flx="as-fs">{{ com.date|timesince }} önce</div>
    </li>
    {% endfor %}
  </ul>
    </div>
</div>
<script>
$(document).ready(function() {
  // comments
  $(".d-comment-sub").click(function(event){
    var comment=$("input[name=comment").val();
      $.ajax({
          url: "/web/comment"+window.location.pathname,
          method: 'POST',
          dataType: 'json',
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            comment:comment,
          }
      }).done(function (response) {
          // okunan json veriyi, #user idli yere yaz
          $('.wcomment').val("");
          $(".d-comments-ul" ).append("<li flx=''><div flx><a href=/"+response.username+" gnrl='c-dark' flx='ai-c'><img src='"+response.img+"' style='height: 60px;width: 60px;' gnrl='br-circle' default='pm'><spam gnrl='c-private'>"+response.username+"</spam></a></div><div flx='as-fe' gnrl='brc-muted br-2 b-1' default='pm'> "+response.comment+"</div><div gnrl='txt-s' flx='as-fs'>"+response.date+" önce</div></li>");
      });
      event.preventDefault();
  });
    // ! comments
  });
</script>
