<div class="b-content-info">
  <h1 default="p" flx="jc-c ai-c" gnrl="txt-xl c-private" style="text-align: center;">
      {{ detail.title|title }}
  </h1>
</div> 
<div flx="jc-c">
  <div flx="fd-c" gnrl="brc-muted txt-s" default="pm">
    <div flx="ai-c" >
      <img default="pm" src="/static/media/icons/calendar.svg" />
       Son güncelleme | {{ detail.lastmod|timesince }} önce
     </div>
    <div flx="ai-c" >
      <img default="pm" src="/static/media/icons/calendar.svg" />
       {{ detail.time }} | {{ detail.time|timesince }} önce
     </div>
     <div flx="ai-c" >
       <img default="pm" src="/static/media/icons/stopwatch.svg" />
       Tahmini okuma süresi {{ detail.dor }} dakika</div>
       <div flx="ai-c" >
         <img default="pm" src="/static/media/icons/employee.svg" />
         okuma {{ detail.views }}</div>
      <div flx="ai-c" >
        <img default="pm" src="/static/media/icons/comments.svg" />
        Yorumlar {{ detail.hmanycomment }}</div>
      </div>
  </div>
