<div class="b-content-info">
  <h1 class="b-title ft-ns" style="font-size: 30px;">
      {{ detail.title|title }}
  </h1>
    <div class="b-time ft-dn"><img class="b-time-img" src="/static/media/icons/calendar.svg" /> {{ detail.time }} | {{ detail.time|timesince }} önce</div>
    <div class="b-time ft-dn"><img class="b-time-img" src="/static/media/icons/stopwatch.svg" /> Tahmini okuma süresi {{ detail.dor }} dakika</div>
    <div class="b-time ft-dn"><img class="b-time-img" src="/static/media/icons/employee.svg" /> okuma {{ detail.views }}</div>
    <div class="b-time ft-dn"><img class="b-time-img" src="/static/media/icons/comments.svg" /> Yorumlar {{ detail.hmanycomment }}</div>
</div>
