<div class="b-content-info">
    <div class="b-time ft-dn"><img class="b-time-img" src="/static/media/icons/calendar.svg" /> {{ detail.time }} | {{ detail.time|timesince }} önce</div>
    <div class="b-time ft-dn"><img class="b-time-img" src="/static/media/icons/stopwatch.svg" /> Tahmini okuma süresi {{ detail.dor }} dakika</div>
    <div class="b-time ft-dn"><img class="b-time-img" src="/static/media/icons/employee.svg" /> okuma {{ detail.views }}</div>
    <div class="b-time ft-dn"><img class="b-time-img" src="/static/media/icons/comments.svg" /> Yorumlar {{ detail.hmanycomment }}</div>
    <ul class="b-category ft-os">
      <li class="b-category-li"><a class="b-category-a" href='/topic/{{ detail.category }}'>{{ detail.category|title }}</a></li>{% if detail.subcategory != None %}
      <li class="b-category-li"><a class="b-subcategory-a" href='/topic/{{ detail.subcategory }}'>{{ detail.subcategory|title }}</a></li>{% endif %}
    </ul>
    <h1 class="b-title ft-ns" style="font-size: 30px;">
        {{ detail.title|title }}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-9215854020523450"
     data-ad-slot="2785488862"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </h1>
</div>
