<div gnrl="bg-white" style="margin: 6px 0px;">
  {% if not detail.confirmation %}
  <div gnrl="bg-danger c-white b-2 brc-danger br-2" flx="jc-c" default="pm media">Onay bekleyen gönderi</div>
  {% endif %}
<div class="data-post-id-{{detail.id}}">
{% include "detail/edit.html" %}
{% include "detail/userinfo.html" %}
{% include "detail/contentinfo.html" %}
<div default="paragraph">
    <div style="overflow-x: auto;">{{ detail.content|safe }}</div>
</div>
<div flx="jc-c" default="media pm">
    <div flx>
        {% for i in global_hashtag %}
        <div gnrl="bg-dark br-2">
          <a gnrl="c-white" hvr-a="c-success" href="{% url 'hashtag' i  %}">
            <i class="fa fa-hashtag" aria-hidden="true"></i>
            <span>{{ i }}</span>
          </a>
        </div>
        {% endfor %}
    </div>
</div>
 {% include 'card/blog-cards.html' %}
 {% include "detail/comments.html" %}
</div>
</div>
