{% include "detail/edit.html" %}
{% include "detail/userinfo.html" %}
{% include "detail/contentinfo.html" %}
<div flx="" default="pm">
    <div style="width: 100%;overflow-x: auto;">{{ detail.content|safe }}</div>
</div>
<div flx="jc-c">
    <ul flx  default="pm">
        {% for i in global_hashtag %}
        <li default="pm" gnrl="bg-dark br-2">
            <a gnrl="c-white" hvr-a="c-success" href="/tags/{{ i }}">
                <span>#{{ i }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
 {% include 'card/blog-cards.html' %}
 {% include "detail/comments.html" %}
