<div class="d-edit">
    {% if detail.username == request.user.username or request.user.is_superuser %}
    <div class="d-edit-panel data-edit-id-{{ detail.id }}">
        <ul class="d-edit-ul ft-ar">
            <li class="d-edit-li">
                <a class="d-edit-li-a " href="/change/{{ detail.id }}">Düzenle</a>
            </li>
            <li class="d-edit-li">
                <a class="d-edit-li-a d-delete" data-post-id="{{detail.id}}">Sil</a>
            </li>
        </ul>
    </div>

    {% endif %}
</div>