{% include 'home/head.html' %} {% include 'home/header.html' %}{% include 'home/nav.html' %}
<div class="datail">
    {% include 'detail/detail.html' %}
    <!-- coogger detail ads -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9215854020523450" data-ad-slot="1996370621" data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- coogger detail ads -->
</div>
{% include "home/footer.html" %}
</body>

</html>