<div class="d-main-start" data-gnl="1 1p ortada">
    <ul class="d-starts-ul" data-gnl="1 1p ortada">
      {% for i in "12345" %}
      {% if i <= stars %}
      <li class="d-starts-li" data-starts-id="{{i}}" data-post-id="{{ detail.id }}"><img class="d-starts-a" src="/static/media/icons/star.svg"></li>
      {% endif %}
      {% if i > stars %}
      <li class="d-starts-li" data-starts-id="{{i}}" data-post-id="{{ detail.id }}"> <img class="d-starts-a" src="/static/media/icons/star(0).svg"></li>
      {% endif %}
      {% endfor %} </ul>
    <div data-gnl="1 1p ortada">Verilen oy sayısı : {{ detail.hmstars }}</div>
    <div class="gstars" data-gnl="1 1p ortada">Oy ortalaması : {{stars}}</div>
</div>
