<div class="b-user-info">
    <ul class="b-user">
        <ul class="b-user-ul">
            <li class="b-user-ul-li">
                <div class="b-user-img">
                    {% if pp %}
                    <img class="b-user-img-src" alt='{{ detail.username }}' src="/media/users/pp/pp-{{ detail.username }}.jpg"> {% else %}
                    <img class="b-user-img-src" src="/static/media/profil.png" /> {% endif %}
                </div>
            </li>
            <li class="b-user-ul-li b-user-mobil">
                <div class="b-username ">
                    <a class="b-username-a" href='/@{{ detail.username }}'>@{{ detail.username }}</a>
                </div>
            </li>
        </ul>
        {% if detail.content_list %}
        <li class="b-user-li">
            <div class="b-content-list-name ">
                <a class="b-username-a" href='/@{{ detail.username }}/{{ detail.content_list }}'>{{ detail.content_list }}</a>
            </div>
        </li>
        <li class="b-user-li">
            <a class="b-user-hashtag" href='/list/{{ detail.content_list }}'>
                <img class="b-hashtag-img" src="/static/media/icons/list.svg" />
            </a>
        </li>
        {% endif %}
    </ul>
</div>