{% load static from staticfiles %}
<!-- Doctype HTML5 -->
<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="reply-to" content="cooggerapp@gmail.com">
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/media/favicon.png" type="image/x-icon" /> {% if head.title %}
  <title>{{ head.title|truncatechars:55 }}</title>
  <meta property="og:title" content="{{ head.title }}" />
  <meta property="og:site_name" content="{{ head.title }}" />
  <meta name="twitter:title" content="{{ head.title }}" />
  <meta itemprop="name" content="{{ head.title }}" /> {% else %}
  <title>coogger</title>
  <meta property="og:title" content="coogger" />
  <meta property="og:site_name" content="coogger" />
  <meta name="twitter:title" content="coogger" />
  <meta itemprop="name" content="coogger" /> {% endif %} {% if head.keywords %}
  <meta name="keywords" content="{{ head.keywords }}" /> {% else %}
  <meta name="keywords" content="coogger" /> {% endif %} {% if head.description %}
  <meta name="description" content="{{head.description}}" />
  <meta name="twitter:description" content="{{head.description|truncatechars:150}}" />
  <meta property="og:description" content="{{head.description|truncatechars:150}}" />
  <meta itemprop="description" content="{{head.description|truncatechars:150}}" /> {% else %}
  <meta name="description" content="coogger bilgi paylaşım platformuna hoşgeldin, bildiklerini paylaş sende ışık ol" />
  <meta name="twitter:description" content="coogger bilgi paylaşım platformuna hoşgeldin, bildiklerini paylaş sende ışık ol" />
  <meta property="og:description" content="coogger bilgi paylaşım platformuna hoşgeldin, bildiklerini paylaş sende ışık ol" />
  <meta itemprop="description" content="coogger bilgi paylaşım platformuna hoşgeldin, bildiklerini paylaş sende ışık ol" /> {% endif %}
  <meta property="og:locale" content="tr_TR" />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="2" />
  <meta name="revisit-after" content="2 days" />
  <meta name="twitter:card" content="summary">
    <!-- <meta name="twitter:creator" content="hakancelik96" /> -->
  <meta property="og:type" content="website" />
  {% if head.author %}
  <meta name="author" content="https://{{ head.author }}" />
  <meta property="article:author" content="https://{{ head.author }}" />
  <meta property="article:publisher" content="https://{{ head.author }}" />
  {% endif %}
  {% if content_user.otherinformationofusers.pp %}
  <meta property="og:image" content="/media/users/pp/pp-{{ content_user }}.jpg" />
  <meta itemprop="image" content="/media/users/pp/pp-{{ content_user }}.jpg" />
  <meta name="twitter:image:src" content="/media/users/pp/pp-{{ content_user }}.jpg" />
  {% else %}
  <meta property="og:image" content="/static/media/favicon.png" />
  <meta itemprop="image" content="/static/media/favicon.png" />
  <meta name="twitter:image:src" content="/static/media/favicon.png" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta property="og:url" content="http://www.coogger.com{{ request.META.PATH_INFO }}" />
  <meta name="yandex-verification" content="d8be2feff15c1e50" />
   {% if not request.user.is_superuser %}
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107674954-1"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
     function gtag() {
       dataLayer.push(arguments);
     }
     gtag('js', new Date());
     gtag('config', 'UA-107674954-1');
   </script>
  {% endif %}
  <script src=" {% static 'js/jquery.min.js' %}"></script>
  <script src=" {% static 'js/general.js' %}"></script>
  <link href=" {% static 'css/styles/coogger.css' %}" rel="stylesheet">
  <link href=" {% static 'css/styles/private.css' %}" rel="stylesheet">
  <link href=" {% static 'css/f/css/font-awesome.min.css' %}" rel="stylesheet">

  <!--editor-->
  <link href="/static/css/editormd.css" type="text/css" media="all" rel="stylesheet">
  <script type="text/javascript" src="/static/js/editormd.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/codemirror/codemirror.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/codemirror/modes.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/codemirror/addons.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/marked.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/prettify.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/raphael.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/underscore.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/flowchart.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/jquery.flowchart.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/sequence-diagram.min.js"></script>
  <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
  <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
<!--editor-->

</head>
<body default="bg" font="quicksand" animation="fadeIn" style="line-height:inherit;">
    {% if messages %} {% include 'apps/cooggerapp/home/ms.html' %} {% endif %}
    <div class="main-messages" style="display:none" gnrl="bg-danger c-white" >
      <div flx="ai-c jc-c">
        <div gnrl="bg-dark c-white br-2" class="close-ms" flx="jc-c" style="cursor:pointer;">x</div>
        <div gnrl="txt-m" flx=jc-c>
          <div class="wms"></div>
        </div>
        <div gnrl="bg-dark c-white br-2" class="close-ms" flx="jc-c" style="cursor:pointer;">x</div>
      </div>
    </div>
