{% load coogger_count %}
<div general="center w-80" class="just-mobile">
  <div class="utopic" style="display: none; overflow: auto; margin: 12px 0px;">
    <div flex="fw-nw jc-c" general="txt-m wmax">
      {% for topic in topics %}
      <div hover="bg-red" general="br-2 bg-white">
        <a flex="jc-c" general="txt-s br-2 c-dark" hover="c-white brc-dark" href="{% url 'utopic' topic content_user %}" style="padding: 3px 6px;">
          <span>{{ topic|title }}</span>
          <span class="utopic-m-count">{{ topic|topic_count:content_user }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
