{% extends "settings/settings.html" %}
{% block setting %}
<form general="flex flex:fd-c border:1 brc:white" default="form" mobile-s="width:100" mobile-l="width:98"
    tablet="width:60" laptop="width:40" laptop-l="width:70" method="post" action="{% url 'settings-address' %}"
    style="padding: 3px 6px;">
    {% csrf_token %}
    {{ address_form }}
    <input general="flex flex:as-c" type="submit" value="Save">
</form>
{% if address_instance %}
<div general="flex flex:fd-c" mobile-s="width:100" mobile-l="width:98" tablet="width:60" laptop="width:40"
    laptop-l="width:70">
    {% for address in address_instance %}
    <div general="flex flex:ai-c flex:jc-fe border:1 br:2 text:l brc:muted" style="padding: 6px 6px;">
        {% if address.choices == "web-site"%}
        <i class="fa fa-globe" aria-hidden="true"></i>
        {% endif %}
        <i class="fab fa-{{address.choices}}" aria-hidden="true"></i>
        {{ address.choices }} - <span general="color:secondary text:s">{{ address.address }}</span>
        <div general="flex flex:ai-c flex:jc-fs flex:as-c border:1 br:2 brc:muted text:l color:danger:hover position:right"
            class="deladdress" data-deladdress="{{ address.id }}" style="cursor:pointer;padding: 6px;">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
    </div>
    {% endfor %}
</div>
{% include 'settings/script.html' %}
{% endif %}
{% endblock %}