{% load i18n %}
## {% trans "How To Write My Content ?" %}
### {% trans "What is Markdown ?" %}
{% trans "Need help for learing **markdown** format ? Check These Addresses Below" %}

- [Editor.md/en.html](https://pandao.github.io/editor.md/en.html)
- [Features/mastering-markdown/](https://guides.github.com/features/mastering-markdown/)
- [Katex - The fastest math typesetting library for the web.](https://katex.org/)
- [Katex - Example](http://editor.md.ipandao.com/examples/katex.html)

### {% trans "Coogger Post Guide" %}
- [/guide/@hakancelik96/](/guide/@hakancelik96/)

### {% trans "How To Upload My Image" %}
{% trans "To image upload, you can use this [coogger image service](/coogger-images/) and get your image url to put your content
like this `![title](url)`" %}