<script type="text/javascript">
  $(document).ready(function() {
    function replies(comments){
      let comment_index;
      for (comment_index = 0; comment_index < comments.length; comment_index++) {
        let comment = comments[comment_index];
        if (comment.children != 0){
          steem.api.getContentReplies(parent=comment.author, parentPermlink=comment.permlink, function (err, children_comments) {
            if (err!=null){
              console.log(err);
            }
            let children_comment_index;
            let children_comments_len = children_comments.length;
            for (children_comment_index = 0; children_comment_index < children_comments_len; children_comment_index++) {
              let children_comment_template = "";
              let children_comment = children_comments[children_comment_index];
              if (children_comment.depth<9){
                children_comment_template += "<div class='comment_replies' id='"+children_comment.author+"-"+children_comment.permlink+"'>"
                children_comment_template += comment_info(children_comment);
                children_comment_template += userinfo(children_comment);
                children_comment_template += comment_body(children_comment);
                if (children_comment.depth == 8){
                  children_comment_template += ('\
                    <a gnrl="c-success center" href="/@'+children_comment.author+'/'+children_comment.permlink+'">\
                      Show '+children_comment.children+' more replies\
                    </a></div>');
                }
                else{
                  children_comment_template += "</div>";
                }
                $("#"+children_comment.parent_author+"-"+children_comment.parent_permlink).append(children_comment_template);
              }
            }
            replies(children_comments);
          });
        }
      }
    }
    steem.api.getContentReplies(parent="{{ content_user }}", parentPermlink="{{ detail.permlink }}", function (err, comments) {
      let comment_index;
      for (comment_index = 0; comment_index < comments.length; comment_index++) {
        let comment_template = "";
        let comment = comments[comment_index];
        comment_template += "<div class='comment' id='"+comment.author+"-"+comment.permlink+"'>"
        comment_template += "<div class='comment_highlighted'>"
        comment_template += comment_info(comment);
        comment_template += userinfo(comment);
        comment_template += comment_body(comment);
        comment_template += "</div></div>"
        $("#comment_template").append(comment_template);
      }
      replies(comments);
    });
  });
</script>

<script>
  $(document).ready(function() {
    $("#send-comment").click(function(){
      $(this).attr("hvr-animation", "i blink");
      var get_comment = $("#comment-text").val();
      var parentAuthor = this.dataset.parent_author;
      var parentPermlink = this.dataset.parent_permlink;
      var current_time = new Date();
      var link_to_time =current_time.getYear()+current_time.getMonth()+current_time.getDay()+current_time.getMinutes()+current_time.getSeconds();
      var permlink = "re-"+parentAuthor+"-"+parentPermlink+"-"+link_to_time;
      var author = "{{ request.user }}";
      var title = "";
      var body = get_comment+"\n\nPosted on [{{ request.community_model.name }}]({{ request.community_model.host_name }})";
      var jsonMetadata = {
          "format": "markdown",
          "tags": "{{ request.community_model.name }}",
          "app": "coogger/1.3.9",
          "ecosystem": "coogger",
          "community": "{{ request.community_model.name }}",
      };
      api.comment(parentAuthor, parentPermlink, author, permlink, title, body, jsonMetadata, function (err, comment_res) {
        if (err == null){
          document.getElementById("comment-text").value = ""
          $(this).attr("hvr-animation", "null");
          steem.api.getContent(author, permlink, function(err, new_comment) {
            var new_comment_template = comment_info(new_comment)+userinfo(new_comment)+comment_body(new_comment);
            $("#comment_template").append(new_comment_template);
          });
        }
        else{
          alert(err);
        }
      });
    })
  });
</script>
<div gnrl="b-1 br-2 brc-muted" style="margin: 10% 0px;">
  <div default="paragraph" gnrl="bg-white" style="padding: 6px 4px;">
      <textarea id="comment-text" placeholder="Reply ..."></textarea>
      <button id="send-comment" gnrl="b-1 br-2 brc-muted bg-success c-white"
          data-parent_author="{{ content_user }}" data-parent_permlink="{{ detail.permlink }}">
        Post
      </button>
      <div id="comment_template" class="comment_template"></div>
  </div>
</div>
