<script type="text/javascript">
  $(document).ready(function() {
      steem.api.getContentReplies(parent="{{ content_user }}", parentPermlink="{{ detail.permlink }}", function (err, comments) {
        let comment_template = "";
        var comment_index;
        for (comment_index = 0; comment_index < comments.length; comment_index++) {
          var comment = comments[comment_index];
          comment_template += comment_info(comment);
          comment_template += userinfo(comment);
          comment_template += comment_body(comment);
          comment_body_md(comment);
        }
        $("#comment_template").html(comment_template);
      });
  });
</script>

<script>
  $(document).ready(function() {
    $("#send-comment").click(function(){
      $(this).attr("hvr-animation", "i blink");
      var get_comment = $("#comment-text").val();
      var parentAuthor = this.dataset.parent_author;
      var parentPermlink = this.dataset.parent_permlink;
      var current_time = new Date();
      var link_to_time =current_time.getYear()+current_time.getMonth()+current_time.getDay()+current_time.getMinutes()+current_time.getSeconds();
      var permlink = "re-"+parentAuthor+"-"+parentPermlink+"-"+link_to_time;
      var author = "{{ request.user }}";
      var title = "";
      var body = get_comment+"\n\nPosted on [{{ request.community_model.name }}]({{ request.community_model.host_name }})";
      var jsonMetadata = {
          "format": "markdown",
          "tags": "{{ request.community_model.name }}",
          "app": "coogger/1.3.9",
          "ecosystem": "coogger",
          "community": "{{ request.community_model.name }}",
      };
      api.comment(parentAuthor, parentPermlink, author, permlink, title, body, jsonMetadata, function (err, comment_res) {
        if (err == null){
          document.getElementById("comment-text").value = ""
          $(this).attr("hvr-animation", "null");
          steem.api.getContent(author, permlink, function(err, new_comment) {
            var new_comment_template = comment_info(new_comment)+userinfo(new_comment)+comment_body(new_comment);
            comment_body_md(new_comment);
            $("#comment_template").append(new_comment_template);
          });
        }
        else{
          alert(err);
        }
      });
    })
  });
</script>
<div gnrl="b-1 br-2 brc-muted" style="margin: 10% 0px;">
  <div default="paragraph" gnrl="bg-white" style="padding: 6px 4px;">
      <textarea id="comment-text" placeholder="Reply ..."></textarea>
      <button id="send-comment" gnrl="b-1 br-2 brc-muted bg-success c-white"
          data-parent_author="{{ content_user }}" data-parent_permlink="{{ detail.permlink }}">
        Post
      </button>
      <div id="comment_template" class="comment_template"></div>
  </div>
</div>
