<div gnrl="br-2 c-secondary br-2 b-1 brc-muted" style="padding: 2px 4px;" flx="ai-c">
  <div gnrl="txt-s" flx="ai-c" class="duread-li">
    <div style="margin-left: 12px;">Last update {{ detail.lastmod|timesince }} ago</div>
  </div>
  <div gnrl="txt-s" flx="ai-c" class="duread-li">
    <div style="margin-left: 12px;">min read {{ detail.dor }}</div>
  </div>
  <div gnrl="txt-s" flx="ai-c" class="duread-li">
    <div style="margin-left: 12px;">reply {{ detail.hmanycomment }}</div>
  </div>
  <div gnrl="txt-s" flx="ai-c" class="duread-li">
    <div style="margin-left: 12px;">views {{ detail.views }}</div>
  </div>
  <div gnrl="txt-s" flx="ai-c" class="duread-li">
    <div style="margin-left: 12px;">pageviews {{ detail.read }}</div>
  </div>
  <div gnrl="txt-s" flx="ai-c" class="duread-li" style="margin-left: auto;">
    <div gnrl="bg-dark c-white br-2" style="margin:0px 12px;padding: 2px 6px;">${{ detail.post_reward.total }}</div>
  </div>
</div>
