{% if detail.language and detail.category %}
  <div flx style="margin: 12px 12px;">
      <div flx="ai-c" gnrl="br-2 b bg-secondary c-white txt-s left" hvr-a="bg-primary" class="content_list">
          <a href="{% url 'language' detail.language %}" style="color: white;">
       {{ detail.language }}
      </a>
      </div>
      <div flx="ai-c" class="content_list" gnrl="br-2 b bg-secondary c-white txt-s right" hvr-a="bg-primary" class="content_list">
          <a href="{% url 'category' detail.category %}" style="color: white;">
       {{ detail.category }}
      </a>
      </div>
  </div>
{% endif %}
<div gnrl="br-2 c-secondary br-2 b-1 brc-muted" style="padding: 2px 4px;" flx="ai-c">
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">Last update ; <span id="lastmod"></span></div>
    </div>
    {% if detail.dor %}
      <div gnrl="txt-s" flx="ai-c" class="duread-li">
          <div style="margin-left: 12px;" id="dor"> | min read ; {{ detail.dor }}</div>
      </div>
    {% endif %}
    {% if detail.views %}
      <div gnrl="txt-s" flx="ai-c" class="duread-li">
          <div style="margin-left: 12px;"> | views ; {{ detail.views }}</div>
      </div>
    {% endif %}
    {% if detail.read %}
      <div gnrl="txt-s" flx="ai-c" class="duread-li">
          <div style="margin-left: 12px;"> | pageviews ; {{ detail.read }}</div>
      </div>
    {% endif %}
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;"> | reply ; <span id="reply"></span></div>
    </div>
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
      <div style="margin-left: 12px;"> | votes ; <span id="count"></div>
    </div>
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
      <div style="margin-left: 12px;"> | <span id="post_reward_total"></div>
    </div>
</div>
