{% if not detail.steempost %}
  <div general="center br-2 c-white" class="donation">
    <div default="form" id="donation" general="center" flex="fd-c"
    device-mobiles="w-100" device-mobilel="w-98" device-tablet="w-60" device-laptop="w-40" device-laptopl="w-70" device-4k="w-50">
      <span general="txt-l center c-dark">Donate for this great content.</span>
      <input placeholder="Amount" value="1" type="float" id="amount" >
      <select name="amout_type" id="amout_type" >
        <option value="STEEM">STEEM</option>
        <option value="SBD">SBD</option>
      </select>
     <a general="bg-success c-white" flex="jc-c as-c" target="_blank" id="donation-a" style="padding: 6px 80px;color: white;"
      href="https://steemconnect.com/sign/transfer?from={{request.user}}&to={{content_user}}&amount=1.000%20STEEM&memo=Donation%20for%20your%20great%20content%20using%20coogger.com%20%3D%20'{{detail.permlink}}'">
       Donate to @{{ content_user }}
     </a>
    </div>
  </div>
  <script>
  $(document).ready(function() {
    const main_sc_address = `https://steemconnect.com/sign/transfer?from={{request.user}}&to={{content_user}}&amount=`;
    $("#donation").change(function() {
      let amout = $("#amount").val();
      let amout_type = $("#amout_type").val();
      let memo = "&memo=Donation%20for%20your%20great%20content%20using%20coogger.com%20%3D%20'{{detail.permlink}}'";
      let steemconnect_donation = main_sc_address+amout+"%20"+amout_type+memo;
      $("#donation-a").attr("href", steemconnect_donation);
    });
  });
  </script>
{% endif %}
