{% load coogger_tags %}
<div flx="ai-c">
  <div gnrl="wmax left">
  {% if request.user.is_authenticated %}
    {% if detail.user == request.user %}
      <a gnrl="brc-muted b-1 bg-warning br-1" hvr-a="bg-secondary" href="{% url 'change' detail.id  %}" flx="ai-c" style="padding: 6px 24px;">
        <i gnrl="c-white" class="fa fa-edit" aria-hidden="true"></i>
        <div gnrl="txt-s c-white">Edit</div>
      </a>
    {% endif %}
    {% if detail.user != request.user and detail.cantapproved == "approved"%}
      <div class="report" data-content-id="{{ detail.id }}" style="padding: 6px 12px;cursor:pointer" gnrl="brc-muted b-1 bg-warning br-1" hvr-a="bg-danger" flx="ai-c">
        <i gnrl="c-white" class="fa fa-flag" aria-hidden="true"></i>
        <div gnrl="txt-s c-white">Report</div>
      </div>
    {% endif %}
  {% endif %}
</div>
<div gnrl="txt-s right" flx="ai-c" class="duread-li">
  <div gnrl="bg-dark c-white br-2" style="margin:0px 2px;padding: 2px 6px;">$<span id="post_reward_total"> </span></div>
</div>
</div>
