<script src='/static/jquery.min.js'></script>
<link href="/static/css/editormd.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="/static/editormd.min.js"></script>
<script type="text/javascript" src="/static/lib/codemirror/codemirror.min.js"></script>
<script type="text/javascript" src="/static/lib/codemirror/modes.min.js"></script>
<script type="text/javascript" src="/static/lib/codemirror/addons.min.js"></script>
<script type="text/javascript" src="/static/lib/marked.min.js"></script>
<script type="text/javascript" src="/static/lib/prettify.min.js"></script>
<script type="text/javascript" src="/static/lib/raphael.min.js"></script>
<script type="text/javascript" src="/static/lib/underscore.min.js"></script>
<script type="text/javascript" src="/static/lib/flowchart.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery.flowchart.min.js"></script>
<script type="text/javascript" src="/static/lib/sequence-diagram.min.js"></script>

<div style="width: auto;height:  auto;border: none;" class="editormd" id="id_arg_editormd">
    <textarea style='display:none;' id='editormd_content'></textarea>
</div>
