<!-- {% if nav_category %}
  <nav style="display:none;" flx="fw-nw jc-c" gnrl="bg-white br-2 b-1 brc-white txt-m wmax center">
      <div flx="fd-c">
          {% for list in nav_category %} {% if list.permlink == urloftopic %}
          <div hvr-a="bg-white" gnrl="br-2 bg-primary">
              <a flx gnrl="b-1 br-2 brc-muted c-white txt-m" hvr-a="c-primary" hvr="brc-primary" href="/{{ list.get_absolute_url }}" style="padding: 3px 6px;">
             {{ list.title|title|truncatechars:42 }}</a>
          </div>
          {% else%}
          <div hvr-a="bg-primary" gnrl="br-2">
              <a flx gnrl="b-1 br-2 brc-muted c-primary txt-m" hvr-a="c-white" hvr="brc-primary" href="/{{list.get_absolute_url}}" style="padding: 3px 6px;">
           {{ list.title|title|truncatechars:42 }}</a>
          </div>
          {% endif %} {% endfor %}
      </div>
  </nav>
{% endif %}  -->
