<!-- other contents of topic  -->
{% if nav_category %}
  <div class="just-pc" flex="fw-nw" device-laptop="w-50" device-laptopl="w-40" device-4k="w-30" style="position:  relative;top: 0px;">
    <div general="center" style="padding: 6px;position: sticky;margin-bottom: 24px;top: 14px;">
      Other contents of the {{detail.topic}} topic of the @{{content_user}} user.
    </div>
    <div flex="fd-c" general="bg-white brc-white" style="margin: 20px;position: sticky;top: 90px;">
        {% for list in nav_category %}
        {% if list.permlink == urloftopic %}
        <div general="bg-success">
            <a flex general="txt-s c-white" href="/{{ list.get_absolute_url }}" style="padding: 3px 6px;">
            - {{ list.title|title }}</a>
      </div>
        {% else%}
        <div animation-hover="bg-success">
            <a flex general="txt-s c-dark" hover="c-white" href="/{{list.get_absolute_url}}" style="padding: 3px 6px;">
          - {{ list.title|title }}</a>
        </div>
        {% endif %} {% endfor %}
    </div>
  </div>
{% endif %}
