<div mobile-s="w-100" mobile-l="w-98" tablet="w-60" laptop="w-40" laptop-l="w-70" max="w-50"
general="center">
    {% if detail.status == "shared" or detail.status == "changed" %}
    <div class="review-mod" general="b-2 br-2 center brc-warning bg-warning c-white" flex="ai-c">
        A moderator will review this content within 1 and 2 days, status : {{ detail.status }}
    </div>
    {% endif %} {% if detail.status == "rejected" %}
    <div general="b-2 br-2 center brc-warning bg-warning c-white" flex="jc-c ai-c" style="height: 20vh;margin-bottom: 2px;">
        Rejected by @{{ detail.mod }}
    </div>
    {% endif %}
</div>
