<div flx="jc-c" gnrl="bg-white wmax center" class="just-mobile" style="padding: 6px 6px;margin-top: 12px;">
    {% if nav_category %}
    <div flx="fd-c" class="lists" style="cursor:pointer;">
        {% if nav_category and not detail %}
        <div flx="as-fs" gnrl="c-private b-1 brc-muted txt-m c-secondary" hvr="c-dark" style="padding: 3px 6px;">TOPICS</div>
        {% else %}
        <div flx="as-fs" gnrl="c-private b-1 brc-muted txt-m c-secondary" hvr="c-dark" style="padding: 3px 6px;">{{ detail.topic|upper }}</div>
        {% endif %}
    </div>
    {% endif %}
</div>
