{% include 'settings/home.html' %}
<div flx="jc-c" gnrl="bg-white br-2" default="pm">
  {% include 'settings/set-choices.html' %}
  <form flx="fd-c" default="form" method="post" action="{% url 'saccount' %}">
    {% csrf_token %}
    <p>
      <label for="Password">Yeni Şifre</label>
      <input type="password" id="password" name="Password" value="">
      </p>
      <p>
      <label for="Confirm">Şifre onay</label>
      <input type="password" name="Confirm" id="Confirm" value="">
    </p>
    <input flx="as-c" type="submit" value="Kaydet">
  </form>
</div>
{% include 'home/footer.html' %}
