<div class="main_settings">
  <ul class="m-s-ul">
    <li class="m-s-li">
      <a href="/settings/profile">
        {% if request.user.otherinformationofusers.pp %}
        <img class="m-s-img" src="/media/users/pp/pp-{{ request.user }}.jpg"/>
        {% else %}
        <img class="m-s-img" src="/static/media/profil.png"/>
          {% endif %}
        <div class="m-s-text">Profil</div>
      </a>
    </li>
    <li class="m-s-li">
      <a href="/settings/account">
        {% if request.user.otherinformationofusers.pp %}
        <img class="m-s-img" src="/media/users/pp/pp-{{ request.user }}.jpg"/>
        {% else %}
        <img class="m-s-img" src="/static/media/profil.png"/>
          {% endif %}
        <div class="m-s-text">Hesap</div>
      </a>
    </li>
    <li class="m-s-li">
      <a href="/settings/add-address">
        {% if request.user.otherinformationofusers.pp %}
        <img class="m-s-img" src="/media/users/pp/pp-{{ request.user }}.jpg"/>
        {% else %}
        <img class="m-s-img" src="/static/media/profil.png"/>
          {% endif %}
        <div class="m-s-text"> Web adresi ekle</div>
      </a>
    </li>
  </ul>
</div>
