{% if not queryset.is_reply %}
  <div general="flex flex:ai-c">
    {% if queryset.utopic.address %}
      <div general="position:left text:s" class="text3">
        <a style="height: 15px;margin-bottom: 2px;overflow: hidden;padding: 4px 2px;" general="color:dark width:100 color:primary:hover" href="{{ queryset.utopic.address }}/?ref=www.coogger.com" target="blank">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <span class="just-pc">{{ queryset.utopic.address }}</span>
      </a>
      </div>
    {% endif %}
      <div general="position:right">
      {% if queryset.language %}
        <div general="flex flex:ai-c text:s position:right" style="margin-right: 2px;padding: 4px 6px;">
          <a href="{% url 'filter' %}?username={{ current_user }}&language={{queryset.language}}" general="color:primary:hover color:dark">
            <i class="fas fa-flag"></i>
            <span id="language">{{queryset.language|title}}</span>
          </a>
        </div>
      {% endif %}
      {% if queryset.category %}
        <div general="flex flex:ai-c text:s position:right"
        style="margin-right: 2px;padding: 4px 6px;">
          <a href="{% url 'filter' %}?username={{ current_user }}&category={{ queryset.category }}" general="color:primary:hover color:dark">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <span id="category">{{queryset.category|title}}</span>
          </a>
        </div>
        {% endif %}
        {% if queryset.utopic %}
        <div general="flex flex:ai-c text:s position:right"  
        style="margin-right: 2px;padding: 4px 6px;">
          <a  general="flex color:dark color:primary:hover flex:ai-c" href="{% url 'detail-utopic' queryset.utopic.permlink current_user %}">
            <i class="fas fa-hashtag" aria-hidden="true"></i>
            <span id="topic">{{queryset.utopic.permlink|title}}</span>
          </a>
        </div>
        {% endif %}
      </div>
  </div>
{% endif %}
{% if embed %}
  <div style="padding: 6px 0px;position: sticky;top: 0px;z-index: 1;">
{% else %}
  <div style="padding: 6px 0px;position: sticky;top: 66px;z-index: 1;">
{% endif %}
    <div general="bg:white width:100 text:s flex" mobile-l="brc:white" mobile-m="brc:white" mobile-s="brc:white">
    <div general="text:s bg:white brc:muted border:1 br:2 width:100 flex flex:jc-sa" 
    style="padding: 12px 0px;">
      {% include "common/interaction_and_counter.html" %}
      {% if not queryset.is_reply %}
      <div onclick="copyTextFromId('embed-text')" general="border:1 br:2 text:s brc:white color:secondary color:success:hover"  style="cursor:pointer;">
        <i class="fas fa-code" general="position:center"></i>
        <textarea id="embed-text" style="width: 0px;height: 0px;opacity: 0;position: absolute;">
          <iframe scrolling="yes" frameborder="0" height="96%" width="100%" src="https://www.coogger.com/embed/@{{ queryset.user }}/{{ queryset.permlink }}"></iframe>
        </textarea>
      </div>
      {% endif %}
      {% include 'content/detail/edit.html' %}
    </div>
  </div>
</div>
