{% include "common/reply_warning.html" %}
<div general="flex flex:ai-c">
    {% if queryset.utopic.address %}
      <div general="position:left text:s" class="text3">
        <a style="height: 15px;margin-bottom: 2px;overflow: hidden;padding: 4px 2px;" general="color:dark width:100 color:primary:hover" href="{{ queryset.utopic.address }}/?ref=www.coogger.com" target="blank">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <span class="just-pc">{{ queryset.utopic.address }}</span>
      </a>
      </div>
    {% endif %}
      <div general="position:right">
      {% if queryset.language %}
        <div general="flex flex:ai-c text:s position:right" style="margin-right: 2px;padding: 4px 6px;">
          <a href="{% url 'filter' %}?username={{ current_user }}&language={{queryset.language}}" general="color:primary:hover color:dark">
            <i class="fas fa-flag"></i>
            <span id="language">{{queryset.language|title}}</span>
          </a>
        </div>
      {% endif %}
      {% if queryset.category %}
        <div general="flex flex:ai-c text:s position:right"
        style="margin-right: 2px;padding: 4px 6px;">
          <a href="{% url 'filter' %}?username={{ current_user }}&category={{ queryset.category }}" general="color:primary:hover color:dark">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <span id="category">{{queryset.category|title}}</span>
          </a>
        </div>
        {% endif %}
        {% if queryset.utopic %}
        <div general="flex flex:ai-c text:s position:right"  
        style="margin-right: 2px;padding: 4px 6px;">
          <a  general="flex color:dark color:primary:hover flex:ai-c" href="{% url 'detail-utopic' queryset.utopic.permlink current_user %}">
            <i class="fas fa-hashtag" aria-hidden="true"></i>
            <span id="topic">{{queryset.utopic.permlink|title}}</span>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
{% if embed %}
  <div general="bg:white border:1 br:2 brc:muted width:100 text:s flex position:left" 
  style="padding: 6px 0px;position: sticky;top: 0px;z-index: 1;" 
  mobile-l="brc:white" mobile-m="brc:white" mobile-s="brc:white">
{% else %}
  <div general="bg:white border:1 br:2 brc:muted width:100 text:s flex position:left" style="padding: 6px;position: sticky;top: 68px;z-index: 1;" 
  mobile-l="brc:white" mobile-m="brc:white" mobile-s="brc:white">
{% endif %}
  <div general="position:left text:s bg:white brc:muted border:1 br:2" style="padding: 2px 6px;" 
  mobile-l="position:center width:100" mobile-m="position:center width:100" 
  mobile-s="position:center width:100" 
  tablet="position:center">
    {% include "common/interaction_and_counter.html" %}
    <div onclick="copyTextFromId('embed-text')" general="border:1 br:2 text:s brc:white color:secondary color:success:hover"  style="cursor:pointer;">
      <i class="fas fa-code" general="position:center"></i>
      <textarea id="embed-text" style="width: 0px;height: 0px;opacity: 0;position: absolute;">
        <iframe scrolling="yes" frameborder="0" height="96%" width="100%" src="https://www.coogger.com/embed/@{{ queryset.user }}/{{ queryset.permlink }}"></iframe>
      </textarea>
    </div>
    {% include 'content/detail/edit.html' %}
  </div>
  <div general="flex text:s position:right flex:ai-c"  class="just-pc">
    <div style="margin-right: 12px;">
      <i class="fas fa-clock"></i>
      Last update | <span id="lastmod">{{ queryset.last_update|timesince }}</span>
    </div>
  </div>
</div>
