{% extends "home/html.html" %}
{% block body %}
  <div class="just-mobile">
    {% if queryset.next_post %}
    <div style="z-index: 2;">
      <a general="flex flex:jc-c color:white br:1 text:s" class="next_post"  href="{{ queryset.next_post }}">Next</a>
    </div>
    {% endif %}
    {% if queryset.previous_post %}
    <div style="z-index: 2;">
      <a general="flex flex:jc-c color:white br:1 text:s" class="previous_post"  href="{{ queryset.previous_post }}">Previous</a>
    </div>
    {% endif %}
  </div>
  <div general="width:100 position:center font:quicksand">
    {% include 'content/detail/left.html' %}
    {% include 'content/detail/center.html' %}
    {% include 'content/detail/right.html' %}
  </div>
{% endblock %}
