{% load django_follow_system_tags %}
<div general="bg:white" style="border-bottom: 1px solid #eaecee;">
  <div general="flex flex:ai-fs bg:white" style="padding: 12px 0px;">
    <img general="br:circle position:left" id="detail_profile_image" src="{{ current_user.githubauthuser.avatar_url }}" style="height:  40px;width:  40px;margin:  initial;"></a>
    <div general="flex text:s flex:fd-c">
        <a general="flex" title="{{ current_user  }}" href="/@{{ current_user }}"
          style="padding: 0px 6px;word-wrap: break-word;word-break: break-all;">
      <span id="username">
          {% if current_user.first_name %}
            {{ current_user.first_name }} {{ current_user.last_name }}
          {% else %}
            @{{ current_user }}
          {% endif %}
      </span>
    </a>
        <div general="color:secondary">
          <i class="fas fa-clock"></i>
          <span id="time">{{ queryset.created|timesince }}</span>
        </div>
    </div>
    {% with queryset.user as user %}
        {% include 'github-redirect.html' %}
      {% endwith %}
      <div general="flex text:s position:right flex:ai-c"  class="just-pc">
          <div style="margin-right: 12px;">
            <i class="fas fa-clock"></i>
            Last update | <span id="lastmod">{{ queryset.last_update|timesince }}</span>
          </div>
        </div>
  </div>
  <div general="fd-s">
      {% if request.user != current_user and request.user.is_authenticated %}
      {% if request.user|is_follow:current_user %}
          <div class="follow-op" id="follow-op" data-url="{% url 'follow' current_user %}" general="flex flex:jc-c flex:as-c br:2 border:1 brc:muted bg:secondary bg:red:hover width:2"   
            style="cursor:pointer;padding: 2px 30px;">
              <div general="text:s color:white" id="follow">Unfollow</div>
          </div>
      {% else %}
          <div class="follow-op" id="follow-op" data-url="{% url 'follow' current_user %}" general="flex flex:jc-c flex:as-c br:2 border:1 brc:muted bg:secondary bg:primary:hover width:2"   
            style="cursor:pointer;padding: 3px 30px;">
              <div general="text:s color:white" id="follow">Follow</div>
          </div>
      {% endif %}
  {% endif %}
  </div>
</div>
