<cards animation="fadeIn">
  {% for ct in content %}
  <card class="data-post-id-{{ct.id}}" hvr-animation="pulse">
    {% include "card/edit.html" %}
    {% include "card/userinfo.html" %}
    {% include "card/contentinfo.html" %}
    <div gnrl="unselectable txt-m" flx="jc-c ai-c" class="upshow">
      <div flx="ai-c">
        {{ ct.show }}
      </div>
      {% include "card/duread.html" %}
    </div>
    <cardtime>{{ ct.time|timesince }} | önce paylaşıldı.</cardtime>
  </card>
  {% endfor %}
</cards>
{% include "card/paginator.html" %}
