<a href="/{{ ct.url }}">
  <div class='duread-main' flx="ai-c jc-c" hvr-a="o">
    <div flx="fd-c" gnrl="br-2">
      <div gnrl="txt-s c-white" flx="ai-c" class="duread-li">
        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
        <div style="margin-left: 12px;">Okuma süresi {{ ct.dor }} dakika</div>
      </div>
      <div gnrl="txt-s c-white" flx="ai-c" class="duread-li">
        <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
        <div style="margin-left: 12px;">Okuma {{ ct.views }}</div>
      </div>
      <div gnrl="txt-s c-white" flx="ai-c" class="duread-li">
        <i class="fa fa-comment fa-2x" aria-hidden="true"></i>
        <div style="margin-left: 12px;">Yorum {{ ct.hmanycomment }}</div>
      </div>
    </div>
  </div>
</a>
