.comment_replies{
  margin-left: 60px;
}
header{
  height: 55px;
  padding: 6px;
  border-bottom:  1px solid #f1f1f1;
  position:  fixed;
  width: 100%;
  overflow: auto;
  z-index: 2;
  top: 0px;
}
#comment-text{
  max-width: 99%;
  max-height: 220px;
  height: 70px;
  width: 99%;
}
#send-comment{
    cursor:pointer;
    padding: 8px 20px;
}
.dapps-ms{
  margin: 16px auto;
  padding: 4px 12px;
}
.header-bottom{
  margin-top:90px;
}
.section-right{
  padding: 10px;
  position:  fixed;
  left:  10%;
  max-height: 80%;
}
.section-left{
  padding: 10px;
  position:  fixed;
  right:  10%;
  max-height: 80%;
}
#steem_power_bar{
  height: 4px;
  width: 100%;
  position:fixed;
  z-index: 1;
  top: 66px;
}
.header_menu{
  display: none;
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.closed_header_menu{
  display: none;
  right: 5%;
  z-index: 2;
  position: fixed;
  padding: 6px 14px;
  cursor:  pointer;
}
.history-op{
  padding: 6px 12px;
  margin: 2px 16px;
}
.history-vote-weight{
  margin-left: 12px;
}
.his-avatar{
  background-repeat: no-repeat;
  background-position: left;
  width: 46px;
  height: 46px;
  background-size: contain;
  border-radius: 100%;
}
.history{
  padding-bottom: 120px;
  padding-top: 60px;
  word-wrap: break-word;
  word-break: break-word;
}
.his-data{
  padding: 12px;
}
.reward_sbd,.reward_steem,.reward_vests{
    padding-top: 6px;
    border-top: 1px solid #cecece;
    padding-bottom: 6px;
}
.fa, .fas {
    padding: 0px 6px;
}
.his-json{
  padding: 6px;
}
card{
  width: 100%;
}
.review-mod{
  height: 20vh;
  margin-bottom: 2px;
  margin: auto;
}
.definition-img{
  max-width: 100%;
  max-height: 400px;
  margin: 4px auto;
  border-radius: 4px;
}
.categories_a{
  padding: 6px 6px;
  width:  150px;
  overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
}
section{
  position: relative;
  top: 16px;
}
.upshow{
  cursor: pointer;
  margin: 0px 12px;
}
.upshow p{
  word-break: break-word;
}
.lasmod{
  position: absolute;
  bottom: 6px;
  width: 96%;
}
.content_list{
  padding: 2px 6px;
}
.b-edit-point{
  width: 18px;
  position: absolute;
  z-index: 4;
  padding: 6px;
  cursor: pointer;
  right: 0px;
}
.bebordert{
  border-top: 1px solid #fff;
  height: 4px;
}
.beborder{
  border: 1px solid #fff;
  height: 4px;
}
.beborderb{
  border-bottom: 1px solid #fff;
  height: 4px;
}
.b-edit{
  position: relative;
  top: -2px;
}
.b-edit-panel{
  display: none;
  height: 30px;
}
.carduserimg{
  width: 40px;
  height: 40px;
}
.carduser{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.useruserimg{
  max-width: 70px;
  max-height: 70px;
}
.comment{
  word-break: break-all;
}
.headeruserimg{
  height: 30px;
  width: 30px;
}
.logoimg{
  width:80px;
  border-radius: 50%;
  height: 80px;
}
.just-mobile{
  display: None;
}
.just-pc{
  display: block;
}
.trans-memo, .json_metadata{
  word-break: break-word;
}
@media only screen and (max-width: 900px) {
    .sectionclosedmobile {
        display: none;
    }
    .just-mobile{
      display: block;
    }
    .just-pc {
        display: none;
    }
}
