header{
  background-color: #1d482b;
  z-index: 11;
  top: 0px;
  div div{
    padding: 3px 6px;
    span{
      padding: 3px 6px;
    }
  }
}
.his-json{
  padding: 6px;
}
card{
  width: 100%;
}
.review-mod{
  height: 20vh;
  margin-bottom: 2px;
  margin: auto;
}
.definition-img{
  max-width: 100%;
  max-height: 400px;
  margin: 4px auto;
  border-radius: 4px;
}
.categories_a{
  padding: 6px 6px;
  width:  150px;
  overflow: hidden;
   white-space: nowrap;
  text-overflow: ellipsis;
}
section{
  position: relative;
  top: 16px;
}
.upshow{
  cursor: pointer;
  margin: 0px 12px;
}
.upshow p{
  word-break: break-word;
}
.lasmod{
  position: absolute;
  bottom: 6px;
  width: 96%;
}
.content_list{
  padding: 2px 6px;
}
.b-edit-point{
  width: 18px;
  position: absolute;
  z-index: 4;
  padding: 6px;
  cursor: pointer;
  right: 0px;
}
  .bebordert{
  border-top: 1px solid #fff;
  height: 4px;
}
.beborder{
  border: 1px solid #fff;
  height: 4px;
}
.beborderb{
  border-bottom: 1px solid #fff;
  height: 4px;
}
.b-edit{
  position: relative;
  top: -2px;
}
.b-edit-panel{
  display: none;
  height: 30px;
  background-color: #248644;
}
.carduserimg{
  width: 40px;
  height: 40px;
}
.carduser{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.useruserimg{
  max-width: 70px;
  max-height: 70px;
}
.comment{
  word-break: break-all;
}
.headeruserimg{
  height: 30px;
  width: 30px;
}
.logoimg{
  width:80px;
  border-radius: 50%;
  height: 80px;
}

.just-mobile{
  display: None;
}
.just-pc{
  display: block;
}

@media only screen and (max-width: 800px) {
    .sectionclosedmobile {
        display: none;
    }
    .just-mobile{
      display: block;
    }
    .just-pc {
        display: none;
    }
}
