/*  COOGGER.CSS  */
@import "options.scss"; /* önce ayarlar */

@import "another-settings.scss"; /* sonra diğer varsayılan ayarlar */

@import "mixin.scss"; /* fonksiyonlar */

@import "default.scss"; /* sonra varsayılan özellikler*/

@import "flx.scss"; /* flx özelliğikleri */

@import "hvr.scss"; /* hover özellikleri*/

@import "hvr-a.scss"; /* hover + animation özellikleri*/

@import "hvr-animation.scss"; /* hover + animation özellikleri özel animasyonlar*/

@import "hvr-flx.scss"; /* hover + flex özellikleri*/

@import "animation.scss"; /* animasyonlar */

@import "gnrl.scss"; /* genel özelikler */

/*  COOGGER.COM EK AYARLAR  */
@import "my.scss"; /* genel özelikler */
