/* elementler */
cards{
  position: relative;
  margin: 12px 0px;
  z-index: 0;
  @extend [flx];
  @extend [flx~="jc-c"];
}
card{
  margin: 3px;
  width: 280px;
  box-shadow: 0px 1px 2px 1px #c5c5c5;
  position: relative;
  @extend [gnrl~="bg-white"];
  @extend [gnrl~="br-2"];
}
cardtime{
  @extend [flx];
  @extend [flx~="jc-c"];
  @extend [gnrl~="txt-s"];
  @extend [gnrl~="b-1"];
  @extend [gnrl~="brc-muted"];
  padding: 3px 6px;
}
header{
  padding: 6px 0px;
  margin: 6px 0px;
  div div{
    padding: 3px 6px;
    span{
      padding: 3px 6px;
    }
  }
}
title{
  @extend [flx];
  @extend [flx~="jc-c"];
  @extend [flx~="ai-c"];
  @extend [gnrl~="txt-m"];
  @extend [gnrl~="b-1"];
  @extend [gnrl~="brc-muted"];
  @extend [gnrl~="c-private"];
  text-align: center;
  word-break: break-all;
  padding: 3px 6px;
}
/* sınıflar */
.duread-main {
  position: absolute;
  bottom: 26px;
  z-index: 2;
  left: 0px;
  right: 0px;
  opacity: 0;
  height: 60%;
  background-color: #248644;
}
.helptext{
  @extend [flx];
  @extend [gnrl~="bg-danger"];
  @extend [gnrl~="c-white"];
  @extend [gnrl~="br-2"];
  @extend [default~="pm"];
}
.upshow{
  height: 270px;
  width: 96%;
  z-index: 2;
  cursor: pointer;
  margin: auto;
}
.duread-li{
  padding: 4px 0px;
}
.lasmod{
  position: absolute;
  bottom: 6px;
  width: 96%;
}
.content_list{
  border-bottom: 1px solid #eaecee;
  padding: 6px;
}
.b-edit-point{
  width: 18px;
  position: absolute;
  z-index: 4;
  padding: 6px;
  margin: 6px;
  cursor: pointer;
  right: 0px;
}
.bebordert{
  border-top: 1px solid #fff;
  height: 4px;
}
.beborder{
  border: 1px solid #fff;
  height: 4px;
}
.beborderb{
  border-bottom: 1px solid #fff;
  height: 4px;
}
.b-edit{
  position: relative;
  top: -2px;
}
.b-edit-panel{
  display: none;
  position: absolute;
  z-index: 3;
  left: 0px;
  right: 0px;
  height: 100%;
  background-color: #248644;
}
.carduserimg{
  width: 50px;
  height: 50px;
}
.carduser{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 132px;
}
.useruserimg{
  max-width: 120px;
  max-height: 120px;
}
.comment{
  word-break: break-all;
}
.headeruserimg{
  height: 30px;
  width: 30px;
}
.logoimg{
  width:80px;
  border-radius: 50%;
  height: 80px;
}


/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>
ckeditör
*/

.hljs {
  display: block; padding: 0.5em;
  background: #F0F0F0;
  overflow-x: auto;
}

.hljs,
.hljs-subst,
.hljs-tag .hljs-title,
.lisp .hljs-title,
.clojure .hljs-built_in,
.nginx .hljs-title {
  color: black;
}

.hljs-string,
.hljs-title,
.hljs-constant,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value,
.hljs-rules .hljs-value .hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.haml .hljs-symbol,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-aggregate,
.hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-addition,
.hljs-flow,
.hljs-stream,
.bash .hljs-variable,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.tex .hljs-special,
.erlang_repl .hljs-function_or_atom,
.asciidoc .hljs-header,
.markdown .hljs-header,
.coffeescript .hljs-attribute {
  color: #800;
}

.smartquote,
.hljs-comment,
.hljs-annotation,
.hljs-template_comment,
.diff .hljs-header,
.hljs-chunk,
.asciidoc .hljs-blockquote,
.markdown .hljs-blockquote {
  color: #888;
}

.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.hljs-hexcolor,
.smalltalk .hljs-symbol,
.smalltalk .hljs-char,
.go .hljs-constant,
.hljs-change,
.lasso .hljs-variable,
.makefile .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #080;
}

.hljs-label,
.hljs-javadoc,
.ruby .hljs-string,
.hljs-decorator,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-attr_selector,
.hljs-important,
.hljs-pseudo,
.hljs-pi,
.haml .hljs-bullet,
.hljs-doctype,
.hljs-deletion,
.hljs-envvar,
.hljs-shebang,
.apache .hljs-sqbracket,
.nginx .hljs-built_in,
.tex .hljs-formula,
.erlang_repl .hljs-reserved,
.hljs-prompt,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.vhdl .hljs-attribute,
.clojure .hljs-attribute,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute,
.coffeescript .hljs-property,
.hljs-phony {
  color: #88F
}

.hljs-keyword,
.hljs-id,
.hljs-title,
.hljs-built_in,
.hljs-aggregate,
.css .hljs-tag,
.hljs-javadoctag,
.hljs-phpdoc,
.hljs-yardoctag,
.smalltalk .hljs-class,
.hljs-winutils,
.bash .hljs-variable,
.apache .hljs-tag,
.go .hljs-typename,
.tex .hljs-command,
.asciidoc .hljs-strong,
.markdown .hljs-strong,
.hljs-request,
.hljs-status {
  font-weight: bold;
}

.asciidoc .hljs-emphasis,
.markdown .hljs-emphasis {
  font-style: italic;
}

.nginx .hljs-built_in {
  font-weight: normal;
}

.coffeescript .javascript,
.javascript .xml,
.lasso .markup,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
