{% include 'settings/home.html' %}
<div flx="jc-c" default="media" gnrl="bg-white br-2">
  {% include 'settings/set-choices.html' %}
  <div flx="fd-c" default="form media" style="padding: 3px 6px;">
    <div default="media pm" flx="jc-c as-c" gnrl="bg-dark c-white b-1 br-2">Non-shareable content at steemit,please contact admin</div>
    <div flx="fd-c" default="media pm">
        {% for i in content %}
      <div flx="ai-c jc-fe" gnrl="b-1 br-2 brc-muted txt-l" style="padding: 6px 6px;">
        <a gnrl="bg-2 c-secondary txt-l" hvr="c-primary" target="_blank" href="/@{{ i.url }}" style="padding: 6px 16px;">
          {{ i.content_list }} -- {{ i.title }}
        </a>
      </div>
        {% endfor %}
    </div>
    </div>
  </div>
</div>
<script>
