<div flx="">
  <div flx="jc-c fd-c" gnrl="bg-white">
    <div hvr="bg-secondary" gnrl="br-2">
      <a gnrl="c-dark" hvr="c-white" flx="ai-c jc-c" href="{% url 'cooggerapp-draft' %}" style="padding: 12px 6px;">
        <i class="fa fa-globe" aria-hidden="true">
          <span>Draft</span>
        </i>
      </a>
    </div>
    <div hvr="bg-secondary" gnrl="br-2">
      <a gnrl="c-dark" hvr="c-white" flx="ai-c jc-c" href="{% url 'cooggerapp-saddaddress' %}" style="padding: 12px 6px;">
        <i class="fa fa-globe" aria-hidden="true">
          <span>Add web address</span>
        </i>
      </a>
    </div>
    <div hvr="bg-secondary" gnrl="br-2">
      <a gnrl="c-dark" hvr="c-white" flx="ai-c jc-c" href="{% url 'cooggerapp-cooggerup' %}" style="padding: 12px 6px;">
        <i class="fa fa-globe" aria-hidden="true">
          <span>Cooggerup</span>
        </i>
      </a>
    </div>
    <div hvr="bg-secondary" gnrl="br-2">
      <a gnrl="c-dark" hvr="c-white" flx="ai-c jc-c" href="{% url 'cooggerapp-votepercent' %}" style="padding: 12px 6px;">
        <i class="fa fa-globe" aria-hidden="true">
          <span>Vote percent</span>
        </i>
      </a>
    </div>
  </div>
  </div>
