{% include 'home/head.html' %} {% include 'home/header.html' %}
<div gnrl="center" default="media" gnrl="bg-white br-2" style="margin:  auto;">
    <form flx="fd-c" default="form media" method="post" action="{% url 'settings' %}" style="padding: 3px 6px;">
        {% csrf_token %}
        <div gnrl="bg-primary c-white center br-2" style="padding: 2px 12px;">Set vote percent</div>
        {{ vote_percent_form }}
        <div gnrl="bg-primary c-white center br-2" style="padding: 2px 12px;">Set cooggerup bot,join curation trail</div>
        {{ cooggerup_form }}
        <div gnrl="bg-primary c-white center br-2" style="padding: 2px 12px;">Set beneficiaries percent for coogger ecosystem</div>
        {{ beneficiaries_percent_form }}
        <div gnrl="bg-primary c-white center br-2" style="padding: 2px 12px;">Set address</div>
        {{ address_form }}
        <input flx="as-c" type="submit" value="Save">
    </form>
    {% if address_instance %}
    <div default="media pm" flx="jc-c as-c" gnrl="bg-dark c-white b-1 br-2">Your web address</div>
    <div flx="fd-c" default="media pm">
        {% for i in address_instance %}
        <div flx="ai-c jc-fe" gnrl="b-1 br-2 brc-muted txt-l" style="padding: 6px 6px;">
            {{ i.choices }} {% if i.choices == "web-site" %}
            <a gnrl="bg-2 c-secondary txt-l" hvr="c-primary" target="_blank" href="{{ i.adress }}" style="padding: 6px 16px;">
        {{ i.adress}}
      </a> {% else %}
            <a gnrl="bg-2 c-secondary txt-l" hvr="c-primary" target="_blank" href="https://www.{{i.choices}}.com/{{i.adress}}" style="padding: 6px 16px;">
        {{ i.adress}}
      </a> {% endif %}
            <div flx="ai-c jc-fs" class="deladdress" data-deladdress="{{ i.id }}" flx="ai-c as-c" hvr-a="bg-danger" hvr="c-white" gnrl="b-1 br-2 brc-muted txt-l" style="cursor:pointer;padding: 6px;">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function() {
      $(".deladdress").click(function(event){
        var address_id = this.getAttribute("data-deladdress");
        $.ajax({
          url: "{% url 'address_del' %}",
          method: 'POST',
          dataType: 'json',
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            address_id:address_id,
          }
        }).done(function (response) {
          if (response.status == "ok"){
            alert(response.ms);
          }
          else {
            alert("Unexpected error");
          }
        });
      });
    });
</script>
{% endif %}
