{% include 'apps/cooggerapp/home/head.html' %}
{% include 'apps/cooggerapp/home/logo.html' %}
{% include 'apps/cooggerapp/home/header.html' %}
<div gnrl="bg-white br-2" default="media" flx="jc-c ai-c fd-c">
  <form  flx="fd-c" default="form" method="post" class="c-create-form"  style="padding: 12px 6px;" action="{% url 'cooggerapp-change' content_id %}">
    {% csrf_token %}
    {{ change_form.as_p }}
    {{ change_form.media }}
    <ul flx class="tags"></ul>
    <input flx="as-c" type="submit" value="Düzenlemeyi kaydet">
  </form>
</div>
<div flx="jc-c" gnrl="bg-dark c-white br-2" default="pm media" gnrl="br-2">
  <div>Önizleme</div>
</div>
{% include 'apps/cooggerapp/controls/preview.html' %}
{% include 'apps/cooggerapp/home/footer.html' %}
</body>
 {% include 'apps/cooggerapp/controls/js.html' %}
</html>
