{% include 'apps/cooggerapp/home/head.html' %}
{% include 'apps/cooggerapp/home/logo.html' %}
{% include 'apps/cooggerapp/home/header.html' %}
<div>
<div gnrl="bg-white br-2" default="media" flx="jc-c ai-c fd-c">
  <form flx="fd-c" default="form" method="post" class="c-create-form" action="{% url 'cooggerapp-create' %}" style="padding: 12px 6px;">
      {% csrf_token %}
      {{ create_form.as_ul }}
      {{ create_form.media }}
      <ul flx class="tags"></ul>
      <input flx="as-c" type="submit" value="Paylaş" >
    </form>
</div>
<div flx="jc-c" gnrl="bg-dark c-white br-2" default="pm media" gnrl="br-2">
  <div>preview</div>
</div>
<!-- {% include 'apps/cooggerapp/controls/preview.html' %} -->

</div>
{% include 'apps/cooggerapp/home/footer.html' %}
{% include 'apps/cooggerapp/controls/js.html' %}
</body>
</html>
