{% include 'apps/cooggerapp/home/head.html' %}
{% include 'apps/cooggerapp/home/logo.html' %}
{% include 'apps/cooggerapp/home/header.html' %}
<div flx="jc-c ai-c fd-c">
  <form flx="fd-c" default="form media" method="post" class="c-create-form" action="{% url 'cooggerapp-create' %}" style="padding: 12px 6px;">
      {% csrf_token %}
      {{ create_form.as_ul }}
      {{ create_form.media }}
      <ul flx class="tags"></ul>
      <input flx="as-c" type="submit" value="Share" >
    </form>
</div>
{% include 'apps/cooggerapp/home/footer.html' %}
</body>
</html>
