{% include 'apps/cooggerapp/home/head.html' %}
{% include 'apps/cooggerapp/home/logo.html' %}
{% include 'apps/cooggerapp/home/header.html' %}
<script type="text/javascript">$(function() {
  editormd.urls.atLinkBase = "http://www.coogger.com/@";
  var Editor = editormd("create", {
    width : "100%",
    height: 670,
    path : "/static/js/lib/",
    htmlDecode : "style,iframe",
  });
  var lang = "en";
  var path  = "/static/js/languages/en";
  editormd.loadScript(path, function() {
    Editor.lang = editormd.defaults.lang;
    Editor.recreate();
    });
});
</script>
<div flx="jc-c ai-c fd-c">
  <form flx="fd-c" default="form media" method="post" class="c-create-form" action="{% url 'cooggerapp-create' %}" style="padding: 12px 6px;">
      {% csrf_token %}
      <li>
        <label for="id_{{ create_form.content_list.name }}">{{ create_form.content_list.name }}</label>
        {{ create_form.content_list }}
        <span class="helptext">{{ create_form.content_list.help_text }}</span>
      </li>
      <li>
        <label for="id_{{ create_form.title.name }}">{{ create_form.title.name }}</label>
        {{ create_form.title }}
        <span class="helptext">{{ create_form.title.help_text }}</span>
      </li>
      <li>
        <label for="id_{{ create_form.content.name }}">{{ create_form.content.name }}</label>
        <div id="create">
            {{ create_form.content }}
        </div>
      </li>
      <li>
        <label for="id_{{ create_form.tag.name }}">{{ create_form.tag.name }}</label>
        {{ create_form.tag }}
        <span class="helptext">{{ create_form.tag.help_text }}</span>
      </li>
      <ul flx class="tags"></ul>
      <input flx="as-c" type="submit" value="Share" style="padding: 12px 42px;">
    </form>
</div>
</body>
</html>
