{% include 'home/head.html' %}
{% include 'home/header.html' %}
<script type="text/javascript">$(function() {
  editormd.urls.atLinkBase = "http://www.coogger.com/@";
  var Editor = editormd("change", {
    width : "100%",
    height: 670,
    path : "/static/js/lib/",
    htmlDecode: "html,iframe",
    emoji : true,
    atLink: false,
    emailLink : false
  });
  var lang = "en";
  var path  = "/static/js/languages/en";
  editormd.loadScript(path, function() {
    Editor.lang = editormd.defaults.lang;
    Editor.recreate();
    });
});
</script>
<div flx="jc-c ai-c fd-c" style="margin-top: 60px;">
  <form  flx="fd-c" default="form media" method="post" class="c-create-form"  style="padding: 12px 6px;" action="{% url 'cooggerapp-change' content_id %}">
    {% include 'controls/form_inside.html' %}
    <input flx="as-c" type="submit" value="Save edit" style="padding: 12px 42px;color:#333" hvr-a="i bg-white">
  </form>
</div>
</body>
</html>
