{% include 'home/head.html' %} {% include 'home/header.html' %}
<div class="header-bottom" flx="jc-c ai-c fd-c">
  <div>
    <a gnrl="c-success" target="blank" id="category_help_page" href="?category=development">
      Need help? check this address for <span gnrl="c-dark" id="category_help_name">development</span> category
    </a>
  </div>
    <form flx="fd-c" default="form media" method="post" class="c-create-form" action="{% url 'create' %}" style="padding: 12px 6px;z-index:2">
        {% csrf_token %} {{ form }}
        <input flx="as-c" type="submit" value="Share" style="padding: 12px 42px;color:#333" hvr-a="i bg-white">
    </form>
</div>
{% include 'controls/script.html' %}
</body>
</html>
