{% csrf_token %}
  <label for="id_{{ form.title.name }}">{{ form.title.name }}</label>
  {{ form.title }}
  <span class="helptext">{{ form.title.help_text }}</span>

  <label for="id_{{ create_form.content.name }}">{{ form.content.name }}</label>
  {{ form.content }}

  <label for="id_{{ form.tag.name }}">{{ form.tag.name }}</label>
  {{ form.tag }}
  <span class="helptext">{{ form.tag.help_text }}</span>

  <label for="id_{{ form.right_side.name }}">{{ form.right_side.name }}</label>
  {{ form.right_side }}
  <span class="helptext">{{ form.right_side.help_text }}</span>

  <label for="id_{{ form.left_side.name }}">{{ form.left_side.name }}</label>
  {{ form.left_side }}
  <span class="helptext">{{ form.left_side.help_text }}</span>
