{% extends "settings/settings.html" %}
{% block setting %}
    {% include 'forms/create_form.html' with action_url_name='settings-address' %}
    {% if address_instance %}
        <div general="flex flex:fd-c" mobile-s="width:100" mobile-l="width:98" tablet="width:60" laptop="width:40" laptop-l="width:70">
            {% for address in address_instance %}
            <div general="flex flex:ai-c flex:jc-fe border:1 br:2 text:l brc:muted" style="padding: 6px 6px;">
                {% if address.choices == "web-site"%}
                    <i class="fa fa-globe" aria-hidden="true"></i>
                {% endif %}
                    <i class="fab fa-{{address.choices}}" aria-hidden="true"></i>
                {{ address.choices }} - <span general="color:secondary text:s">{{ address.address }}</span>
                <div onclick="delAddress({{ address.id }})" general="flex flex:ai-c flex:jc-fs flex:as-c border:1 br:2 brc:muted text:l color:danger:hover position:right"  style="cursor:pointer;padding: 6px;">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}
