{% extends "home/html.html" %}
{% load coogger_tags %}
{% block body %}
<div general="position:center width:20 border:1 brc:muted" mobile-l="width:96" mobile-m="width:100" mobile-s="width:100" style="margin-top: 20px;">
  {% for set in settings_list %}
    <a general="{% if set in request.path %} bg:primary color:white {% endif %}" style="padding: 6px;" href="{% url 'settings' %}{{ set }}/">
        <strong>{{ set|title|clear:"-" }}</strong>
    </a>
  <hr>
  {% endfor %}
</div>
<div general="position:center br:2 bg:white flex flex:fd-c width:50" style="min-height: 60vh;" mobile-l="width:96" mobile-m="width:100" mobile-s="width:100">
  {% block setting %}{% endblock %}
</div>
{% endblock %}
