{% load i18n %}
<footer general="bg:dark color:white">
  <div general="flex flex:fd-c width:100">
    <div class="closed_footer" general="text:xxl br:2 width:max">
      <div general="color:red">x</div>
    </div>
    <div style="margin-top: 40px;">
      {% include 'forms/search.html' %}
      <br>
      <div general="flex flex:fd-c">
        <a class="fas fa-user-secret" general="color:white text:l color:dark:hover" href="{% url 'privacy' %}">
          {% trans "Privacy Policy" %}
        </a>
        <br>
        <a class="fas fa-heart" general="color:white text:l color:danger:hover" href="{% url 'sponsorship' %}">
          {% trans "Sponsorship" %}
        </a>
        <br>
        <a class="fas fa-user-minus" general="color:white text:l color:warning:hover" href="{% url 'delete-account' %}">
          {% trans "Delete Account" %}
        </a>
        <br>
        <a class="fas fa-image" general="color:white text:l color:primary:hover" href="{% url 'coogger-images' %}">
          {% trans "Coogger Images" %}
        </a>
        <br>
        <a class="fas fa-plus-circle" general="color:white text:l color:primary:hover" href="{% url 'create-utopic' %}">
          {% trans "Create Topic" %}
        </a>
        <br>
        <a class="fas fa-compass" general="color:white text:l color:primary:hover" href="{% url 'explorer_posts' %}">
          {% trans "Explore posts" %}
        </a>
      </div>
      <div class="f-address" class="capitalize" style="margin-top: 30px;">
        <span class="capitalize" general="position:center">{% trans "SOCIAL" %}</span>
        <div style="margin-top: 10px;">
          <a general="flex flex:ai-c color:white color:primary:hover" target="_blank"
            href="https://github.com/coogger/">
            <i class="fab fa-github"></i>
            <span>GitHub</span>
          </a>
        </div>
        <div style="margin-top: 10px;">
          <a general="flex flex:ai-c color:white color:primary:hover" target="_blank"
            href="https://twitter.com/cooggercom">
            <i class="fab fa-twitter-square"></i>
            <span>Twitter</span>
          </a>
        </div>
        <div style="margin-top: 10px;">
          <a general="flex flex:ai-c color:white color:primary:hover" target="_blank"
            href="https://www.linkedin.com/company/coogger">
            <i class="fab fa-linkedin"></i>
            <span>Linkedin</span>
          </a>
        </div>
      </div>
    </div>
    <div general="flex position:center flex:fd-c">
      <span general="position:center">© 13 Sep 2017</span>
      <a general="color:blue8 position:center" href="https://www.coogger.com">
        <strong>COOGGER</strong>
      </a>
    </div>
  </div>
</footer>