<div general="center" flex="fd-c">
  {% if nameoflist_ex or nameofhashtag %}
    <div flex="jc-c" style="margin-bottom: 24px;">
        <img src="/static/media/topics/earth.svg" style="width: 120px;height: 120px;" />
        <img flex="as-fe" src="/static/media/icons/list.svg" style="width: 60px;height: 60px;" />
    </div>
    <div flex="jc-c">
        <h1>{{ nameoflist_ex }}</h1>
        {% if nameofhashtag %}
        <h1>{{ nameofhashtag }}</h1>
        {% endif %}
    </div>
  {% endif %}
  {% if language %}
    <div flex="jc-c" style="margin-bottom: 24px;">
        <img src="/static/media/topics/earth.svg" style="width: 120px;height: 120px;" />
        <img flex="as-fe" src="/static/media/topics/language.svg" style="width: 60px;height: 60px;" />
    </div>
    <div flex="jc-c">
        <h1>{{ language }}</h1>
    </div>
  {% endif %}
  {% if category %}
    <div flex="jc-c" style="margin-bottom: 24px;">
        <img src="/static/media/topics/earth.svg" style="width: 120px;height: 120px;" />
        <img flex="as-fe" src="/static/media/topics/category.svg" style="width: 60px;height: 60px;" />
    </div>
    <div flex="jc-c">
        <h1>{{ category }}</h1>
    </div>
  {% endif %}
  {% if filter %}
    <div flex="jc-c" style="margin-bottom: 24px;">
        <img src="/static/media/topics/earth.svg" style="width: 120px;height: 120px;" />
        <img flex="as-fe" src="/static/media/topics/filter.svg" style="width: 60px;height: 60px;" />
    </div>
    <div style="word-break: break-word;">
        <h1>{{ filter }}</h1>
    </div>
  {% endif %}
</div>
