<div>
  {% if nameofhashtag %}
  <div general="w-100" tablet="w-80" mobile-l="w-98" style="margin-top:12px;">
    <div style="margin:12px;">
      <div general="txt-m c-dark" flex="ai-c">
        <img general="br-circle w-20 b-1 brc-muted" style="margin:0px" src="/static/media/topics/earth.svg">
        <img src="/static/media/icons/list.svg" general="w-8" style="margin:6px" />
        <strong general="txt-l" class="capitalize" style="margin-left:6px">{{ nameofhashtag }}</strong>
      </div>
    </div>
    <strong general="txt-s" style="margin-left: 12px;">
      CONTENTS
      <span style="padding:3px;" class="query_count"></span>
  </strong>
  </div>
  {% endif %}
  {% if language %}
  <div general="w-100" tablet="w-80" mobile-l="w-98" style="margin-top:12px;">
    <div style="margin:12px;">
      <div general="txt-m c-dark" flex="ai-c">
        <img general="br-circle w-20 b-1 brc-muted" style="margin:0px" src="/static/media/topics/earth.svg">
        <img src="/static/media/topics/language.svg" general="w-8" style="margin:6px" />
        <strong general="txt-l" class="capitalize" style="margin-left:6px">{{ language }}</strong>
      </div>
    </div>
    <strong general="txt-s" style="margin-left: 12px;">
      CONTENTS
      <span style="padding:3px;" class="query_count"></span>
  </strong>
  </div>
  {% endif %}
  {% if category %}
  <div general="w-100" tablet="w-80" mobile-l="w-98" style="margin-top:12px;">
    <div style="margin:12px;">
      <div general="txt-m c-dark" flex="ai-c">
        <img general="br-circle w-20 b-1 brc-muted" style="margin:0px" src="/static/media/topics/earth.svg">
        <img src="/static/media/topics/category.svg" general="w-8" style="margin:6px" />
        <strong general="txt-l" class="capitalize" style="margin-left:6px">{{ category }}</strong>
      </div>
    </div>
    <strong general="txt-s" style="margin-left: 12px;">
      CONTENTS
      <span style="padding:3px;" class="query_count"></span>
  </strong>
  </div>
  {% endif %}
  {% if filter %}
  <div general="w-100" tablet="w-80" mobile-l="w-98" style="margin-top:12px;">
    <div style="margin:12px;">
      <div general="txt-m c-dark" flex="ai-c">
        <img general="br-circle w-20 b-1 brc-muted" style="margin:0px" src="/static/media/topics/earth.svg">
        <img src="/static/media/topics/filter.svg" general="w-8" style="margin:6px" />
        <strong general="txt-l" class="capitalize" style="margin-left:6px">{{ filter }}</strong>
      </div>
    </div>
    <strong general="txt-s" style="margin-left: 12px;">
      CONTENTS
      <span style="padding:3px;" class="query_count"></span>
  </strong>
  </div>
  {% endif %}
</div>
