<footer color="bg-black2 c-white" gnrl="txt-s">
  <div gnrl="center" flx="fd-c" >
    <div flx="fd-r" gnrl="center">
      <div gnrl="center" flx="fd-c" class="f-address">
        <strong gnrl="center">Made by Hakan ÇELİK</strong>
        <span color="c-grey" gnrl="center" style="margin-bottom: 12px;">You can follow the addresses below.</span>
        <li>
          <a color="c-blue8" href="https://www.coogger.com/@hakancelik">COOGGER - @hakancelik</a>
        </li>
        <li>
          <a color="c-blue8" href="https://www.github.com/hakancelik96">GITHUB - hakancelik96</a>
        </li>
        <li>
          <a color="c-blue8" href="https://www.github.com/coogger">GITHUB - coogger</a>
        </li>
        <li>
          <a color="c-blue8" href="https://www.steemit.com/@hakancelik">STEEMIT - @hakancelik</a>
        </li>
        <li>
          <a color="c-blue8" href="https://www.instagtam.com/hakancelik.py">INSTAGRAM - @hakancelik.py</a>
        </li>
      </div>
      <div gnrl="center" flx="fd-c" class="f-address">
        <strong gnrl="center" style="margin-bottom: 12px;">Quick pages</strong>
        <li>
          <a color="c-blue8" href="https://www.coogger.com/about/@hakancelik/">ABOUT - @hakancelik</a>
        </li>
        <li>
          <a color="c-blue8" href="https://www.coogger.com/about/@coogger/">ABOUT - @coogger</a>
        </li>
        <li>
          <a color="c-blue8" href="https://www.coogger.com/review/">REVIEW</a>
        </li>
        <li>
          <a color="c-blue8" href="https://www.coogger.com/supporters/">SUPPORTERS</a>
        </li>
        <li>
          <a color="c-blue8" href="https://www.coogger.com/dapps/">DAPPS</a>
        </li>
      </div>
    </div>
    <div gnrl="center">© 13 Sep 2017 Copyright:
      <a color="c-blue8" href="https://www.coogger.com">
        <strong>COOGGER</strong>
      </a>
    </div>
  </div>
</footer>
