<footer general="txt-s bg-black2 c-white">
  <div general="center" flex="fd-c" >
    <div flex="fd-r">
      <div general="center" flex="fd-c" class="f-address">
        <strong general="center">Made by Hakan ÇELİK</strong>
        <span general="center c-grey" style="margin-bottom: 12px;">You can follow the addresses below.</span>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.coogger.com/@hakancelik">COOGGER - @hakancelik</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.github.com/hakancelik96">GITHUB - hakancelik96</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.github.com/coogger">GITHUB - coogger</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.steemit.com/@hakancelik">STEEMIT - @hakancelik</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.instagtam.com/hakancelik.py">INSTAGRAM - @hakancelik.py</a>
        </li>
      </div>
      <div general="center" flex="fd-c" class="f-address">
        <strong general="center" style="margin-bottom: 12px;">Quick pages</strong>
        <li>
          <a general="c-blue8" hover="c-success" href="https://discord.gg/avmdZJa">DISCORD - coogger</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.coogger.com/about/@hakancelik/">ABOUT - @hakancelik</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.coogger.com/about/@coogger/">ABOUT - @coogger</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.coogger.com/review/">REVIEW</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.coogger.com/supporters/">SUPPORTERS</a>
        </li>
        <li>
          <a general="c-blue8" hover="c-success" href="https://www.coogger.com/dapps/">DAPPS</a>
        </li>
      </div>
    </div>
    <div general="center">© 13 Sep 2017 Copyright:
      <a general="c-blue8" href="https://www.coogger.com">
        <strong>COOGGER</strong>
      </a>
    </div>
  </div>
</footer>
