{% load static from staticfiles %} {% load coogger_tags %}
<!-- Doctype HTML5 -->
<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="reply-to" content="cooggerapp@gmail.com">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ request.dapp_model.icon_address }}" type="image/x-icon" />
    <title>{{ request.head.title|truncatechars:55 }}</title>
    <meta property="og:title" content="{{ request.head.title|truncatechars:55 }}" />
    <meta property="og:site_name" content="{{ request.head.title|truncatechars:55 }}" />
    <meta name="twitter:title" content="{{ request.head.title|truncatechars:55 }}" />
    <meta itemprop="name" content="{{ request.head.title|truncatechars:55 }}" />
    <meta name="keywords" content="{{ request.head.keywords }}" />
    <meta name="description" content="{{ request.head.description|truncatechars:150 }}" />
    <meta name="twitter:description" content="{{ request.head.description|truncatechars:150 }}" />
    <meta property="og:description" content="{{ request.head.description|truncatechars:150 }}" />
    <meta itemprop="description" content="{{ request.head.description|truncatechars:150 }}" />
    <meta property="og:image" content="{{ request.head.image }}" />
    <meta itemprop="image" content="{{ request.head.image }}" />
    <meta name="twitter:image:src" content="{{ request.head.image }}" />
    <meta name="author" content="{{ request.head.author }}" />
    <meta property="article:author" content="{{ request.head.author }}" />
    <meta property="article:publisher" content="{{ request.head.author }}" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="2" />
    <meta name="google-site-verification" content="rnPH_IPr0-W5u8C7upDEAjV90clTFKhzppGSB31gcgQ" />
    <meta name="revisit-after" content="2 days" />
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta property="og:url" content="http://www.coogger.com{{ request.META.PATH_INFO }}" />
    <meta name="yandex-verification" content="d8be2feff15c1e50" />
    {% if detail or django_md_editor %}
    <script src='/static/jquery.min.js'></script>
    <link href="/static/css/editormd.css" type="text/css" media="all" rel="stylesheet">
    <!-- <script type="text/javascript" src="/static/editormd.js"></script> -->
    <script type="text/javascript" src="/static/editormd.min.js"></script>
    <script type="text/javascript" src="/static/lib/codemirror/codemirror.min.js"></script>
    <script type="text/javascript" src="/static/lib/codemirror/modes.min.js"></script>
    <script type="text/javascript" src="/static/lib/codemirror/addons.min.js"></script>
    <script type="text/javascript" src="/static/lib/marked.min.js"></script>
    <script type="text/javascript" src="/static/lib/prettify.min.js"></script>
    <script type="text/javascript" src="/static/lib/raphael.min.js"></script>
    <script type="text/javascript" src="/static/lib/underscore.min.js"></script>
    <script type="text/javascript" src="/static/lib/flowchart.min.js"></script>
    <script type="text/javascript" src="/static/lib/jquery.flowchart.min.js"></script>
    <script type="text/javascript" src="/static/lib/sequence-diagram.min.js"></script>
    {% endif %}
    {% if not request.user.is_superuser %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107674954-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-107674954-1');
    </script>
    {% endif %}
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'js/general.js' %}"></script>
    <script src="{% static 'js/sc2.min.js' %}"></script>
    <script src="{% static 'js/steem.min.js' %}"></script>
    <link href="https://rawcdn.githack.com/coogger/coogger.css/e707ef77c8f2a3bf9326b2ee481332b8ac36f8f5/styles/coogger.css" rel="stylesheet">
    <link href="{% static 'css/styles/private.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles/vote.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous"> {% if request.user.is_authenticated %}
    <script>
        const scope_list = [];
          {% for scope in request.user.steemconnectuser.dapp.scope|split:"," %}
            scope_list.push("{{ scope }}")
            {% endfor %}
            var api = sc2.Initialize({
              app: "{{ request.user.steemconnectuser.dapp.name  }}.app",
              callbackURL: "{{ request.user.steemconnectuser.dapp.redirect_url }}",
              accessToken: "{{ request.user.steemconnectuser.access_token }}",
              scope: scope_list,
            });
    </script>
    {% endif %}
</head>
