{% include 'home/script.html' %}
<header flx="jc-c ai-c" gnrl="br-1 bg-white" style="min-height: 56px;border-bottom:  1px solid #f1f1f1;padding: 4px 0px;">
  <a flx="jc-c ai-c" href="/" gnrl="c-dark">
    <img src="{{ request.community_model.icon_address }}" gnrl="br-circle" style="width:  48px;height:  48px;padding: 0px 6px;">
    {{ request.community_model.name }} - <span gnrl="txt-xs">Beta</span></img>
  </a>
  <div class="search" style="padding:  3px 12px;">
    <form action="{% url 'search' %}">
      <input gnrl="bg-white c-dark b-1 br-2 brc-muted" type="text" style="padding: 6px 12px;" placeholder='Search ..' name="query" maxlength="250" value="{{ request.GET.query }}" gnrl="br-2"/>
      <input type="submit" value="Search" style="display:  none;"/>
    </form>
  </div>
  <div style="padding:  3px 12px;">
    <a style="padding: 6px;" hvr-animation="c-2 fadeIn" flx="" hvr="c-white bg-dark br-2" gnrl="wmax txt-m c-dark" href="{% url 'create' %}">
      <i flx="as-c" class="fa fa-plus-circle" aria-hidden="true" style="margin: 0px 12px;"></i>
    </a>
  </div>
  {% if not request.user.is_authenticated %}
  <div style="padding:  3px 12px;">
    <a style="padding: 6px;" hvr-animation="c-2 fadeIn" flx="" hvr="c-dark bg-white br-2" gnrl="wmax txt-m c-dark" href="https://signup.steemit.com/">Sign up</a>
  </div>
  <div style="padding:  3px 12px;">
    <a style="padding: 6px;" hvr-animation="c-2 fadeIn" flx="" hvr="c-dark bg-white br-2" gnrl="wmax txt-m c-dark" href="{% url 'login' %}">Sign in</a>
  </div>
  {% else%}
  <div style="padding:  3px 12px;" flx="ai-c">
    <a style="padding: 6px;" flx="ai-c" gnrl="wmax txt-m c-secondary" href="/@{{ request.user }}">
      <img style="width: 38px;height: 38px;margin-right: 6px;background-size: cover;background-image: url('https://steemitimages.com/u/{{ request.user }}/avatar');" gnrl="br-circle c-muted" style="max-width: 100%;max-height: 36px;">
        <span id="steem_power"></span>%</img>
    </a>
    <i gnrl="c-dark" hvr="c-warning" style="cursor:pointer;" class="fa fa-arrow-down"></i>
    <div class="open_header_menu" gnrl="bg-white br-2 brc-muted b-1" style="position:  absolute;top: 55px;display: none;z-index: 1;">
      <div style="padding:  3px 12px;" flx="jc-fe">
        <a style="padding: 6px;" hvr-animation="c-2 fadeIn" flx="" hvr="c-primary bg-white br-2" gnrl="wmax txt-m c-secondary" href="{% url 'followingcontent' %}">
          <span>Feed</span>
          <i flx="as-c" class="fa fa-users" aria-hidden="true" style="margin: 0px 12px;"></i>
        </a>
      </div>
      <div style="padding:  3px 12px;"  flx="jc-fe">
        <a style="padding: 6px;" hvr-animation="c-2 fadeIn" flx="" hvr="c-primary bg-white br-2" gnrl="wmax txt-m c-secondary" href="{% url 'review' %}">
          <span>Review</span>
          <i flx="as-c" class="fa fa-eye-slash" aria-hidden="true" style="margin: 0px 12px;"></i>
        </a>
      </div>
      <div style="padding:  3px 12px;" flx="jc-fe">
        <a style="padding: 6px;" hvr-animation="c-2 fadeIn" flx="" hvr="c-primary bg-white br-2" gnrl="wmax txt-m c-secondary" href="{% url 'settings' %}">
          <span>Settings</span><i flx="as-c" class="fa fa-cog" aria-hidden="true" style="margin: 0px 12px;"></i>
        </a>
      </div>
      <div style="padding:  3px 12px;" flx="jc-fe">
        <a style="padding: 6px;" hvr-animation="c-2 fadeIn" flx="" hvr="c-primary bg-white br-2" gnrl="wmax txt-m c-secondary" href="{% url 'communities' %}">
          Communities
        <i flx="as-c" style="margin: 0px 12px;" class="fab fa-connectdevelop"></i>
      </a>
      </div>
      <div style="padding:  3px 12px;" hvr-animation="i tada" flx="jc-fe">
        <a style="padding: 6px;" hvr="c-danger bg-white br-2" flx="" gnrl="wmax txt-m c-secondary"  href="{% url 'logout' %}">
          <span>Sign out</span>
          <i flx="as-c" class="fas fa-sign-out-alt" style="margin: 0px 12px;"></i>
        </a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if request.user.is_staff %}
  <div style="padding:  3px 12px;">
    <a style="padding: 6px;" hvr-animation="c-2 fadeIn" flx="" hvr="c-dark bg-white br-2" gnrl="wmax txt-m c-dark"  href="/admin/">
      <span>Admin</span>
    </a>
  </div>
  {% endif %}
</header>
<div gnrl="bg-success c-white br-2"  flx="jc-c" style="height: 4px;" id="steem_power_bar"></div>
