{% extends "home/html.html" %}
{% block body %}
  <div class="c-definition-1" gnrl="ewcenter" color="bg-dark-purple c-white">
    <div flx="fd-c">
      <strong gnrl="txt-xxl center">Create Decentralized Web Application</strong>
      <span gnrl="center" color="c-grey" hvr="c-white">and start earning money</span>
      <span gnrl="center" >With Steem blockchain technology using coogger project</span>
      <span gnrl="center" >
        Steem is a blockchain-based rewards platform for publishers to monetize content and grow community.
      </span>
      <span gnrl="center">
        <a color="c-blue" href="https://discord.gg/avmdZJa">Join and Contact us on  Discord</a>
      </span>
      <span gnrl="center">And we create a DApp ( decentralized application ) for you</span>
    </div>
  </div>
  <div gnrl="center ewcenter txt-m" flx="fd-c">
    <div style="margin: 12px;padding: 12px;" color="bg-grey2" gnrl="br-2">
      <span gnrl="center txt-xl"><strong>About COOGGER</strong></span>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>SEO friendly</strong>
        </div>
      </div>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>Steem Blockchain</strong>
          <span></span>
        </div>
      </div>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>Fully responsive</strong>
          <span></span>
        </div>
      </div>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>Admin dashboard</strong>
          <span>Build and Management your community DApp</span>
        </div>
      </div>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>No deposit </strong>
          <span>Don't pay for anything! We will took few percents from your articles rewards</span>
        </div>
      </div>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>Cross-browser compatibility</strong>
          <span>
            Chrome, Firefox, IE, Safari, Opera, Edge - COOGGER works the same in all browsers.
          </span>
        </div>
      </div>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>Frequent updates</strong>
          <div flx="fd-c"></div>
        </div>
      </div>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>Customizable</strong>
          <span>You can configure your website easily by using admin dashboard.</span>
        </div>
      </div>
      <div flx="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" color="bg-blue8 c-white" gnrl="br-circle"></i>
        <div flx="fd-c">
          <strong>We are open-source</strong>
          <span>Fork me on
            <a color="c-blue" hvr="c-success" href="https://www.github.com/coogger">Github - coogger</a>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
