{% extends "home/html.html" %}
{% block body %}
  <div class="c-definition-1" general="ewcenter bg-dark-purple c-white w-100">
    <div flex="fd-c">
      <span general="center">Coogger is an ecosystem where is knowledge sharing network which can create web DApp</span>
      <strong general="txt-xxl center">Create Decentralized Own Web Application or Just Use Coogger.com</strong>
      <span general="center c-white">Share your experiences and knowledge and start earning money</span>
      <span general="center">With Steem blockchain technology</span>
      <span general="center">
        Steem is a blockchain-based rewards platform for publishers to monetize content and grow community.
      </span>
      <span general="center">
        <a general="c-blue" href="https://discord.gg/avmdZJa">Join and Contact us on  Discord</a>
      </span>
    </div>
  </div>
  <div general="center ewcenter txt-m" flex="">
    <div style="margin: 12px;padding: 12px;" general="br-2" flex="fd-c">
      <span general="center txt-xl" device-tablet="txt-m"><strong>About COOGGER</strong></span>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">SEO friendly</strong>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">Steem Blockchain</strong>
          <span></span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">Fully responsive</strong>
          <span></span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">Admin dashboard</strong>
          <span device-tablet="txt-s">Build and Management your community DApp</span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">No deposit </strong>
          <span device-tablet="txt-s">Don't pay for anything! We will took few percents from your articles rewards</span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">Cross-browser compatibility</strong>
          <span device-tablet="txt-s">
            Chrome, Firefox, IE, Safari, Opera, Edge - COOGGER works the same in all browsers.
          </span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">Frequent updates</strong>
          <div flex="fd-c"></div>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">Customizable</strong>
          <span device-tablet="txt-s">You can configure your website easily by using admin dashboard.</span>
        </div>
      </div>
      <div flex="ai-c" style="margin-bottom: 6px;">
        <i class="fas fa-check" style="padding: 6px;margin-right: 6px;" general="br-circle bg-blue8 c-white"></i>
        <div flex="fd-c">
          <strong device-tablet="txt-s">We are open-source</strong>
          <span device-tablet="txt-s">Fork me on
            <a general="c-blue" hover="c-success" href="https://www.github.com/coogger">Github - coogger</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <strong general="txt-xxl center c-dark-purple w-100" flex="ai-c" style="margin:24px 0px;">Our Users and Their Posts</strong>
  <div general="center">
    <cards flex="ai-b" general="w-100 center" style="margin:0px">
     {% for ct in content %}
       <card data-postid="{{ct.id}}" id="{{ ct.user }}-{{ ct.permlink }}" general="br-2 bg-white w-30" device-mobiles="w-100" device-mobilem="w-98" device-mobilel="w-98"
        device-tablet="w-80" device-laptop="w-40" device-laptopl="w-30" device-4k="w-30" style="margin:6px;">
           {% include "card/edit.html" %} {% include "card/userinfo.html" %} {% include "card/contentinfo.html" %}
           <a href="" id="absolute_url_href" general="c-dark">
               <div general="txt-m" class="upshow"><div flex="ai-c">{{ ct.definition|safe }}</div></div>
           </a>
           {% include 'card/bottom.html' %}
       </card>
     {% endfor %}
    </cards>
    {% include "card/script.html" %}
  </div>
{% endblock %}
