{% load coogger_count %}
<div general="center w-100" style="margin-top: 12px;">
  <!-- languages and categories -->
  <div class="lg" style="margin-right:12px;">
    <button general="center txt-m c-secondary" flex="ai-c">Languages <i class="fas fa-language"></i></button>
    <div class="languages" general="bg-white br-1">
        {% for link,name in request.languages %}
        <div general="br-2" flex="ai-c jc-fs" hover="bg-blue">
            <a href="{% url 'language' link %}" general="c-dark w-100" flex="ai-c" hover="c-white" style="padding: 4px 12px;">
              <span general="txt-s">{{ name|truncatechars:20|title }}</span>
              <span general="txt-s right">{{ name|language_count:request.dapp_model }}</span>
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="ctg" style="margin-right:12px;">
    <button general="center txt-m c-secondary" flex="ai-c">Categories <i class="fa fa-list-alt" aria-hidden="true"></i></button>
    <div class="categories" general="bg-white br-1">
        {% for link,name in request.categories %}
        <div general="br-2" flex="ai-c jc-fs" hover="bg-blue">
            <a href="{% url 'category' link %}" general="c-dark w-100" flex="ai-c" hover="c-white" style="padding: 4px 12px;">
              <span general="txt-s">{{ name|truncatechars:20|title }}</span>
              <span general="txt-s right">{{ name|categories_count:request.dapp_model }}</span>
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
<section general="center" flex="fw-nw">
  <!-- contents -->
  {% include 'card/blog-cards.html' %}
  {% if topic.name %}
    <div general="w-20" class="just-pc topic-info" style="margin-left: 12px;margin-top: 4px;">
      <div general="right b-1 br-2 brc-muted bg-dark-purple" flex="fd-c" style="padding: 6px 10px;position: sticky;top: 4%;">
        <a hover="c-yellow" general="c-white txt-s" href="/post/create/?topic={{ topic.name }}&dapp={{ request.dapp_model.id }}" style="margin-bottom: 12px;">
          <div general="center">Click and write a post about a {{ topic.name }} topic</div>
        </a>
        {% if topic.image_address %}
          <div general="center" style="margin-bottom: 12px;">
            <img  general="w-30 br-circle" src="{{ topic.image_address }}" style="height: 0%;margin: 0px;">
          </div>
        {% endif %}
        <span general="txt-s b-1 brc-white br-2 c-white wf center" style="padding: 2px 6px;">
          <span>CONTENTS <span style="padding:3px;" class="query_count"></span></span>
        </span>
        <div class="topic-users">
          {% for user in topic_users %}
          <a href="/@{{ user }}">
            <img general="w-6 br-circle b-1 brc-white" src="https://steemitimages.com/u/{{ user }}/avatar">
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</section>
