{% extends "home/body.html" %}
{% load django_md_editor_tags %}
{% block body %}
  <div class="communities-ms header-bottom" gnrl="txt-xl center" flx="fw-w">
    {{ "supporters of coogger ecosystem"|title }}
  </div>
  <div flx="fd-c" gnrl="txt-m" style="margin: 14px auto;" default="media">
    <div flx="ai-c fd-c" style="height: auto;word-break: break-word;padding: 14px;" gnrl="b-1" color=" brc-muted">
      <img flx="ai-c" src="https://join.utopian.io/img/logo.png" style="max-width:  256px;max-height: 256px;"/>
      <div flx>
        <div flx><strong>Name :</strong> Utopian</div>
        <div flx><strong>Definition :</strong>Earn rewards by contributing to your favorite Open Source projects! Utopian is the only platform rewarding contributions to Open Source projects by utilizing a decentralised, vote-based reward system built on top of the STEEM Blockchain.</div>
        <div flx><strong>Address :</strong> <a color="c-success" href="https://utopian.io/?ref=coogger">https://utopian.io/</a></div>
      </div>
    </div>
  </div>
{% endblock %}
