{% extends "home/html.html" %}
{% load django_md_editor_tags %}
{% block body %}
  <div class="communities-ms header-bottom" general="txt-xl center" flex="fw-w">
    {{ "supporters of coogger ecosystem"|title }}
  </div>
  <div flex="fd-c" general="txt-m" style="margin: 14px auto;" mobile-s="w-100" mobile-l="w-98" tablet="w-60" laptop="w-40" laptop-l="w-70" max="w-50">
    <div flex="ai-c fd-c" style="height: auto;word-break: break-word;padding: 14px;" general="b-1 brc-muted">
      <img flex="ai-c" src="https://join.utopian.io/img/logo.png" style="max-width:  256px;max-height: 256px;"/>
      <div flex>
        <div flex><strong>Name :</strong> Utopian</div>
        <div flex><strong>Definition :</strong>Earn rewards by contributing to your favorite Open Source projects! Utopian is the only platform rewarding contributions to Open Source projects by utilizing a decentralised, vote-based reward system built on top of the STEEM Blockchain.</div>
        <div flex><strong>Address :</strong> <a general="c-success" href="https://utopian.io/?ref=coogger">https://utopian.io/</a></div>
      </div>
    </div>
  </div>
{% endblock %}
