{% load django_md_editor_tags %}
{% include 'home/head.html' %}
{% include 'home/header.html' %}
<div class="communities-ms header-bottom" gnrl="txt-xl center" flx="fw-w">
  {{ "supporters of coogger ecosystem"|title }}
</div>
<div flx="fw-w fd-c" gnrl="center txt-m" style="margin: 14px auto;" default="media">
  <div flx style="height: auto;word-break: break-word;padding: 14px;" gnrl="b-1 brc-muted">
      <div style="padding: 6px" flx="ai-c fd-c">
        <div flx>
          <img flx="ai-c" src="https://fundition.io/images/fundition.svg" style="max-width:  256px;max-height: 256px;"/>
        </div>
        <div>
          <div><strong>Name :</strong> Fundition</div>
          <div><strong>Definition :</strong> Fundition.io - Decentralized Crowdfunding platform.</div>
          <div><strong>Address :</strong> <a gnrl="c-success" href="https://fundition.io/?ref=coogger">https://fundition.io/</a></div>
        </div>
      </div>
  </div>
  <div flx style="height: auto;word-break: break-word;padding: 14px;" gnrl="b-1 brc-muted">
      <div style="padding: 6px" flx="ai-c fd-c">
        <div flx>
          <img flx="ai-c" src="https://join.utopian.io/img/logo.png" style="max-width:  256px;max-height: 256px;"/>
        </div>
        <div>
          <div><strong>Name :</strong> Utopian</div>
          <div><strong>Definition :</strong>Earn rewards by contributing to your favorite Open Source projects! Utopian is the only platform rewarding contributions to Open Source projects by utilizing a decentralised, vote-based reward system built on top of the STEEM Blockchain.</div>
          <div><strong>Address :</strong> <a gnrl="c-success" href="https://utopian.io/?ref=coogger">https://utopian.io/</a></div>
        </div>
      </div>
  </div>
</div>
