<div general="width:20" class="just-pc topic-info" style="margin-left: 12px;margin-top: 4px;">
  <div general="flex position:right border:1 br:2 brc:muted bg:dark flex:fd-c"  style="padding: 6px 10px;position: sticky;top: 70px;">
    {% if topic %}
      <!-- to topic -->
      <a general="color:white text:s color:yellow:hover"  href="{% url 'create' topic.permlink %}"style="margin-bottom: 12px;">
        <div general="position:center">Click and write a post about a {{ topic.name }} topic</div>
      </a>
      {% if topic.image_address %}
        <div general="position:center" style="margin-bottom: 12px;">
          <img general="width:30 br:4 bg:white border:2 brc:muted" src="{{ topic.image_address }}" style="height: 0%;margin: 0px 6px;padding: 6px;">
        </div>
      {% endif %}
      <span general="text:s border:1 brc:white br:2 color:white wf position:center" style="padding: 2px 6px;">
        <span>CONTENTS {{ topic.how_many }}</span>
      </span>
      <div class="topic-users" style="margin: 4px 0px;">
        {% for user in topic_users %}
          <a href="/{{ topic.name }}/@{{ user }}">
            <img general="width:6 br:circle border:1 brc:white" src="{{ user.githubauthuser.avatar_url }}">
          </a>
        {% endfor %}
      </div>
    <!--  -->
    {% elif hashtag %}
      <div general="flex position:center flex:ai-c"  style="margin-bottom: 12px;">
        <img general="width:30 br:circle bg:red" src="/static/media/topics/earth.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
        <img src="/static/media/icons/list.svg" general="width:12 bg:yellow" style="height: 0%;margin: 0px 6px;padding: 6px;">
      </div>
      <span general="text:s border:1 brc:white br:2 color:white wf position:center" style="padding: 2px 6px;">
        <span>CONTENTS {{ queryset.paginator.count }}</span>
      </span>
    {% elif language %}
      <div general="flex position:center flex:ai-c"  style="margin-bottom: 12px;">
        <img general="width:30 br:circle bg:red" src="/static/media/topics/earth.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
        <img general="width:12 br:circle bg:yellow" src="/static/media/topics/language.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
      </div>
      <span general="text:s border:1 brc:white br:2 color:white wf position:center" style="padding: 2px 6px;">
        <span>CONTENTS {{ queryset.paginator.count }}</span>
      </span>
    {% elif filter %}
      <div general="flex position:center flex:ai-c"  style="margin-bottom: 12px;">
        <img general="width:30 br:circle bg:red" src="/static/media/topics/earth.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
        <img general="width:12 br:circle bg:yellow" src="/static/media/topics/filter.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
      </div>
      <span general="text:s border:1 brc:white br:2 color:white wf position:center" style="padding: 2px 6px;">
        <span>CONTENTS {{ queryset.paginator.count }}</span>
      </span>
    {% endif %}
    <!--  -->
    <div general="flex bg:white br:2"  style="margin-top: 12px;">
      {% if not language %}
        <div general="flex flex:fd-c border:1 brc:muted br:2"  style="padding: 3px 3px;margin: 4px;">
          {% for name, count in request.sort_languages %}
            <div>
              {% if topic %}
                <a class="capitalize" general="color:success text:s" href="/filter/?topic={{ topic }}&language={{ name }}">{{ name }}; {{ count }}</a>
              {% elif filter %}
                <span class="capitalize" general="color:success text:s">{{ name }}; {{ count }}</span>
              {% elif hashtag %}
                <a class="capitalize" general="color:success text:s" href="/filter/?tags={{ topic }}&language={{ name }}">{{ name }}; {{ count }}</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>