<div general="w-20" class="just-pc topic-info" style="margin-left: 12px;margin-top: 4px;">
  <div general="right b-1 br-2 brc-muted bg-dark" flex="fd-c" style="padding: 6px 10px;position: sticky;top: 30px;">
    {% if topic %}
      <!-- to topic -->
      <a hover="c-yellow" general="c-white txt-s" href="{% url 'create' topic.permlink %}"style="margin-bottom: 12px;">
        <div general="center">Click and write a post about a {{ topic.name }} topic</div>
      </a>
      {% if topic.image_address %}
        <div general="center" style="margin-bottom: 12px;">
          <img general="w-30 br-4 bg-white b-2 brc-muted" src="{{ topic.image_address }}" style="height: 0%;margin: 0px 6px;padding: 6px;">
        </div>
      {% endif %}
      <span general="txt-s b-1 brc-white br-2 c-white wf center" style="padding: 2px 6px;">
        <span>CONTENTS {{ topic.how_many }}</span>
      </span>
      <div class="topic-users" style="margin: 4px 0px;">
        {% for user in topic_users %}
          <a href="/{{ topic.name }}/@{{ user }}">
            <img general="w-6 br-circle b-1 brc-white" src="{{ user.githubauthuser.avatar_url }}">
          </a>
        {% endfor %}
      </div>
    <!--  -->
    {% elif hashtag %}
      <div general="center c-white txt-s">Click and write a post about a {{ hashtag }} hashtag</div>
      <div general="center" flex="ai-c" style="margin-bottom: 12px;">
        <img general="w-30 br-circle bg-red" src="/static/media/topics/earth.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
        <img src="/static/media/icons/list.svg" general="w-12 bg-yellow" style="height: 0%;margin: 0px 6px;padding: 6px;">
      </div>
      <span general="txt-s b-1 brc-white br-2 c-white wf center" style="padding: 2px 6px;">
        <span>CONTENTS {{ queryset.paginator.count }}</span>
      </span>
    {% elif language %}
      <a hover="c-yellow" general="c-white txt-s" href="/post/create/?language={{ language }}" style="margin-bottom: 12px;">
        <div general="center">Click and write a post about a {{ language }} language</div>
      </a>
      <div general="center" flex="ai-c" style="margin-bottom: 12px;">
        <img general="w-30 br-circle bg-red" src="/static/media/topics/earth.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
        <img general="w-12 br-circle bg-yellow" src="/static/media/topics/language.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
      </div>
      <span general="txt-s b-1 brc-white br-2 c-white wf center" style="padding: 2px 6px;">
        <span>CONTENTS {{ queryset.paginator.count }}</span>
      </span>
    {% elif category %}
      <a hover="c-yellow" general="c-white txt-s" href="/post/create/?category={{ category }}" style="margin-bottom: 12px;">
        <div general="center">Click and write a post about a {{ category }} category</div>
      </a>
      <div general="center" flex="ai-c" style="margin-bottom: 12px;">
        <img general="w-30 br-circle bg-red" src="/static/media/topics/earth.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
        <img general="w-12 br-circle bg-yellow" src="/static/media/topics/category.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
      </div>
      <!-- TODO  contents count -->
      <span general="txt-s b-1 brc-white br-2 c-white wf center" style="padding: 2px 6px;">
        <span>CONTENTS {{ queryset.paginator.count }}</span>
      </span>
    {% elif filter %}
      <div general="center" flex="ai-c" style="margin-bottom: 12px;">
        <img general="w-30 br-circle bg-red" src="/static/media/topics/earth.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
        <img general="w-12 br-circle bg-yellow" src="/static/media/topics/filter.svg" style="height: 0%;margin: 0px 6px;padding: 6px;">
      </div>
      <span general="txt-s b-1 brc-white br-2 c-white wf center" style="padding: 2px 6px;">
        <span>CONTENTS {{ queryset.paginator.count }}</span>
      </span>
    {% endif %}
    <!--  -->
    <div flex general="bg-white br-2" style="margin-top: 12px;">
      {% if not language %}
        <div flex="fd-c" general="b-1 brc-muted br-2" style="padding: 3px 3px;margin: 4px;">
          {% for name, count in request.sort_languages %}
            <div>
              {% if category %}
                <a class="capitalize" general="c-success txt-s" href="/filter/?category={{ category }}&language={{ name }}">{{ name }}; {{ count }}</a>
              {% elif topic %}
                <a class="capitalize" general="c-success txt-s" href="/filter/?topic={{ topic }}&language={{ name }}">{{ name }}; {{ count }}</a>
              {% elif filter %}
                <span class="capitalize" general="c-success txt-s">{{ name }}; {{ count }}</span>
              {% elif hashtag %}
                <a class="capitalize" general="c-success txt-s" href="/filter/?tags={{ topic }}&language={{ name }}">{{ name }}; {{ count }}</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if not category %}
        <div flex="fd-c" general="b-1 brc-muted br-2" style="padding: 3px 3px;margin: 4px;">
          {% for name, count in request.sort_categories %}
            <div>
              {% if language %}
                <a class="capitalize" general="c-success txt-s" href="/filter/?language={{ language }}&category={{ name }}">{{ name }}; {{ count }}</a>
              {% elif topic %}
                <a class="capitalize" general="c-success txt-s" href="/filter/?topic={{ topic }}&category={{ name }}">{{ name }}; {{ count }}</a>
              {% elif filter %}
                <span class="capitalize" general="c-success txt-s">{{ name }}; {{ count }}</span>
              {% elif hashtag %}
                <a class="capitalize" general="c-success txt-s" href="/filter/?tags={{ topic }}&category={{ name }}">{{ name }}; {{ count }}</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>