<footer general="bg-dark c-white" flex="ai-ba" style="display:none;padding: 0px 30px;">
  <div flex="fd-c">
    <div class="closed_footer" general="center txt-xxl right bg-red br-2">
      <div>x</div>
    </div>
    <div style="margin-top: 40px;">
      <ul>
        <li hover="c-success">
          <a href="/guide/@hakancelik96/">
            <span general="c-white txt-l">Guide</span>
          </a>
        </li>
        <li hover="c-success">
          <a href="/privacy/">
            <span general="c-white txt-l">Privacy Policy</span>
          </a>
        </li>
        <li hover="c-success">
          <a href="{% url 'coogger-images' %}">
            <span general="c-white txt-l">Coogger Images</span>
          </a>
        </li>
      </ul>
      <div flex="ai-c">
        <a style="padding: 6px 3px;margin-top: 12px;" hvr-animation="c-2 fadeIn" flex=""
          general="bg-white br-2 wmax txt-m c-dark" href="{% url 'create-utopic' %}">
          <i flex="as-c" class="fa fa-plus-circle" aria-hidden="true">Create Topic</i>
        </a>
      </div>
      <div flex="ai-c" class="search" general="w-100 center" style="margin-top: 12px;">
        <form action="{% url 'search' %}" general="w-100">
          <input name="query" style="padding: 6px 4px;" 
          general="b-1 br-2 bg-white c-dark brc-muted w-100" type="text"
          style="padding: 6px 4px;width: 100%;" maxlength="250" value="{{ request.GET.query }}" 
          placeholder="search content .."/>
          <input type="submit" value="Search" style="display:  none;" />
        </form>
      </div>
      <ul class="f-address" class="capitalize" style="margin-top: 30px;"> 
        <span class="capitalize" general="center">SOCIAL</span>
        <li style="margin-top: 10px;" hover="c-success">
          <a flex="ai-c" general="c-white" href="https://www.instagram.com/coogger.dapp">
            <i class="fab fa-instagram"></i>
            <span>Instagram - @coogger.dapp</span>
          </a>
        </li>
        <li style="margin-top: 10px;" hover="c-success">
          <a flex="ai-c" general="c-white" href="https://discord.gg/avmdZJa">
            <i class="fab fa-discord"></i>
            <span>Discord</span>
          </a>
        </li>
      </ul>
    </div>
    <div general="center" flex="fd-c">
      <span general="center">© 13 Sep 2017</span>
      <a general="c-blue8 center" href="https://www.coogger.com">
        <strong>COOGGER</strong>
      </a>
    </div>
  </div>
</footer>
