<footer general="flex bg:dark color:white flex:ai-ba" style="padding: 0px 30px; z-index: 2; display: none;">
  <div general="flex flex:fd-c">
    <div class="closed_footer" general="text:xxl bg:red br:2 width:max">
      <div>x</div>
    </div>
    <div style="margin-top: 40px;">
      <div general="flex flex:fd-c">
        <a general="color:white text:l color:success:hover" href="/guide/@hakancelik96/" style="margin-bottom: 8px;">
          Guide
        </a>
        <a general="color:white text:l color:success:hover" href="/privacy/" style="margin-bottom: 8px;">
          Privacy Policy
        </a>
        <a general="color:white text:l color:success:hover" href="{% url 'coogger-images' %}" style="margin-bottom: 8px;">
          Coogger Images
      </a>
      <form action="{% url 'search' %}" style="margin-bottom: 8px;">
        <input name="query" style="padding: 6px 4px;" 
        general="border:1 br:2 muted width:max" type="text"
        style="padding: 6px 4px;width: 100%;" maxlength="250" value="{{ request.GET.query }}" 
        placeholder="search content .."/>
        <input type="submit" value="Search" style="display:  none;" />
      </form>
      <div class="run-filter" general="flex flex:ai-c br:2 color:blue:hover" style="margin-bottom: 8px; cursor: pointer;">
        <i class="fas fa-sliders-h"></i>Content Filter
      </div>
      <a general="color:white text:l color:success:hover" href="{% url 'create-utopic' %}" style="margin-bottom: 8px;">
        <i class="fa fa-plus-circle"></i>Create Topic
      </a>
      <a general="color:white text:l color:success:hover" href="{% url 'explorer_posts' %}" style="margin-bottom: 8px;">
        <i class="fas fa-compass"></i>Explore posts
    </a>
      </div>
      <div class="f-address" class="capitalize" style="margin-top: 30px;"> 
        <span class="capitalize" general="position:center">SOCIAL</span>
        <div style="margin-top: 10px;">
          <a general="flex flex:ai-c color:white color:success:hover"  href="https://twitter.com/cooggercom">
            <i class="fab fa-twitter-square"></i>
            <span>Twitter</span>
          </a>
        </div>
        <div style="margin-top: 10px;">
          <a general="flex flex:ai-c color:white color:success:hover"  href="https://www.linkedin.com/company/coogger">
            <i class="fab fa-linkedin"></i>
            <span>Linkedin</span>
          </a>
        </div>
      </div>
    </div>
    <div general="flex position:center flex:fd-c" >
      <span general="position:center">© 13 Sep 2017</span>
      <a general="color:blue8 position:center" href="https://www.coogger.com">
        <strong>COOGGER</strong>
      </a>
    </div>
  </div>
</footer>
