{% extends "home/html.html" %}
{% block body %}
<div class="c-definition" general="ewcenter bg-dark c-white w-100">
  {% load static %}
  <div flex="fd-c">
    <div flex general="center">
        <img style="height: 300px;width: 300px;margin: 0px;margin-right: 16px;" general="center" src="{% static 'logos/png/400.png' %}">
    </div>
    <div style="margin-top: 12px;">
      <span flex="ai-c" general="center w-70" style="margin-bottom:6px;">
          Coogger is a platform where developers can write their knowledge, experience, documentation and blogs
          <strong tablet="txt-s">We are open-source</strong>
          <span tablet="txt-s">
            <a general="c-white" flex="ai-c" href="https://www.github.com/coogger">
              <img general="br-2" src="https://img.shields.io/github/forks/coogger/coogger.svg?label=Fork&amp;style=for-the-badge" alt="coogger-fork" 
              style="margin-left: 4px;margin-right: 4px;"> 
              <span>me on Github</span>
            </a>
          </span>
      </span>
      <div style="margin:2% 0px;">
        <a hover="bg-primary c-white" general="bg-white c-dark br-2 w-60 center" href="/explorer/posts/" style="padding:6px 0px;">
          Explore posts
        </a>
      </div>
      <div general="center ewcenter txt-m w-50 br-2" flex="fd-c">
        <div general="bg-dark w-100" style="overflow: auto;height: 400px;margin-top: 12px;margin-bottom: 12px;">
          <div general="w-100 center">
            <a class="twitter-timeline" href="https://twitter.com/cooggercom?ref_src=twsrc%5Etfw">
              Tweets by cooggercom
            </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
<div>
  <strong general="txt-xxl center c-dark w-100" flex="ai-c" style="margin:24px 0px;">
    Our Users and Their Posts
  </strong>
</div>
<div general="center">
  <cards flex="" general="w-90 center" style="margin:0px">
   {% for ct in queryset %}
     <card data-postid="{{ct.id}}" id="{{ ct.user }}-{{ ct.permlink }}"
      general="br-2 bg-white w-30" mobile-s="w-100" mobile-m="w-98" mobilel="w-98"
      tablet="w-80" laptop="w-40" laptop-l="w-30" max="w-30" style="margin:6px;">
         {% include "card/userinfo.html" %}
         {% include "card/contentinfo.html" %}
     </card>
   {% endfor %}
  </cards>
  <div flex="fd-c" general="w-100" style="overflow: hidden;" class="text3">
      <strong general="txt-xxl center c-dark w-100" flex="ai-c" style="margin:24px 0px;">
        Most Written Topics and Issues
      </strong>
      <div flex general="w-90 center b-1 brc-muted br-2">
          {% include 'home/insection-left.html' %}
          <div style="margin: 4px 12px;" general="w-70" tablet="w-100">
            <div flex="fd-c" general="w-100">
              <div general="center" style="margin: 0px;">Issues</div>
              {% for issue in issues %}
                <div general="left w-100 b-1 br-2 brc-muted">
                  <div flex="fd-c" style="padding: 12px;" general="w-100">
                      <span general="txt-s">Title: {{ issue.title }}</span>
                      <a general="c-blue w-90" href="{{ issue.get_absolute_url }}" class="text3">
                          <img style="margin: 0px;" general="br-circle txt-s" 
                          src="{{ issue.user.githubauthuser.avatar_url }}" width="20" height="20">
                        {{ issue.get_absolute_url }}
                      </a>
                      <div flex>
                          <span general="txt-s">Status: {{ issue.status }}</span>
                          <span general="txt-s" class="fas fa-eye" style='margin-left: 6px;'>
                            {{ issue.views }}</span>
                          <span general="txt-s" class="fas fa-reply-all" style='margin-left: 6px;'>
                            {{ issue.reply_count }}</span>
                      </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
</div>

{% endblock %}
