<div general="position:center border:1 br:4 brc:blue color:blue width:30" class="load-more" mobile-s="width:100" mobile-m="width:98" mobile-l="width:98"
 tablet="width:80" laptop="width:40" laptop-l="width:30" style="display:none;padding: 2px;margin-top: 24px;">
  <div general="border:1 br:4 position:center brc:blue bg:blue color:white" style="width: 100%;">
    Loading ...
  </div>
</div>
<div class="end-of-the-posts" mobile-s="width:100" mobile-m="width:98" mobile-l="width:98"
 tablet="width:80" laptop="width:40" laptop-l="width:30" general="width:30 position:center"
 style="display:none;padding: 2px;margin-top: 24px;">
  <div general="border:1 br:4 position:center brc:red bg:red color:white">
    End of the posts
  </div>
</div>
