{% include 'home/head.html' %}
{% include 'home/logo.html' %}
{% include 'home/footer.html' %}
<form default="form media" flx="jc-c" action="{% url 'cooggerup-search' %}">
  <input type="text" placeholder='Type steemit username ..' name="username" maxlength="250" value="{{ request.GET.username }}" gnrl="br-2"/>
  <input type="submit" value="Search"/>
</form>

{% if search %}{% include 'search/search.html' %}{% endif %}

<!-- other tools -->
<div flx>
  <span class="hother" hvr="bg-dark c-white" gnrl="wmax txt-xl bg-white br-2 unselectable" style="margin:auto;padding:6px;cursor:pointer;">Other tools</span>
</div>
<div class="othertools" default="media" flx="jc-c fd-c" gnrl="bg-white br-2" style="margin:6px auto">
  {% include 'convert/block-koinim.html' %}
  {% include 'convert/binance.html' %}
</div>
</body>
</html>
