{% extends "home/html.html" %}
{% load coogger_tags %}
{% block body %}
  <div style="margin: auto;margin-top: 12px;" general="w-100" mobile-l="txt-s">
    <div general="center" flex="fd-c">
      <div class="utopic" general="center w-60" mobile-m="w-99" mobile-l="w-94" tablet="w-90" laptop="w-80" flex="fd-c">
        <div general="b-1 brc-muted br-2 w-100" class="utopic-user">
          <div style="padding: 6px;">
            <div flex>
              {% if utopic.image_address %}
                <div>
                  <img general="w-10" src="{{ utopic.image_address }}">
                </div>
              {% endif %}
              {% if utopic.address %}
                <div general="right">
                  <a general="c-primary" href="{{ utopic.address }}?ref=www.coogger.com">{{ utopic.address }}</a>
                </div>
              {% endif %}
              {% if utopic.definition %}
                <div>
                  <span general="txt-s">{{ utopic.definition }}</span>
                </div>
              {% endif %}
            </div>
            <div flex="ai-c">
              <a general="c-primary txt-m" href="/@{{ content_user }}">
                <img class="commit-user" general="br-4 c-muted" style="background-image: url('https://steemitimages.com/u/{{ content_user }}/avatar');">
              </a>
              <i class="fas fa-book"></i>
              <a general="c-primary txt-m" href="{% url 'utopic' utopic content_user %}">@{{ content_user }}/{{ utopic }}</a>
              {% if request.user == content_user %}
                <div general="right" flex="fd-c">
                  <a general="br-1 c-white bg-dark-purple txt-s right" href="{% url 'create' %}?topic={{ utopic }}" style="padding: 6px;">Add content your {{ utopic }} topic</a>
                  <a general="br-1 c-white bg-warning txt-s right" href="{% url  'update-utopic' utopic %}" style="margin-top:3px;padding: 6px;">Update</a>
                </div>
              {% endif %}
            </div>
            {% if utopic.tags %}
              <div general="" class="tags" flex>{{ tag }}
                {% for tag in utopic.tags|split:" " %}
                  <div general="txt-s" class="tag">#{{ tag }}</div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
        <div general="b-1 br-2 brc-muted w-100">
          <div flex style="padding: 6px;">
            <a href="{% url 'commits' content_user utopic %}">
              <div flex="ai-c">
                <i class="fas fa-history"></i>
                <span id="commits_count" general="txt-s">
                  <strong>{{ commits_count }}</strong> commits
                </span>
              </div>
            </a>
            <div general="txt-s" flex="ai-c" class="duread-li">
              <div style="margin-left: 12px;">
                  <i class="fab fa-readme"></i>
                  <span>Total {{ utopic.total_dor }}</span>
              </div>
            </div>
            <div general="txt-s" flex="ai-c" class="duread-li">
                <div style="margin-left: 12px;">
                  <i class="fas fa-eye"></i>
                  <span>Total views {{ utopic.total_view }}</span>
                </div>
            </div>
            {% if last_commit_created %}
            <div general="txt-s right" flex="ai-c" class="duread-li">
                <div>
                  <i class="fas fa-clock"></i>
                  <span>Last update | {{ last_commit_created|timesince }}</span>
                </div>
            </div>
            {% endif %}
          </div>
        </div>
        <div general="b-1 br-2 brc-primary bg-primary c-white" style="margin-top: 3px;"></div>
        {% block alt_topic %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
