{% if request.user.is_authenticated %}
  <div general="border:1 br:2 brc:muted">
    <div default="paragraph" general="bg:white" style="padding: 6px 4px;">
      {{ reply_form }} {{ reply_form.media }}
        <button id="send-reply" data-csrf="{{ csrf_token }}" general="position:right border:1 br:2 brc:muted bg:success color:white" 
        data-parent_author="{{ current_user }}" data-parent_permlink="{{ queryset.permlink }}">
          Reply
        </button>
        <div id="comment_template" class="comment_template"></div>
    </div>
  </div>
{% endif %}