{% include 'email/head.html' %}

<div flex="fd-c">
    <strong>{{ user }}</strong> has entered the <strong>coogger</strong> for the first time.

    <h2>What's going on</h2>

    <div><strong>coogger</strong> has already started following <strong>{{ user }}</strong> for you</div>
    <div>I will inform you when <strong>{{ user }}</strong> publish a content.</div>
    <div>You can see what happened to the coogger until that moment <a href="https:///www.coogger.com">Click and explorer</a></div>

    You can give us the greatest support by recommending Coogger to your friends.
</div>