<footer flx="jc-c" gnrl="txt-s" hvr="c-private" style="padding: 6px 0px;">
    <div flx="fw-nw" style="overflow: auto;">
        {% for follow in user_follow %} {% if follow.choices == "web-site"%}
        <div flx>
            <a hvr-a="bg-primary" gnrl="bg-2 c-dark br-2" hvr="c-white bg-white" target="_blank" href="{{follow.adress}}" style="padding: 3px 6px;">
        <i class="fa fa-globe" aria-hidden="true">
          <span>{{ follow.choices|cut:"-" }} </span>
        </i>
      </a>
        </div>
        {% else %}
        <div flx>
            <a hvr-a="bg-primary" gnrl="bg-2 c-dark br-2" hvr="c-white bg-white" target="_blank" href="https://www.{{follow.choices}}.com/{{follow.adress}}" style="padding: 3px 6px;">
          <i class="fab fa-{{follow.choices}}" aria-hidden="true">
            <span>{{follow.choices|title}} - {{follow.adress}}</span>
          </i>
        </a>
        </div>
        {% endif %} {% endfor %}
        <div flx>
            <a flx="ai-c" hvr-a="bg-primary" gnrl="bg-2 c-dark br-2" hvr="c-white bg-white" target="_blank" href="https://www.steemit.com/@{{ content_user }}" style="padding: 3px 6px;">
          <img flx="ai-c" src="/static/media/steemit.png" style="width: 12px;height: 12px;">
            <span>steemit.com/@{{ content_user }}</span>
          </i>
        </a>
        </div>
    </div>
    </div>
</footer>
