{% include 'home/head.html' %}
{% include 'home/header.html' %}
{% include 'users/pp.html' %}
{% include 'users/user-info.html' %}
{% include 'users/footer.html' %}
{% include 'users/tabs.html' %}
{% include 'users/nav.html' %}
{% include 'users/script.html'%}
<script>
    function curation_reward(json, type){
      var comment_author = json.comment_author;
      var comment_permlink = json.comment_permlink;
      var reward = json.reward;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-award'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+comment_author+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+comment_author+"/avatar)';></div>\
              <div>@"+comment_author+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='reward'> reward : "+reward+"</div>\
              <div class='permlink'> permlink : <a gnrl='c-primary' href='/@"+comment_author+"/"+comment_permlink+"'>"+comment_permlink+"</a></div>\
            </div>\
          </div>\
        </div>\
      </div>");
    }
    function claim_reward_balance(json, type){
      var account = json.account;
      var reward_sbd = json.reward_sbd;
      var reward_steem = json.reward_steem;
      var reward_vests = json.reward_vests;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-award'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+account+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+account+"/avatar)';></div>\
              <div>@"+account+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='reward_sbd'> sbd : "+reward_sbd+"</div>\
              <div class='reward_steem'> steem : "+reward_steem+"</div>\
              <div class='reward_vests'> vests : "+reward_vests+"</div>\
            </div>\
          </div>\
        </div>\
      </div>");
    }
    function vote(json, type){
      var author = json.author;
      var permlink = json.permlink;
      var voter = json.voter;
      var weight = json.weight;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' gnrl=''>\
        <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-chevron-circle-up'></i></div>\
          <div class='his-user' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+voter+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+voter+"/avatar)';></div>\
              <div class='permlink'>@"+voter+"</div>\
            </a>\
          </div>\
          <div class='his-data' gnrl='center' flx='ai-c'>\
             permlink ;<a default='media' gnrl='c-success center' href='/@"+author+"/"+permlink+"'>"+permlink+"</a>\
            <div class='history-vote-weight'>( "+weight/100+"% )</div>\
          </div>\
        </div>\
      </div>");
    }
    function comment(json, type){
      var author = json.author;
      var parent_author = json.parent_author;
      var permlink = json.permlink;
      var title = json.title;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-award'></i></div>\
          <div class='his-user' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+author+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+author+"/avatar)';></div>\
              <div>@"+author+"</div>\
            </a>\
          </div>\
          <div class='his-data' gnrl='center' flx='fd-c'>\
            <div class='title'> title : "+title+"</div>\
            <div class='permlink'> permlink : <a gnrl='c-primary' href='/@"+author+"/"+permlink+"'>"+permlink+"</a></div>\
          </div>\
        </div>\
      </div>");
    }
    function comment_options(json, type){ // not necessary
      return "";
    }
    function comment_benefactor_reward(json, type){
      var author = json.author;
      var benefactor = json.benefactor;
      var permlink = json.permlink;
      var reward = json.reward;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
        <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-trophy'></i></div>\
          <div class='his-user' flx='fd-c'>\
            <div class='author'> author : <a gnrl='c-primary' href='/@"+author+"'>@"+author+"</a></div>\
          </div>\
          <div class='his-data'> \
            <div class='benefactor'> benefactor : "+benefactor+"</div>\
            <div class='reward'> reward : "+reward+"</div>\
            <div class='permlink'> permlink : <a gnrl='c-primary' href='/@"+author+"/"+permlink+"'>"+permlink+"</a></div>\
          </div>\
        </div>\
      </div>");
    }
    function transfer(json, type){
      var amount = json.amount;
      var from = json.from;
      var memo = json.memo;
      var to = json.to;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-award'></i></div>\
          <div class='his-user' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+from+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+from+"/avatar)';></div>\
              <div>@"+from+"</div>\
            </a>\
            <a gnrl='c-primary' style='margin-left: auto;' href='/@"+to+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+to+"/avatar)';></div>\
              <div>@"+to+"</div>\
            </a>\
          </div>\
          <div class='his-data' gnrl='center' flx='fd-c'>\
            <div class='trans-amount'> amount : "+amount+"</div>\
            <div class='trans-memo'> memo : <span gnrl='b-1 brc-muted br-2 bg-warning c-white'>"+memo+"</span></div>\
          </div>\
        </div>\
      </div>");
    }
    function fill_vesting_withdraw(json, type){ // not necessary
      return "";
    }
    function limit_order_create(json, type){ // not necessary
      return "";
    }
    function fill_order(json, type){ // not necessary
      return "";
    }
    function author_reward(json, type){
      var author = json.author;
      var permlink = json.permlink;
      var sbd_payout = json.sbd_payout;
      var steem_payout = json.steem_payout;
      var vesting_payout = json.vesting_payout;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-user-plus'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+author+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+author+"/avatar)';></div>\
              <div>@"+author+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='sbd_payout'> sbd_payout : "+sbd_payout+"</div>\
              <div class='steem_payout'> steem_payout : "+steem_payout+"</div>\
              <div class='vesting_payout'> vesting_payout : "+vesting_payout+"</div>\
              <div class='permlink'> permlink : <a gnrl='c-primary' href='/@"+author+"/"+permlink+"'>"+permlink+"</a></div>\
            </div>\
          </div>\
        </div>\
      </div>");
    }
    function custom_json(json, type){
      var id = json.id;
      var json = json.json
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-certificate'></i></div>\
          <div flx='fd-c'>\
            <div class='custom_json_id'> id : "+id+"</div>\
            <div class='json'> json : "+json+"</div>\
          </div>\
        </div>\
      </div>");
    }
    function account_update(json, type){
      var account = json.account;
      var json_metadata = json.json_metadata;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-user-edit'></i></div>\
          <div flx='fd-c'>\
            <div class='account'> account : <a gnrl='c-primary' href='/@"+account+"'>@"+account+"</a></div>\
            <div class='json_metadata'> json_metadata : "+json_metadata+"</div>\
          </div>\
        </div>\
      </div>");
    }
    function delegate_vesting_shares(json, type){
      var delegatee = json.delegatee;
      var delegator = json.delegator;
      var vesting_shares = json.vesting_shares;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-share'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+delegatee+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+delegatee+"/avatar)';></div>\
              <div>@"+delegatee+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='delegator'> delegator : "+delegator+"</div>\
              <div class='vesting_shares'> vesting_shares : "+vesting_shares+"</div>\
            </div>\
          </div>\
        </div>\
      </div>");
    }
    function transfer_to_vesting(json, type){
      var amount = json.amount;
      var from = json.from;
      var to = json.to;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-share'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+from+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+from+"/avatar)';></div>\
              <div>@"+from+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='amount'> amount : "+amount+"</div>\
            </div>\
            <a gnrl='c-primary' href='/@"+to+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+to+"/avatar)';></div>\
              <div>@"+to+"</div>\
            </a>\
          </div>\
        </div>\
      </div>");
    }
    function account_create_with_delegation(json, type){
        return json
    }
    function account_witness_vote(json, type){
        return json
    }
    function account_witness_proxy(json, type){
        return json
    }
    function delete_comment(json, type){
        return json
    }
    function transfer_to_savings(json, type){
      return json
    }
    function transfer_from_savings(json, type){
      return json
    }
    function fill_transfer_from_savings(json, type){
      return json
    }

    steem.api.getAccountHistory("{{content_user}}", -1, 100, function(err, result) {
      let template = "";
      for (i in result){
        const data = result[i][1].op;
        const type = result[i][1].op[0];
        const json = result[i][1].op[1];
        try {
          template += eval(type+"(json, type)");
        }
        catch(error) {
          console.error(json,error);
        }
      }
    $("#history").html(template);
    });
</script>

<div gnrl="bg-white center">
    <div id="history" class="history" flx="fd-cr" default="media">

    </div>
</div>
</body>

</html>
