{% load coogger_count %}
<div gnrl="center" class="just-mobile">
    <nav style="display: none;overflow: auto;margin: 12px 0px;">
        <div flx="fw-nw jc-c" gnrl="txt-m wmax">
            {% for topic in topics %}
                {% if topic == nameoftopic %}
                  <div gnrl="br-2" color="bg-success">
                      <a flx="jc-c" gnrl="txt-s" color="c-white" href="{% url 'utopic' topic content_user %}"
                      style="padding: 3px 6px;">{{ topic|title }}
                      <span color="c-secondary">{{ topic|topic_count:content_user }}</span>
                    </a>
                  </div>
              {% else%}
                <div hvr-a="bg-success" gnrl="br-2" color="bg-white">
                    <a flx="jc-c" gnrl="txt-s br-2" color="c-dark" hvr="c-white brc-dark" href="{% url 'utopic' topic content_user %}"
                    style="padding: 3px 6px;">{{ topic|title }}
                  <span color="c-secondary">{{ topic|topic_count:content_user }}</span>
                </a>
                </div>
              {% endif %}
            {% endfor %}
        </div>
    </nav>
</div>
