{% if nav_category and not detail%}
<nav style="display:none;" flx="fw-nw jc-c" gnrl="txt-m">
  <div flx="fd-c">
    {% for list in nav_category %}
    {% if list == nameoftopic %}
        <div hvr-a="bg-white" gnrl="br-2 bg-primary">
          <a flx="jc-c" gnrl="b-1 br-2 brc-muted c-white txt-m"
          hvr-a="c-white" hvr="brc-primary"
          href="{% url 'cooggerapp-utopic' list content_user %}" style="padding: 3px 6px;">{{ list|title }}</a>
      </div>
      {% else%}
      <div hvr-a="bg-primary" gnrl="br-2 bg-white">
        <a flx="jc-c" gnrl="b-1 br-2 brc-muted c-primary txt-m"
         hvr-a="c-white" hvr="brc-primary"
         href="{% url 'cooggerapp-utopic' list content_user %}" style="padding: 3px 6px;">{{ list|title }}</a>
    </div>
        {% endif %}
     {% endfor %}
  </div>
</nav>
{% else %}
<nav style="display:none;" flx="fw-nw jc-c" gnrl="bg-white br-2 b-1 brc-white txt-m">
  <div flx="fd-c">
    {% for list in nav_category %}
      {% if list.url == urloftopic %}
        <div hvr-a="bg-white" gnrl="br-2 bg-primary">
          <a flx="jc-c" gnrl="b-1 br-2 brc-muted c-white txt-m"
          hvr-a="c-primary" hvr="brc-primary" href="/@{{ list.url }}" style="padding: 3px 6px;">
           {{ list.title|title }}</a>
      </div>
     {% else%}
       <div hvr-a="bg-primary" gnrl="br-2" >
         <a flx="jc-c" gnrl="b-1 br-2 brc-muted c-primary txt-m"
          hvr-a="c-white" hvr="brc-primary" href="/@{{list.url}}" style="padding: 3px 6px;">
         {{ list.title|title }}</a>
    </div>
    {% endif %}
     {% endfor %}
  </div>
</nav>
{% endif %}
