<script type="text/javascript">
  $(document).ready(function() {
    function write_in_html(id,variable) {
      document.getElementById(id).innerHTML = variable;
    }
    steem.api.getAccounts(["{{ content_user }}"], function(err, result) {  // account
      var user = result[0];
      steem.api.getDynamicGlobalProperties(function(err, result) {
        var effective_vesting_shares = parseFloat(user.vesting_shares.replace(" VESTS", ""))
        + parseFloat(user.received_vesting_shares.replace(" VESTS", ""))
        - parseFloat(user.delegated_vesting_shares.replace(" VESTS", ""));
        var total_vesting_shares = parseFloat(result.total_vesting_shares.replace(" VESTS", ""));
        var total_vesting_fund_steem = parseFloat(result.total_vesting_fund_steem.replace(" VESTS", ""));
        var sp = steem.formatter.vestToSteem(effective_vesting_shares, total_vesting_shares, total_vesting_fund_steem);
        write_in_html("sp_balance",Math.round(sp));
      });
      var profile = JSON.parse(user.json_metadata).profile;
      document.getElementById("useruserimg").setAttribute("src",profile.profile_image);
      write_in_html("sbd_balance",user.sbd_balance.replace(" SBD",""));
      write_in_html("steem_balance",user.balance.replace(" STEEM",""));
      write_in_html("reputation",steem.formatter.reputation(user.reputation));
      write_in_html("about",profile.about);
      write_in_html("location",profile.location);
      steem.api.getFollowCount("{{ content_user }}", function(err, followcount) {
        write_in_html("follower_count",followcount.follower_count);
        write_in_html("following_count",followcount.following_count);
        {% if request.user.is_authenticated %} // if user is not authenticated, it should not check follow or following
        steem.api.getFollowers("{{ content_user }}", 0, "blog", followcount.follower_count, function(err, followers) {
          for (var i = 0; i < followers.length; i++) {
            if ("{{ request.user }}" == followers[i].follower){
              write_in_html("is_follow","Unfollow");
              $("#follow").css({'display':"none"});
              $("#unfollow").css({'display':"flex"});
              break;
            }
          }
        });
        {% endif %}
      });
      $(".cover_image").css({"background-image":"url('"+profile.cover_image+"')"});
    });
    {% if request.user.is_authenticated %}
    $(".follow").click(function(event){
      $("#follow #is_follow").attr({'animation':"blink i"});
      api.follow("{{ request.user.username }}", "{{ content_user  }}", function (err, res) {
        $("#is_follow" ).html("Unfollow");
        var follower_count = parseInt(document.getElementById("follower_count").innerHTML);
        $("#follower_count" ).html(follower_count+1);
        $("#follow").css({'display':"none"});
        $("#unfollow").css({'display':"flex"});
        $("#follow #is_follow").attr({'animation':""});
      });
    });
    $(".unfollow").click(function(event){
      $("#unfollow #is_follow").attr({'animation':"blink i"});
      api.unfollow("{{ request.user.username }}", "{{ content_user  }}", function (err, res) {
        $("#is_follow").html("Follow");
        var follower_count = parseInt(document.getElementById("follower_count").innerHTML);
        $("#follower_count").html(follower_count-1);
        $("#follow").css({'display':"flex"});
        $("#unfollow").css({'display':"none"});
        $("#unfollow #is_follow").attr({'animation':""});
      });
    });
    {% endif %}

  });
</script>
