{% include 'home/head.html' %}
{% include 'home/header.html' %}
{% include 'users/pp.html' %}
{% include 'users/user-info.html' %}
{% include 'users/footer.html' %
{% include 'users/tabs.html' %}
{% include 'users/nav.html' %}
{% include 'users/script.html'%}

<script>
    $(document).ready(function() {
      steem.api.getAccounts(["{{ content_user }}"], function(err, result) {  // account
        var user = result[0];
        steem.api.getDynamicGlobalProperties(function(err, result) {
          var effective_vesting_shares = parseFloat(user.vesting_shares.replace(" VESTS", ""))
          + parseFloat(user.received_vesting_shares.replace(" VESTS", ""))
          - parseFloat(user.delegated_vesting_shares.replace(" VESTS", ""));
          var total_vesting_shares = parseFloat(result.total_vesting_shares.replace(" VESTS", ""));
          var total_vesting_fund_steem = parseFloat(result.total_vesting_fund_steem.replace(" VESTS", ""));
          var sp = steem.formatter.vestToSteem(effective_vesting_shares, total_vesting_shares, total_vesting_fund_steem);
          document.getElementById("sp_balance").innerHTML = Math.round(sp);
        });
        var profile = JSON.parse(user.json_metadata).profile;
        document.getElementById("sbd_balance").innerHTML = user.sbd_balance.replace(" SBD","");
        document.getElementById("steem_balance").innerHTML = user.balance.replace(" STEEM","");
    });
      });
</script>

<div flx="jc-c fd-c" gnrl="center b-1 brc-muted br-2" style="padding: 26px 0px;margin: 13px auto;" default="media">
    <div flx="ai-c" gnrl="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:1px solid #eaecee">
        <div gnrl="b-1 br-2 brc-muted txt-m" flx="jc-c" style="padding: 3px 6px;">STEEM</div>
        <div flx="as-c" id="steem_balance" gnrl="right" style="padding: 0px 8px;"></div>STEEM
    </div>
    <div flx="ai-c" gnrl="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:  1px solid #eaecee">
        <div gnrl="b-1 br-2 brc-muted txt-m" flx="jc-c" style="padding: 3px 6px;">SBD</div>
        <div class="follownum" flx="as-c" id="sbd_balance" gnrl="right" style="padding: 0px 8px;"></div>SBD
    </div>
    <div flx="ai-c" gnrl="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:  1px solid #eaecee">
        <div gnrl="b-1 br-2 brc-muted txt-m" flx="jc-c" style="padding: 3px 6px;">SP</div>
        <div flx="as-c" id="sp_balance" gnrl="right" style="padding: 0px 8px;"></div>SP
    </div>
</div>

<div gnrl="center b-1 brc-muted br-2" style="margin: 13px auto;" default="media">

</div>
</body>

</html>
