{% include 'home/head.html' %}
{% include 'home/header.html' %}
{% include 'users/pp.html' %}
{% include 'users/user-info.html' %}
{% include 'users/footer.html' %}
{% include 'users/tabs.html' %}
{% include 'users/nav.html' %}
{% include 'users/script.html'%}

<script>
    $(document).ready(function() {
      steem.api.getAccounts(["{{ content_user }}"], function(err, result) {  // account
        var user = result[0];
        steem.api.getDynamicGlobalProperties(function(err, result) {
          var effective_vesting_shares = parseFloat(user.vesting_shares.replace(" VESTS", ""))
          + parseFloat(user.received_vesting_shares.replace(" VESTS", ""))
          - parseFloat(user.delegated_vesting_shares.replace(" VESTS", ""));
          var total_vesting_shares = parseFloat(result.total_vesting_shares.replace(" VESTS", ""));
          var total_vesting_fund_steem = parseFloat(result.total_vesting_fund_steem.replace(" VESTS", ""));
          var sp = steem.formatter.vestToSteem(effective_vesting_shares, total_vesting_shares, total_vesting_fund_steem);
          document.getElementById("sp_balance").innerHTML = Math.round(sp);
        });
        var profile = JSON.parse(user.json_metadata).profile;
        document.getElementById("sbd_balance").innerHTML = user.sbd_balance.replace(" SBD","");
        document.getElementById("steem_balance").innerHTML = user.balance.replace(" STEEM","");
    });
      });
</script>

<div flx="jc-c fd-c" gnrl="center b-1 brc-muted br-2" style="padding: 26px 0px;margin: 13px auto;" default="media">
    <div flx="ai-c" gnrl="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:1px solid #eaecee">
        <div gnrl="b-1 br-2 brc-muted txt-m" flx="jc-c" style="padding: 3px 6px;">STEEM</div>
        <div flx="as-c" id="steem_balance" gnrl="right" style="padding: 0px 8px;"></div>STEEM
    </div>
    <div flx="ai-c" gnrl="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:  1px solid #eaecee">
        <div gnrl="b-1 br-2 brc-muted txt-m" flx="jc-c" style="padding: 3px 6px;">SBD</div>
        <div class="follownum" flx="as-c" id="sbd_balance" gnrl="right" style="padding: 0px 8px;"></div>SBD
    </div>
    <div flx="ai-c" gnrl="brc-muted" style="padding: 4px 12px;margin: 4px 24px;border-bottom:  1px solid #eaecee">
        <div gnrl="b-1 br-2 brc-muted txt-m" flx="jc-c" style="padding: 3px 6px;">SP</div>
        <div flx="as-c" id="sp_balance" gnrl="right" style="padding: 0px 8px;"></div>SP
    </div>
</div>

<div gnrl="center b-1 brc-muted br-2" style="margin: 13px auto;" default="media">
</div>

<!--  -->
<script>
    function curation_reward(json, type){
      var comment_author = json.comment_author;
      var comment_permlink = json.comment_permlink;
      var reward = json.reward;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-award'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+comment_author+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+comment_author+"/avatar)';></div>\
              <div>@"+comment_author+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='reward'> reward : "+reward+"</div>\
              <div class='permlink'> permlink : <a gnrl='c-primary' href='/@"+comment_author+"/"+comment_permlink+"'>"+comment_permlink+"</a></div>\
            </div>\
          </div>\
        </div>\
      </div>");
    }
    function claim_reward_balance(json, type){
      var account = json.account;
      var reward_sbd = json.reward_sbd;
      var reward_steem = json.reward_steem;
      var reward_vests = json.reward_vests;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-award'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+account+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+account+"/avatar)';></div>\
              <div>@"+account+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='reward_sbd'> sbd : "+reward_sbd+"</div>\
              <div class='reward_steem'> steem : "+reward_steem+"</div>\
              <div class='reward_vests'> vests : "+reward_vests+"</div>\
            </div>\
          </div>\
        </div>\
      </div>");
    }
    function comment_benefactor_reward(json, type){
      var author = json.author;
      var benefactor = json.benefactor;
      var permlink = json.permlink;
      var reward = json.reward;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
        <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-trophy'></i></div>\
          <div class='his-user' flx='fd-c'>\
            <div class='author'> author : <a gnrl='c-primary' href='/@"+author+"'>@"+author+"</a></div>\
          </div>\
          <div class='his-data'> \
            <div class='benefactor'> benefactor : "+benefactor+"</div>\
            <div class='reward'> reward : "+reward+"</div>\
            <div class='permlink'> permlink : <a gnrl='c-primary' href='/@"+author+"/"+permlink+"'>"+permlink+"</a></div>\
          </div>\
        </div>\
      </div>");
    }
    function transfer(json, type){
      var amount = json.amount;
      var from = json.from;
      var memo = json.memo;
      var to = json.to;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-award'></i></div>\
          <div class='his-user' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+from+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+from+"/avatar)';></div>\
              <div>@"+from+"</div>\
            </a>\
            <a gnrl='c-primary' style='margin-left: auto;' href='/@"+to+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+to+"/avatar)';></div>\
              <div>@"+to+"</div>\
            </a>\
          </div>\
          <div class='his-data' gnrl='center' flx='fd-c'>\
            <div class='trans-amount'> amount : "+amount+"</div>\
            <div class='trans-memo'> memo : <span gnrl='b-1 brc-muted br-2 bg-warning c-white'>"+memo+"</span></div>\
          </div>\
        </div>\
      </div>");
    }
    function fill_vesting_withdraw(json, type){ // not necessary
      return "";
    }
    function limit_order_create(json, type){ // not necessary
      return "";
    }
    function fill_order(json, type){ // not necessary
      return "";
    }
    function author_reward(json, type){
      var author = json.author;
      var permlink = json.permlink;
      var sbd_payout = json.sbd_payout;
      var steem_payout = json.steem_payout;
      var vesting_payout = json.vesting_payout;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-user-plus'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+author+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+author+"/avatar)';></div>\
              <div>@"+author+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='sbd_payout'> sbd_payout : "+sbd_payout+"</div>\
              <div class='steem_payout'> steem_payout : "+steem_payout+"</div>\
              <div class='vesting_payout'> vesting_payout : "+vesting_payout+"</div>\
              <div class='permlink'> permlink : <a gnrl='c-primary' href='/@"+author+"/"+permlink+"'>"+permlink+"</a></div>\
            </div>\
          </div>\
        </div>\
      </div>");
    }
    function delegate_vesting_shares(json, type){
      var delegatee = json.delegatee;
      var delegator = json.delegator;
      var vesting_shares = json.vesting_shares;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-share'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+delegatee+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+delegatee+"/avatar)';></div>\
              <div>@"+delegatee+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='delegator'> delegator : "+delegator+"</div>\
              <div class='vesting_shares'> vesting_shares : "+vesting_shares+"</div>\
            </div>\
          </div>\
        </div>\
      </div>");
    }
    function transfer_to_vesting(json, type){
      var amount = json.amount;
      var from = json.from;
      var to = json.to;
      return ("\
      <div class='history-op' flx='fd-c' gnrl='b-1 brc-muted br-2'>\
        <div class='his-json' flx='fd-c' gnrl=''>\
          <div class='his-type' gnrl='right txt-l br-2' flx='ai-c'>"+type+"<i class='fas fa-share'></i></div>\
          <div class='his-data' flx='ai-c'>\
            <a gnrl='c-primary' href='/@"+from+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+from+"/avatar)';></div>\
              <div>@"+from+"</div>\
            </a>\
            <div gnrl='center' flx='fd-c'>\
              <div class='amount'> amount : "+amount+"</div>\
            </div>\
            <a gnrl='c-primary' href='/@"+to+"'>\
              <div class='his-avatar' gnrl='center' style='background-image: url(https://steemitimages.com/u/"+to+"/avatar)';></div>\
              <div>@"+to+"</div>\
            </a>\
          </div>\
        </div>\
      </div>");
    }
    function account_create_with_delegation(json, type){
        return json
    }
    function transfer_to_savings(json, type){
      return json
    }
    function transfer_from_savings(json, type){
      return json
    }
    function fill_transfer_from_savings(json, type){
      return json
    }

    steem.api.getAccountHistory("{{content_user}}", -1, 200, (err, result) => {
      let template = "";
      let history = result.filter(
        tx => (tx[1].op[0] == "curation_reward" ||
          tx[1].op[0] == "author_reward" ||
          tx[1].op[0] == "claim_reward_balance" ||
          tx[1].op[0] == "transfer" ||
          tx[1].op[0] == "comment_benefactor_reward" ||
          tx[1].op[0] == "fill_vesting_withdraw" ||
          tx[1].op[0] == "limit_order_create" ||
          tx[1].op[0] == "fill_order" ||
          tx[1].op[0] == "delegate_vesting_shares" ||
          tx[1].op[0] == "transfer_to_vesting" ||
          tx[1].op[0] == "account_create_with_delegation" ||
          tx[1].op[0] == "transfer_to_savings" ||
          tx[1].op[0] == "transfer_from_savings" ||
          tx[1].op[0] == "fill_transfer_from_savings")
      )
      for (i in history){
        const data = history[i][1].op;
        const type = history[i][1].op[0];
        const json = history[i][1].op[1];
        try {
          template += eval(type+"(json, type)");
        }
        catch(error) {
          console.error(json,error);
        }
      }
    $("#wallet-history").html(template);
    });
</script>

<div gnrl="bg-white center">
    <div id="wallet-history" class="wallet-history" flx="fd-cr" default="media">

    </div>
</div>
<!--  -->
</body>
</html>
