<div flex="jc-fe" style="padding: 6px 0px;" general="br-2 c-secondary">
    <div flex="ai-c" general="txt-s left c-white" class="content_list">
        <a class="capitalize" hover="c-primary" general="c-secondary" 
        href="{% url 'filter' %}?username={{ ct.user }}&language={{ ct.language }}"     id="language">
         <i class="fas fa-flag"></i>{{ct.language}}
        </a>
    </div>
    <div general="txt-s" flex="ai-c" class="card-bottom">
        {% include 'card/bookmark.html' %}
        {% include 'card/vote.html' %}
    </div>
</div>
