<card general="br-4 bg-white w-100">
    {% include "card/userinfo.html" %}
    {% include "card/contentinfo.html" %}
    {% include 'card/top.html' %}
    <a href="{{ ct.get_absolute_url }}" general="c-dark">
        <div general="txt-m" class="upshow">
            <div flex="ai-c">
                {% if ct.image_address %}
                    <img class='definition-img' src='{{ ct.image_address }}' alt='{{ ct.title }}'>
                {% endif %}
                <p>{{ ct.description }}...</p>
            </div>
        </div>
    </a>
    {% include 'card/bottom.html' %}
</card>