<div flex="jc-fs" general="txt-l" style="margin: 12px 0px;">
    <a href="{{ ct.get_absolute_url }}">
    <strong id="title" general="c-dark">{{ ct.title }}</strong>
  </a>
</div>
<div flex="ai-fs" general="br-2 c-secondary c-dark" flex="ai-fs" style="margin: 12px 0px;">
      <div general="txt-s" flex="ai-c" class="duread-li">
        <div class="capitalize" style="margin-right: 12px;" flex="ai-fe">
          <i general="c-secondary" class="fab fa-readme">
            <span>{{ ct.get_dor }}</span>
          </i>
        </div>
    </div>
    <div general="txt-s" flex="ai-c" class="duread-li">
        <div class="capitalize" style="margin-right: 12px;">
          <i general="c-secondary" class="fas fa-eye">
            <span>{{ ct.views }}</span>
          </i>
        </div>
    </div>
    <div general="txt-s" flex="ai-c" class="duread-li">
        <div class="capitalize" style="margin-right: 12px;">
          <i general="c-secondary" class="fas fa-reply">
            <span id="reply">{{ ct.reply_count }}</span>
          </i>
        </div>
    </div>
</div>

