{% load coogger_tags %}
<script>
  $(document).ready(function(){
    let getApiUrl = function(url_resolve){
    let apiUrl = "";
    if (url_resolve == "user"){
      apiUrl = `/api/content/?status=approved&username={{ current_user }}`;
    }
    else if (url_resolve == "home" || url_resolve == "explorer_posts" ){
      apiUrl = `/api/content/?status=approved`;
    }
    else if (url_resolve == "language"){
      apiUrl = `/api/content/?status=approved&language={{ language }}`;
    }
    else if (url_resolve == "category"){
      apiUrl = `/api/content/?status=approved&category={{ category }}`;
    }
    else if (url_resolve == "review"){
      apiUrl = `/api/content/?status=shared`;
    }
    else if (url_resolve == "filter"){
      apiUrl = `/api/content/?status=approved{{filter|safe}}`;
    }
    else if (url_resolve == "topic"){
      apiUrl = `/api/content/?status=approved&topic={{ topic.name }}`;
    }
    else if (url_resolve == "list"){
      apiUrl = `/api/content/?status=approved&topic={{nameofhashtag}}`;
    }
    else if (url_resolve == "hashtag"){
      apiUrl = `/api/content/?status=approved&tags={{ nameofhashtag }}`;
    }
    return apiUrl;
  }
    const PerLoadPostCount = "{{ request.page_size }}";
    const apiUrl = getApiUrl("{{ request|url_resolve:"" }}");
    let dataCount = get_data_from_cooggerapi(apiUrl).then(function(data){
        $(".query_count").html(data.count);
        return data.count;
      })
    let posts = [];
    let requests = [];
  function loadMore(apiUrl){
    let check = [];
    let card = document.querySelectorAll('card');
    let last_content = card[card.length-1];
    let last_id = $(`#${last_content.id}`).attr("data-postid");
    if (!requests.includes(apiUrl)){
      requests.push(apiUrl);
      get_result_from_cooggerapi(apiUrl).then(function(contents){
        let index=0;
        let len_content=contents.length;
        for (index; index<len_content;index++){
          let content = contents[index];
          let content_id = content.id;
          if (!posts.includes(content_id)){
            posts.push(content_id);
            check.push(content_id);
            let author = content.username;
            let permlink = content.permlink;
            let views = content.views;
            let definition = content.definition;
            let topic = content.utopic_name;
            let category = content.category_name;
            let language = content.language;
            let title = content.title;
            let duration_of_read = dor(content.body);
            let rep = 0;
            let reply = 0;
            let votes = 0;
            let created = timeSince(content.created);
            let post_reward_total = 0;
            {% include 'card/card_template.js' %}
              $(`cards`).append(card_output);
            if (check.length >= PerLoadPostCount){
              break
            }
          }
        }
      })
    }
  }
  let cards_length = function(){
    return document.querySelectorAll('card').length
  }
  $(window).scroll(function() {
      if (scrolledbottom()) {
        $(".load-more").css({"display":"block"});
        dataCount.then(function(post_count){
          if (post_count > cards_length()){
              let page = parseInt(((cards_length() / PerLoadPostCount) + 1).toFixed(1));
              loadMore(`${apiUrl}&page=${page}`);
          }
          else{
            $(".load-more").css({"display":"none"});
            $(".end-of-the-posts").css({"display":"block"});
          }
        })
      }
  });
});
</script>
