<div class="capitalize" flex style="margin: 12px 12px;">
    <div flex="ai-c" general="txt-s left c-white" class="content_list">
        <a hover="c-white bg-primary" general="b-1 br-2 c-primary" id="topic"
          href="{% url 'detail-utopic' ct.utopic.permlink ct.user %}" style="padding: 2px 6px;">
          <i class="fa fa-hashtag" aria-hidden="true"></i>
          <span>{{ct.utopic.permlink}}</span>
        </a>
    </div>
    <div flex="ai-c" general="txt-s right c-white" class="content_list">
        <a hover="c-white bg-primary" general="b-1 br-2 c-primary" href="{% url 'filter' %}?username={{ ct.user }}&category={{ ct.category }}" id="category" style="padding: 2px 6px;">
         <i class="fa fa-list-alt" aria-hidden="true"></i>{{ct.category}}
        </a>
    </div>
</div>