<div class="capitalize" flex style="margin: 12px 0px;">
    <div flex="ai-c" general="txt-s left c-white">
        <a hover="c-primary" id="topic" general="c-secondary"
          href="{% url 'detail-utopic' ct.utopic.permlink ct.user %}">
          <i class="fas fa-hashtag" aria-hidden="true"></i>
          <span>{{ct.utopic.permlink}}</span>
        </a>
    </div>
    <div flex="ai-c" general="txt-s right c-white">
        <a hover="c-primary" href="{% url 'filter' %}?username={{ ct.user }}&category={{ ct.category }}" 
        general="c-secondary" id="category">
         <i class="fa fa-list-alt" aria-hidden="true"></i>{{ct.category}}
        </a>
    </div>
</div>