{% load vote %}
<div class="id-{{ ct.id }}" general="center b-1 br-2 brc-secondary" id="vote-section" data-vote-status="{% is_vote request.user ct ct.id %}">
    <i id="upvote" onclick="vote(this, '{{ ct.id }}')" general="c-secondary" hover="c-success" class="fas fa-heart">
        {{ ct.upvote_count|default:"0" }}
    </i>
    <i id="downvote" onclick="vote(this, '{{ ct.id }}')" general="c-secondary" hover="c-danger" class="fas fa-thumbs-down">
        {{ ct.downvote_count|default:"0" }}
    </i>
</div>