{% extends "home/html.html" %}
{% load coogger_tags %}
{% block body %}
<div style="margin: auto;margin-top: 12px;" general="width:100" mobile-l="txt-s">
  <div general="flex position:center flex:fd-c">
    <div class="utopic" general="flex position:center width:60 flex:fd-c" mobile-m="width:99" mobile-l="width:94"
      tablet="width:90" laptop="width:80" mobile-s="width:98">
      {% include "users/topic/detail/top.html" %}
      <div general="width:100" id="utopiContents">
        {% if not queryset %}
        {% if request.user == current_user %}
        <div general="bg:dark-purple color:white br:2" class="utopic-nocontent">
          <a general="color:white text:l position:center" href="{% url 'create' utopic.permlink %}">
            Add content your {{ utopic.permlink }} topic
          </a>
        </div>
        {% else %}
        <div general="bg:red color:white br:2 width:80 position:center" class="utopic-nocontent">
          <span general="color:white text:m position:center">
            No content has been added in {{ utopic.permlink }} topic yet by {{ current_user }}
          </span>
        </div>
        {% endif %}
        {% endif %}
        {% for content in queryset %}
          <div id="{{ content.order }}" class="utopic-query text3"
            general="flex flex:ai-c width:100 text:m border:1 br:2 brc:muted"
            mobile-l="text:s" mobile-m="text:s" mobile-s="text:s">
            {% if content.status != "ready" %}
            <i class="fa fa-file-alt" general="color:muted" title="{{ content.status }}"></i>
            {% else %}
            <i class="fa fa-file-alt" general="color:success" title="{{ content.status }}"></i>
            {% endif %}
            <div general="flex width:90 flex:ai-c">
                <a class="text3" general="color:primary width:50" href="{{ content.get_absolute_url }}">
                  <span>{{ content.title|title }}</span>
                </a>
                <span general="width:50 text:s color:secondary" class="text3">{{ content.get_last_commit.msg|title }}</span>
                <div general="text:s color:secondary">
                  <i class="fas fa-flag">{{ content.language|title }}</i>
                  <i class="fas fa-eye">{{ content.views }}</i>
                  <i class="fas fa-reply-all">{{ content.reply_count }}</i>
                  {% if content.contributors.all %}
                    <i class="fas fa-user-friends">
                      [ {% for contributor in content.contributors.all %} @{{ contributor }} ,{% endfor %} ]
                    </i>
                  {% endif %}
                </div>
              </div>
              {% if request.user == current_user %}<i id="move-content" class="fas fa-arrows-alt" style="cursor: move;"></i>{% endif %}
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
  {% if request.user.is_authenticated and request.user == current_user %}
    <script>
      $(document).ready(function() {
        Sortable.create(document.getElementById("utopiContents"), {
          onEnd: function (evt) {
            setOrder("{% url 'contet-replace-order' %}", evt.oldIndex + 1, evt.newIndex + 1, "{{ utopic.id }}");
          },
          handle: "#move-content",
          animation: 150,
        });
      });
    </script>
  {% endif %}
{% endblock script %}

