{% for blo in blog %}
<div class="blog-cards">
    <div class="blog-user">
        <div class="blog-user-profil">
            <div class="blog-username ft-pe">
                <a class="blog-username-a" href='/@{{ blo.username }}'>{{ blo.username }}</a>
            </div>
            <div class="blog-time ft-dn">
                {{ blo.time }}
            </div>
        </div>
        <div class="blog-user-description"></div>
    </div>
    <div class="blog-category ft-os"><a class="blog-category-a" href='/topic/{{ blo.category }}'>{{ blo.category }}</a> {% if blo.subcategory != None %}
        <div class="blog-subcategory"><a class="blog-subcategory-a" href='/topic/{{ blo.subcategory }}'>{{ blo.subcategory }}</a> {% if blo.category2 != None %}
            <div class="blog-category2"><a class="blog-category2-a" href='/topic/{{ blo.category2 }}'>{{ blo.category2 }}</a>
            </div>
            {%endif%}
        </div>
        {%endif%}
    </div>
    <div class="blog-cont">
        <div class="blog-title ft-ns">
            <a class="blog-title-a" href='/blogs/{{ blo.url }}'>{{ blo.title }}</a>
        </div>
        <div class="blog-content ft-ct">{{ blo.content|safe }}</div>
    </div>
</div>
{% endfor %}