<div class="b-content-info">
  <div class="b-content-list-name ">
    <a class="b-username-a" href='/@{{ blo.username }}/{{ blo.content_list }}'>{{ blo.content_list }}</a>
  </div>
  <div class="b-user-li">
    <a class="b-user-hashtag" href='/list/{{ blo.content_list }}'>
      <img class="hashtag-img" src="/static/media/icons/list.svg" />
    </a>
  </div>

  <div class="b-time ft-dn">
    <span>{{ blo.time }} | </span><span> {{ blo.time|timesince }} önce</span>
  </div>

  <div class="b-title ft-ns">
    <a class="b-title-a" href='/{{ blo.url }}'>{{ blo.title|title }}</a>
  </div>
</div>
