<div class="b-user-info">
    <ul class="b-user">
        <ul class="b-user-ul">
            <li class="b-user-ul-li">
                <div class="b-user-img">
                    {% if pp %}
                    <img class="b-user-img-src" alt='{{blo.username}}' src="/media/users/pp/pp-{{ blo.username }}.jpg" /> {% else %}
                    <img class="b-user-img-src" src="/static/media/profil.png" /> {% endif %}
                </div>
            </li>
            <li class="b-user-ul-li">
                <div class="b-username ">
                    <a class="b-username-a ft-cl" href='/@{{ blo.username }}'>@{{ blo.username }}</a>
                </div>
            </li>
        </ul>
        <li class="b-user-li">
            <div class="b-content-list-name ">
                <a class="b-username-a" href='/@{{ blo.username }}/{{ blo.content_list }}'>{{ blo.content_list }}</a>
            </div>
        </li>
        <li class="b-user-li">
            <a class="b-user-hashtag" href='/list/{{ blo.content_list }}'>
                <img class="hashtag-img" src="/static/media/icons/list.svg" />
            </a>
        </li>
    </ul>
</div>