{% for ct in content %}
  <card data-postid="{{ct.id}}" id="{{ ct.user }}-{{ ct.permlink }}" general="br-2 bg-white">
      {% include "card/edit.html" %} {% include "card/userinfo.html" %} {% include "card/contentinfo.html" %}
      <a href="" id="absolute_url_href" general="c-dark">
          <div general="txt-m" class="upshow">
              <div flex="ai-c">
                  {{ ct.definition|safe }}
              </div>
          </div>
      </a>
      {% include 'card/bottom.html' %}
  </card>
{% endfor %}
