<div flx="fd-c" gnrl="txt-s">
  <div flx="jc-fe" class="content_list" style="padding: 1px 12px;">
    <a gnrl="br-2 b bg-secondary c-white" hvr-a="bg-primary"
    href="{% url 'cooggerapp-utopic' ct.content_list ct.user %}" style="padding:  2px 4px;">
     {{ ct.content_list }}
    </a>
  </div>
  <div flx="jc-fe" gnrl="br-circle" class="content_list" style="padding: 1px 12px;">
    <a gnrl="br-2 b bg-secondary c-white" hvr-a="bg-primary"
    href="{% url 'cooggerapp-list' ct.content_list  %}" style="padding:  2px 4px;">
      {% url 'cooggerapp-list' ct.content_list  %}
    </a>
  </div>
  <a href='' id="absolute_url_href">
    <div gnrl="br-2 c-secondary" flx="ai-fs">
      <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">min read {{ ct.dor }}</div>
      </div>
      <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">reply {{ ct.hmanycomment }}</div>
      </div>
      <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">views {{ ct.views }}</div>
      </div>
      <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">pageviews {{ ct.read }}</div>
      </div>
    </div>
    <div flx="jc-fs" gnrl="txt-l c-dark" style="margin: 12px 12px;">
      <strong id="title"></strong>
    </div>
  </a>
</div>
