<div flx style="margin: 12px 12px;">
    <div flx="ai-c" gnrl="br-2 b bg-secondary c-white txt-s left" hvr-a="bg-primary" class="content_list">
        <a href="{% url 'language' ct.language %}">
     {{ ct.language }}
    </a>
    </div>
    <div flx="ai-c" class="content_list" gnrl="br-2 b bg-secondary c-white txt-s right" hvr-a="bg-primary" class="content_list">
        <a href="{% url 'category' ct.category %}">
     {{ ct.category }}
    </a>
    </div>
</div>
<div gnrl="br-2 c-secondary c-dark" flx="ai-fs" style="margin: 12px 0px;">
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">min read {{ ct.dor }}</div>
    </div>
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">reply <span id="reply"></span></div>
    </div>
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">views {{ ct.views }}</div>
    </div>
    <div gnrl="txt-s" flx="ai-c" class="duread-li">
        <div style="margin-left: 12px;">pageviews {{ ct.read }}</div>
    </div>
</div>
<div flx="jc-fs" gnrl="txt-l" style="margin: 12px 12px;">
    <a href='' id="absolute_url_href">
    <strong id="title" gnrl="c-dark"></strong>
  </a>
</div>
