<div gnrl="b-1 brc-white br-2" style="padding: 6px 12px;">
    <div flx="ai-c">
      <a gnrl="c-dark txt-m" href="" id="author_href" flx="ai-c" hvr-a="c-private">
        <img class="carduserimg" gnrl="br-circle" width="40px" height="40px"></img>
        <div flx="fd-c">
          <span flx="ai-c" class="carduser" style="margin-left:6px;">@{{ ct.user }} -
            <span gnrl="txt-s br-2 c-seconday" style="padding: 2px" id="reputation"></span>
            <span gnrl="txt-s c-secondary"> | {{ ct.community.name }}</span>
          </span>
          <span gnrl="txt-xs c-dark" style="margin-left:6px;" id="created"></span>
        </div>
      </a>
    </div>
</div>
