<div flx="jc-fe" style="padding: 6px 12px;" gnrl="br-2" color="c-secondary">
    <div gnrl="txt-s" flx="ai-c" class="duread-li" style="margin-right: auto;">
        <div class="ctpayout" gnrl="b-1 br-2" color="c-white bg-success" style="margin:0px 2px;padding: 2px 6px;">
            $<span id="post_reward_total"></span>
        </div>
    </div>
    <div flx="ai-c" gnrl="txt-s right" color="c-white" class="content_list">
        <a hvr="c-white bg-primary" gnrl="b-1 br-2" color="c-primary"
         href="{% url 'language' ct.language %}" id="language" style="margin:0px 2px;padding: 2px 6px;">{{ct.language}}</a>
    </div>
</div>
