{% load coogger_tags %}
<div flx="jc-fe" style="padding: 6px 12px;" gnrl="br-2 c-secondary">
  <div gnrl="txt-s" flx="ai-c" class="duread-li" style="margin-right: auto;">
    <div class="ctpayout" gnrl="bg-dark c-white br-2" style="margin:0px 2px;padding: 2px 6px;">$<span id="post_reward_total"></span></div>
  </div>
  <div class="upvote" data-user="{{ct.user}}" data-permlink="{{ct.permlink}}" flx gnrl="bg-secondary c-white br-2 txt-s" style="padding: 4px 4px;cursor:pointer;">
    {% if ct|upvote:request.user.username %}
    <i gnrl="c-primary" class="fa fa-thumbs-up"></i>
    {% else %}
    <i hvr="c-primary brc-primary br-2 b-1" gnr="c-white" class="fa fa-thumbs-up"></i>
    {% endif %}
  </div>
</div>
