{% extends "home/html.html" %}
{% block body %}
  {% include 'users/general.html' %}
  {% if about %}
  <div general="center" style="margin-top:12px">
    {% if current_user == request.user %}
    <div general="center w-100">
        <form default="form" mobile-s="w-100" mobile-l="w-98" tablet="w-60" laptop="w-40"
            laptop-l="w-70" max="w-50" general="w-60"
            flex="fd-c" method="post" action="{% url 'userabout' current_user %}">
                {% csrf_token %} {{ about }} {{ about.media }}
                <input flex="jc-c as-c" default="input" type="submit" value="Share">
        </form>
        {% else %}
        <div default="paragraph pm"
            mobile-s="w-100" mobile-l="w-98" tablet="w-60" laptop="w-40" laptop-l="w-70" max="w-50"
            general="b-1 br-2 brc-muted" style="padding: 6px;">
                {% load django_md_editor %} {{ about|markdown_to_html:"about"|safe }}
        </div>
        {% endif %}
    </div>
    {% else %}
    <div general="txt-m center bg-white" flex="jc-c ai-c" mobile-s="w-100"
    mobile-l="w-98" tablet="w-60" laptop="w-40" laptop-l="w-70" max="w-50" style="height:20vh;">
        <div general="center" mobile-s="w-100" mobile-l="w-98" tablet="w-60"
        laptop="w-40" laptop-l="w-70" max="w-50" flex="jc-c">
            Our user has not written an article about himself yet.
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
