{% extends "users/general.html" %}
    {% block useright %}
        {% if about %}
            <div general="position:center width:100">
                <div default="paragraph pm" 
                mobile-l="width:98" tablet="width:80" 
                laptop="width:40" laptop-l="width:70" 
                general="width:100" style="padding: 6px;">
                    {% load django_md_editor %} {{ about|markdown_to_html:"about"|safe }}
                </div>
            {% else %}
                <div general="flex text:m position:center bg:white flex:jc-c flex:ai-c"  mobile-s="width:100" mobile-l="width:98" tablet="width:60" laptop="width:40" laptop-l="width:70" style="height:20vh;">
                    <div general="flex position:center flex:jc-c" mobile-s="width:100" mobile-l="width:98" tablet="width:60" laptop="width:40" laptop-l="width:70" >
                        Our user has not written an article about himself yet.
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}


                




  

