{% load coogger_tags %}

<div general="border:1 brc:muted br:2" style="margin-top: 24px;padding:12px;">
  <div general="width:80 position:center  flex flex:fd-c" 
  mobile-l="width:100"
  mobile-m="width:100"
  mobile-s="width:100">
  <div style="margin-bottom: 12px;">
      <i class="fas fa-certificate">Badges Count</i>
      {{ current_user.userbadge.get_badge_count|default:"0" }}
  </div>
  <div general="flex flex:ai-c">
      {% for badge in current_user.userbadge.get_badges %}
          <a target="blank" class="badge-a"
          general="flex flex:fd-c flex:ai-c width:10" 
          mobile-l="width:20"
          mobile-m="width:20"
          mobile-s="width:20"
          style="margin-right: 12px;" href="/filter/?username={{ current_user }}&{{ badge.extra_data }}={{ badge }}">
              <img class="badge-img droplet" width="10%" height="10%" 
              general="width:100 height:100 br:circle opacity:0.8:hover bg:muted" 
              src="{{ badge.image.url }}" 
              alt="{{ current_user }}-badge-{{ badge }}" title="{{ badge }}">
              <span general="color:secondary color:dark:hover">
                  ( {% content_count current_user badge.extra_data badge %} )
              </span>
          </a>
      {% endfor %}
  </div>
    </div>
</div>
