<u-footer flex="jc-c" general="txt-s" hover="c-private" style="padding: 6px 0px;">
    <div flex="fw-nw" style="overflow: auto;">
        {% for follow in user_follow %} {% if follow.choices == "web-site"%}
        <div flex>
            <a animation-hover="bg-primary" general="bg-2 br-2 c-dark" hover="c-white bg-white" target="_blank" href="{{follow.address}}" style="padding: 3px 6px;">
        <i class="fa fa-globe" aria-hidden="true" general="txt-s">
          {{ follow.choices|cut:"-" }}
        </i>
      </a>
        </div>
        {% else %}
        <div flex>
            <a animation-hover="bg-primary" general="bg-2 br-2 c-dark" hover="c-white bg-white" target="_blank" href="https://www.{{follow.choices}}.com/{{follow.address}}" style="padding: 3px 6px;">
          <i class="fab fa-{{follow.choices}}" aria-hidden="true" general="txt-s">
            {{follow.address}}
          </i>
        </a>
        </div>
        {% endif %} {% endfor %}
        <div flex>
          <a flex="ai-c" animation-hover="bg-primary" general="bg-2 br-2 c-dark" hover="c-white bg-white" target="_blank" href="https://www.github.com/@{{ current_user }}" style="padding: 3px 6px;">
            <i flex="ai-c" class="fab fa-github"></i>
            <span>{{ current_user }}</span>
        </a>
      </div>
    </div>
</u-footer>
