{% extends "home/html.html" %}
{% block body %}
  <div general="width:100">
      {% include 'users/tabs.html' %}
      <div general="width:100" style="padding-bottom: 12px;"></div>
      <div general="border:1 br:2 brc:muted width:100 position:center flex">
        {% include 'users/pp.html' %}
        <div general="width:30 bg:white" laptop-l="width:36" laptop="width:40" mobile-l="width:90" mobile-s="width:96" mobile-m="width:94" tablet="width:80" style="position: relative;top: 0px;">
            {% block useright %}{% endblock %}
        </div>
      </div>
      {% include 'badge/list-of-badges.html'%}
  </div>
{% endblock %}
