{% load coogger_tags %}
<div flex="jc-c fd-c ac-c" class="cover_image" style="background-repeat:no-repeat;background-position:center;background-size:contain;">
    <div flex="jc-c" style="margin-top: 12px;">
        <div flex="fd-c" general="br-circle">
            <img flex="jc-c" general="br-circle" src="" class="useruserimg" style="padding: 2px;" id="useruserimg"></img>
        </div>
    </div>
    <h1 flex="jc-c as-c" general="br-2 b-1 bg-white brc-white">
        <a flex general="c-private" title="{{ content_user  }}" href="/@{{ content_user  }}"
        style="padding: 0px 6px;word-wrap: break-word;word-break: break-all;">
      @{{ content_user }}  -  <span general="txt-s br-2 bg-secondary c-white" flex="ai-c" style="padding: 2px" id="reputation"></span> </a>
    </h1>
    <div flex="jc-c">
        <div flex="fd-c" style="margin: 6px;" general="br-2 bg-white">
            <div flex="as-c" id="post-count" data-post-count="{{ content_user|hmanycontent}}"></div>
            <div general="b-1 br-2 txt-s brc-muted c-secondary" style="padding: 3px 6px;">Contents</div>
        </div>
        <div flex="fd-c" style="margin: 6px;" general="br-2 bg-white">
            <div class="follownum" flex="as-c" id="follower_count"></div>
            <div general="b-1 br-2 txt-s brc-muted c-secondary" style="padding: 3px 6px;">Follower</div>
        </div>
        <div flex="fd-c" style="margin: 6px;" general="br-2 bg-white">
            <div class="follownum" flex="as-c" id="following_count"></div>
            <div general="b-1 br-2 txt-s brc-muted c-secondary" style="padding: 3px 6px;">Following</div>
        </div>
    </div>
    {% if request.user != content_user and request.user.is_authenticated %}
    <div class="follow" id="follow" flex="jc-c as-c" animation-hover="bg-primary" general="br-2 b-1 bg-secondary brc-muted"
    style="cursor:pointer;padding: 3px 30px;">
        <div general="txt-m c-white" id="is_follow">
            Follow
        </div>
    </div>
    <div class="unfollow" id="unfollow" flex="jc-c as-c" animation-hover="bg-primary" general="br-2 b-1 brc-muted bg-secondary" style="cursor:pointer;padding: 3px 30px;display:none">
        <div general="txt-m c-white" id="is_unfollow">
            Unfollow
        </div>
    </div>
    {% endif %}
</div>
</script>
