{% load django_follow_system_tags %}
{% load coogger_tags %}
<div general="width:30 flex flex:jc-c flex:fd-c" class="cover_image"
    mobile-l="width:100"
    mobile-m="width:100"
    mobile-s="width:100"
    tablet="width:100"
    laptop="width:36">
    <div general="flex flex:fd-c br:circle" >
        <img general="flex flex:jc-c br:4 width:60" mobile-l="width:60"
        mobile-m="width:50" mobile-s="width:46"
        tablet="width:36" laptop="width:56" laptop-l="width:60" alt="{{ current_user }}" title="{{ current_user }}" src="{{ current_user.githubauthuser.avatar_url }}" style="padding: 2px;"/>
        <h1 general="flex flex:jc-c flex:as-c br:2 border:1 bg:white brc:white" style="position: absolute;">
            <a general="flex color:private text:m"  title="{{ current_user  }}" href="/@{{ current_user  }}" style="padding: 0px 6px;word-wrap: break-word;word-break: break-all;">
                {% if current_user.first_name %}
                    {{ current_user.first_name }} {{ current_user.last_name }}
                {% else %}
                    @{{ current_user }}
                {% endif %}
            </a>
        </h1>
    </div>
    <div general="flex flex:jc-c width:max position:center">
        <div general="flex flex:fd-c br:2 bg:white" style="margin: 6px;" >
            <div general="flex flex:as-c" id="post-count">{{ current_user|hmanycontent}}</div>
            <div general="border:1 br:2 text:s brc:muted color:secondary" style="padding: 3px 6px;">Contents</div>
        </div>
        <div general="flex flex:fd-c br:2 bg:white" style="margin: 6px;" >
            <a href="{% url 'get_followers' %}?username={{ current_user }}" general="flex flex:as-c flex:fd-c">
                <div class="follownum" general="flex flex:as-c" id="follower_count">{{ current_user|followers_count}}</div>
                <div general="border:1 br:2 text:s brc:muted color:secondary" style="padding: 3px 6px;">Followers</div>
            </a>
        </div>
        <div general="flex flex:fd-c br:2 bg:white" style="margin: 6px;" >
            <a href="{% url 'get_followers' %}?username={{ current_user }}" general="flex flex:as-c flex:fd-c">
                <div class="follownum" general="flex flex:as-c" id="following_count">{{ current_user|following_count}}</div>
                <div general="border:1 br:2 text:s brc:muted color:secondary" style="padding: 3px 6px;">Following</div>
            </a>
        </div>
    </div>
    {% if request.user != current_user and request.user.is_authenticated %}
        {% if request.user|is_follow:current_user %}
            <div class="follow-op" id="follow-op" general="flex flex:jc-c flex:as-c br:2 border:1 brc:muted bg:secondary bg:red:hover"   
            style="cursor:pointer;padding: 3px 30px;">
                <div general="text:m color:white" id="follow">Unfollow</div>
            </div>
        {% else %}
            <div class="follow-op" id="follow-op" general="flex flex:jc-c flex:as-c br:2 border:1 brc:muted bg:secondary bg:primary:hover"   
            style="cursor:pointer;padding: 3px 30px;">
                <div general="text:m color:white" id="follow">Follow</div>
            </div>
        {% endif %}
    {% endif %}
    {% include 'users/footer.html' %}
    <h4 general="width:80 position:center flex flex:jc-c flex:as-c br:2 border:1 bg:white brc:white">
        <span general="text:s">{{ current_user.userprofile.description|default:"" }}</span>
    </h4>
</div>

