<script type="text/javascript">
  $(document).ready(function() {
      $(".follow-op").click(function(event){
        $(".follow-op").addClass("make_reply_animation");
        let follower_count = parseInt(document.getElementById("follower_count").innerHTML);
        $.get("{% url 'follow' current_user %}", function(data, status){
          if (data.status == "follow"){
            $("#follower_count").html(follower_count+1);
            $("#follow-op #follow").html("Unfollow");
            $("#follow-op").attr({"hover":"bg:red"});
          }
          else if (data.status == "unfollow"){
            $("#follower_count").html(follower_count-1);
            $("#follow-op #follow").html("Follow");
            $("#follow-op").attr({"hover":"bg:primary"});
          }
        }).always(function(r){
          $(".follow-op").removeClass("make_reply_animation");
        });
      });
    });
</script>
