{% load coogger_tags %}
<div general="flex position:center width:100 border:1 brc:muted" >
  <div general="flex flex:fw-nw" style="padding: 6px 0px;overflow: auto;">
      <a class="fas fa-sitemap tab-a" href="{% url 'user' current_user %}" general="text:m {% if tab == 'utopic' %} color:white bg:primary {% else %} color:secondary color:white:hover bg:primary:hover {% endif %}">TOPIC {{ current_user|get_count:"utopic" }}</a>
      <a class="fas fa-file-alt tab-a" href="{% url 'usercontent' current_user %}" general="text:m {% if tab == 'content' %} color:white bg:primary {% else %} color:secondary color:white:hover bg:primary:hover {% endif %}">CONTENT {{ current_user|hmanycontent }}</a>
      <a class="fas fa-bookmark tab-a" href="{% url 'bookmark' current_user %}" general="text:m {% if tab == 'bookmark' %} color:white bg:primary {% else %} color:secondary color:white:hover bg:primary:hover {% endif %}">BOOKMARK {{ current_user|get_count:"bookmark"}}</a>
      <a class="fas fa-comments tab-a" href="{% url 'comment' current_user %}" general="text:m {% if tab == 'comment' %} color:white bg:primary {% else %} color:secondary color:white:hover bg:primary:hover {% endif %}">COMMENT {{ current_user|get_count:"comments" }}</a>
      <a class="fas fa-file-alt tab-a" href="{% url 'userabout' current_user %}" general="text:m {% if tab == 'about' %} color:white bg:primary {% else %} color:secondary color:white:hover bg:primary:hover {% endif %}">ABOUT</a>
  </div>
</div>

