{% if nameofexplain %}
<div class="h-explain">
    <img class="h-ex-img" src="/static/media/topics/{{ nameofexplain }}.svg" />
    <h1 class="h-ex-text">{{ nameoftopic }}</h1>
</div>
{% elif nameoftopic %}
<div class="h-explain">
    {% if pp %}
    <img class="h-ex-img" src="/media/users/pp/pp-{{ username }}.jpg" /> {% else %}
    <img class="h-ex-img" src="/static/media/profil.png" /> {% endif %}
    <h2 class="h-ex-h2">@{{ username }}</h2>
    <h1 class="h-ex-text">{{ nameoftopic}}</h1>
</div>
{% elif nameoflist_ex %}
<div class="h-explain">
    <img class="h-ex-img" src="/static/media/icons/list.svg" />
    <h1 class="h-ex-text">{{ nameoflist_ex }}</h1>
</div>
{% elif nameofhashtag %}
<div class="h-explain">
    <img class="h-ex-img" src="/static/media/icons/hashtag.svg" />
    <h1 class="h-ex-text">{{ nameofhashtag }}</h1>
</div>
{% endif %}