<footer class="h-footer">
    <div class="h-footer-main">
        <div class="h-footer-info ft-os">Sosyal medya hesapları</div>
        <ul class="h-footer-ul">
            <li class="h-footer-li">
                <a class="ft-os" target="_blank" href="https://www.instagram.com/cooggerapp">
                    <img src="/static/media/icons/instagram.svg" /> @cooggerapp</a>
            </li>
            <li class="h-footer-li">
                <a class="ft-os" target="_blank" href="https://www.instagram.com/hakancelik.py">
                    <img src="/static/media/icons/instagram.svg" /> @hakancelik.py</a>
            </li>
            <li class="h-footer-li">
                <a class="ft-os" target="_blank" href="https://www.facebook.com/coogger">
                    <img src="/static/media/icons/facebook.svg" /> coogger</a>
            </li>
        </ul>
        <div class="h-footer-info ft-os">Github</div>
        <ul class="h-footer-ul">
            <li class="h-footer-li">
                <a class="ft-os" target="_blank" href="https://www.github.com/hakancelik96">
                    <img src="/static/media/icons/github.svg" /> @hakancelik96</a>
            </li>
            <li class="h-footer-li">
                <a class="ft-os" target="_blank" href="https://www.github.com/hakancelik96/coogger">
                    <img src="/static/media/icons/github.svg" /> coogger</a>
            </li>
        </ul>
    </div>
    <div class="h-footer-main">
        <div class="h-footer-info ft-os">İletişim</div>
        <ul class="h-footer-ul" style="text-align:center">
            <li class="h-footer-li">
                <div>E posta : cooggerapp@gmail.com</div>
                <div>Adres : Gaziantep üniversitesi</div>
            </li>
            <li class="h-footer-li">
                <div>Kurucu, Yazılım, Tasarım Hakan ÇELİK</div>
            </li>
        </ul>
    </div>
</footer>