<footer flx gnrl="bg-dark br-2" default="pm">
  <div default="pm">
  <div default="pm" flx="fd-c" gnrl="c-white">Gelişmeleri takip edin</div>
    <div default="pm" >
      <a flx="ai-c" target="_blank" href="https://github.com/hakancelik96/coogger">
        <img gnrl="br-circle bg-white" default="m" src="/static/media/icons/github.svg" />Github
      </a>
    </div>
    <div default="pm">
      <a flx="ai-c" target="_blank" href="https://www.instagram.com/coogger.beta">
        <img gnrl="br-circle bg-white" default="m" src="/static/media/icons/instagram.svg" />Instagram
      </a>
    </div>
    <div default="pm">
      <a flx="ai-c" target="_blank" href="https://www.facebook.com/coogger">
        <img gnrl="br-circle bg-white" default="m" src="/static/media/icons/facebook.svg" />Facebook
      </a>
    </div>
    <div default="pm">
      <a flx="ai-c" target="_blank" href="https://www.facebook.com/groups/366304783810038/">
        <img gnrl="br-circle bg-white" default="m" src="/static/media/icons/facebook.svg" />Facebook grup
      </a>
    </div>
</div>

</footer>
