{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Hakan Çelik | hakancelik96@outlook.com | cooggerweb@gmail.com" /> {% if elastic_search.title %}
    <title>{{ elastic_search.title }}</title>
    <meta property="og:title" content="{{ elastic_search.title }}" />
    <meta property="og:site_name" content="{{ elastic_search.title }}">
    <meta name="twitter:title" content="{{ elastic_search.title }}">
    <meta property="og:title" content="{{ elastic_search.title }}">
    <meta itemprop="name" content="{{ elastic_search.title }}"> {% else %}
    <title>coogger</title>
    <meta property="og:title" content="coogger" />
    <meta property="og:site_name" content="coogger">
    <meta name="twitter:title" content="coogger">
    <meta property="og:title" content="coogger">
    <meta itemprop="name" content="coogger"> {% endif %} {% if elastic_search.keywords %}
    <meta name="keywords" content="{{ elastic_search.keywords }}" /> {% else %}
    <meta name="keywords" content="coogger,blog yaz,para kazanma,blog,oku,blog oku,para nasıl kazanırım," /> {% endif %} {% if elastic_search.description %}
    <meta name="description" content="{{elastic_search.description}}" />
    <meta property="og:description" content="{{elastic_search.description}}" />
    <meta name="twitter:description" content="{{elastic_search.description}}">
    <meta property="og:description" content="{{elastic_search.description}}">
    <meta itemprop="description" content="{{elastic_search.description}}"> {% else %}
    <meta name="description" content="coogger'a hoşgeldin, herkesin bir şeyler bulabileciği, okuyabileceği ,inceliyebileceği veya kendi içeriklerini üretip kazandığı parayı alabileceği bir platformdur">
    <meta property="og:description" content="coogger'a hoşgeldin, herkesin bir şeyler bulabileciği, okuyabileceği ,inceliyebileceği veya kendi içeriklerini üretip kazandığı parayı alabileceği bir platformdur" />
    <meta name="twitter:description" content="coogger'a hoşgeldin, herkesin bir şeyler bulabileciği, okuyabileceği ,inceliyebileceği veya kendi içeriklerini üretip kazandığı parayı alabileceği bir platformdur">
    <meta property="og:description" content="coogger'a hoşgeldin, herkesin bir şeyler bulabileciği, okuyabileceği ,inceliyebileceği veya kendi içeriklerini üretip kazandığı parayı alabileceği bir platformdur">
    <meta itemprop="description" content="coogger'a hoşgeldin, herkesin bir şeyler bulabileciği, okuyabileceği ,inceliyebileceği veya kendi içeriklerini üretip kazandığı parayı alabileceği bir platformdur"> {% endif %}
    <link rel="shortcut icon" href="/static/media/favicon.png" type="image/x-icon" />
    <meta property="og:image" content="/static/media/favicon.png" />
    <meta property="og:locale" content="tr_TR" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="2" />
    <meta name="revisit-after" content="2 days" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@hakancelik96">
    <meta name="twitter:creator" content="hakancelik96">
    <meta name="twitter:image:src" content="/static/media/favicon.png">
    <meta property="og:url" content="http://www.coogger.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/static/media/favicon.png" />
    <meta property="article:author" content="https://www.facebook.com/profile.php?id=100011790249138">
    <meta property="article:publisher" content="https://www.facebook.com/profile.php?id=100011790249138">
    <meta itemprop="image" content="/static/media/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- GOOGLE -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9215854020523450",
            enable_page_level_ads: true
        });
    </script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107674954-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-107674954-1');
    </script>
    <!-- GOOGLE -->
    <script src=" {% static 'js/jquery.js' %}"></script>
    <script src=" {% static 'js/jquery.touchSwipe.js' %}"></script>
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link href="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css" rel="stylesheet">
    <script src="/static/ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <link href=" {% static 'css/animate.css' %}" rel="stylesheet"> {% if signup_or_login %}
    <link rel="stylesheet" href="/static/css/signup_or_login.css">
    <script src=" {% static 'js/signup_or_login.js' %}"></script>
    {% elif general %}
    <script src=" {% static 'js/general.js' %}"></script>
    <link href=" {% static 'css/general.css' %}" rel="stylesheet"> {% elif users %}
    <link href=" {% static 'css/users.css' %}" rel="stylesheet">
    <script src=" {% static 'js/users.js' %}"></script>
    {% elif controls %}
    <link href=" {% static 'css/controls.css' %}" rel="stylesheet">
    <script src=" {% static 'js/controls.js' %}"></script>
    {% endif %}
    <script>
        function loader() {
            $('.preload').fadeOut('slow', function() {
                $(this).remove();
                $(".maindiv").css({
                    filter: "blur(0px)"
                });
            });
        }
    </script>

</head>

<body onload="loader()">
    {% if messages %} {% include 'home/ms.html' %} {% endif %}
    <div class="main-messages ft-io" style="display:none">
        <span class="close-ms">x</span>
        <ul class="messages">
            <li class="error"></li>
        </ul>
    </div>
    <div class="preload">
        <div class="coogger-load ft-cl" style="color:#0f391d">
            <span style="color:#80177e">c</span>
            <span class="animated infinite flash">o</span>
            <span class="animated infinite flash">o</span>
            <span class="animated infinite flash">g</span>
            <span class="animated infinite flash">g</span>
            <span style="color:#80177e">e</span>
            <span style="color:#80177e">r</span>
        </div>
    </div>
    <div class="maindiv">