<header class="h-header">
    <ul class="h-header-ul ft-it">
        {% if not user.is_authenticated %}
        <li class="h-header-ul-li">
            <a class="solol-a" href="/signup"><span class="solol-text">Kayıt olun / Yazar olun</span></a>
        </li>
        <li class="h-header-ul-li">
            <a class="solol-a" href="/login"><span class="solol-text">Giriş yapın</span></a>
        </li>
        {% else%}
        <li class="h-header-ul-li">
            <a class="solol-a" href="/@{{ request.user.username }}">
                <img class="solol-img" src="/media/users/pp/pp-{{ request.user.username }}.jpg">
                <span class="solol-text">{{ request.user.username }}</span>
            </a>
        </li>
        {% if not request.user.otherinformationofusers.author %}
        <li class="h-header-ul-li">
            <a class="solol-a" href="/signup-author">
                <span class="solol-text">Yazarlık başvurusu</span>
            </a>
        </li>
        {% endif %} {% if request.user.otherinformationofusers.is_author %}
        <li class="h-header-ul-li">
            <a class="solol-a" href="/create">
                <span class="solol-text">İçerik oluştur</span>
            </a>
        </li>
        {% endif %}
        <li class="h-header-ul-li">
            <a class="solol-a" href="/logout">
                <span class="solol-text">Çıkış</span>
            </a>
        </li>
        <li class="h-header-ul-li">
            <a class="solol-a" href="/settings">
                <span class="solol-text">Ayarlar</span>
            </a>
        </li>
        {% endif %}
        <li class="h-header-ul-li">
            <div class="search">
                <form class="search-form" action="/search/">
                    <input type="text" class="search-input" placeholder='Ara ..' name="query" maxlength="250" value="{{ request.GET.query }}" />
                    <input type="submit" value="Ara" class="search-button ft-it" />
                </form>
            </div>
        </li>
    </ul>
</header>
