{% include 'home/logo.html' %}
<div class="open-header">
    <div class="open-header-border"></div>
    <div class="open-header-border"> </div>
    <div class="open-header-border"></div>
</div>

<header>
    <ul class="header-ul ft-it">
        <li class="header-ul-li">
            <div class="search">
                <form class="search-form" action="/search">
                    <input type="text" class="search-input" placeholder='Ara ..' name="query" maxlength="250" value="{{ request.GET.query }}" />
                    <input type="submit" class="search-button ft-it" />
                </form>
            </div>
        </li>
        {% if not user.is_authenticated %}
        <li class="header-ul-li">
            <div class="solol">
                <a href="/signup">Kayıt ol</a>
            </div>
        </li>
        <li class="header-ul-li">
            <div class="solol">
                <a href="/login">Giriş yap</a>
            </div>
        </li>

        {% else %}
        <li class="header-ul-li">
            <div class="solol">
                <a href="/@{{ request.user.username }}">@{{ request.user.username }}</a>
            </div>
        </li>
        <li class="header-ul-li">
            <div class="solol">
                <a href="/create">İçerik oluştur</a>
            </div>
        </li>
        <li class="header-ul-li">
            <div class="solol">
                <a href="/control">Kontrol paneli</a>
            </div>
        </li>

        <li class="header-ul-li">
            <div class="solol">
                <a href="/logout">Çıkış</a>
            </div>
        </li>
        {% endif %}
    </ul>
</header>