<div class="main-messages" style="display:block" gnrl="bg-danger c-white" default="pm" >
  <div flx="ai-c jc-c">
    <div gnrl="bg-dark c-white br-2" default="pm" class="close-ms" flx="jc-c" style="cursor:pointer;">x</div>
    {% if messages %}
    <div default="pm" gnrl="txt-m" flx=jc-c>
      {% for message in messages %}
      <div default="pm">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <div gnrl="bg-dark c-white br-2" default="pm" class="close-ms" flx="jc-c" style="cursor:pointer;">x</div>
  </div>
</div>
