{% if nav_category %}
<nav class="h-nav">
    <ul class="h-nav-ul ft-ar">
        <li style="background-color:#0f391d;"  class="h-nav-topic h-nav-li">
           {{ nameoflist }}
        </li>
        {% for url,topic in nav_category %}
        {% if nameoftopic %}
        {% if topic == nameoftopic %}
        <li class="h-nav-li"  style="background:#248644;" >
          {% if nameoflist == "Listeler" %}
          <a class="h-nav-d-li-a" href="/@{{ username }}/{{ url }}">
          {% else %}
           <a class="h-nav-d-li-a" href="/{{ url }}">
            {% endif %}
            <img class="h-nav-li-img" src="/static/media/topics/checked.svg" />
            <div class="h-nav-li-text">{{ topic }}</div>
          </a>
        </li>
        {% else %}
        <li class="h-nav-li">
          {% if nameoflist == "Listeler" %}
                <a class="h-nav-d-li-a" href="/@{{ username }}/{{ url }}" data-gnl="1 1p"> <img class="h-nav-li-img" src="/static/media/icons/list.svg" />
                {% elif nameoflist %}
                <a class="h-nav-d-li-a" href="/{{ url }}">
                  <img class="h-nav-li-img" src="/static/media/topics/content.svg" />
                  {% endif %}
                <div class="h-nav-li-text">{{ topic }}</div>
            </a>
        </li>
      {% endif %}
{% endif %}
{% endfor %}
    </ul>
</nav>
{% endif %}
