{% include 'home/head.html' %}
{% include 'home/logo.html' %}
 {% include 'home/header.html' %}
 {% include 'home/nav.html' %}
{% if notifications %}
<ul class="h-notifications-ul ft-ar">
    {% for noti in notifications %}
      {% if noti.show %}
        <li class="h-noti-li" style="background-color: #0f391d;">
      {% else %}
        <li class="h-noti-li">
      {% endif %}
          <a class="h-noti-li-a" href="/{{ noti.address }}">
            {% if noti.even == 1 %}
            <img class="h-noti-li-a-img" src="/static/media/icons/comments.svg" />
            <div class="h-not-time">{{ noti.time|timesince }} önce</div>
            <div class="h-noti-info">İçeriğine bir yorum yapıldı</div>
            {% elif noti.even == 2 %}
            <img class="h-nav-li-img h-noti-li-a-img" src="/static/media/icons/star.svg" />
            <div class="h-not-time">{{ noti.time|timesince }} önce</div>
            <div class="h-noti-info">İçeriğine yeni bir oy verildi</div>
            {% elif noti.even == 3 %}
            <img class="h-nav-li-img h-noti-li-a-img" src="/static/media/topics/checked.svg" />
            <div class="h-not-time">{{ noti.time|timesince }} önce</div>
            <div class="h-noti-info">Yeni takipçi kazandın</div>
            {% endif %}
            <div class="h-noti-text">{{ noti.content }}</div>
          </a>
        </li>
    {% endfor %}
  </ul>
{% endif %}
{% include "blog/paginator.html" %}
