<div class="b-blogs" flx="jc-c">
{% for ct,pp,stars in content %}
<div class="data-post-id-{{ct.id}}" style="margin:6px 6px;">
    {% include "card/edit.html" %}
    {% if nameoftopic == ct.title %}
    <div class="b-cards" style="background: #248644;color: #fff;">
          {% else %}
    <div class="b-cards">
      {% endif %}
        {% include "card/userinfo.html" %} {% include "card/contentinfo.html" %}
        <div class="b-content">
            <div gnrl="txt-s" flx="jc-c ai-c" class="b-cont" style="height:210px;">
                {{ ct.show }}
                <a href="/{{ ct.url }}">
                <div class='duread-main'>
                  <ul class='duread-ul'>
                    <li class='duread-li'>
                      <img class='duread-img' src='/static/media/icons/stopwatch.svg'>
                      <div class='duread-text'>Tahmini okuma süresi {{ ct.dor }} dakika</div>
                    </li>
                    <li class='duread-li'>
                      <img class='duread-img' src='/static/media/icons/star.svg'>
                      <div class='duread-text'>Yıldız {{ stars }}</div>
                    </li>
                    <li class='duread-li'>
                      <img class='duread-img' src='/static/media/icons/employee.svg'>
                      <div class='duread-text'>Okuma {{ ct.views }}</div>
                    </li>
                    <li class='duread-li'>
                      <img class='duread-img' src='/static/media/icons/comments.svg'>
                      <div class='duread-text'>Yorum sayısı {{ ct.hmanycomment }}</div>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>
{% include "card/paginator.html" %}
