<div cards>
  {% for ct,pp in content %}
  <div card>
    {% include "card/edit.html" %}
    <div>
      {% include "card/userinfo.html" %} {% include "card/contentinfo.html" %}
      <div gnrl="unselectable txt-s" flx="jc-c ai-c" style="height:188px;width: 94%;z-index: 2;cursor: pointer;margin:auto;margin-bottom: 36px;margin-top: 6px;">
        <div flx="ai-c">
          {{ ct.show }}
        </div>
        <a href="/{{ ct.url }}">
          <div class='duread-main' style="background-color: #248644;" flx="ai-c" gnrl="br-2">
            <ul flx="fd-c" default="p" gnrl="br-2">
              <li gnrl="txt-s c-white" flx="ai-c" style="padding: 4px 0px;">
                <img src='/static/media/icons/stopwatch.svg' gnrl="bg-white br-circle" style="padding: 4px;">
              <div default="p" flx="jc-fe">Tahmini okuma süresi {{ ct.dor }} dakika</div>
            </li>
            <li gnrl="txt-s c-white" flx="ai-c" style="padding: 4px 0px;">
              <img src='/static/media/icons/employee.svg' gnrl="bg-white br-circle" style="padding: 4px;">
              <div default="p">Okuma {{ ct.views }}</div>
            </li>
            <li gnrl="txt-s c-white" flx="ai-c" style="padding: 4px 0px;">
              <img src='/static/media/icons/comments.svg' gnrl="bg-white br-circle" style="padding: 4px;">
                  <div default="p">Yorum sayısı {{ ct.hmanycomment }}</div>
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div flx="jc-c ai-fe" style="position: absolute;bottom: 6px;width: 96%;">
          {% if ct.lastmod != ct.time %}<div default="p" flx="jc-c as-fe" gnrl="txt-s br-2 b-1 brc-muted">Son güncelleme | {{ ct.lastmod|timesince }}</div>{% endif %}
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% include "card/paginator.html" %}
