<div flx="fd-c">
  <div default="p" flx="jc-fe" style="border-bottom: 1px solid #1414144d;">
    <a gnrl="c-dark" href='/{{ ct.user }}/{{ ct.content_list }}'>{{ ct.content_list }}</a>
  </div>
  <div default="p" flx="fd-fs fd-c">
    <a href="{% url 'list' ct.content_list  %}">
      <img src="/static/media/icons/list.svg" />
    </a>
  </div>
  <div default="p" flx="jc-c" gnrl="txt-s br-2 b-1 brc-muted">
    {{ ct.time }} | {{ ct.time|timesince }}
  </div>
  <div default="p"></div>
  <a default="p" flx="jc-c ai-c" gnrl="txt-s b-1 brc-private br-2 c-private"
  href='/{{ ct.url }}' style="text-align: center;">
    {{ ct.title|title }}
  </a>
</div>
