{% if ct.user == request.user or request.user.is_superuser %}
<div gnrl="bg-dark br-1" class="b-edit-point" data-edit-id="{{ ct.id }}"
style="width: 16px;position: absolute;z-index: 3;padding: 6px;margin: 6px;cursor:pointer;">
  <div class="border" style="border-top: 1px solid #fff;height: 4px;"></div>
  <div class="border" style="border: 1px solid #fff;height: 4px;"></div>
  <div class="border" style="border-bottom: 1px solid #fff;height: 4px;"></div>
</div>
<div gnrl="bg-success br-2" flx="jc-c" class="b-edit" style="position: absolute;z-index: 2;">
  <div flx="ai-c jc-c" default="pm" class="b-edit-panel data-edit-id-{{ ct.id }}" style="display: none;height: 423px; width: 244px;">
    <ul default="pm" flx="jc-c fd-c ai-c">
      <li flx>
        <a gnrl="br-2" default="pm" hvr-a="bg-primary" href="{% url 'change' ct.id  %}">Düzenle</a>
      </li>
      <li flx>
       <a gnrl="br-2" style="cursor:pointer;"  default="pm" hvr-a="bg-primary" class="delete" data-post-id="{{ct.id}}">Sil</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}
