<div default="p">
  <div hvr-a="brc-private" gnrl="b-1 brc-white br-2"  default="pm">
    <a gnrl="c-dark" href="/{{ct.user}}" flx="ai-c" gnrl="txt-s" hvr-a="c-private">
      {% if ct.user.otherinformationofusers.pp %}
      <img gnrl="br-circle"  alt='{{ct.user}}' src="/media/users/pp/pp-{{ ct.user }}.jpg" style="width: 50px;height: 50px;">
      {% else %}
      <img gnrl="br-circle" src="/static/media/profil.png" style="width: 50px;height: 50px;">
      {% endif %}
      <span default="pm" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 132px;">{{ ct.user }}</span>
    </a>
  </div>
</div>
