<div gnrl="b-1 brc-white br-2" style="padding: 6px;">
  <div flx="ai-c">
    <a gnrl="c-dark txt-m" href="/{{ct.user}}" flx="ai-c" hvr-a="c-private">
      {% if ct.user.otherinformationofusers.pp %}
      <img class="carduserimg" gnrl="br-circle"  alt='{{ct.user}}' width="60px"
      height="60px" src="/media/users/pp/pp-{{ ct.user }}.jpg">
      {% else %}
      <img class="carduserimg" gnrl="br-circle" alt='{{ct.user}}' width="60px"
       height="60px" src="/static/media/profil.png">
      {% endif %}
      <span class="carduser" style="margin-left:6px;">{{ ct.user }}</span>
    </a>
  </div>
</div>
