{% extends "home/html.html" %}
{% block body %}
  {% include 'users/general.html' %}
  <script>
      function vote(json, type){
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted'>
          <div class='his-json'>
          <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-chevron-circle-up'></i></div>
            <div class='his-user' flex='ai-c'>
              <a general='c-primary' href='/@${json.voter}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${json.voter}/avatar)';></div>
                <div class='permlink'>@${json.voter}</div>
              </a>
              <a general='c-primary' style='margin-left: auto;' href='/@${json.author}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${json.author}/avatar)';></div>
                <div>@${json.author}</div>
              </a>
            </div>
            <div class='his-data'>
              <a general='center c-primary' color='' href='/@${json.author}/${json.permlink}'>${json.permlink}</a>
              <div class='history-vote-weight' general="br-2 bg-success" style="width:${json.weight/100}%">
                <span general="c-white txt-s center">${json.weight/100}%</span>
              </div>
            </div>
          </div>
        </div>`);
      }
      function account_update(json, type){
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-user-edit'></i></div>
            <div flex='fd-c'>
              <div class='account'> account : <a general='c-primary' href='/@${json.account}'>@${json.account}</a></div>
              <div class='json_metadata'> json_metadata : ${json.json_metadata}</div>
            </div>
          </div>
        </div>`);
      }
      function account_witness_vote(json, type){
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''>
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-chevron-circle-up'></i></div>
            <div class='his-user' flex='ai-c'>
              <a general='c-primary' href='/@${json.account}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${json.account}/avatar)';></div>
                <div>@${json.account}</div>
              </a>
              <a general='c-primary' style='margin-left: auto;' href='/@${json.witness}'>
                <div class='his-avatar' general='center' style='background-image: url(https://steemitimages.com/u/${json.witness}/avatar)';></div>
                <div>@${json.witness}</div>
              </a>
            </div>
            <div class='his-data' general='center' flex='fd-c'>
              <div class='witness_vote'> approve : ${json.approve}</div>
            </div>
          </div>
        </div>`);
      }
      function custom_json(json, type){
        return (`
        <div class='history-op' flex='fd-c' general='b-1 br-2 brc-muted' color=''
          <div class='his-json' flex='fd-c'>
            <div class='his-type' general='right txt-l br-2' flex='ai-c'>${type}<i class='fas fa-certificate'></i></div>
            <div flex='fd-c'>
              <div class='custom_json_id'> id : ${json.id}</div>
              <div class='json'> json : ${json.json}</div>
            </div>
          </div>
        </div>`);
      }
      function account_witness_proxy(json, type){
        console.log(type, json);
        return json
      }
      function delete_comment(json, type){
        console.log(type, json);
        return json
      }
      function feed_publish(json, type){
        console.log(type, json);
        return json
      }
      function comment_options(json, type){
        console.log(type, json);
        return json
      }
      steem.api.getAccountHistory("{{content_user}}", -1, 200, (err, result) => {
        let template = "";
        let history = result.filter(
          tx => (
            tx[1].op[0] == "vote" ||
            tx[1].op[0] == "account_update" ||
            tx[1].op[0] == "custom_json" ||
            tx[1].op[0] == "account_witness_proxy" ||
            tx[1].op[0] == "delete_comment" ||
            tx[1].op[0] == "feed_publish" ||
            tx[1].op[0] == "comment_options" ||
            tx[1].op[0] == "account_witness_vote")
        )
        for (i in history){
          const data = history[i][1].op;
          const type = history[i][1].op[0];
          const json = history[i][1].op[1];
          try {
            template += eval(type+"(json, type)");
          }
          catch(error) {
            console.error(json,error);
          }
        }
      $("#activity-history").html(template);
      });
  </script>
  <div general="center bg-white w-100">
      <div id="activity-history" class="activity-history"
      flex="fd-cr" general="w-60"
      flex="fd-cr" mobile-s="w-100" mobile-l="w-98"
      tablet="w-96" laptop="w-70" laptop-l="w-70"></div>
  </div>
{% endblock %}
