{% extends "home/html.html" %}
{% load i18n %}
{% block body %}
<div style="height: calc(100vh - 113px);" general="position:ewcenter">
    <div general="position:center flex width:40" mobile-s="width:100" mobile-m="width:98" mobile-l="width:98"
        tablet="width:70" laptop="width:50" laptop-l="width:60">
        <strong style="font-size: 200px;">5<span general="color:red">0</span>0</strong>
        <br><br>
        <span>{% trans "SORRY BUT THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST, HAVE BEEN REMOVED. NAME CHANGED OR IS TEMPORARILY
            UNAVAILABLE" %}</span>
        <br><br>
        {% include 'forms/search.html' %}
    </div>
</div>
{% endblock %}