{% extends "home/html.html" %}
{% block body %}
<div general="br-2 w-60 center ewcenter" style="height: 80vh;">
    <div style="padding: 10px;">
        <div>
            Ops, we've found that you're using <span general="bg-red c-white br-2" style="padding: 0px 3px;"> adblock</span>, 
            we want you to know that we're working hard for this project, 
            and we ask you to get us to the white list and support us by 
            navigating without using <span general="bg-red c-white br-2" style="padding: 0px 3px;"> adblock</span> on this site.
        </div>
        <br>
        <div>
            Ops, <span general="bg-red c-white br-2" style="padding: 0px 3px;"> adblock</span> kullandığınız tespit ettik,
            bu proje için çok uğraştığımızı bilmeni isteriz ve sizden ricamiz 
            bizleri white list'e almanız ve bu sitede <span general="bg-red c-white br-2" style="padding: 0px 3px;"> adblock</span> kullanmadan 
            gezinerek bizlere destek olmanızdır, teşekkürler.
        </div>
    </div>
</div>
{% endblock %}



