{% extends "home/html.html" %}
{% block body %}
<div general="br:2 width:50 position:center height:80" tablet="width:70" mobile-l="width:80" mobile-m="width:90" mobile-m="width:96">
    <div>
        <h1>Coogger Privacy Policy ( EN )</h1>
        <h3>April 16, 2019</h3>
        <p>
            This Privacy Policy describes how Coogger collects, 
            uses and discloses information, 
            and what choices you have with respect to the information. 
            This Policy applies to the Coogger.com, coogger all subdomains and services.

            By using the Services, 
            you accept the terms of this Policy and our Terms of Service, 
            and consent to our initial collection, use, disclosure, 
            and retention of your information as described in this Policy and Terms of Service.

            Please note that this Policy does not apply to information collected through
            third-party websites or services that you may access through the 
            Services or that you submit to us through email, text message or 
            other electronic message or offline.
        </p>
        <h2>WHAT WE COLLECT</h2>
        <p>
            We get information about you in a range of ways.
            Information You Give Us. Information we collect from you includes:

            IP address;

            Information Automatically Collected. 
            We may automatically record certain information about how you use our 
            Site (we refer to this information as “Log Data“). 
            Log Data may include information such as a user’s Internet Protocol (IP) address,
            device and browser type, and operating system. 
            We use this information to administer and provide access to the Services

            Information we will never collect. 
            We will never ask you to share your private keys or wallet seed. 
            Never trust anyone or any site that asks you to enter your private keys or wallet 
            seed.
        </p>
        <h2>USE OF PERSONAL INFORMATION</h2>
        <p>
            To provide our service we will use your personal information in the following ways:

            To enable you to access and use the Services

            To comply with law
            We use your personal information as we believe necessary or 
            appropriate to comply with applicable laws, lawful requests and legal process, 
            such as to respond to subpoenas or requests from government authorities.  
            For compliance, fraud prevention, and safety

            We may use your personal information to protect, investigate, and deter 
            against fraudulent, unauthorized, or illegal activity.

            We use your IP address we receive from you to determine whether 
            there is an attack on our site, in addition, we use your IP 
            addresses to calculate how many times the content is read
        </p>
        <h2>SHARING OF PERSONAL INFORMATION</h2>
        <p>
            We do not share or sell the personal information that you provide us
            with other organizations without your express consent, 
            except as described in this Privacy Policy. We disclose 
            personal information to third parties under the following circumstances:

            Affiliates. We may disclose your personal information to our subsidiaries
            and corporate affiliates for purposes consistent with this Privacy Policy.


            Business Transfers. We may share personal information when we do a 
            business deal, or negotiate a business deal, involving the sale or transfer 
            of all or a part of our business or assets. These deals can include any merger, 
            financing, acquisition, or bankruptcy transaction or proceeding.


            Compliance with Laws and Law Enforcement; Protection and Safety. We may share 
            personal information for legal, protection, and safety purposes.


            We may share information to comply with laws.


            We may share information to respond to lawful requests and legal processes.


            Professional Advisors and Service Providers. We may share information with 
            those who need it to do work for us. These recipients may include third party 
            companies and individuals to administer and provide the Service on our behalf 
            (such as customer support, hosting, email delivery and database management services), 
            as well as lawyers, bankers, auditors, and insurers.

            Other. You may permit us to share your personal information with other companies or 
            entities of your choosing. Those uses will be subject to the privacy policies of the 
            recipient entity or entities.


            We may also share aggregated and/or anonymized data with others for their own uses.
        </p>
        <h2>CHANGES TO THIS PRIVACY POLICY.</h2>
        <p>
            We may change this privacy policy at any time. 
            We encourage you to periodically review this page 
            for the latest information on our privacy practices. 
            If we make any changes, we will change the Last Updated date above.

            Any modifications to this Privacy Policy will be effective upon our 
            posting of the new terms and/or upon implementation of the changes to 
            the Site (or as otherwise indicated at the time of posting). In all cases, 
            your continued use of the the Site or Services after the posting of any 
            modified Privacy Policy indicates your acceptance of the terms of the 
            modified Privacy Policy.
        </p>
        <h2>Why do we use Cookies?</h2>
        <p>
            We generally use Cookies for the following purposes:

            To store users' preferences for site functionality; and
            To track site usage so we can improve our site & better 
            understand how people are using it
            To better understand the interests of our customers and 
            our website visitors.
        
            Some Cookies are necessary for certain uses of the Site,
            and without such Cookies, we would not be able to provide many 
            services that you need to properly use the Site. These Cookies, 
            for example, allow us to operate our Site so you may access it as you have 
            requested and let us recognize that you have created an account and have logged 
            into that account to access Site content. They also include Cookies that enable 
            us to remember your previous actions within the same browsing session and secure 
            our Sites.  
        
        
            We also use functional Cookies and Cookies from third parties for analysis and 
            marketing purposes.  Functional Cookies enable certain parts of the site to work 
            properly and your user preferences to remain known.  Analysis Cookies, among other 
            things, collect information on how visitors use our Site, the content and products 
            that users view most frequently, and the effectiveness of our third party advertising. 
            Advertising Cookies assist in delivering ads to relevant audiences and having our 
            ads appear at the top of search results. Cookies are either “session” Cookies which 
            are deleted when you end your browser session, or “persistent,” which remain until 
            their deletion by you (discussed below) or the party who served the cookie. 
            Full details on all of the Cookies used on the Site are available at our Cookie 
            Disclosure table below.
        </p>

        <hr>

        <h1>Coogger Gizlilik Politikası ( TR )</h1>
        <h3>16 Nisan 2019</h3>
        <p>
            Bu Gizlilik Politikası, Coogger'ın bilgileri nasıl topladığını, 
            kullandığını ve bilgiye ilişkin hangi 
            seçeneklere sahip olduğunuzu açıklar. Bu Politika, tüm alt 
            alan adlarını ve servislerini bir araya getiren Coogger.com 
            için geçerlidir. Hizmetleri kullanarak, bu Politikanın şartlarını ve 
            Hizmet Şartlarımızı kabul etmiş ve bilgilerinizin bu Politika ve Hizmet 
            Şartlarında açıklandığı şekilde ilk toplanmamızı, kullanılmasını, açıklanmasını 
            ve saklanmasını kabul etmiş sayılırsınız. Lütfen bu Politikanın, üçüncü taraf web 
            siteleri veya Hizmetler aracılığıyla erişebileceğiniz veya bize e-posta, 
            kısa mesaj veya diğer elektronik mesaj veya çevrimdışı olarak gönderdiğiniz 
            hizmetler aracılığıyla toplanan bilgiler için geçerli olmadığını unutmayın.
        </p>
        <h2>NELER TOPLURUZ?</h2>
        <p>
            Sizlerle ilgili çeşitli şekillerde bilgi alıyoruz. 
            Bize Verdiğiniz Bilgiler. Sizden topladığımız bilgiler şunları içerir: 
            
            IP adresi; 
            
            Otomatik Olarak Toplanan Bilgiler. Sitemizi nasıl kullandığınızla ilgili 
            belirli bilgileri otomatik olarak kaydedebiliriz (bu bilgileri “Günlük Verileri” 
            olarak adlandırıyoruz). Günlük Verileri, kullanıcının İnternet Protokolü (IP) adresi, 
            cihaz ve tarayıcı türü ve işletim sistemi gibi bilgileri içerebilir. Bu bilgileri, 
            asla toplamayacağımız Hizmet Bilgilerini yönetmek ve onlara erişmek için kullanırız. 
            Özel anahtarlarınızı veya cüzdan tohumunuzu paylaşmanızı asla istemeyeceğiz. 
            Özel anahtarlarınızı veya cüzdan tohumunuzu girmenizi isteyen hiçbir kimseye 
            veya hiçbir siteye güvenmeyin.
        </p>
        <h2>KİŞİSEL BİLGİLERİN KULLANIMI</h2>
        <p>
            Hizmetlerimizi sağlamak için kişisel bilgilerinizi aşağıdaki şekillerde kullanacağız:

            Servislere erişip bunları kullanmanızı sağlamak için
                
            Yasaya uymak
            Kişisel bilgilerinizi, gerektiğine inandığımız şekilde kullanıyoruz veya
            geçerli yasalara, yasal taleplere ve yasal sürece uymaya uygun,
            mahkeme celbi veya hükümet yetkililerinin isteklerine cevap vermek gibi.
            Uyumluluk, sahtekarlık önleme ve güvenlik için

            Kişisel bilgilerinizi korumak, araştırmak ve caydırmak için kullanabiliriz.
            hileli, izinsiz veya yasa dışı faaliyetlere karşı.
                
            Sizden aldığımız IP adresinizi kullanıp kullanmadığınızı belirlemek için kullanırız.
            Sitemizde bir saldırı var, ayrıca IP’nizi de kullanıyoruz.
            içeriğin kaç kez okunacağını hesaplamak için adresleri girin.
        </p>
        <h2>KİŞİSEL BİLGİLERİN PAYLAŞIMI</h2>
        <p>
            Bize sağladığınız kişisel bilgileri paylaşmıyor veya satmıyoruz
            Açık rızanız olmadan diğer kuruluşlarla
            bu Gizlilik Politikasında tanımlanmadığı sürece. Biz ifşa
            Aşağıdaki durumlarda üçüncü şahıslara kişisel bilgi:
            
            Bağlı. Kişisel bilgilerinizi yan kuruluşlarımıza ifşa edebiliriz
            ve iş ortakları bu Gizlilik Politikası ile tutarlı amaçlar için.
            
            Ticari Transferler. Yaptığımız zaman kişisel bilgileri paylaşabiliriz.
            satış veya devri dahil olmak üzere iş anlaşması veya pazarlık anlaşması
            iş veya malvarlığının bir kısmının veya bir kısmının Bu fırsatlar herhangi bir birleşmeyi içerebilir,
            finansman, iktisap veya iflas işlemi veya işlemleri.
            
            Yasalara ve Yasa Uygulamalarına Uyum; Koruma ve Güvenlik Paylaşabiliriz
            yasal, koruma ve güvenlik amaçlı kişisel bilgiler.
            
            Yasalara uymak için bilgi paylaşabiliriz.
            
            Yasal taleplere ve yasal işlemlere cevap vermek için bilgi paylaşabiliriz.
            
            Profesyonel Danışmanlar ve Servis Sağlayıcılar. İle bilgi paylaşabiliriz
            Yapması gerekenler bizim için çalışıyor. Bu alıcılar üçüncü taraf içerebilir
            Hizmeti bizim adımıza yönetecek ve sağlayabilecek şirketler ve kişiler
            (müşteri desteği, barındırma, e-posta teslimi ve veritabanı yönetimi hizmetleri gibi),
            avukatlar, bankacılar, denetçiler ve sigortacılar gibi.
            
            Diğer. Kişisel bilgilerinizi diğer şirketlerle paylaşmamıza izin verebilirsiniz veya
            sizin seçtiğiniz varlıklar. Bu kullanımlar, gizlilik politikalarına tabi olacaktır.
            alıcı varlık veya varlıklar.
            
            Ayrıca toplu ve / veya anonimleştirilmiş verileri kendi kullanımları için başkalarıyla paylaşabiliriz.        </p>
        <h2>GİZLİLİK POLİTİKASI DEĞİŞİKLİĞİ.</h2>
        <p>
             Bu gizlilik politikasını istediğimiz zaman değiştirebiliriz.
             Bu sayfayı düzenli aralıklarla gözden geçirmenizi öneririz.
             gizlilik uygulamalarımız hakkında en son bilgiler için.
             Herhangi bir değişiklik yaparsak, yukarıdaki Son Güncelleme tarihini değiştiririz.
             
             Bu Gizlilik Politikasında yapılan herhangi bir değişiklik
             yeni şartların ve / veya değişikliklerin uygulanmasının ardından
             Site (veya ilan sırasında belirtildiği gibi). Her durumda,
             Herhangi bir ilanı gönderdikten sonra Siteyi veya Hizmetleri kullanmaya devam ettiğinizi
             değiştirilmiş Gizlilik Politikası, hükümlerin şartlarını kabul ettiğinizi gösterir.
             değiştirilmiş Gizlilik Politikası.
         </p>
        <h2>Çerezleri neden kullanıyoruz??</h2>
        <p>
            Çerezleri genellikle aşağıdaki amaçlar için kullanırız:

            Kullanıcıların site işlevselliği konusundaki tercihlerini saklamak; ve
            Site kullanımını izlemek için sitemizi iyileştirebiliriz ve daha iyisini yapabiliriz
            insanların nasıl kullandığını anlamak
            Müşterilerimizin çıkarlarını daha iyi anlamak ve
            web sitemizi ziyaret edenler.
            
            Bazı Çerezler Sitenin belirli kullanımları için gereklidir,
            ve bu tür Çerezler olmadan, pek fazla bilgi sağlayamayız.
            Siteyi düzgün kullanmanız için gereken hizmetleri Bu Çerezler,
            örneğin, Sitemizi kullanmamıza izin verin, böylece sitemize istediğiniz 
            gibi erişebilirsiniz.
            talep etti ve bize bir hesap yarattığınızı ve giriş yaptığınızı bilmemize izin verin.
            Site içeriğine erişmek için bu hesaba. Ayrıca, etkinleştiren Çerezler içerir
            aynı göz atma oturumu içindeki önceki işlemlerinizi hatırlamamız ve güvenli olmamız için bize
            Sitelerimiz.
            
            Ayrıca analiz için üçüncü taraflardan gelen Çerezleri ve Çerezleri kullanırız.
            pazarlama amaçlı İşlevsel Çerezler, sitenin belirli bölümlerinin çalışmasını sağlar
            Düzgünce ve kullanıcı tercihleriniz bilinmeden kalmaya devam eder. Analiz Çerezleri, diğerlerinin yanı sıra
            Ziyaretçilerin Sitemizi, içeriğini ve ürünlerini nasıl kullandıkları hakkında bilgiler toplayın
            kullanıcıların en sık ve üçüncü taraf reklamcılığımızın etkililiğini gördüğü.
            Reklam Çerezleri, reklamları alakalı kitlelere yayınlamaya ve
            reklamlar arama sonuçlarının en üstünde görünür. Çerezler “oturum” şeklindedir.
            tarayıcı oturumunuzu sonlandırdığınızda veya "
            sizin tarafınızdan silme (aşağıda ele alınmıştır) veya kurabiyeye hizmet veren taraf.
            Sitede kullanılan Çerezlerin tamamı hakkındaki tüm bilgileri Çerezimizde bulabilirsiniz.
            Aşağıdaki açıklama tablosu.
        </p>
    </div>
</div>
{% endblock %}