{% load vote %}
<div general="center b-1 br-2 brc-secondary" id="vote-section" 
data-vote-status="{% is_vote request.user queryset queryset.id %}" >
    <i id="upvote" onclick="vote(this, '{{ queryset.id }}', '{{ queryset.model_name }}')" 
    general="c-secondary" hover="c-success" class="fas fa-heart" 
    data-url="{% url 'vote' 'cooggerapp' queryset.model_name queryset.id %}"
    data-csrf="{{ csrf_token }}">
        {{ queryset.upvote_count|default:"0" }}
    </i>
    <i id="downvote" onclick="vote(this, '{{ queryset.id }}', '{{ queryset.model_name }}')" 
    general="c-secondary" hover="c-danger" class="fas fa-thumbs-down" 
    data-url="{% url 'vote' 'cooggerapp' queryset.model_name queryset.id %}"
    data-csrf="{{ csrf_token }}">
        {{ queryset.downvote_count|default:"0" }}
    </i>
</div>
<script>
    let status = $("#vote-section").data("vote-status");
    if (status == "False"){
        $("#vote-section").find("#downvote").attr("general", "c-danger");
    }
    else if (status == "True"){
        $("#vote-section").find("#upvote").attr("general", "c-success");
    }
</script>