{% extends "home/html.html" %}
{% block body %}
  <div general="width:100">
        <div general="width:100" style="padding-bottom: 12px;"></div>
        <div general="border:3 br:2 brc:muted width:60 position:center flex" 
        mobile-l="width:96"
        mobile-m="width:96"
        mobile-s="width:96"
        tablet="width:80"
        style="padding: 12px;">
        <h1 general="position:center width:100 text:xxl flex flex:ai-c" style="margin-bottom:12px;font-size: calc(1.66vw + 23px);">
            <i general="color:success" class="fas fa-award" style="margin-right: 12px;"></i>
            {{ queryset.title|title }} Badge
            <i general="color:success" class="fas fa-award" style="margin-left: 12px;"></i>
        </h1>
            <p general="width:100" style="margin-bottom:12px;">
                <img general="width:40 position:center" src="{{ queryset.image_address }}">
            </p>
            <h4 general="width:60 position:center">
                <strong>{{ queryset.description|default:"" }}</strong>
            </h4>
        </div>
  </div>
{% endblock %}
