{% if true_about %}
{% if about %}
<div flx="jc-c">
  {% if content_user == request.user %}
  <form class="my" flx="fd-c" method="post" action="{% url 'cooggerapp-userabout' content_user %}" >
    {% csrf_token %} {{ about }} {{ about.media }}
    <input flx="as-fc" default="input" type="submit" value="paylaş" >
  </form>
  {% else %}
  <div default="paragraph">{{ about|safe }}</div>
  {% endif %}
</div>
{% else %}
<div gnrl="bg-white" flx>
  <div default="paragraph" style="height:20vh;" gnrl="txt-m">
    <span gnrl="bg-dark b-1 br-2 brc-muted c-white">{{ content_user }}</span>
    kullanıcımız henüz kendini anlatan bir yazı yazmamış
  </div>
</div>
{% endif %}
{% endif %}
