{% if true_about %}
<script type="text/javascript">$(function() {
  // editormd.urls.atLinkBase = "http://www.coogger.com/@";
  var Editor = editormd("about", {
    width : "100%",
    height: 670,
    path : "/static/js/lib/",
    htmlDecode: "html,iframe",
    emoji : true,
  });
  var lang = "en";
  var path  = "/static/js/languages/en";
  editormd.loadScript(path, function() {
    Editor.lang = editormd.defaults.lang;
    Editor.recreate();
    });
});
</script>

<script type="text/javascript">$(function() {
  var Editor = editormd.markdownToHTML("about_show", {
    width : "100%",
    height: 670,
    path : "/static/js/lib/",
    htmlDecode: "html,iframe",
    emoji : true,
  });
});
</script>

{% if about %}
<div flx="jc-c">
  {% if content_user == request.user %}
  <form default="form media" flx="fd-c" method="post" action="{% url 'cooggerapp-userabout' content_user %}" >
    {% csrf_token %}
    <div id="about">
        {{ about }}
      <textarea style="display:none;">
        {{ about }}
      </textarea>
    </div>
    <input flx="jc-c as-c" default="input" type="submit" value="Share" >
  </form>
  {% else %}
  <div default="paragraph media pm" gnrl="bg-white" style="padding: 4px 12px;">
    <div id="about_show" style="padding: 0px;">
      <textarea style="display:none;">
      {{ about }}
      </textarea>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<div gnrl="bg-white" flx="jc-c">
  <div default="paragraph media" style="height:20vh;" gnrl="txt-m">
    <span gnrl="bg-dark b-1 br-2 brc-muted c-white" default="pm">{{ content_user }}</span>
   Our user has not written an article about himself yet.
  </div>
</div>
{% endif %}
{% endif %}
